{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Inward Detail Entry {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div ng-app="Appinwentry" ng-controller="cntlinwentry" class="container container1">
    <div class="row">
        <div class="row-header col-lg-12 col-sm-12">
            <h4>Inward Detail Entry</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <md-input-container class="md-block inputcontainer" >
                    <label>Channel</label>
                    <input type="text" ng-model="Channel" disabled>
                </md-input-container>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <md-input-container class="md-block inputcontainer" >
                    <label>Courier</label>
                    <input type="text" ng-model="courier" disabled>
                </md-input-container>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <md-input-container class="md-block inputcontainer" >
                    <label> Airway No</label>
                    <input type="text" ng-model="airwayno" disabled>
                </md-input-container>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <md-input-container class="md-block inputcontainer" >
                    <label>Date</label>
                    <input type="text" ng-model="date" disabled>
                </md-input-container>
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1">
                <md-input-container class="md-block inputcontainer" >
                    <label>No of Packets</label>
                    <input type="text" ng-model="noofpacking" disabled>
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-3 col-lg-3 col-sm-3">
                <md-input-container class="md-block inputcontainer" >
                    <label>From</label>
                    <input type="text" ng-model="from_supplier"  disabled>
                </md-input-container>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <md-input-container class="md-block inputcontainer" >
                    <label>Received by</label>
                    <input type="text" ng-model="received_by" disabled>
                </md-input-container>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <md-input-container class="md-block inputcontainer" >
                    <label> Remarks</label>
                    <input type="text" ng-model="remarks" disabled>
                </md-input-container>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <md-input-container class="md-block inputcontainer" >
                    <label> Inward Ref No</label>
                    <input type="text" ng-model="inwardrefno" disabled>
                </md-input-container>
            </div>
        </div>

    </div>

    <div class="row table-responsive">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                   md-progress="deferred">
                <thead class="header">
                <tr style="text-align:center">
                    <th>S.No</th>
                    <th>Packet</th>
                    <th>Document Type</th>
                    <th>Split</th>
                    <th>Count</th>
                    <!--<th>Action</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="details in inward_details.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter :name">
                    <td class="text-center" ng-model="dept_name">
                        {{((currentPage-1)*itemsPerPage)+$index+1}}
                    </td>
                    <td>
                        {{details.packet}}

                    </td>
                    <td>
                        <md-select ng-model="details.docment" style="margin-top:-2px">
                            <md-option ng-repeat="doc in doctype" ng-value="doc.metadata_gid">
                                {{doc.metadata_value}}
                            </md-option>
                        </md-select>
                    </td>
                    <td><a href=""
                    ng-click="inward_split($index,details)"><i
                                    class="material-icons">
                                call_split
                            </i></a></td>
                    <td>
                        <input type="count" maxlength="3"
                               ng-model="details.count"
                               min="1" max="500"
                               class="form-control">
                    </td>
                    <!--<td class="text-center">-->
                         <!--<a > <span class="editlink" >-->
                                 <!--<span class="material-icons" >done</span>-->
                                <!--<md-tooltip></md-tooltip>-->
                           <!--</span></a>-->
<!--                        <span class="editlink" ng-click="delete_data(details.inwarddetails_gid)">-->
<!--                               <span class="material-icons">delete</span>-->
<!--                                <md-tooltip>Delete</md-tooltip>-->
<!--                        </span>-->
                    <!--</td>-->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                           <ul uib-pagination total-items="inward_details.length" ng-model="currentPage" max-size="maxSize"
                                class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>

                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="pull-right">
            <div class="col-md-1">
                <md-button class="md-raised" value="submit" ng-click="inwardsave()">Save</md-button>
               </div>
                <div class="col-md-1">
                <md-button class="md-raised" value="close" ng-click="close()">Cancel</md-button>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
<script>
    var app=angular.module('Appinwentry',['ngMaterial','ui.bootstrap']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

});
app.run(function($mdDateLocale, $filter) {
        $mdDateLocale.formatDate = function(date) {
            return $filter('date')(date, "dd-MMM-yyyy");
      };
});

app.controller('cntlinwentry', ['$scope', '$filter', '$mdDateLocale', 'serviceinwentry', '$window', function($scope, $filter, $mdDateLocale, serviceinwentry, $window) {
    $scope.currentPage = 1;
    $scope.maxSize = 3;
    $scope.itemsPerPage = 5;
    $scope.inward_details = [];
    var update = "";

    var inwardheader_gid;
    if (sessionStorage.getItem('inwardsdetails') != undefined && sessionStorage.getItem('inwardsdetails') != "") {
        inwardheader_gid = JSON.parse(sessionStorage.getItem('inwardsdetails'));
    }

    var filter_trn = {
        "Header_Gid": inwardheader_gid
    };
    var filter_final = {
        FILTER: filter_trn
    };
    $scope.inward_split = function(index,detail) {
        $scope.inward_details.splice(index +1,0,{
                packet: detail.packet,
                count: '',
                inwarddetails_gid: ''
        })

    }

    var header_set = serviceinwentry.getinwardservice('ALL', 'ALL', filter_final);
    header_set.then(function(result) {
            var inward_header = [];
            inward_header = result.data;


            for (var j = 0; j < inward_header.length; j++) {

                $scope.Channel = inward_header[0].inwardheader_channel
                $scope.courier = inward_header[0].courier_name
                $scope.airwayno = inward_header[0].inwardheader_awbno
                $scope.date = inward_header[0].inwardheader_date
                $scope.noofpacking = inward_header[0].inwardheader_noofpockets
                $scope.from_supplier = inward_header[0].inwardheader_from
                $scope.received_by = inward_header[0].employee_name
                $scope.remarks = inward_header[0].inwardheader_remarks
                $scope.inwardrefno = inward_header[0].inwardheader_No
                if (inward_header[j].inwarddetails_doctype != "0") {
                    update = "yes";
                    $scope.inward_details.push({
                        packet: "PACKET - "+(j+1),
                        count: inward_header[j].inwarddetails_count,
                        inwarddetails_gid: inward_header[j].inwarddetails_gid
                    });
                }
            }
            if (update == "") {
                if ($scope.noofpacking > 0) {
                    for (var i = 0; i < $scope.noofpacking; i++) {
                        $scope.inward_details.push({
                            packet: "PACKET - "+(i+1),
                            count: '',
                            inwarddetails_gid: ''
                        });
                    };
                };
            }

        },
        function(err) {
            alert('No data!.');
        }).finally($scope.endloading);


        function javascript_abort() {
                throw new Error('This is not an error. This is just to abort javascript');
            }
    var ddldoctype = serviceinwentry.ddl('inwarddetails', 'doctype');
    ddldoctype.then(function(result) {
            var doctype_Data = JSON.parse(result.data)
            $scope.doctype = doctype_Data;
        },
        function(err) {
            alert('No data!.');
        }).finally();

    $scope.inwardsave = function() {
        var action = "";
        var exefinal = [];
        if (update == "yes") {
            action = "UPDATE"
            for (var i = 0; i < $scope.inward_details.length; i++) {
                exefinal.push({
                    "INW_header_gid": inwardheader_gid,
                    "Doc_type": $scope.inward_details[i].docment,
                    "packet": $scope.inward_details[i].packet,
                    "Count": $scope.inward_details[i].count,
                    "Status": "NEW",
                    "Remark": "",
                    "Detail_gid": $scope.inward_details[i].inwarddetails_gid,
                    "Remove_flag": "N",
                    "Is_active": "Y"
                })
            }
        } else {
            action = 'INSERT'
            for (var i = 0; i < $scope.inward_details.length; i++) {
               if($scope.inward_details[i].count == 0){
                alert("Invoice count Should Be Greater Than Zero.")
                  javascript_abort();
               }
                exefinal.push({
                    "INW_header_gid": inwardheader_gid,
                    "Doc_type": $scope.inward_details[i].docment,
                    "packet": $scope.inward_details[i].packet,
                    "Status": "NEW",
                    "Count": $scope.inward_details[i].count,
                    "Remark": "",
                    "Detail_gid": 0
                })
            }
        }
        var type = 'DETAILS_OFFICE'
        var header_final = {};
        var details_final = {
            DETAILS: exefinal
        };

        var saveheader = serviceinwentry.setinwardservice(action, type, header_final, details_final);
        saveheader.then(function(result) {
            if (result.data == "SUCCESS") {
                alert("Saved Successfully !.");
                sessionStorage.setItem('inwardsdetails', '');
                $window.location.href = "inward_summary";
            } else {
                alert("Not Updated Successfully !.");

            }
        }, function() {
            alert("Record Not Found")
        });
    };

    $scope.close = function() {
        sessionStorage.setItem('inwardsdetails', '');
        $window.location.href = "inward_summary";
    }

}]);
app.service("serviceinwentry", function ($http) {
    this.ddl=function(tablename,columnname){
        var response=$http.get(Appname+"/get_custdata/",{params:{"tablename":tablename,"columnname":columnname}});
        return response;
    }
      this.setinwardservice = function (action,type,header,details) {
        var responsee = $http.post(Appname+"/setinwardentry/",{params:{"Action":action,"Type":type,"lj_header":header,"lj_details":details}});
        return responsee;
    }

     this.getinwardservice = function (action,type,li_filter) {
        var responsee = $http.post(Appname+"/get_inwardsummary_details/",{params:{"Action":action,"Type":type,"lj_filters":li_filter}});
        return responsee;
    }

});



</script>
{% endblock %}