{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Inward Summary {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}

<div class="maincontent">
    <div ng-app="appinwardsummary" ng-controller="ctrlinwardsummary" class="container container1">
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Inward Summary</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <md-input-container ng-show="!selected.length" md-no-float="" class="md-block left">
                        <md-icon>
                            <i class="material-icons">search</i>
                        </md-icon>
                        <input type="text" ng-model="name" placeholder="Search By All Columns..."/>
                    </md-input-container>
                </div>
                <div class="col-md-1">
                    <md-button class="md-fab md-mini md-primary custbutton"
                               ng-hide="showform" ng-click="createNew()">
                        <md-icon>add</md-icon>
                        <md-tooltip>Create New</md-tooltip>
                    </md-button>
                </div>
                <div class="col-md-4">
                    <section class="pull-right" layout-align="center center pull-right">
                        <md-data-table-pagination md-page="query.page" md-limit="query.limit"
                                                  md-total="{{empsmry.length}}"/>
                    </section>
                </div>
            </div>
        </div>
        <div class="row" ng-show="showform">
            <form role="form" name="inwardsummary_valid">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer">
                                <label>Channel</label>
                                <md-select ng-model="channel"
                                           ng-change="channel_click(channel)">
                                    <md-option ng-repeat="chn in channelddl" ng-value="chn.metadata_value">{{
                                        chn.metadata_value
                                        }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer" ng-hide="hide">
                                <label>Courier</label>
                                <md-select ng-model="courier">
                                    <md-option ng-repeat="cor in courierddl" ng-value="cor.courier_gid">
                                        {{cor.courier_name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer" ng-hide="hide">
                                <label> Airway No</label>
                                <input type="text" ng-model="airwayno" maxlength="12" required no-special-char>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer">
                                <label>Date</label>
                                <md-datepicker md-hide-icons="calendar" ng-model="inwarddate"
                                               ng-required="true"
                                               md-min-date="minDate" md-max-date="maxDate" ng-click="date"
                                               formatDate required></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer">
                                <label>No of Packets</label>
                                <input type="number" ng-model="noofpacking" maxlength="3" required only-numbers min="1">
                            </md-input-container>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">

                            <!--<md-input-container class="md-block inputcontainer">-->
                            <!--<label>Supplier Name</label>-->
                            <!--<md-select ng-model="from_supplier"-->

                            <!--ng-disabled="disable" md-on-close="clearSearchTerm()"-->
                            <!--data-md-container-class="selectdemoSelectHeader">-->
                            <!--<md-select-header class="demo-select-header">-->
                            <!--<input ng-model="searchTerm" type="search"-->
                            <!--placeholder="Search for a Supplier Name.."-->
                            <!--class="demo-header-searchbox md-text"-->
                            <!--onkeydown="mdSelectOnKeyDownOverride(event)">-->
                            <!--</md-select-header>-->
                            <!--<md-optgroup label="Supplier Name">-->
                            <!--<md-option ng-value="supplier.supplier_name"-->

                            <!--ng-selected="supplier_gid == supplier.supplier_gid" ng-repeat="supplier in supplier |-->
                            <!--filter:searchTerm">{{supplier.supplier_name}}-->
                            <!--</md-option>-->
                            <!--</md-optgroup>-->
                            <!--</md-select>-->
                            <!--</md-input-container>-->

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <!--                        <div class="col-md-4 col-lg-4 col-sm-4">-->
                        <!--                            <md-input-container class="md-block inputcontainer">-->
                        <!--                                <label>Employee Name</label>-->
                        <!--                                <md-select ng-model="receivedby"-->
                        <!--                                           ng-disabled="disable" md-on-close="clearSearchTerm()"-->
                        <!--                                           data-md-container-class="selectdemoSelectHeader">-->
                        <!--                                    <md-select-header class="demo-select-header">-->
                        <!--                                        <input ng-model="searchTermemp" type="search"-->
                        <!--                                               placeholder="Search for a Supplier Name.."-->
                        <!--                                               class="demo-header-searchbox md-text"-->
                        <!--                                         onkeydown="mdSelectOnKeyDownOverride(event)">-->
                        <!--                                    </md-select-header>-->
                        <!--                                    <md-optgroup label="Employee Name">-->
                        <!--                                        <md-option ng-value="emp.employee_gid"-->

                        <!--                                                    ng-repeat="emp in employee |-->
                        <!--              filter:searchTermemp">{{emp.employee_name}}-->
                        <!--                                        </md-option>-->
                        <!--                                    </md-optgroup>-->
                        <!--                                </md-select>-->
                        <!--                            </md-input-container>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-4">-->
                        <!--                            <md-autocomplete-->
                        <!--                                    md-clear-button="true"-->
                        <!--                                    md-floating-label="Employee Name"-->
                        <!--                                    md-item-text="item.employee_name"-->
                        <!--                                    md-items="item in getemployee_srch(searchemp)"-->
                        <!--                                    md-menu-class="md-virtual-repeat-container"-->
                        <!--                                    md-min-length=0-->
                        <!--                                    md-no-cache="true"-->
                        <!--                                    md-search-text="searchemp"-->
                        <!--                                    md-selected-item="selectedemp"-->
                        <!--                                    md-selected-item-change="ACselectchange(item)"-->
                        <!--                                    ng-disabled="Customer_disab"-->
                        <!--                                    ng-init="count=0"-->
                        <!--                            >-->
                        <!--                                <md-item-template>-->
                        <!--                                    <span md-highlight-text="searchTex"> {{item.employee_name}} - {{item.employee_code}} </span>-->
                        <!--                                </md-item-template>-->
                        <!--                                <md-not-found>-->
                        <!--                                    No customer matching "{{searchTex}}" were found.-->
                        <!--                                </md-not-found>-->
                        <!--                            </md-autocomplete>-->
                        <!--                        </div>-->
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer">
                                <label> Remarks</label>
                                <input type="text" ng-model="remarks" maxlength="256" required no-special-char>
                            </md-input-container>
                        </div>

                        <div class="col-md-1">
                            <md-button class="md-raised custbutton" ng-disabled="inwardsummary_valid.$invalid"
                                       value="submit" ng-click="inwardsave(header_gid)">Save
                            </md-button>
                        </div>
                        <div class="col-md-1">
                            <md-button class="md-raised" value="close" ng-click="showform=!showform">Cancel
                            </md-button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                       md-progress="deferred">
                    <thead class="header">
                    <tr style="text-align:center">
                        <th>S.No</th>
                        <th>Date</th>
                        <th>Channel Name</th>
                        <th>Courier Name</th>
                        <th>Airway Bill</th>
                        <th>Received By</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="header in inward_header">
                        <td class="text-center" ng-model="dept_name">
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td align="center"> {{header.inwardheader_date}}</td>
                        <td align="center"> {{header.inwardheader_channel}}</td>
                        <td align="center"> {{header.courier_name}}</td>
                        <td align="right"> {{header.inwardheader_awbno}}</td>
                        <td align="center"> {{header.employee_name}}</td>
                        <td class="text-center">
                            <a href="setinwarddetails"> <span class="editlink"
                                                              ng-click="inwarddetails(header.inwardheader_gid)">
                                 <span class="material-icons">done</span>
                                <md-tooltip>inwarddetails</md-tooltip>
                           </span></a>
                            <!--                            <span class="editlink" ng-click="edit_click(header.inwardheader_gid)">-->
                            <!--                                 <span class="material-icons">mode_edit</span>-->
                            <!--                                <md-tooltip>Edit</md-tooltip>-->
                            <!--                             </span>-->
                            <!--                            <span class="editlink" ng-click="delete_data(header.inwardheader_gid)">-->
                            <!--                               <span class="material-icons">delete</span>-->
                            <!--                                <md-tooltip>Delete</md-tooltip>-->
                            </span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul uib-pagination total-items="inward_header_length" ng-model="currentPage"
                                max-size="maxSize" ng-change="inventory_pagination()"
                                class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                        </td>
                        <!--                        <td colspan="2" class="text-left">-->
                        <!--                            <label>Page Count:</label>-->
                        <!--                            <select type="text" style="width:100px;"-->
                        <!--                                    class="form-control"-->
                        <!--                                    placeholder="count"-->
                        <!--                                    ng-model="itemsPerPage">-->
                        <!--                                <option ng-value="10">10</option>-->
                        <!--                                <option ng-value="20">20</option>-->
                        <!--                                <option ng-value="40">40</option>-->
                        <!--                                <option ng-value="60">60</option>-->
                        <!--                                <option ng-value="80">80</option>-->
                        <!--                                <option ng-value="100">100</option>-->
                        <!--                            </select>-->
                        <!--                        </td>-->
                        <td colspan="2" class="text-left">
                            <span>Total Count:<b> {{inward_header.length}}</b></span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}

<script>
    var app=angular.module('appinwardsummary',['ngMaterial','ui.bootstrap','AppCommon']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

});
app.run(function($mdDateLocale, $filter) {
        $mdDateLocale.formatDate = function(date) {
            return $filter('date')(date, "dd-MMM-yyyy");
      };
});


app.controller('ctrlinwardsummary', ['$scope', '$filter', '$mdDateLocale', 'serviceinwentry', '$window', '$mdDialog', function($scope, $filter, $mdDateLocale, serviceinwentry, $window, $mdDialog) {
    $scope.currentPage = 1;
    $scope.maxSize = 3;
    $scope.itemsPerPage = 10;


    $scope.ls_followup_date = new Date();

    //date format
    window.mdSelectOnKeyDownOverride = function(event) {
        event.stopPropagation();
    };

    var detail = JSON.parse(sessionStorage.getItem('today'));
    $scope.employee_gid = detail.employee_gid;

    $scope.maxDate = new Date(
        $scope.ls_followup_date.getFullYear(),
        $scope.ls_followup_date.getMonth(),
        $scope.ls_followup_date.getDate()
    );

    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };

    $scope.endloading = function() {
        $mdDialog.hide();
    };

    $scope.channel_click = function(channel) {
        if (channel == "Hand Delivery") {
            $scope.hide = true;
            $scope.courier = "1";
            $scope.airwayno = "nothing";
        } else {
            $scope.hide = false;
        }
    }

    $scope.createNew = function() {
        $scope.inwarddate = new Date();
        $scope.channel = 0;
        $scope.courier = 0;
        $scope.airwayno = "";
        $scope.noofpacking = "";
        $scope.from_supplier = "";
        $scope.inwardsummary_valid.$setPristine();
        $scope.inwardsummary_valid.$setUntouched();
        $scope.receivedby = "";
        $scope.remarks = "";
        $scope.header_gid = "";
        $scope.showform = true;
    }

    var channel = serviceinwentry.ddl('inwardheader', 'channel');
    channel.then(function(result) {
            var channel_data = JSON.parse(result.data)
            $scope.channelddl = channel_data;
        },
        function(err) {
            alert('No data!.');
        }).finally();

    summary();
    $scope.inventory_pagination = function(){
         if($scope.inward_header.length==0){
                $scope.currentPage=1;
         }
        summary();

    }


    function summary() {
         var filter_trn = {"Page_Index":$scope.currentPage-1,"Page_Size":$scope.itemsPerPage};
         var filter_final = {"FILTER": filter_trn};
        var header_set = serviceinwentry.getinwardservice('HEADER_OFFICE', 'ALL', filter_trn);
        $scope.loading();
        header_set.then(function(result) {
                $scope.inward_header = result.data;

                $scope.inward_header_length =$scope.currentPage*11 ;
                console.log($scope.inward_header);
            },
            function(err) {
                alert('No data!.');
            }).finally($scope.endloading);

    }

    var filter_final = {"FILTER": {}};
    var header_set = serviceinwentry.getinwardservice('ALL', 'ALL', filter_final);
    header_set.then(function(result) {
            $scope.alldetails = result.data;

        },
        function(err) {
            alert('No data!.');
        }).finally($scope.endloading);

    $scope.edit_click = function(header_gid) {
        $scope.showform = true;
        var filterinwhed = [];
        filterinwhed = $filter('filter')($scope.inward_header, {
            inwardheader_gid: header_gid
        }, true)[0];
        $scope.inwarddate = filterinwhed.inwardheader_date;
        $scope.channel = filterinwhed.inwardheader_channel;
        if ($scope.channel == "Hand Delivery") {
            $scope.hide = true;
            $scope.courier = "1";
            $scope.airwayno = "nothing";
        } else {
            $scope.hide = false;
            $scope.courier = filterinwhed.courier_gid;
            $scope.airwayno = filterinwhed.inwardheader_awbno;
        }

        $scope.noofpacking = filterinwhed.inwardheader_noofpockets;
        $scope.from_supplier = filterinwhed.inwardheader_from;
        $scope.receivedby = filterinwhed.inwardheader_receivedby;
        $scope.remarks = filterinwhed.inwardheader_remarks;
        $scope.header_gid = header_gid;
    }

    $scope.delete_data = function(header_gid) {
        var exefinal = [];
        var inward_header = $filter('filter')($scope.alldetails, {
            inwardheader_gid: header_gid
        }, true)[0];
        if (inward_header.inwarddetails_doctype == "0") {
            var answer = confirm("Do U Want To Delete it");
            if (answer) {
                var action = 'UPDATE'
                var remove = "N"
                exefinal.push({
                    "Header_gid": header_gid,
                    "Remove_flag": "Y"
                })
                var type = 'HEADER_OFFICE'
                var header_final = {
                    HEADER: exefinal
                };
                var details_final = {};
                var saveheader = serviceinwentry.setinwardservice(action, type, header_final, details_final);
                saveheader.then(function(result) {
                    if (result.data == "SUCCESS") {
                        alert("Delete Successfully !.");
                        summary();
                    } else {
                        alert("Not Deleted Successfully !.");
                    }

                }, function() {
                    alert("Record Not Found")
                });
            } else {
                //some code
            }

        } else {
            alert("You Cant Detele This Record");
        }
    }


    var courier = serviceinwentry.getcourier();
    courier.then(function(result) {

            $scope.courierddl = result.data;
        },
        function(err) {
            alert('No data!.');
        }).finally($scope.endloading);

        get_data_emp(1, 30);
        function get_data_emp(x,y){
            var data = {
                params: {
                    "Group": "GET_EMP_DATA",
                    "Limit" : x + "," + y,
                    "Type": "EMPLOYEE",
                    "Sub_Type": "EMPLOYEE_ALL",
                    "json" : {
                        "Params": {
                                "FILTER": {
                                    "Employee_name":$scope.srchname,
                                },
                            }
                        }
                    }
                }
<!--            var employee = serviceinwentry.getemployee(data);-->
<!--            employee.then(function(result) {-->
<!--                    $scope.main = result.data.DATA;-->
<!--                    $scope.employee = $scope.main;-->
<!--                    for (var i = 0; i < 1; i++) {-->
<!--                        dta = {-->
<!--                            "employee_gid": -1,-->
<!--                            "employee_name": "LOAD MORE.....",-->
<!--                        }-->
<!--                        $scope.employee.push(dta);-->
<!--                    }-->
<!--              });-->
        }


    $scope.getemployee_srch = gotocust;
    function gotocust(query) {
        $scope.srchname = query;
        get_data_emp(1, 30);
        var result = $filter('filter')($scope.employee, {
            'employee_name': query
        });
        return result;
    }

    $scope.count = 0;
    $scope.ACselectchange = function(item) {
        var ite = item.employee_gid;
        if (ite > 0) {
            $scope.hidecus = true;
            $scope.hideemp = false;
            $scope.employee = $filter('filter')($scope.employee, {
                'employee_name': item.employee_name
            });
        } else {
            $scope.count++;
            $scope.loadcount = $scope.count * 60
            for (i = 0; i <= $scope.loadcount; i++) {
                if ($scope.loadcount == i) {
                    get_data_emp(1, i)
                }
            }
        }
    }

    $scope.inwarddetails = function(inward_header_gid) {
        sessionStorage.setItem('inwardsdetails', inward_header_gid);
    }

<!--    var supplier = serviceinwentry.getdropdown("supplier");-->
<!--    supplier.then(function(supplier) {-->
<!--        var supplier_data = JSON.parse(supplier.data)-->
<!--        $scope.supplier = supplier_data;-->
<!--    }, function() {-->
<!--        alert("Record Not Found")-->
<!--    });-->

    function formatDatemap(date) {
        var d = date,
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        return [year, month, day].join('-');
    }

    $scope.inwardsave = function(header_gid) {

        var exefinal = [];
        if (header_gid == "" || header_gid == undefined) {
            var action = 'INSERT'
            if ($scope.channel == "Hand Delivery") {
                $scope.courier = 0;
                $scope.airwayno = '0';
            }
            exefinal.push({
                "In_date": formatDatemap($scope.inwarddate),
                "Channel": $scope.channel,
                "Courier_gid": $scope.courier,
                "AWB_no": $scope.airwayno,
                "No_Of_Packets": $scope.noofpacking,
                "Inward_From": $scope.from_supplier,
                "Received_by": $scope.employee_gid,
                "Remark": $scope.remarks,
                "Header_gid": 0,
            })
        } else {
            var action = 'UPDATE'
            if ($scope.channel == "Hand Delivery") {
                $scope.courier = 0;
                $scope.airwayno = 0;
            }
            var remove = "N"
            exefinal.push({
                "In_date": formatDatemap(new Date($scope.inwarddate)),
                "Channel": $scope.channel,
                "Courier_gid": $scope.courier,
                "AWB_no": $scope.airwayno,
                "No_Of_Packets": $scope.noofpacking,
                "Inward_From": $scope.from_supplier,
                "Received_by": $scope.employee_gid,
                "Remark": $scope.remarks,
                "Header_gid": header_gid,
                <!--"Remove_flag":remove-->
            })
        }
        var type = 'HEADER_OFFICE'
        var header_final = {
            HEADER: exefinal
        };
        var details_final = {};
        $scope.loading();
        var saveheader = serviceinwentry.setinwardservice(action, type, header_final, details_final);
        saveheader.then(function(result) {
            if (result.data == "SUCCESS") {
                alert("Saved Successfully !.");
                $scope.showform = false;
                summary();
            } else {
                alert("Not Updated !.");
                $scope.showform = true;
            }

        }, function(err) {
          alert(res);
        }).finally($scope.endloading);

    };
}]);

app.service("serviceinwentry", function ($http) {

   this.ddl=function(tablename,columnname){
        var response=$http.get(Appname+"/get_custdata/",{params:{"tablename":tablename,"columnname":columnname}});
        return response;
    }

      this.getcourier = function () {
        var response = $http.post(Appname+"/Courier_dtll/", { params:{'courier_gid': 0,'courier_name':''} });
        return response;
    }
     this.getemployee=function(data){
        var response=$http.post(Appname+"/employee_mst_data/",data);
        return response;
     }
      this.getdropdown = function (tablename) {
        var responsee = $http.post(Appname+"/Dropdown_details/",{params:{"tablename":tablename,"gid":0,"name":''}});
        return responsee;
    }

      this.setinwardservice = function (action,type,header,details) {
        var responsee = $http.post(Appname+"/setinwardentry/",{params:{"Action":action,"Type":type,"lj_header":header,"lj_details":details}});
        return responsee;
    }

    this.getinwardservice = function (action,type,li_filter) {
        var responsee = $http.post(Appname+"/get_inwardsummary/",{params:{"Action":action,"Type":type,"lj_filters":li_filter}});
        return responsee;
    }
});






</script>
{% endblock %}