{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} PAR MAKER  {% endblock %}
{% block content %}
{% csrf_token %}
<link href="{% static 'Content/font-awesome-4.1.0.css' %}" rel="stylesheet">
<link href="{% static 'Content/robotofonttext400300.css' %}" rel="stylesheet">
<link href="{% static 'Content/textangular.css' %}" rel="stylesheet">
<script src="{% static 'Scripts/Core/textAngular-rangy.js' %}"></script>
<script src="{% static 'Scripts/Core/textAngular-sanitize.js' %}"></script>
<script src="{% static 'Scripts/Core/textAngular.js' %}"></script>
{% verbatim %}
<style>
    h1 small {
        font-size: 60%;
    }
    textarea.ta-bind {
        width: 100%;
    }
</style>
<!--<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js'></script>-->

<div class="maincontent">
    <div ng-app="App_paradd" ng-controller="Ctrl_Paradd" class="container container1" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4><strong>PAR MAKER</strong></h4>
            </div>
        </div>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
            data-keyboard="false" id="viewnotepad" role="dialog" style="height:auto;width:100%">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong> Note Pad</strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                      <div class="body">
                        <div class="modal-body popup-body">
                            <div class="row table-responsive">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                                <div text-angular="text-angular" id="con"  name="htmlcontent" ng-focus="displaynamechng('content_flag')" ng-model="htmlcontent" ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <md-button class="md-raised" data-dismiss="modal">Close
                                <md-tooltip>close</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
            data-keyboard="false" id="viewprfile" role="dialog" style="height:auto;width:100%">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong> Viewing {{filename}}</strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                    <div class="body">
                        <div class="modal-body popup-body">
                               <div class="row">
                                <div class="col-md-12 text-center">
<span title="Zoom in">
     <a href="" onclick="zoomin()" style="font-size:50px"><i style="font-size:50px" class="material-icons">zoom_in
                        </i></a>
</span>
                                    <span title="Zoom Out">
                        <a href="" onclick="zoomout()" style="font-size:50px"><i style="font-size:50px"
                                                                                 class="material-icons">
                            zoom_out
                        </i></a>
                                        </span>
                                </div>
                            </div>
                            <div class="row table-responsive">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                        <img src="{{viewfilepath}}"
            id="zooming" GFG="250">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <md-button class="md-raised" data-dismiss="modal">Back
                                <md-tooltip>close</md-tooltip>
                            </md-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <form name="par_add_form">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <md-input-container class="md-block inputcontainer">
                            <label>Par Number</label>
                            <input type="text" ng-model="paradd.parno" ng-disabled="true">
                        </md-input-container>
                    </div>
                    <div class="col-md-1">
                        <span title="Add a Note" ng-click="notepad(paradd)" align="center"
                                  class="editlink">
                                   <i class="material-icons">description</i>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <md-input-container class="md-block inputcontainer">
                            <label>Par Date</label>
                            <md-datepicker md-hide-icons="calendar" ng-disabled="enable_all" md-open-on-focus md-min-date="minDate"
                                           md-max-date="maxDate"
                                           ng-model="paradd.pardate" formatDate required></md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-input-container class="md-block inputcontainer">
                            <label>Par Year</label>
                            <input type="text" numbers-only minlength="4" maxlength="4"  ng-disabled="enable_all" ng-model="paradd.paryear" required>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Par Amount</label>
                            <input type="text" numbers-only  maxlength="16" ng-model="paradd.paramount" ng-disabled="enable_all" required valid-number>
                        </md-input-container>
                    </div>
                    <div class="col-md-2" ng-if="enable_all && !onetimeedit">
                        <md-input-container class="md-block inputcontainer">
                            <label>Contigency Percentage</label>
                            <input type="text" numbers-only  maxlength="3" ng-model="paradd.par_contigencypercentage" ng-disabled="enable_all"   valid-number required>
                        </md-input-container>
                    </div>
                    <div class="col-md-2" ng-if="onetimeedit">
                        <md-input-container class="md-block inputcontainer">
                            <label>Contigency Percentage</label>
                            <input type="text" numbers-only  maxlength="3" ng-model="paradd.par_contigencypercentage" valid-number required>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3"  layout="row" style="margin-top:30px">
                        Is Budgeted
                        <md-radio-group layout="row" ng-disabled="enable_all" ng-model="paradd.isbudgeted" required>
                            <md-radio-button value="Yes" class="md-primary" style="margin-left:20px;">Yes
                            </md-radio-button>
                            <md-radio-button value="No">No</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-md-3">
                         <md-input-container class="md-block inputcontainer">
                            <label>Par Description</label>
                            <input type="text" no-Special-Char maxlength="256" ng-disabled="enable_all" ng-model="paradd.pardesc" required>
                        </md-input-container>
                    </div>
                    <div class="col-md-3" layout="row" style="margin-top:30px">
                        MEP-Linewise burst Allowed
                        <md-radio-group layout="row" ng-disabled="enable_all" ng-model="paradd.linewisw" required>
                            <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
                            <md-radio-button value="No">No</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-md-3" layout="row" style="margin-top:30px">
                        MEP burst Allowed
                        <md-radio-group layout="row" ng-model="paradd.mepwisw" ng-disabled="enable_all" required>
                            <md-radio-button value="Yes" class="md-primary" style="margin-left:20px;">Yes
                            </md-radio-button>
                            <md-radio-button value="No">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:500px;">
                <md-button class="md-raised custbutton" value="Close" class="btn btn-secondary"
                           ng-click="AddPar_fn(paradd);"
                            ng-show="hide_submit">
                    ADD
                </md-button>
<!--                ng-disabled="par_add_form.$invalid"-->
                <!--                ng-show="hide_submit"-->
                <md-button class="md-raised custbutton" value="Close" class="btn btn-secondary"
                           ng-click="UpdatePar_fn(paradd);"
                           ng-disabled="par_add_form.$invalid" ng-show="hide_show1">
                    Update
                </md-button>
            </div>
        </form>
        <div class="row-header col-lg-12 col-sm-12">
            <md-subheader class="md-accent">
                <label style="margin-left:450px;font-size:20px;">MAKE PAR DETAILS</label>
                <md-button class="md-fab md-mini md-primary custbutton" ng-disabled="enable_all" ng-click="addrow()" style="margin-left:350px;"
                           >
                    <md-icon>add</md-icon>
                    <md-tooltip>Add</md-tooltip>
                </md-button>
            </md-subheader>
        </div>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div ng-hide="PPX_HTML">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           ng-show="isSet(1)" ng-hide="podetail">
                        <thead class="header">
                        <tr>
                            <th>S.No</th>
                            <th>EXP Type</th>
                            <th>Request For</th>
                            <th>Is Budgeted</th>
                            <th>Description</th>
                            <th>Year</th>
                            <th>Amount</th>
                            <th ng-if="!enble">Contigency Amount</th>
                            <th ng-if="onetimeedit">Contigency Amount</th>
                            <th>Total Amount</th>
                            <th>Remarks</th>
                            <th ng-hide="enable_all">File</th>
                            <th ng-show="buttonhide">Download File</th>
                            <th ng-show="buttonhide">View File</th>
                        </tr>
                        </thead>
                        <tbody ng-init="total = 0">
                        <tr ng-repeat="dtl in invoicedetails">
                            <td ng-model="dtl.Invoice_Sno=$index+1">
                                <center>{{$index+1}}</center>
                            </td>
                            <td>
                                <md-input-container class="md-block inputcontainer" style="margin-top:-5px;">
                                    <md-select ng-disabled="enable_all" ng-model="dtl.pardetails_exptype" required>
                                        <md-option ng-repeat="a in parexp_data"
                                                   ng-value="a.metadata_value">
                                            {{a.metadata_value }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>

                            <td align="right">
                                <form name="par_add_form12">
                                    <md-autocomplete ng-disabled="enable_all"
                                                     md-clear-button="!clearbtn"
                                                     md-input-maxlength=126
                                                     md-item-text="item.dept_name"
                                                     md-items="item in Load_deptname(dtl.pardetails_requestfor)"
                                                     md-min-length=0
                                                     ng-disabled="clearbtn"
                                                     md-no-cache="true"
                                                     md-search-text="dtl.pardetails_requestfor"
                                                     md-selected-item-change="ACselectchange(item.dept_name)"
                                                     required>
                                        <md-item-template>
                                            <span md-highlight-text="searchRM">{{item.dept_name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Request For Name matching "{{dtl.pardetails_requestfor}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                </form>
                            </td>

                            <td><br>
                                <md-radio-group layout="row" ng-disabled="enable_all" ng-model="dtl.pardetails_budgeted"
                                                ng-change="radioChanged(Partner.activecontractype)">
                                    <md-radio-button value="Y" class="md-primary">Yes</md-radio-button>
                                    <md-radio-button value="N">No</md-radio-button>
                                </md-radio-group>

                            </td>
                            <td align="right"><input class="textboxgeneral" no-Special-Char maxlength="526" ng-disabled="enable_all"
                                                     ng-model="dtl.pardetails_desc"></td>
                            <td align="right"><input class="textboxgeneral" numbers-only minlength="4" maxlength="4" ng-disabled="enable_all"
                                                     ng-model="dtl.pardetails_year"></td>
                            <td align="right"><input class="textboxgeneral"
                                                     maxlength="16" valid-number ng-disabled="enable_all"
                                                     ng-model="dtl.pardetails_originalamount"></td>
<!--                            <td align="right" ng-if="enable_all== false">{{dtl.pardetails_amount = (dtl.pardetails_originalamount * paradd.par_contigencypercentage /100)}}</td>-->
                            <td align="right" ng-if="!enable_all && !enble">{{dtl.pardetails_contigency = (dtl.pardetails_originalamount * paradd.par_contigencypercentage /100)}}</td>
                            <td align="right" ng-if="onetimeedit">{{dtl.pardetails_contigency = (dtl.pardetails_originalamount * paradd.par_contigencypercentage /100)}}</td>
                            <td align="right" ng-if="onetimeedit" ng-hide="onetimeedit">{{dtl.pardetails_contigencyrequired = 'Y'}}</td>
                            <td align="right" ng-if="!enble">{{dtl.pardetails_contigency}}</td>
                            <td align="right" ng-if="enble &&!onetimeedit">{{dtl.pardetails_amount = ((+dtl.pardetails_contigency) +(+dtl.pardetails_originalamount))}}</td>
                            <td align="right" ng-if="onetimeedit">{{dtl.pardetails_amount = ((+dtl.pardetails_contigency) +(+dtl.pardetails_originalamount))}}</td>
                            <td align="right" ng-if="!enble">{{dtl.pardetails_amount = ((+dtl.pardetails_contigency) +(+dtl.pardetails_originalamount))}}</td>
                            <td align="right">
                                <input  no-Special-Char
                                        class="textboxgeneral" ng-disabled="enable_all"
                                        maxlength="256"
                                        ng-model="dtl.pardetails_remarks">
                            </td>
                            <td ng-hide="enable_all">
<!--                            <td align="right"><input type="file" ng-click="upload(file)" file-model="files"-->
<!--                                                     fileinput="dtl.file" id="Attefile" multiple/>-->
                                <input type="file" ng-model="dtl.fileinput" name="files"
                                           minsize="500" style="width:140px;"
                                           id="file_cwip{{$index}}"/>
                                <md-checkbox type="checkbox" ng-click="updateSelection($index)"
                                            ng-model="m.checked"  ng-init="m.checked=false">
                                </md-checkbox>
                            </td>
                             <td ng-show="buttonhide" class="text-center">
                             <span class="material-icons" ng-class="dtl.file_name!=''? 'editlink':''"
                              ng-click="clkdownload(dtl.file_name)"
                              title="{{dtl.file_name=='' ? 'No File To Download':'Download' +' '+ dtl.file_name}}">get_app</span>
                             </td>
                            <td ng-show="buttonhide" class="text-center">
                             <span class="material-icons" ng-class="dtl.file_name!=''? 'editlink':''"
                              onclick="clk()" ng-click="clkview(dtl.file_name)"
                              title="{{dtl.file_name=='' ? 'No File To View': 'View' +' '+ dtl.file_name}}">touch_app</span>
                             </td>
                        </tr>
                        </tbody>
                        <tfoot>
                              <tr>
                                    <td colspan="6" align="right"><b>Total</b></td>
                                    <td colspan="1" align="right" style="background: white;">
                                        <span ng-if="invoicedetails.length == 0"><b>{{total}}</b></span>
                                        <span ng-if="invoicedetails.length > 0"><b>{{loaddata()| number:2}}</b></span>
                                    </td>
                                  <td colspan="1" align="right" ng-if="onetimeedit" style="background: white;">
                                        <span ng-if="invoicedetails.length == 0"><b>{{total}}</b></span>
                                        <span ng-if="invoicedetails.length > 0"><b>{{loaddata1()| number:2}}</b></span>
                                    </td>
                                  <td colspan="1" align="right" ng-if="enble &&!onetimeedit" style="background: white;">
                                        <span ng-if="invoicedetails.length == 0"><b>{{total}}</b></span>
                                        <span ng-if="invoicedetails.length > 0"><b>{{loaddata2()| number:2}}</b></span>
                                    </td>
                                  <td colspan="1" align="right" ng-if="onetimeedit" style="background: white;">
                                        <span ng-if="invoicedetails.length == 0"><b>{{total}}</b></span>
                                        <span ng-if="invoicedetails.length > 0"><b>{{loaddata3()| number:2}}</b></span>
                                    </td>

                                    <input type="hidden" id="postId" value="34657">
                                </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row ">
                    <div class="col-lg-3 col-sm-3 text-left">
                        <md-input-container class="md-block inputcontainer" ng-if="onetimeedit">
                        <label>Remarks</label>
                        <input ng-disabled="onetimeedit" no-Special-Char maxlength="256" ng-model="paradd.tran_remarks" autocomplete="off"
                               required/>
                    </md-input-container>
                    </div>
                    <div class="col-lg-3 col-sm-3"></div>
                    <div class="col-lg-6 col-sm-6 text-right">
                        <md-button ng-click="Close()" ng-href="PAR_Summary" class="md-raised" ng-show="buttonhide_one">
                            Close
                            <md-tooltip>Close</md-tooltip>
                        </md-button>
                        <md-button ng-click="save_par_pardetails_fn()" ng-show="hide_submit"
                                   ng-disabled="par_add_form12.$invalid"
                                   class="md-raised md-warn">Submit
                            <md-tooltip>Submit</md-tooltip>
                        </md-button>
                        <md-button ng-click="update_par_pardetails_fn(paradd)" ng-show="hide_show1"
                                   class="md-raised md-warn">Update
                            <md-tooltip>Update</md-tooltip>
                        </md-button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row  text-left" ng-show="buttonhide">
            <form role="form" name="prapprovel">
                <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                        <label>Reject Remarks</label>
                        <input id="premarks" no-Special-Char maxlength="256" ng-model="approvelreject" autocomplete="off" ng-change="approvelremark=''"
                               required/>
                    </md-input-container>
                </div>
            </form>
            <div class="col-lg-3 col-sm-3 ">
                <md-input-container class="md-block inputcontainer">
                    <label>Approval Remarks</label>
                    <input id="prremarksapp" no-Special-Char maxlength="256" ng-model="approvelremark" autocomplete="off" ng-change="approvelreject=''"
                           />
                </md-input-container>
            </div>
            <div class="col-lg-6 col-sm-6">
                <md-button type="button" value="Close" class="btn btn-secondary" ng-click="CloseRMApproval()"
                           ng-href="Par_Checker">Close
                </md-button>
                <md-button type="button" value="Reject" ng-click="approvedfor_Checker('REJECT',approvelreject)"
                           class="md-raised md-warn"
                           ng-disabled="prapprovel.$invalid" ng-hide="hide">Reject
                </md-button>
                <md-button type="button" value="Approve" ng-click="approvedfor_Checker('APPROVED',approvelremark)"
                           ng-disabled="prapprovel.$valid" class="md-raised md-primary" ng-hide="hide">Approve
                </md-button>
            </div>

        </div>


    </div>
</div>
{% endverbatim %}
<script>
        function zoomin() {
            var GFG = document.getElementById("zooming");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth + 150) + "px";
        }
        function zoomout() {
            var GFG = document.getElementById("zooming");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth - 150) + "px";
        }
        function clk(){
            var GFG = document.getElementById("zooming");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (892) + "px";
        }
</script>

<script>
var myApp = angular.module('App_paradd', ['ngMaterial', 'ui.bootstrap', 'AppCommon','textAngular'])
    .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });

    myApp.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
})
myApp.directive('fileModel', ['$parse', function($parse) {
    return {
        restrict: 'A',
        link: function(scope, element, attrs) {
            element.bind('change', function() {
                $parse(attrs.fileModel).assign(scope, element[0].files)
                scope.$apply();
            });
        }
    };
}]);

myApp.directive("fileinput", [function() {
    return {
        scope: {
            fileinput: "=",
            filepreview: "="
        },
        link: function(scope, element, attributes) {
            element.bind("change", function(changeEvent) {
                scope.fileinput = changeEvent.target.files[0];
                var reader = new FileReader();
                reader.onload = function(loadEvent) {
                    scope.$apply(function() {
                        scope.filepreview = loadEvent.target.result;
                    });
                }
                reader.readAsDataURL(scope.fileinput);
            });
        }
    }
}]);
myApp.controller('Ctrl_Paradd', ['$scope','$q', '$http','Paradd_Service', '$window', '$filter', '$mdDialog', '$mdDateLocale', '$timeout', '$q','$mdToast',
    function($scope, $q,$http,Paradd_Service, $window, $filter, $mdDialog, $mdDateLocale, $timeout, $q,$mdToast) {
        $scope.currentPage = 1;
        $scope.maxSize = 3;
        $scope.itemsPerPage = 10;
        $scope.invoicedetails = [];
        $scope.Load_deptname = fn_deptname;

        var detail = JSON.parse(sessionStorage.getItem('today'));

        $scope.entity_gid = detail.entity_gid;
        $scope.create_by = detail.employee_gid;
        function check_othercharges(){

            var other_chargechk =  []
            for (var i = 0; i < $scope.invoicedetails.length; i++) {
                if ($scope.invoicedetails[i].checked == false) {
                    other_chargechk.push(i)
                    //$scope.invoicedetails.splice(i, 1);
                }
            }
        }

                $scope.clkdownload = function(e){
        if(e!=""){
        $window.location.href = "/common_downloadfile/?filename="+e;
        }
        else{
        return false;
        }
        }

        $scope.clkview = function (e) {
            $scope.filename = e;
            var data = {
                "Filename": e
            }
            var get_purchase = Paradd_Service.getviewfile(data)
            get_purchase.then(function (result) {
                $scope.viewfilepath = result.data;
                if ($scope.viewfilepath != '') {
                    modalshow('viewprfile');
                }
            }).finally($scope.endloading);
        }


            $scope.loaddata = function () {
                var sum = 0;
                for (var i = 0; i < $scope.invoicedetails.length; i++) {
                    if ($scope.invoicedetails[i].pardetails_originalamount == undefined) {
                        var unity = 0;
                    } else {
                        var unity = $scope.invoicedetails[i].pardetails_originalamount;
                    }
                    sum += parseFloat(unity)
                }
                $scope.totalamt = sum;
                return sum;
            }

            $scope.loaddata1 = function () {
                var sum = 0;
                for (var i = 0; i < $scope.invoicedetails.length; i++) {
                    if ($scope.invoicedetails[i].pardetails_contigency == undefined) {
                        var unity = 0;
                    } else {
                        var unity = $scope.invoicedetails[i].pardetails_contigency;
                    }
                    sum += parseFloat(unity)
                }
                $scope.totalamt = sum;
                return sum;
            }

            $scope.loaddata2 = function () {
                var sum = 0;
                for (var i = 0; i < $scope.invoicedetails.length; i++) {
                    if ($scope.invoicedetails[i].pardetails_amount == undefined) {
                        var unity = 0;
                    } else {
                        var unity = $scope.invoicedetails[i].pardetails_amount;
                    }
                    sum += parseFloat(unity)
                }
                $scope.totalamt = sum;
                return sum;
            }

            $scope.loaddata3 = function () {
                var sum = 0;
                for (var i = 0; i < $scope.invoicedetails.length; i++) {
                    if ($scope.invoicedetails[i].pardetails_amount == undefined) {
                        var unity = 0;
                    } else {
                        var unity = $scope.invoicedetails[i].pardetails_amount;
                    }
                    sum += parseFloat(unity)
                }
                $scope.totalamt = sum;
                return sum;
            }



 $scope.notepad = function(){

 if($scope.file_path_notepad == ' '){
        modalshow('viewnotepad');
        return false;
        }
        if($scope.file_path_notepad == undefined){
        modalshow('viewnotepad');
        return false;
        }
        if($scope.file_path_notepad){
              var data = {
                "Filename": $scope.file_path_notepad
            }
            var getdept_name = Paradd_Service.get_file_read(data)
            getdept_name.then(function(result) {
            $scope.htmlcontent = result.data.file_path
             modalshow('viewnotepad');
            }, function(err) {
                alert('No data!.');
            }).finally();
        }

        else{
         modalshow('viewnotepad');
        }
}



        $scope.AddPar_fn=function(par){
        if(par.par_contigencypercentage > 25){
            alert('Percentage value should Be less than 25%');
            $scope.paradd.par_contigencypercentage="";
            return false;
        }
            success_toast();
            $scope.checkamount=par.paramount;
            $scope.add_show=true;
             $scope.pardates =  formatStringDate(new Date(par.pardate), 'yyyy-mm-dd');
            if(par.isbudgeted== "Yes"){
            $scope.parbudgeted="Y"
            }
            else if(par.isbudgeted== "No"){
            $scope.parbudgeted="N"
            }
            if(par.linewisw== "Yes"){
            $scope.parline="Y"
            }
            else if(par.linewisw== "No"){
            $scope.parline="N"
            }
            if(par.mepwisw== "Yes"){
            $scope.parmep="Y"
            }
            else if (par.mepwisw== "No"){
            $scope.parmep="N"
            }
            $scope.par_data={

            "par_no":par.parno,
            "par_date":$scope.pardates,
            "par_year":par.paryear,
            "par_amount":par.paramount,
            "par_contigency":par.par_contigencypercentage,
            "par_isbudgeted":$scope.parbudgeted,
            "par_burstlinewise":$scope.parline,
            "par_burstmepwise":$scope.parmep,
            "par_desc":par.pardesc,
            "par_status":"PENDING-APPROVAL"
            }
            //alert(JSON.stringify($scope.par_data));
        }

        par_exptype_fn();
        function par_exptype_fn() {
            var data = {
                "Table_name": "gal_mst_tmetadata",
                "Column_1": "metadata_gid,metadata_value",
                "Column_2": "",
                "Where_Common": "metadata",
                "Where_Primary": "columnname",
                "Primary_Value": "pardetails_exptype",
                "Order_by": "value"
            }
            var exp_type = {
                Action: "",
                Entity_Gid: $scope.entity_gid,
                data: data
            }
            var getexpdata = Paradd_Service.getexpmetadata(exp_type)
            getexpdata.then(function(result) {
                $scope.parexp_data = result.data.DATA;
                //alert(JSON.stringify($scope.parexp_data))
            }, function(err) {
                alert('No data!.');
            }).finally();
        }
        function fn_deptname(query) {
            var result = $filter('filter')($scope.dept_name, {
                'dept_name': query
            });
            return result;
        }

        getrequestfor_fn();
        function getrequestfor_fn(){
            var datan = {
                "Table_name": "gal_mst_tdept",
                "Column_1": "dept_gid,dept_code,dept_name",
                "Column_2": "",
                "Where_Common": "dept",
                "Where_Primary": "dept_gid",
                "Primary_Value": "",
                "Order_by": "gid"
                       }
            var trans = {
                Action: "",
                Entity_Gid: $scope.entity,
                data: datan
                        }
            var getdept_name = Paradd_Service.get_deptname(trans)
            getdept_name.then(function(result) {
            $scope.dept_name = result.data.DATA;
            //alert(JSON.stringify($scope.dept_name))
            }, function(err) {
                alert('No data!.');
            }).finally();
        }

        $scope.addrow = function() {

        var result = 0;
            for (var i = 0; i < $scope.invoicedetails.length; i++) {
                result = result + parseInt($scope.invoicedetails[i].pardetails_originalamount);
            }

            if($scope.checkamount<=result){
            error_toast(add_par,time_toast);
            return false;
            }
            //alert(JSON.stringify(result));
            check_othercharges();
            $scope.invoicedetails.push({

                pardetails_exptype: "",
                pardetails_requestfor: "",
                pardetails_budgeted: "",
                pardetails_desc: "",
                pardetails_originalamount: "",
                pardetails_remarks: "",
                checked: true
            });
            //alert(JSON.stringify($scope.invoicedetails));
        }


        $scope.save_par_pardetails_fn=function(){


        if($scope.htmlcontent == undefined || $scope.htmlcontent ==""){
        $scope.htmlcontent = "";
        }

        var result=0;
        var sum = 0;
                for (var i = 0; i < $scope.invoicedetails.length; i++) {
                    if ($scope.invoicedetails[i].pardetails_originalamount == undefined) {
                        var unity = 0;
                    } else {
                        var unity = $scope.invoicedetails[i].pardetails_originalamount;
                    }
                    sum += parseFloat(unity)
                }
                $scope.totalamt = sum;

            if($scope.checkamount != $scope.totalamt){
            error_toast(add_par,time_toast);
            return false;
            }

            var data = {
                "Params": {
                },
                "Classification": {
                    "Entity_Gid": $scope.entity_gid
                },
                "par":$scope.par_data,
                "par_detail":{"pardetails_insert":$scope.invoicedetails},
                "Notepad" : $scope.htmlcontent
                 }

            var details = {
                Group: 'Add_Par',
                Action: 'insert',
                Create_By: $scope.create_by,
                Type: '',
                data: data,
                }
            var get_data = Paradd_Service.paradd_service(details)
            get_data.then(function(result) {
           if(result.data.MESSAGE == "SUCCESS"){
            alert("SUCCESSFULLY INSERTED");
             $window.location.href="PAR_Summary";
            }
            }),
            function(err) {
                alert('no data');
            }.finally($scope.endloading());
        }


       $scope.updateSelection=function(index){
        loadimagetobase64(index)
        }
                    function loadimagetobase64(e) {

                var file_img = document.getElementById('file_cwip' + e).files[0];
                if (file_img != undefined) {
                    $scope.type = '.' + file_img.name.split('.').pop();
                    $scope.name = file_img.name;
                    var img = new FormData();
                    img.append('file', file_img);
                    imageupload(img, e);
                }
            }

            function imageupload(img, e) {

                var img_upld = Paradd_Service.imageup(img);
                img_upld.then(function (res) {
                    $scope.imagebase64 = res.data;

                    for (i = 0; i < $scope.invoicedetails.length; i++) {
                        if (i == e) {
                            $scope.invoicedetails[i].file_path = $scope.imagebase64;
                            $scope.invoicedetails[i].file_name = $scope.imagebase64;
                        }
                    }
                });
            }


        $scope.imagebase = [];
        $scope.update_par_pardetails_fn=function(par){
            $scope.UpdatePar_fn(par);
        var result=0;
        var sum = 0;
                for (var i = 0; i < $scope.invoicedetails.length; i++) {
                    if ($scope.invoicedetails[i].pardetails_originalamount == undefined) {
                        var unity = 0;
                    } else {
                        var unity = $scope.invoicedetails[i].pardetails_originalamount;
                    }
                    sum += parseFloat(unity)
                }
                $scope.totalamt = sum;

            if($scope.checkamount != $scope.totalamt){
            error_toast(add_par,time_toast);
            return false;
            }
            var data = {
                "Params": {
                },
                "Classification": {
                    "Entity_Gid": $scope.entity_gid
                },
                "par":$scope.par_datas,
                "par_detail":{"pardetails_insert":$scope.invoicedetails}
            }
            var details = {
                Group: 'Add_Update',
                Action: 'UPDATE',
                Create_By: $scope.create_by,
                update_by: $scope.create_by,
                Type: '',
                 data: data,
            }
            var get_data = Paradd_Service.paradd_service(details)
             get_data.then(function(result) {
               if(result.data.MESSAGE == "SUCCESS"){
            alert("SUCCESSFULLY UPDATED");
            sessionStorage.removeItem('par_summary_session');
             $window.location.href="PAR_Summary";
            }else{
            alert(JSON.stringify(result.data));
            }
             }),
             function(err) {
                alert('no data');
             }.finally($scope.endloading());
        }
        function upload_img(a,callback){
        var deferred = $q.defer();
    var promise = deferred.promise;
    promise.then(function() {
           var result=0;
        for (var i = 0; i < $scope.invoicedetails.length; i++) {
                result = result + parseInt($scope.invoicedetails[i].pardetails_originalamount);
             var file_img = document.getElementById('Attefile' + i).files[0];

             var filename = file_img.name;
             var fileExtension =filename.split('.').pop();
             var fileExtension1 = '.' + filename.split('.');
             $scope.filename = fileExtension1[0];
             $scope.fileexten=fileExtension;
            $scope.recon_name = "PAR_"+ i + + new Date().getTime();
             var index = filename.lastIndexOf(".");
             $scope.strsubstring = filename.substring(index, filename.length);
                var img = new FormData();
                img.append('file', file_img);
                img.append('name',$scope.recon_name);
                console.log(i);
            var img_upld = Paradd_Service.imageup(img)
            img_upld.then(function(res) {
            $scope.imagebase64 = res.data;
             //var name_file = $scope.imagebase64.split('+')[0];
                    //var name_len = name_file.length;
                    $scope.imagebase64_data={
                         "name" :$scope.recon_name,
                         "File_Base64data" :$scope.imagebase64,
                         "File_Extension" :$scope.fileexten,
                         "Ref_Table_Gid" :"1",
                         "File_Name" :$scope.recon_name,
                        };
                    $scope.imagebase.push($scope.imagebase64_data);
                    callback();
                   //info_toast(img_attached,time_toast);

        })}
        }).then(function() {
        //callback();
    });
    deferred.resolve();
    }


       var pr_gid=JSON.parse(sessionStorage.getItem('par_summary_session'));
       //alert(JSON.stringify(pr_gid));
       $scope.Pstatus=pr_gid.par_data.par_status;
       $scope.view=pr_gid.view;
       $scope.par_Gid=pr_gid.par_data.par_gid;
       $scope.buttonhide_one=true;
       $scope.hide_show=false;
       $scope.hide_submit=true;
       $scope.add_show=false;
       $scope.parshow=false;
       $scope.enble = true;
       if(pr_gid.par_data.par_gid > 0){
        $scope.parshow=true;
       if($scope.view=="CHECKER"){
       $scope.buttonhide=true;
       $scope.enable_all  = true;
       $scope.clearbtn = true;
       $scope.buttonhide_one=false;
       $scope.hide_show1=false;
       $scope.hide_show=false;
       $scope.add_show=false;
       }else{

       $scope.buttonhide=false;
       $scope.buttonhide_one=true;
       $scope.hide_show1=true;

       $scope.add_show=true;
       }
       if($scope.Pstatus=="APPROVED"){
       $scope.buttonhide=false;
       $scope.enable_all  = true;
       $scope.onetimeedit = true;
       $scope.clearbtn = false;
       $scope.buttonhide_one=true;
       $scope.hide_show1=true;
       $scope.hide_submit=false;
       $scope.hide_show=false;
       $scope.add_show=false;
       }
       if($scope.Pstatus=="REJECT"){
      $scope.hide_show1=false;
      $scope.enable_all  = true;
      $scope.onetimeedit  = true;
       }

       $scope.hide_submit=false;
         $scope.paradd = [],
        $scope.summarychecker=[pr_gid],
        $scope.paradd.parno=pr_gid.par_data.par_no;
        $scope.paradd.par_contigencypercentage=pr_gid.par_data.par_contigency;
        $scope.paradd.pardate=new Date(pr_gid.par_data.par_date),
        $scope.checkamount=pr_gid.par_data.par_originalamount,
        $scope.paradd.paryear=pr_gid.par_data.par_year,
        $scope.paradd.paramount=pr_gid.par_data.par_amount,
        $scope.paradd.tran_remarks=pr_gid.par_data.par_remarks,

        $scope.file_path_notepad = pr_gid.par_data.par_filepath
        //alert(pr_gid.par_data.par_isbudgeted);
        if(pr_gid.par_data.par_isbudgeted == "Yes"){
        $scope.paradd.isbudgeted="Yes";
        $scope.paradd.isbudgeteda="Y";
        }else{
        $scope.paradd.isbudgeted="No";
        $scope.paradd.isbudgeteda="N";
        }
        if(pr_gid.par_data.par_burstlinewise == "Yes"){
        $scope.par_burstlinewise1="Y";
        }else{

        $scope.par_burstlinewise1="N";
        }
        if(pr_gid.par_data.par_burstmepwise == "Yes"){
        $scope.par_burstmepwise1="Y";
        }else{

        $scope.par_burstmepwise1="N";
        }
        $scope.paradd.pardesc=pr_gid.par_data.par_desc,
        $scope.paradd.linewisw=pr_gid.par_data.par_burstlinewise,
        $scope.paradd.mepwisw=pr_gid.par_data.par_burstmepwise;
        //alert(JSON.stringify($scope.summarychecker));
        //alert(pr_gid.par_data.par_isbudgeted);

        $scope.par_datas={
            "new_insert":"",
            "par_gid":pr_gid.par_data.par_gid,
            "par_no":pr_gid.par_data.par_no,
            "par_date":formatStringDate($scope.paradd.pardate, 'yyyy-mm-dd'),
            "par_year":pr_gid.par_data.par_year,
            "par_amount":pr_gid.par_data.par_amount,
            "par_contigency":pr_gid.par_data.par_contigencypercentage,
            "par_isbudgeted":$scope.paradd.isbudgeteda,
            "par_burstlinewise":$scope.par_burstlinewise1,
            "par_burstmepwise":$scope.par_burstmepwise1,
            "par_desc":pr_gid.par_data.par_desc,
            "par_utilized":0,
            "par_balance":0,
            "par_status":"PENDING-APPROVAL"
            }

        var data = {
                "Params": {
                    "Filter":{"Par_Gid":pr_gid.par_data.par_gid},
                    "Classification": {"Entity_Gid": $scope.entity_gid},
                    "Group": "PAR_GET",
                    "Action": "ParDetails_Get",
                    "Create_By":$scope.create_by ,
                    "Entity_Gid":$scope.entity_gid ,
                    "Type": ""
                }
         }
         var get_data = Paradd_Service.getpar_service(data)
            get_data.then(function(result) {
            $scope.invoicedetails=result.data.DATA;
            //alert(JSON.stringify($scope.invoicedetails));
            }),
            function(err) {
                alert('no data');
            }

        }
        //Update Par
           $scope.UpdatePar_fn=function(par){
           if($scope.htmlcontent == undefined || $scope.htmlcontent ==""){
                 $scope.htmlcontent = "";
           }
              if(par.par_contigencypercentage > 25){
            alert('Percentage value should Be less than 25%');
            $scope.paradd.par_contigencypercentage="";
            return false;
        }

            success_toast(update_mep,time_toast);
            $scope.checkamount=par.paramount;
             $scope.pardates =  formatStringDate(new Date(par.pardate), 'yyyy-mm-dd');
            if(par.isbudgeted== "Yes"){
            $scope.parbudgeted="Y"
            }
            else if(par.isbudgeted== "No"){
            $scope.parbudgeted="N"
            }
            if(par.linewisw== "Yes"){
            $scope.parline="Y"
            }
            else if(par.linewisw== "No"){
            $scope.parline="N"
            }
            if(par.mepwisw== "Yes"){
            $scope.parmep="Y"
            }
            else if (par.mepwisw== "No"){
            $scope.parmep="N"
            }
            $scope.par_datas={
            "new_insert":"",
            "par_gid":$scope.par_Gid,
            "par_no":par.parno,
            "par_date":$scope.pardates,
            "par_year":par.paryear,
            "par_amount":par.paramount,
            "par_contigency":par.par_contigencypercentage,
            "par_isbudgeted":$scope.parbudgeted,
            "par_burstlinewise":$scope.parline,
            "par_burstmepwise":$scope.parmep,
            "par_desc":par.pardesc,
            "par_utilized":0,
            "par_balance":0,
            "par_status":"PENDING-APPROVAL",
            "Notepad" : $scope.htmlcontent
            }
            //alert(JSON.stringify($scope.par_datas));
        }
        $scope.approvedfor_Checker=function(e,a){

        var data = {
                "Params": {
                "Par_Gid":$scope.par_Gid,
                "Par_status":e,
                "tran_remark":a
                },
                "Classification": {
                    "Entity_Gid": $scope.entity_gid
                },
                "par":{"Par_Gid":$scope.par_Gid,
                "Par_status":e,
                "tran_remark":a
                },
                "par_detail":{"pardetails_insert":$scope.invoicedetails},
            }
            var details = {
                Group: 'Add_Update',
                Action: 'Approvel',
                Create_By: $scope.create_by,

                Type: '',
                 data: data,
            }
            var get_data = Paradd_Service.paradd_service(details)
             get_data.then(function(result) {
             if(result.data.MESSAGE =="SUCCESS"){
             alert("PAR REQUEST APPROVED");
             sessionStorage.removeItem('par_summary_session');
             $window.location.href="Par_Checker";
             }else{
                alert(JSON.stringify(result.data));}
             }),
             function(err) {
                alert('no data');
             }.finally($scope.endloading());
        }

<!--         $scope.upload = function(e) {-->

<!--        var file_img = document.getElementById('file').files[0];-->
<!--        var filename = file_img.name;-->
<!--        var index = filename.lastIndexOf(".");-->
<!--        $scope.strsubstring = filename.substring(index, filename.length);-->
<!--            var img = new FormData();-->
<!--            img.append('file', file_img);-->
<!--            img.append('name', filename);-->
<!--            imageupload(img);-->
<!--    };-->


    }
]);
    myApp.service("Paradd_Service", function ($http,$filter) {
        this.getexpmetadata = function(exp_type) {
            var respons = $http.post(Appname + "/prodget/", exp_type);
            return respons;
        }
        this.get_deptname = function(pact) {
        var respons = $http.post(Appname + "/prodget/", pact);
        return respons;
        }
        this.paradd_service = function(data) {
        var respons = $http.post(Appname + "/PAR_Add_Set/", data);
        return respons;
        }
        this.getpar_service = function(get_data) {
        var response = $http.post(Appname + "/Par_Get/", get_data);
        return response;
        }

this.imageup = function (custid) {
            var respons = $http.post(Appname + "/imageconvert/",
                custid, {
                    transformRequest: angular.identity,
                    headers: {
                        'Content-Type': undefined
                    }
                }
            );
            return respons;
        }
this.getviewfile = function (data) {
            var response = $http.post(Appname + "/common_viewfile/", data);
            return response;
        }


this.get_file_read = function (data) {
            var response = $http.post(Appname + "/common_read_file/", data);
            return response;
        }


    });




</script>
{% endblock %}
