{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}  Amort Edit {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}

<div class="maincontent">
    <div ng-app="makersummary" ng-controller="ctrlsummary" class="container container1" ng-cloak>
        <form name="invoice_form" novalidate>
            <div class="row">
                <div class="row-header col-lg-12 col-sm-12">
                    <h4>Amort Edit</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Amort Code</label>
                            <input ng-model="ammort_code" disabled>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Amort Amount</label>
                            <input ng-model="ammort_amount" disabled>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>From Date</label>
                            <input ng-model="from_date" disabled>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>To Date</label>
                            <input ng-model="to_date" disabled>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           md-progress="deferred">
                        <thead class="header">
                        <tr>
                            <th>S NO</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Amount</th>
                            <th>Hold</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ammort in ammort_detail.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:search:strict"
                            align="center">
                            <td>
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td>{{ammort.ammortdetail_fromdate |date:'dd-MMM-yyyy'}}</td>
                            <td>{{ammort.ammortdetail_todate |date:'dd-MMM-yyyy'}}</td>
                            <td>{{ammort.ammortdetails_ecfamount}}</td>
                            <td align="center">
                                <md-checkbox ng-model="ammort.ammortdetails_hold"
                                             ng-true-value="'Y'"
                                             ng-false-value="'N'"
                                             ng-click="updateSelection($index,ammort)"
                                             type="checkbox"></md-checkbox>
                            </td>

                        </tr>
                        <tr ng-show="ammort_detail.length ==  0">
                            <td class="warning" colspan="12">
                                No Records Found.
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">
                                <ul uib-pagination total-items="ammort_detail.length" ng-model="currentPage"
                                    max-size="maxSize"
                                    class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                            </td>
                            <td colspan="3">
                                Total Count:{{ammort_detail.length}}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           md-progress="deferred">
                        <thead class="header">
                        <tr>
                            <th>S NO</th>
                            <th>Category</th>
                            <th>Sub Category</th>
                            <th>BS</th>
                            <th>CC</th>
                            <th>Percentage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ccbs in ammort_ccbs_data.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:search:strict"
                            align="center">
                            <td>
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td>{{ccbs.category_name}}</td>
                            <td>{{ccbs.subcategory_name}}</td>
                            <td>{{ccbs.tbs_name}}</td>
                            <td>{{ccbs.tcc_name}}</td>
                            <td>{{ccbs.ammortccbs_percent}}</td>
                        </tr>
                        <tr ng-show="ammort_ccbs_data.length ==  0">
                            <td class="warning" colspan="12">
                                No Records Found.
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">
                                <ul uib-pagination total-items="ammort_ccbs_data.length" ng-model="currentPage"
                                    max-size="maxSize"
                                    class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                            </td>
                            <td colspan="3">
                                Total Count:{{ammort_ccbs_data.length}}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="col-md-12">
                <br>
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <a href="AP_Ammort_Summary/">
                        <md-button class="md-raised" value="close"
                                   aria-label="Close">Cancel
                        </md-button>
                    </a>
                </div>


            </div>
        </form>
    </div>
</div>

{% endverbatim %}

<script>
    var app=angular.module('makersummary',['ngMaterial','ui.bootstrap','AppCommon']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

});
app.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
   });

app.controller('ctrlsummary', ['$scope', '$filter', '$mdDateLocale', 'servicesummary', '$window', '$mdDialog', '$element',
    function($scope, $filter, $mdDateLocale, servicesummary, $window, $mdDialog, $element) {

    $element.find('input').on('keydown', function(ev) {
        ev.stopPropagation();
    });

    $scope.currentPage = 1;
    $scope.maxSize = 3;
    $scope.itemsPerPage = 10;
    $scope.minDate=new Date();
    $scope.isHold="";



    var detail = JSON.parse(sessionStorage.getItem('today'));
    var td = detail.date;
    var employgid = detail.employee_gid;

    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };

    $scope.endloading = function() {
        $mdDialog.hide();
    };


    if (sessionStorage.getItem('ammorts') != null)
     {
        var ammort_data = JSON.parse(sessionStorage.getItem('ammorts'));
        $scope.approv = ammort_data.view;
        $scope.ammort_gid=ammort_data.ammort_all_data.ammort_gid;
     }
     else{
        alert("No Ammort Datas");
     }


     $scope.loading();
     var datas={params:{"action":"GET","type":"AMMORT_HEADER_DETAIL","filter":{"Ammort_Gid":$scope.ammort_gid}}};
     var ammort = servicesummary.get_ammort_summary(datas);
     ammort.then(function(result) {
             var res = result.data;

             if(result.data.MESSAGE=="ERROR_OCCURED"){
                alert(JSON.stringify(result.data.DATA));
                $scope.ammort_summary=[];
                $scope.ammort_summary_copy=[];
            }
             $scope.ammort_summary=res[0];
             $scope.ammort_summary_copy=res[0];
             console.log($scope.ammort_summary);
             $scope.ammort_code=$scope.ammort_summary.ammort_code;
             $scope.ammort_gid=$scope.ammort_summary.ammort_gid;
             $scope.ammort_amount=$scope.ammort_summary.ammort_amount;
             $scope.from_date=$filter('date')($scope.ammort_summary.ammort_fromdate, "dd-MMM-yyyy");
             $scope.to_date=$filter('date')($scope.ammort_summary.ammort_todate, "dd-MMM-yyyy");
             $scope.ammort_detail=JSON.parse($scope.ammort_summary.ammort_detail);
             }, function(err) {
              alert("No Data");
     }).finally($scope.endloading);


     $scope.loading();
     var datas={params:{"action":"GET","type":"AMMORT_CCBS_DETAIL","filter":{"Ammort_Gid":$scope.ammort_gid}}};

     var ammort_ccbs = servicesummary.get_ammort_summary(datas);
     ammort_ccbs.then(function(result) {

            if(result.data.MESSAGE=="ERROR_OCCURED"){
                alert(JSON.stringify(result.data.DATA));
                $scope.ammort_ccbs_data=[];
            }
             var res = result.data;
             $scope.ammort_ccbs_data=res;
             console.log($scope.ammort_ccbs_data);
             }, function(err) {
              alert("No Data");
     }).finally($scope.endloading);


    $scope.filtersearch = function() {
            $scope.ammort_summary = $filter('filter')($scope.ammort_summary_copy, {
                "ammort_code": $scope.ammort_code,
            });
    }


    $scope.updateSelection = function(position,ammort) {
        checked_value=ammort.ammortdetails_hold;
        if(checked_value=="Y"){$scope.isHold="N"}
        else if(checked_value=="N"){$scope.isHold="Y"}

        var datas={params:{"action":"UPDATE","type":"AMMORT_HOLD_UPDATE",
        "filter":{"AmmortDetail_Gid":ammort.ammortdetail_gid,"AmmortDetails_Hold":$scope.isHold}}};
        $scope.loading();
        var ammort = servicesummary.set_schedule_ammort(datas);
        ammort.then(function(result) {
            var res = result.data;
            if(res=="SUCCESS"){
               alert("Succesfully Updated...");
               $window.location.href = "AP_Ammort_Edit/";
            }

         }, function(err) {
           alert(res);
        }).finally($scope.endloading);
    }




}]);
app.service("servicesummary", function ($http) {

    this.get_ammort_summary=function(data){
        var response=$http.post(Appname+"/get_ammort/",data);
        return response;
    }

     this.set_schedule_ammort=function(datas){
        var response=$http.post(Appname+"/set_ammort/",datas);
        return response;
    }



});








</script>
{% endblock %}