{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}  Onward Invoice {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}

<div class="maincontent">
    <div ng-app="makersummary" ng-controller="ctrlsummary" class="container container1" ng-cloak>
        <form name="invoice_form" novalidate>
            <div class="row">
                <div class="row-header col-lg-12 col-sm-12">
                    <h4>Onward Invoice</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <md-input-container md-no-float="" class="md-block left">
                                <input type="text" ng-model="header_code" placeholder="Search By Invoice Header"
                                       ng-change="filtersearch()"/>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           md-progress="deferred">
                        <thead class="header">
                        <tr>
                            <th>S NO</th>
                            <th>Employee Name</th>
                            <th>Supplier Name</th>
                            <th>Invoice Type</th>
                            <th>Invoice Number</th>
                            <th>Invoice Header Amount</th>
                            <th>Invoice Header Status</th>
                            <th>Invoice Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="onward in onward_data.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:search:strict"
                            align="center">
                            <td>
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td>{{onward.employee_name}}</td>
                            <td>{{onward.supplier_branchname}}</td>
                            <td>{{onward.invoiceheader_invoicetype}}</td>
                            <td>{{onward.invoiceheader_invoiceno}}</td>
                            <td>{{onward.invoiceheader_amount}}</td>
                            <td>{{onward.invoiceheader_status}}</td>
                            <td>{{onward.invoiceheader_invoicedate |date:'dd-MMM-yyyy'}}</td>
                            <td align="center">
                                <md-checkbox ng-model="onward.checked" ng-click="updateSelection($index,onward_data)"
                                             type="checkbox"></md-checkbox>

                                <!--                                <md-input-container class="md-block">-->
                                <!--                                    <md-radio-group layout="row" ng-change="check_radio($inedx)"-->
                                <!--                                                    ng-model="ticketheader_status">-->
                                <!--                                        <md-radio-button value="$index"></md-radio-button>-->
                                <!--                                        </md-radio-button>-->
                                <!--                                    </md-radio-group>-->
                                <!--                                </md-input-container>-->

                            </td>
                        </tr>
                        <tr ng-show="onward_data.length ==  0">
                            <td class="warning" colspan="12">
                                No Records Found.
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul uib-pagination total-items="onward_data.length" ng-model="currentPage"
                                    max-size="maxSize"
                                    class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                            </td>
                            <td colspan="2">
                                Total Count:{{onward_data.length}}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <md-input-container class="md-block inputcontainer">
                            <label>Sale Reason</label>
                            <input class="textboxline" maxlength="60"
                                   placeholder="Comments for Sale Reason"
                                   ng-model="comments" required/>
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-autocomplete
                                md-floating-label="Choose Customer"
                                md-clear-button="true"
                                md-input-maxlength=126
                                md-item-text="itemc.customer_name"
                                md-items="itemc in querySearch(searchTe)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchTe"
                                md-selected-item="selectedcust"
                                ng-required="true"
                                md-selected-item-change="selectCustomer(itemc.customer_gid)"
                                placeholder="Customer">
                            <md-item-template>
                                <span md-highlight-text="searchTe"> {{itemc.customer_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Customer matching "{{searchTe}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2" style="margin-top:-10px;">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-click="creat_customer()">
                            <md-icon>add</md-icon>
                            <md-tooltip>Create Customer</md-tooltip>
                        </md-button>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Sale Date</label>
                            <md-datepicker md-hide-icons="calendar" md-max-date="maxDate"
                                           md-min-date="minDate" ng-change="" md-open-on-focus ng-required="true"
                                           ng-model="sale_date" formatDate></md-datepicker>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <md-button class="btn btn-info custbutton" ng-click="Save_Data()"
                               ng-disabled="invoice_form.$invalid">Submit
                        <md-tooltip>Submit</md-tooltip>
                    </md-button>
                </div>
            </div>
        </form>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="customer_crt" role="dialog"
             style="height:auto;width:100%" tabindex="-1">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <form name="customer_form" novalidate>
                    <div class="modal-content">
                        <div class="header">
                            <div class="modal-header popup-header">
                                <h5 class="modal-title" id="exampleModalLabel1">
                                    <strong>Customer Create</strong>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div class="body">
                            <div class="modal-body popup-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <md-input-container class="md-block inputcontainer">
                                                <label>Customer Name</label>
                                                <input ng-model="customer_name" ng-blur="generate_code()"
                                                       placeholder="Name Of the Customer"
                                                       ng-pattern="/^([A-Za-z0-9 @&(\[\])-/]){3,}]*$/"
                                                       ng-required="true"
                                                       type="text"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                            <md-input-container class="md-block inputcontainer">
                                                <label>Customer GST No</label>
                                                <input ng-model="customer_gst" ng-change="" placeholder="Customer GST"
                                                       ng-required="true"
                                                       type="text"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2">
                                            <md-input-container class="md-block inputcontainer">
                                                <label>Customer Code </label>
                                                <input ng-model="customer_code" disabled type="text"
                                                       ng-required="true"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                            <md-input-container class="md-block inputcontainer">
                                                <label>Contact NO </label>
                                                <input ng-model="customer_cell_no" ng-change="" maxlength="10"
                                                       numbers-only
                                                       placeholder="Contact No " ng-required="true"
                                                       type="text"/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <md-input-container class="md-block inputcontainer">
                                                <label>Customer_Type </label>
                                                <input ng-model="customer_type" disabled type="text"
                                                       ng-required="true"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                            <md-input-container class="md-block inputcontainer">
                                                <label>Customer_Address</label>
                                                <input ng-model="customer_location" ng-change=""
                                                       placeholder="Customer_Address" ng-required="true"
                                                       type="text"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-3" style="margin-top:12px">
                                            <md-autocomplete
                                                    md-clear-button="true"
                                                    md-input-maxlength=126
                                                    md-item-text="item.state_name"
                                                    md-items="item in querySearchstate(searchstate)"
                                                    md-min-length=0
                                                    md-no-cache="true"
                                                    md-search-text="searchstate"
                                                    md-selected-item="selectedstate"
                                                    ng-required="true"
                                                    md-selected-item-change="selectchange(item)"
                                                    placeholder="State">
                                                <md-item-template>
                                                    <span md-highlight-text="searchTe"> {{item.state_name}} </span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No State matching "{{searchTe}}" were found.
                                                </md-not-found>
                                            </md-autocomplete>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <md-button class="btn btn-info custbutton" ng-click="Save_customer()"
                                           ng-disabled="customer_form.$invalid">Submit
                                    <md-tooltip>Submit</md-tooltip>
                                </md-button>
                                <md-button class="md-raised" data-dismiss="modal" ng-click="clear_all()">Back
                                    <md-tooltip>close</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}

<script>
    var app=angular.module('makersummary',['ngMaterial','ui.bootstrap','AppCommon']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

});
app.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
   });

app.controller('ctrlsummary', ['$scope', '$filter', '$mdDateLocale', 'servicesummary', '$window', '$mdDialog', '$element',
    function($scope, $filter, $mdDateLocale, servicesummary, $window, $mdDialog, $element) {

        $element.find('input').on('keydown', function(ev) {
            ev.stopPropagation();
        });

        $scope.currentPage = 1;
        $scope.maxSize = 3;
        $scope.itemsPerPage = 10;
        $scope.minDate=new Date();
        $scope.customer_type ="ADHOC";
        $scope.onward_data=[];
        $scope.customer_gid=0;

        var detail = JSON.parse(sessionStorage.getItem('today'));
        var td = detail.date;
        var employgid = detail.employee_gid;
        debugger;
        var Entity_gid=detail.entity_gid;

        $scope.loading = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.body),
                clickOutsideToClose: false
            });
        };

        $scope.endloading = function() {
            $mdDialog.hide();
        };

        $scope.get_drop_state = [];

        var data = {
            "Params": {
                "FILTER": {
                    "Table_name": "state",
                    "Search_gid":"0",
                    "Search_name":"",
                },
                "CLASSIFICATION": {
                    "Entity_gid":Entity_gid,
                }
            }
        };

        var get_drop_state = servicesummary.drop_state(data);
        get_drop_state.then(function(result) {
            debugger;
            $scope.main = result.data.DATA;
            $scope.get_drop_state = $scope.main;
            console.log($scope.get_drop_state);

        });
        $scope.querySearchstate = gotostate;
            function gotostate(query) {
            var result = $filter('filter')($scope.get_drop_state, {
                'state_name': query
            });
            return result;
        }




        $scope.updateSelection = function(position,onward_data) {
         debugger;
            angular.forEach(onward_data, function(subscription, index) {
             if (position != index)
            subscription.checked = false;
            });


         }



        $scope.loading();
        var datas={params:{"action":"INVOICE_ONWARD_INVOICE","ponumber":0,"supplier_gid":1,"inwarddetail_gid":1,"inwardheader_gid":1,
                            "status":"PAID","entity_state_gid":1,"limit":1}};
        var asset = servicesummary.get_onward_details(datas);
            asset.then(function(result) {
            debugger;
                 var res = result.data;
                 if(result.data.MESSAGE=="ERROR_OCCURED"){
                        alert(JSON.stringify(result.data.DATA));
                        $scope.onward_data=[];
                        $scope.copy_onward_data=[];
                    }
                 $scope.onward_data=JSON.parse(res);
                 $scope.copy_onward_data=JSON.parse(res);
                 for(i=0;i<$scope.onward_data.length;i++){

<!--                 $scope.onward_date[i].checked = false;-->
                    $scope.onward_data[i]["checked"]=false;
                 }
                 console.log($scope.onward_data);

                 }, function(err) {
                  alert(res);
            }).finally($scope.endloading);


        $scope.filtersearch = function() {
            $scope.onward_data = $filter('filter')($scope.copy_onward_data, {
                "invoiceheader_crno": $scope.header_code,
            });
        }

        var get_cust = servicesummary.drop_cust($scope.entity_gid)
            get_cust.then(function(result) {
            $scope.main = result.data.DATA;
            $scope.get_drop_cust = $scope.main;
            console.log($scope.get_drop_cust);

        });



        $scope.querySearch = gotoexe;
        function gotoexe(query) {
            var result = $filter('filter')($scope.get_drop_cust, {
                'customer_name': query
            });
            return result;
        }



        $scope.creat_customer = function(){
            modalshow('customer_crt');
        }


        $scope.generate_code = function(){
            var generate_custcode = {
            "Params": {
                    "DETAILS": {
                         "Unique_Name":"CUSTOMER_GROUP",
                         "Unique_Value":$scope.customer_name,
                    },
                    "CLASSIFICATION": {
                            "Entity_Gid": $scope.entity_gid,
                    }
                }
            };

            var generate_data = servicesummary.generate_codecust(generate_custcode);
            generate_data.then(function(result) {
                if( result.data.MESSAGE != "ERROR_OCCURED"){
                    $scope.main = result.data.DATA;
                    $scope.customer_code = $scope.main[0];
                }
                else{
                    $scope.customer_name = "";
                    error_toast(not_enter_name,time_toast);
                    return false;
                }
            });
        }


       $scope.querySearchstate = gotostate;
        function gotostate(query) {
            var result = $filter('filter')($scope.get_drop_state, {
                'state_name': query
            });
            return result;
        }


        $scope.selectdate = function() {
            $scope.assetdetails_capdate = $filter('date')(new Date($scope.assetdetails_cpdate),'yyyy-MM-dd');
        }


        $scope.clear_all=function(){
            $scope.customer_name="";
            $scope.customer_gst="";
            $scope.customer_cell_no="";
            $scope.customer_location="";
            $scope.customer_code="";
            $scope.searchstate="";
            $scope.customer_form.$setUntouched();

        };

        $scope.selectCustomer=function(customer_gid){
            $scope.customer_gid=customer_gid;

        };

         $scope.Save_Data=function(){

             for(i=0;i<$scope.onward_data.length;i++){
                if($scope.onward_data[i].checked==true){
                    $scope.invoiceheader_gid=$scope.onward_data[i].invoiceheader_gid;
                }
             }
             if($scope.invoiceheader_gid){
                 var sale_date;
                 sale_dates=$filter('date')($scope.sale_date, "yyyy-MM-dd");


                var datas={"params":{"action":"INSERT","type":"ONWARD_SALES","sub_type":"MAKER"},
                            "filter":{"INVOICE": {"SaleHeader_Gid": [$scope.invoiceheader_gid],"customergid":$scope.customer_gid,"invoicedate":sale_dates,"remark":$scope.comments}},
                            "status":{"Status":"APPROVED"}};

                var onward_data = servicesummary.set_onward_details(datas);
                    onward_data.then(function(result) {
                    debugger;
                        var res=result.data;
                        if (res== "SUCCESS") {
                            alert("Succesfully Inserted");
                            $window.location.href = "Onward_Invoice/";
                        } else {
                            alert(JSON.stringify(res));
                        }
                    }, function(err) {
                      alert('Data Not Inserted');
                    }).finally($scope.endloading);


            }
            else{
                alert("Select One Invoice Header!");
                }

         }



}]);
app.service("servicesummary", function ($http) {

   this.get_onward_details=function(data){
        var response=$http.post(Appname+"/get_onward_invoice/",data);
        return response;
    }

    this.set_onward_details=function(data){
        var response=$http.post(Appname+"/set_onward_invoice/",data);
        return response;
    }


    this.drop_cust = function(entity) {
        var response = $http.post(Appname + "/cust_data/", {
            params: {
               "Entity_Gid": 1,
            }
        });
        return response;
    }
    this.generate_codecust = function(generate_custcode) {
        var respons = $http.post(Appname + "/sale_make/", {
            params: {
               "Group": "FA_CUST_UNIQ",
               "Action": "UNIQUE",
               "Type": "CODE",
               "json": generate_custcode,
            }
        });
        return respons;
    }



    this.drop_state = function(data) {
        var response = $http.post(Appname + "/get_state_drop/", {
            params: {
               "Group": "COMMON_DROPDOWN",
               "json" : data,
            }
        });
        return response;
    }

    this.customer = function(customer_details,employgid) {
        var respons = $http.post(Appname + "/sale_make/", {
            params: {
               "Group": "FA_CUST",
               "Action": "INSERT",
               "Type": "FA_CUSTOMER",
               "Sub_Type": "ADHOC",
               "Employee_Gid": employgid,
               "json": customer_details,
            }
        });
        return respons;
    }


});

</script>
{% endblock %}