{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}Payment File{% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}

<div class="maincontent">
    <div ng-app="apppaymentprepare" ng-controller="ctrlpaymentprepare" class="container container1" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Payment File</h4>
            </div>
        </div>
        <div class="row">
            <form role="form" name="inwardsummary_valid">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer">
                                <label>PV No</label>
                                <input ng-model="Pvno" ng-change="ACselectchange(Pvno,Summarydate,supplier_gid,PVamt)"
                                       numbers-only maxlength="10"/>
                            </md-input-container>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer">
                                <label>Date</label>
                                <input ng-model="Summarydate"
                                       ng-change="ACselectchange(Pvno,Summarydate,supplier_gid,PVamt)" numbers-only
                                       maxlength="10"/>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <!--                        <div class="col-md-4 col-lg-4 col-sm-4">-->
                        <!--                            <md-input-container class="md-block inputcontainer">-->
                        <!--                                <label>Supplier Name</label>-->
                        <!--                                <md-select ng-model="supplier_gid"-->
                        <!--                                           ng-change="ACselectchange(Pvno,Summarydate,supplier_gid,PVamt)"-->
                        <!--                                           ng-disabled="disable" md-on-close="clearSearchTerm()"-->
                        <!--                                           data-md-container-class="selectdemoSelectHeader">-->
                        <!--                                    <md-select-header class="demo-select-header">-->
                        <!--                                        <input ng-model="searchTerm" type="search"-->
                        <!--                                               placeholder="Search for a Supplier Name.."-->
                        <!--                                               class="demo-header-searchbox md-text">-->
                        <!--                                    </md-select-header>-->
                        <!--                                    <md-optgroup label="Supplier Name">-->
                        <!--                                        <md-option ng-repeat="posupplier in invoicesupplier_list | filter:searchTerm"-->
                        <!--                                                   ng-click="supplier_click(posupplier.supplier_gid)"-->
                        <!--                                                   ng-selected="supplier_gid == posupplier.supplier_gid"-->
                        <!--                                                   ng-value="posupplier.supplier_gid">-->
                        <!--                                            {{posupplier.supplier_name}}-->
                        <!--                                        </md-option>-->
                        <!--                                    </md-optgroup>-->
                        <!--                                </md-select>-->
                        <!--                            </md-input-container>-->
                        <!--                        </div>-->
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer">
                                <label>PV Amount</label>
                                <input ng-model="PVamt" ng-change="ACselectchange(Pvno,Summarydate,supplier_gid,PVamt)"
                                       numbers-only maxlength="10"/>
                            </md-input-container>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <md-input-container class="md-block inputcontainer">
                                <label>Credit Days</label>
                                <input ng-model="invoiceamt"
                                       ng-change="ACselectchange(selectedtype,supplier_gid,invoicenum,invoiceamt,Summarydate)"
                                       numbers-only maxlength="10"/>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                    </div>
                </div>
            </form>
        </div>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                       md-progress="deferred">
                    <thead class="header">
                    <tr style="text-align:center">
                        <th>S.No</th>
                        <th>PV No</th>
                        <th>Payment</th>
                        <th>Supplier Branch Name</th>
                        <th>Employee Name</th>
                        <th>PV Date</th>
                        <th>PV Amount</th>
                        <th>Credit Days</th>
                        <th>Status</th>
                        <!--                        <th>Action</th>-->
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sum in payment_summary.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter :name">
                        <td class="text-center" ng-model="dept_name">
                            {{((currentPage-1)*itemsPerPage)+$index+1}}
                        </td>
                        <td><a href="">
                            {{sum.paymentheader_pvno}}</a>
                        </td>
                        <td>
                            {{sum.paymentheader_paymode}}
                        </td>
                        <td>{{sum.supplier_branchname}}</td>
                        <td>{{sum.employee_name}}</td>
                        <td>
                            {{sum.paymentheader_date}}
                        </td>
                        <td>{{sum.paymentheader_amount}}</td>
                        <td>{{sum.Credit_Days}}</td>
                        <td>{{sum.paymentheader_status}}</td>
                        <!--                        <td align="center"><label><input type="checkbox" ng-model="subscription.checked"-->
                        <!--                                                         ng-click="toggleCheck(sum)"-->
                        <!--                        ></label></td>-->

                        <td class="text-center" ng-click="Payment_Assign(sum)">
                            <a href=""><i class="material-icons"
                                          style="material-icons.line-height:3px">send</i></a>

                        </td>
                    </tr>
                    <tr ng-show="maker_summary.length ==  0">
                        <td class="warning" colspan="12">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11">
                            <ul uib-pagination total-items="payment_summary.length" ng-model="currentPage"
                                max-size="maxSize"
                                class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <!--            <div class="pull-right">-->
            <!--                <md-button type="submit" class="md-raised md-warn" id="btn_create"-->
            <!--                           ng-click="Payment_click()">-->
            <!--                    Prepare File-->
            <!--                </md-button>-->
            <!--            </div>-->
        </div>
        <!--<div class="form-group">-->
        <!--<label for="happy" class="col-sm-4 col-md-4 control-label text-right">Are you happy ?</label>-->
        <!--<div class="col-sm-7 col-md-7">-->
        <!--<div class="input-group">-->
        <!--<div id="radioBtn" class="btn-group">-->
        <!--<a class="btn btn-primary btn-sm active" data-toggle="happy" data-title="Y">YES</a>-->
        <!--<a class="btn btn-primary btn-sm notActive" data-toggle="happy" data-title="N">NO</a>-->
        <!--</div>-->
        <!--<input type="hidden" name="happy" id="happy">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="modal fade" id="mdl_neft" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title">
                            NEFT Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!--Leave details-->
                            <form name="myform">
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Beneficiary Name</label>
                                            <input type="text" ng-disabled="true"
                                                   ng-model="bankdetails.BENIFICIARY_NAME"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>IFSC Code</label>
                                            <input type="text" ng-disabled="true" ng-model="bankdetails.IFSC_code"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Account No</label>
                                            <input type="text" ng-disabled="true" ng-model="bankdetails.ACCno"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Amount</label>
                                            <input type="text" ng-disabled="true" ng-model="bankdetails.Amount"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <!--<div class="pull-right">-->
                                    <!--<md-button type="submit" class="md-raised md-warn" id="btn_create"-->
                                    <!--ng-click="Payment_download(bankdetails)">-->
                                    <!--DOWNLOAD-->
                                    <!--</md-button>-->
                                    <!--</div>-->
                                    <div class="pull-right">
                                        <md-button type="submit" class="md-raised md-warn" id="btn_create"
                                                   ng-click="Payment_mail(bankdetails)">
                                            SEND MAIL
                                        </md-button>
                                    </div>
                                </div>
                                <!--Present details-->
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="mdl_chq" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Courier Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!--Leave details-->
                            <form name="myform">
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Cheque No</label>
                                            <input type="text" no-special-char maxlength="6" ng-model="Chq_no"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Cheque Date</label>
                                            <md-datepicker ng-disabled="service_disable" md-hide-icons="calendar"
                                                           ng-model="Chq_date"
                                                           md-hide-icons="calendar" ng-click="date"
                                                           md-min-date="maxDate"
                                                           md-max-date="minDate" formatDate required></md-datepicker>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Courier Name</label>
                                            <md-select ng-model="courier" required>
                                                <md-option ng-value=""><em>--Select--</em></md-option>
                                                <md-option ng-repeat="cou in courier_dtl"
                                                           ng-click="producttype_click(pro.producttype_gid)"
                                                           ng-value="cou"
                                                >
                                                    {{ cou.courier_name }}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Date</label>
                                            <md-datepicker ng-disabled="service_disable" md-hide-icons="calendar"
                                                           ng-model="to_date"
                                                           md-hide-icons="calendar" ng-click="date"
                                                           md-min-date="maxDate"
                                                           md-max-date="minDate" formatDate required></md-datepicker>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>AWB No</label>
                                            <input type="text" no-special-char maxlength="16" ng-model="AWS_no"
                                                   required/>
                                        </md-input-container>
                                    </div>

                                </div>

                                <div class="col-xs-12">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Name</label>
                                            <input type="text" maxlength="128" ng-disabled="true"
                                                   ng-model="Address_data.name"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>To Address</label>
                                            <input type="text" maxlength="128" ng-model="Address_data.address"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>State</label>
                                            <input ng-model="Address_data.state_name" only-letters-input required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>District</label>
                                            <input ng-model="Address_data.district_name" only-letters-input required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">

                                        <md-input-container class="md-block inputcontainer">
                                            <label>City</label>
                                            <input ng-model="Address_data.City_Name" only-letters-input required/>

                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Pincode</label>
                                            <input ng-model="Address_data.address_pincode" numbers-only
                                                   ng-pattern="pincodevalidation"
                                                   maxlength="6" required/>
                                            <span ng-hide="true" ng-model="locpcodegid"></span>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="col-xs-12">

                                    <div class="pull-right">
                                        <md-button type="submit" class="md-raised md-warn" id="btn_create"
                                                   ng-click="SEND_COURIER()">
                                            SEND COURIER
                                        </md-button>
                                    </div>
                                </div>
                                <!--Present details-->
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

<style>
 .md-select-menu-container.md-active {
    z-index: 1060;
    }
    .md-autocomplete-suggestions-container{
   z-index:100000 !important;
  }
    .md-dialog-container{
    z-index:100000 !important;
    }





</style>
<script>
    var app=angular.module('apppaymentprepare',['ngMaterial','ui.bootstrap']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});

app.controller('ctrlpaymentprepare', ['$scope', '$filter', '$mdDateLocale', 'paymentprepare', '$window', '$mdDialog', '$element',
    function($scope, $filter, $mdDateLocale, paymentprepare, $window, $mdDialog, $element) {
        $scope.currentPage = 1;
        $scope.maxSize = 3;
        $scope.itemsPerPage = 10;
        $scope.airwayno = '';
        $scope.courier = '';
        $scope.Summarydate = '';
        $scope.status = '';
        $scope.maker_summary=[];

        $element.find('input').on('keydown', function(ev) {
            ev.stopPropagation();
        });

        $scope.loading = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.body),
                clickOutsideToClose: false
            });
        };

        function Address_get(addrsid, refname) {

            $scope.loading();
            var Address_get = paymentprepare.getaddress(addrsid)
            Address_get.then(function(result) {
                    $scope.Address_data = result.data[0];
                    $scope.Address_data.address = $scope.Address_data.address_1 + " " + $scope.Address_data.address_2 + " " + $scope.Address_data.address_3;

                    if (refname == 'EMPLOYEE_PAYMENT') {
                        $scope.Address_data.name = $scope.paymentdata.employee_name;
                    } else {
                        $scope.Address_data.name = $scope.paymentdata.supplier_name;
                    }

                    $scope.endloading();
                }),
                function() {
                    alert('no data');
                };
        }

        $scope.endloading = function() {
            $mdDialog.hide();
        };

        $scope.to_date = new Date();
        $scope.Chq_date = new Date();
        $mdDateLocale.formatDate = function(date) {
            return $filter('date')($scope.to_date, "dd-MMM-yyyy");
        };


        var courier = paymentprepare.getcourier_dtl()
        courier.then(function(result) {
                $scope.courier_dtl = result.data
                    //   alert(JSON.stringify(result.data))
            }),
            function() {
                alert('no data');
            };

<!--        var supplier = paymentprepare.getdropdown("supplier");-->
<!--        supplier.then(function(supplier) {-->
<!--            var supplier = JSON.parse(supplier.data);-->
<!--            $scope.invoicesupplier_list = supplier;-->

<!--        }, function() {-->
<!--            alert("Record Not Found");-->

<!--        });-->

        summary();

        function summary() {
            var paymentdtl = paymentprepare.getpaymentdtl();
            paymentdtl.then(function(result) {
                if(result.data.MESSAGE=="ERROR_OCCURED"){
                    alert(JSON.stringify(result.data.DATA));
                }
                    $scope.payment_summary = JSON.parse(result.data);
                    $scope.maintable = JSON.parse(result.data);
                    if(result.data.MESSAGE=="ERROR_OCCURED"){
                    alert(JSON.stringify(result.data.DATA));
                }


                },
                function(err) {
                    alert('No data!.');
                }).finally($scope.endloading);
        }

        $scope.payment_data = [];
        $scope.toggleCheck = function(value) {
            if ($scope.payment_data.indexOf(value) === -1) {
                $scope.payment_data.push(value);
            } else {
                $scope.payment_data.splice($scope.payment_data.indexOf(value), 1);
            }
        };

        $scope.ACselectchange = function(Pvno, Summarydate, supplier_gid, PVamt) {
            $scope.payment_summary = $filter('filter')($scope.maintable, {
                "paymentheader_pvno": Pvno,
                "supplier_gid": supplier_gid,
                "paymentheader_date": Summarydate,
                "paymentheader_amount": PVamt,
            }, );
        }

        $scope.paymentdetail = [];

        $scope.Payment_Assign = function(data) {
            $scope.paymentdata = data;
            $scope.PAYMENT = [];
            if (data.paymentheader_paymode == 'NEFT') {

                modalshow('mdl_neft');

                $scope.bankdetails = {
                    "BENIFICIARY_NAME": data.paymentheader_beneficiaryname,
                    "IFSC_code": data.paymentheader_IFSCcode,
                    "ACCno": data.paymentheader_accno,
                    "Amount": data.paymentheader_amount,
                    "paymentheader_gid": data.paymentheader_gid
                }

            } else {
                Address_get(data.addrs_gid, data.ref_name);
                modalshow('mdl_chq');
                $scope.pay_gidlocal = data.paymentheader_gid;
            }
        }

        $scope.SEND_COURIER = function() {
            var data_int = [{
                courier_gid: $scope.courier.courier_gid,
                Dispatch_date: $filter('date')($scope.to_date, "yyyy-MM-dd"),
                send_by: 1,
                awbno: $scope.AWS_no,
                dispatch_mode: "ROAD",
                dispatch_type: "doc",
                packets: 1,
                weight: 1,
                dispatch_to: $scope.Address_data.name,
                address: $scope.Address_data.address,
                city: $scope.Address_data.City_Name,
                state: $scope.Address_data.state_name,
                pincode: $scope.Address_data.address_pincode,
                remark: "",
                returned: "N",
                returned_on: "",
                returned_remark: "",
                pod: "",
                pod_image: "",
                isactive: "Y",
                isremoved: "N",
                dispatch_gid: 0,
                action: "Insert",
                type: "PAYMENT",
                in_out: "",
                status: ""
            }];

            payment_json = {
                PAYMENT: [{
                    "dispatch_gid": 0,
                    "paymentheader_gid": $scope.pay_gidlocal,
                    "chq_no": $scope.Chq_no,
                    "chqdate": $filter('date')($scope.Chq_date, "yyyy-MM-dd")
                }]
            }

            var txt;
            var r = confirm("Are You Sure, Want To Courier");
            if (r == true) {
                var save_dispatch = paymentprepare.setdispatch_dtl(data_int, payment_json);
                save_dispatch.then(function(result) {
                    alert(result.data);
                    summary();
                    modalhide('mdl_chq');
                })
            }
        }

        $scope.Payment_mail = function(data) {
            //alert(data.paymentheader_gid)
            $scope.paymentdetail = [{
                "Payment_Header_Gid": data.paymentheader_gid,
            }];

            var status_json = {
                "STATUS": $scope.paymentdetail
            }
            data = {
                Amount: data.Amount,
                ACCno: data.ACCno,
                IFSC_code: data.IFSC_code,
                BENIFICIARY_NAME: data.BENIFICIARY_NAME

            }

            var txt;
            var r = confirm("Are You Sure, Want To Send A Mail");
            if (r == true) {
                $scope.loading();
              //  var download = paymentprepare.getexcel(data)
              //  download.then(function(result) {
                  //  if (result.data.MESSAGE == "SUCCESS") {
                        var setpayment = paymentprepare.setpayment(status_json, "STATUS");
                        setpayment.then(function(result) {
                            alert(result.data);

                            modalhide('mdl_neft');
                            summary();
                            $scope.endloading();
                        })
                //    }
              //  });
            }
        }

        $scope.Payment_click_bk = function() {

            angular.forEach($scope.payment_data, function(value, key) {
                $scope.paymentdetail.push({
                    "Payment_Header_Gid": value.paymentheader_gid,

                })
            });

            var status_json = {
                "STATUS": $scope.paymentdetail
            }

            var setpayment = paymentprepare.setpayment(status_json, "PAYEMENT_FILE");
            setpayment.then(function(result) {
                alert(result.data);
                $scope.totalamount = 0;
                $scope.paymentdetail = [];
                $scope.verify = [];
                summary();
            })
        }
    }
]);
app.service("paymentprepare", function ($http) {

   this.getdropdown = function (tablename) {
        var responsee = $http.post(Appname+"/Dropdown_details/",{params:{"tablename":tablename,"gid":0,"name":''}});
        return responsee;
    }
    this.getpaymentdtl = function (json) {
        var response=$http.post(Appname+"/Paymmentdtl_get/",{params:{"group":"PAYMENT","type":"PAYMENT_FILE","pay_json":{"Payment_Status":"NEW"}}});
        return response;
    }
        this.setpayment = function (status,type) {
          var response = $http.post(Appname+"/APpayment_set/",{params:{"action":"Update","type":type,"header_json":{},"detail_json":{},"other_json":{},"status_json":status}})
          return response;
    }

       this.getcourier_dtl = function () {
        var response = $http.post(Appname+"/Courier_dtl/", { params: { "courier_gid": 0, "courier_name":''} });
        return response;
    }

     this.setdispatch_dtl = function(data,paymentdata){
        var response = $http.post(Appname+"/Dispatch_Payment/",{'dispatch_data':data,'payment_dtl':paymentdata});
        return response;
        }

     this.getaddress = function(lcnt_gid){
        var response = $http.post(Appname+"/Get_address_ap/",{params:{'Address_gid':lcnt_gid}});
        return response;
        }

          this.getexcel = function(data){
        var response = $http.post(Appname+"/APNeftExcel_downld/",{params:data});
         return response;
        }
});









</script>
{% endblock %}

