{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Reject Summary {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="makersummary" ng-controller="ctrlsummary" class="container container1" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Reject Summary</h4>
            </div>
        </div>
        <div class="row">
            <form role="form" name="inwardsummary_valid">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>CR No</label>
                                <input ng-model="invoiceheader_crno"
                                       ng-change="ACselectchange(supplier_name,invoicenum,invoiceamt,from_date,invoiceheader_crno)"/>
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Invoice Type</label>
                                <md-select ng-model="selectedtype" multiple="">
                                    <md-optgroup label="Invocie Types">
                                        <md-option ng-value="invoice.metadata_value"
                                                   ng-repeat="invoice in Invoice_Types"
                                        >
                                            {{invoice.metadata_value}}
                                        </md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <md-input-container class="md-block inputcontainer" ng-hide="hide">
                                <label> Supplier Name</label>
                                <input type="text" ng-model="supplier_name"
                                       ng-change="ACselectchange(supplier_name,invoicenum,invoiceamt,from_date,crno)"
                                       maxlength="16">
                            </md-input-container>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <md-autocomplete
                                    ng-disabled="ECFcheckboxModel.value"
                                    md-clear-button="true" md-floating-label="Branch"
                                    md-input-maxlength=126
                                    md-item-text="item.branch_detail"
                                    md-items="item in get_branch(searchbrancheName)"
                                    md-selected-item-change="branchNameChanged(item)"
                                    md-min-length=0 md-search-text="searchbrancheName"
                                    ng-model="itemss" md-no-cache="true" size="5"
                                    md-selected-item="selected_branch">
                                <md-item-template>
                                    <span md-highlight-text="searchbrancheName"> {{item.branch_detail}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No Branch Name matching "{{search Branch Name}}"
                                    were
                                    found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Invoice Number</label>
                                <input ng-model="invoicenum"
                                       ng-change="ACselectchange(supplier_name,invoicenum,invoiceamt,from_date,crno)"
                                />
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Invoice Amount</label>
                                <input ng-model="invoiceamt"
                                       ng-change="ACselectchange(supplier_name,invoicenum,invoiceamt,from_date,crno)"
                                       numbers-only maxlength="10"/>
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>From Date</label>
                                <md-datepicker md-hide-icons="calendar"
                                               ng-model="from_date"
                                               md-hide-icons="calendar"
                                               ng-change="ACselectchange(supplier_name,invoicenum,invoiceamt,from_date,crno)"
                                               md-min-date="maxDate"
                                               md-max-date="minDate" formatDate></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <md-input-container class="md-block inputcontainer">
                                <label> To Date</label>
                                <md-datepicker md-hide-icons="calendar"
                                               ng-model="to_date"
                                               md-hide-icons="calendar"
                                               ng-change="ACselectchange(supplier_name,invoicenum,invoiceamt,from_date,crno)"
                                               md-min-date="maxDate"
                                               md-max-date="minDate" formatDate></md-datepicker>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-md-9"></div>
                    <!--                    <div class="col-md-1">-->
                    <!--                        <md-button class="md-fab md-mini md-primary custbutton"-->
                    <!--                                   href="get_Accounting_Entry_Data?action=GET&type=AP_INVOICEHEADER_GET&invoiceheader_crno={{invoiceheader_crno}}&selectedtype={{selectedtype}}&status={{status}}&supplier_name={{supplier_name}}&branch_gid={{branch_gid}}&invoicenum={{invoicenum}}&invoiceamt={{invoiceamt}}&from_date={{from_date}}&to_date={{to_date}}">-->
                    <!--                            <md-icon>get_app</md-icon>-->
                    <!--                            <md-tooltip>Download XL</md-tooltip>-->
                    <!--                        </md-button>-->
                    <!--                    </div>-->
                    <div class="col-md-1">
                        <md-button class="md-fab md-mini md-primary custbutton"
                                   ng-click="find_maker_summary()">
                            <md-icon>search</md-icon>
                            <md-tooltip>Search</md-tooltip>
                        </md-button>
                    </div>
                    <div class="col-md-1">
                        <md-button class="md-fab md-mini md-warn"
                                   ng-click="clear_seach()">
                            <md-icon>search_off</md-icon>
                            <md-tooltip>Clear Search</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                       md-progress="deferred">
                    <thead class="header">
                    <tr style="text-align:center">
                        <th>S.No</th>
                        <th>CR No</th>
                        <th>Purpose</th>
                        <th>Invoice Type</th>
                        <th>Supplier Name</th>
                        <th>Invoice No</th>
                        <th>Invoice Date</th>
                        <th>Invoice Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sum in maker_summary">
                        <td class="text-center" ng-model="dept_name">
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td ng-click="checker_page(sum)"><a href="">
                            {{sum.invoiceheader_crno}}</a>
                        </td>
                        <td> {{sum.invoiceheader_remarks}}</td>
                        <td> {{sum.invoiceheader_invoicetype}}</td>
                        <td> {{sum.supplier_branchname}}</td>
                        <td>{{sum.invoiceheader_invoiceno}}</td>
                        <td>{{sum.invoiceheader_invoicedate_full | date:'dd-MMM-yyyy'}}</td>
                        <td align="right">{{sum.invoiceheader_amount}}</td>
                        <td>{{sum.invoiceheader_status}}</td>
                        <td class="text-center" ng-click="dispatch(sum)">
                            <a href=""><i class="material-icons"
                                          style="material-icons.line-height:3px">send</i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-show="maker_summary.length ==  0">
                        <td class="warning" colspan="13">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9">
                            <ul uib-pagination total-items="Total_Row" ng-model="currentPage"
                                max-size="maxSize" ng-change="pageChanged()"
                                class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                        </td>
                        <td colspan="2">
                            <strong ng-hide="!total_row_execute">Total Count:{{Total_Row}}</strong>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal fade" id="view_courier" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Courier Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!--Leave details-->
                            <form name="courier_form" novalidate>
                                <div class="col-xs-12">
                                    <div class="col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label> Type</label>
                                            <md-select ng-model="channel_value" ng-required="true">
                                                <md-option ng-repeat="x in channel"
                                                           ng-value="x.metadata_value"
                                                           ng-click="channel_click(x.metadata_value,x.metadata_gid)">{{
                                                    x.metadata_value }}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Date</label>
                                            <md-datepicker md-hide-icons="calendar"
                                                           ng-model="courier_date"
                                                           md-hide-icons="calendar" ng-click="date"
                                                           md-min-date="maxDate"
                                                           md-max-date="minDate" formatDate required></md-datepicker>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12" ng-hide="show_status=='D'">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>AWB No</label>
                                            <input type="text" no-special-char maxlength="16" ng-model="AWS_no"
                                                   required/>
                                        </md-input-container>
                                    </div>

                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Name</label>
                                            <input type="text" maxlength="128" ng-disabled="true"
                                                   ng-model="employee_name_and_code"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12" ng-hide="show_status=='D'">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>To Address</label>
                                            <input type="text" maxlength="128" ng-model="Address_data.address"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12" ng-hide="show_status=='D'">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>State</label>
                                            <input ng-model="Address_data.state_name" only-letters-input required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>District</label>
                                            <input ng-model="Address_data.district_name" only-letters-input required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12" ng-hide="show_status=='D'">
                                    <div class="col-lg-6 col-sm-6 col-md-6">

                                        <md-input-container class="md-block inputcontainer">
                                            <label>City</label>
                                            <input ng-model="Address_data.City_Name" only-letters-input required/>

                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Pincode</label>
                                            <input ng-model="Address_data.address_pincode" numbers-only
                                                   ng-pattern="pincodevalidation"
                                                   maxlength="6" required/>
                                            <span ng-hide="true" ng-model="locpcodegid"></span>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2">
                                        <md-button type="submit" class="md-raised md-warn"
                                                   id="btn_create"
                                                   ng-click="send_courier()">
                                            SEND COURIER
                                        </md-button>
                                    </div>
                                    <div class="col-md-1">
                                        <md-button class="md-raised" value="close" data-dismiss="modal"
                                                   aria-label="Close">Cancel
                                        </md-button>
                                    </div>
                                </div>
                                <!--                                <pre>{{Address_data |json}}</pre>-->
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="view_pod" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true" enctype="multipart/form-data">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title">
                            Courier Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>POD Date</label>
                                        <md-datepicker ng-disabled="true" md-hide-icons="calendar"
                                                       ng-model="pod_data.dispatch_date" md-min-date="maxDate"
                                                       md-max-date="minDate"
                                                       md-hide-icons="calendar" ng-click="date" formatDate
                                                       required></md-datepicker>
                                    </md-input-container>
                                </div>
                                <div class="col-md-6">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>Dispatched To</label>
                                        <input type="text" ng-model="pod_data.dispatch_to" ng-disabled="true" required/>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>AWB No</label>
                                        <input type="text" ng-model="pod_data.dispatch_awbno" ng-disabled="true"
                                               required/>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <label>POD Image</label>
                                    <input type="file" fileinput="file" filepreview="filepreview" file-model="files"
                                           id="file" multiple/>
                                </div>

                                <!--                                <div class="col-md-3" style="margin-top: 20px;">-->
                                <!--                                    <input class="ng-isolate-scope" file-model="files"-->
                                <!--                                           fileinput="file" id="file" multiple type="file"-->
                                <!--                                           onchange="angular.element(this).scope().imageUpload(event)"/>-->
                                <!--                                </div>-->


                                <div class="col-xs-12">
                                    <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview"/></div>
                                <!--Present details-->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info custbutton" ng-click="pod_submit()">
                            Submit
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endverbatim %}
<style>
 .md-select-menu-container.md-active {
    z-index: 1060;
    }
    .md-autocomplete-suggestions-container{
   z-index:100000 !important;
  }
    .md-dialog-container{
    z-index:100000 !important;
    }











</style>

<script>
    var app=angular.module('makersummary',['ngMaterial','ui.bootstrap','AppCommon']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

});

app.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
});

app.directive('fileModel', ['$parse', function ($parse) {
        return {
           restrict: 'A',
           link: function(scope, element, attrs) {
              element.bind('change', function(){
              $parse(attrs.fileModel).assign(scope,element[0].files)
                 scope.$apply();
              });
           }
        };
     }]);


 app.directive("fileinput", [function() {
    return {
      scope: {
        fileinput: "=",
        filepreview: "="
      },
      link: function(scope, element, attributes) {
        element.bind("change", function(changeEvent) {
          scope.fileinput = changeEvent.target.files[0];
          var reader = new FileReader();
          reader.onload = function(loadEvent) {
            scope.$apply(function() {
              scope.filepreview = loadEvent.target.result;
            });
          }
          reader.readAsDataURL(scope.fileinput);
        });
      }
    }
  }]);

app.controller('ctrlsummary', ['$scope', '$filter', '$mdDateLocale', 'rejectsummary', '$window', '$mdDialog', '$element','$http','$q','$sce',
    function($scope, $filter, $mdDateLocale, rejectsummary, $window, $mdDialog, $element,$http,$q,$sce) {
        $scope.currentPage = 1;
        $scope.maxSize = 3;
        $scope.itemsPerPage = 10;

        $scope.selectedtype=[];
        $scope.maker_summary=[];

        $scope.status = ["Reject,DISPATCHED"];

        $scope.ls_followup_date = new Date();

        $element.find('input').on('keydown', function(ev) {
            ev.stopPropagation();
        });

        $scope.minDate = new Date(
            $scope.ls_followup_date.getFullYear(),
            $scope.ls_followup_date.getMonth(),
            $scope.ls_followup_date.getDate()
        );


        $scope.loading = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.body),
                clickOutsideToClose: false
            });
        };

        $scope.loading_popup = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.getElementById('view_courier')),
                clickOutsideToClose: false
            });
        };

        $scope.endloading = function() {
            $mdDialog.hide();
        };

        $scope.channelddl = [{
            metadata_value: "PO ",
        }, {
            metadata_value: "Non PO"
        }]

        var channel = rejectsummary.ddl('invoiceheader', 'invoicetype');
        channel.then(function(result) {
                var channel_data = JSON.parse(result.data)
            },
            function(err) {
                alert('No data!.');
            }).finally();

        var supplier = rejectsummary.getdropdown("supplier");
        supplier.then(function(supplier) {
            var supplier = JSON.parse(supplier.data);
            $scope.invoicesupplier_list = supplier;

        }, function() {
            alert("Record Not Found");

        });

        function amount_toinr(amount) {
            var x = amount;
            x = x.toString();
            var afterPoint = '';
            if (x.indexOf('.') > 0)
                afterPoint = x.substring(x.indexOf('.'), x.length);
            x = Math.floor(x);
            x = x.toString();
            var lastThree = x.substring(x.length - 3);
            var otherNumbers = x.substring(0, x.length - 3);
            if (otherNumbers != '')
                lastThree = ',' + lastThree;
            var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree + afterPoint;
            return res;
        }

        summary();
        $scope.total_row_execute=0;
        $scope.pageChanged = function(){
             if($scope.maker_summary.length==0){
                $scope.currentPage=1;
             }
             if($scope.total_row_execute==0){
                $scope.total_row_execute=1;
                $scope.get_total_row_maker_summary();
             }
             summary();
        }

        $scope.find_maker_summary=function(){
            $scope.currentPage=1;
            $scope.Total_Row=0;
            $scope.total_row_execute=0;
            summary();
        }
        $scope.selected_branch="";
        function summary() {
            $scope.branch_gid="";
            if($scope.selected_branch!=undefined){
                $scope.branch_gid=$scope.selected_branch.branch_gid;
            }
            $scope.send_invoice_type=$scope.selectedtype.join();
            $scope.from_date=$filter('date')($scope.from_date,"yyyy-MM-dd");
            $scope.to_date=$filter('date')($scope.to_date,"yyyy-MM-dd");

            var datas={params:{"action":"GET","type":"INVOICE_MAKER_SUMMARY",
            "filter":{"InvoiceHeader_Status":"Reject,DISPATCHED","InvoiceHeader_Gid":"","InvoiceHeader_InvoiceType":$scope.send_invoice_type,
            "InvoiceHeader_InvoiceDate":"","fromdate":$scope.from_date,"todate":$scope.to_date,"invoiceheader_branchgid":$scope.branch_gid,
            "InvoiceHeader_CRNo":$scope.invoiceheader_crno,
            "InvoiceHeader_InvoiceNo":$scope.invoicenum,"InvoiceHeader_Amount":$scope.invoiceamt,"Supplier_Name":$scope.supplier_name,
            "Page_Index":$scope.currentPage-1,"Page_Size":$scope.itemsPerPage}}};

            var summary = rejectsummary.get_rejection_summary(datas);
            summary.then(function(result) {

                    $scope.maker_summary = result.data;
                    $scope.maintable = result.data;
                    console.log($scope.maker_summary);

                    if(result.data.MESSAGE=="ERROR_OCCURED"){
                        alert(JSON.stringify(result.data.DATA));
                        $scope.maker_summary=[];
                        $scope.maintable=[];
                    }
                    if($scope.total_row_execute==0){
                         if($scope.maker_summary.length==10){
                            $scope.Total_Row=($scope.maker_summary.length)+($scope.currentPage*10);
                        }
                        else{
                            $scope.Total_Row=$scope.maker_summary.length;
                        }
                    }
                    angular.forEach($scope.maker_summary, function(value, key) {
                        var inramount = amount_toinr($scope.maker_summary[key].invoiceheader_amount)
                        $scope.maker_summary[key].invoiceheader_amount = inramount
                        if (value.invoiceheader_invoicetype == "PO") {
                            $scope.maker_summary[key].invoiceheader_invoicetype = "PO "
                        }
                    })
                },
                function(err) {
                    alert('No data!.');
                }).finally($scope.endloading);
        }

        $scope.get_total_row_maker_summary=function(){

            $scope.branch_gid="";
            if($scope.selected_branch!=undefined){
                $scope.branch_gid=$scope.selected_branch.branch_gid;
            }
            $scope.send_invoice_type=$scope.selectedtype.join();
            $scope.from_date=$filter('date')($scope.from_date,"yyyy-MM-dd");
            $scope.to_date=$filter('date')($scope.to_date,"yyyy-MM-dd");

            var datas={params:{"action":"GET","type":"INVOICE_MAKER_SUMMARY_COUNT",
            "filter":{"InvoiceHeader_Status":"Reject,DISPATCHED","InvoiceHeader_Gid":"","InvoiceHeader_InvoiceType":$scope.send_invoice_type,
            "InvoiceHeader_InvoiceDate":"","fromdate":$scope.from_date,"todate":$scope.to_date,"invoiceheader_branchgid":$scope.branch_gid,
            "InvoiceHeader_CRNo":$scope.invoiceheader_crno,
            "InvoiceHeader_InvoiceNo":$scope.invoicenum,"InvoiceHeader_Amount":$scope.invoiceamt,"Supplier_Name":$scope.supplier_name,
            "Page_Index":0,"Page_Size":$scope.itemsPerPage}}};

            var summary = rejectsummary.get_rejection_summary(datas);
            summary.then(function(result) {
                    $scope.maker_summary_count = result.data;
                    $scope.maintable = result.data;
                    console.log($scope.maker_summary);

                    if(result.data.MESSAGE=="ERROR_OCCURED"){
                        alert(JSON.stringify(result.data.DATA));
                        $scope.maker_summary=[];
                        $scope.maintable=[];
                    }
                    $scope.Total_Row=$scope.maker_summary_count[0].count;
                },
                function(err) {
                    alert('No data!.');
                }).finally($scope.endloading);


        }

        $scope.ACselectchange = function() {
            debugger;
            $scope.ddMMyyyy = $filter('date')($scope.from_date, 'dd-MM-yyyy');
            $scope.maker_summary = $filter('filter')($scope.maintable, {
                "supplier_branchname": $scope.supplier_name,
                "invoiceheader_invoiceno": $scope.invoicenum,
                "invoiceheader_amount": $scope.invoiceamt,
                "invoiceheader_invoicedate": $scope.ddMMyyyy,
                "invoiceheader_crno": $scope.invoiceheader_crno
            }, );
        }



        $scope.invoicehistory = function(detail) {
           var aray = ["rejecthead", "Viewap_dtl","rejecthead", "Approvdtl","checkerdtl", "POjson","CHECKLIST", "makerdtl","makerdtl_ecf", "POdtl","POdtledit","POjson"];
aray.forEach(function(key) { sessionStorage.removeItem(key) });
            var history = {
                invoiceheader_gid: detail.invoiceheader_gid,
            };
            sessionStorage.setItem('history', JSON.stringify(history));
            $window.location.href = "AP_History ";
        }

        $scope.Add_AP = function(detail) {
            var aray = ["rejecthead", "Viewap_dtl","rejecthead", "Approvdtl","checkerdtl", "POjson","CHECKLIST", "makerdtl","makerdtl_ecf", "POdtl","POdtledit","POjson"];
aray.forEach(function(key) { sessionStorage.removeItem(key) });
            if (detail.invoiceheader_invoicetype == "PO ") {
                detail.invoiceheader_invoicetype = "PO"
            }
            var rejectdtl = {
                type: detail.invoiceheader_invoicetype,
                invoiceheader_gid: detail.invoiceheader_gid,
                supplier_gid: detail.supplier_gid,
            };
            sessionStorage.setItem('rejectdtl', JSON.stringify(rejectdtl));
            $window.location.href = "billentry";
        }


        $scope.Add_Sr = function(detail) {
            //alert(JSON.stringify(detail))
            var aray = ["rejecthead", "Viewap_dtl","rejecthead", "Approvdtl","checkerdtl", "POjson","CHECKLIST", "makerdtl","makerdtl_ecf", "POdtl","POdtledit","POjson"];
aray.forEach(function(key) { sessionStorage.removeItem(key) });
            var inwarddtl = {
                noofpockets: detail.inwardheader_noofpockets,
                inwarddetails_gid: detail.inwarddetails_gid
            };
            sessionStorage.setItem('inwarddtl', JSON.stringify(inwarddtl));
            $window.location.href = "Inward_entry";
        }

        $scope.Search_click = function() {
            if ($scope.Summarydate != '') {
                var d = $scope.Summarydate;
                var curr_date = d.getDate();
                var curr_month = d.getMonth();
                curr_month++;
                var curr_year = d.getFullYear();
                Service_date = curr_year + "-" + curr_month + "-" + curr_date;
                alert(Service_date)
            }
            summary();
        }

        $scope.checker_page=function(detail){
            var checkerdtl = {
                type: detail.invoiceheader_invoicetype,
                invoiceheader_gid: detail.invoiceheader_gid,
                supplier_gid: detail.supplier_gid,
                type_of_page:"QUERY"
            };
            sessionStorage.setItem('checkerdtl', JSON.stringify(checkerdtl));
            $window.location.href = "billentry_checker";
        }
        $scope.Address_data={};
        $scope.current_invoice={};
        $scope.invoiceheader_crnumber="";
        $scope.invoiceheader_gid=0;
        $scope.dispatch=function(detail){
            debugger;
             $scope.remove_all_files();
            $scope.employee_name=detail.employee_name;
            $scope.employee_name_and_code=detail.employee_name+"-"+detail.employee_code;
            $scope.current_invoice=detail;
            $scope.invoiceheader_crnumber=detail.invoiceheader_crno;
            $scope.invoiceheader_gid=detail.invoiceheader_gid;

            var status=detail.invoiceheader_status;
            if(status=="REJECT"){
                $scope.loading();
                var address = rejectsummary.getaddress(detail.employee_add_gid);
                    address.then(function(result) {
                       if(result.data.length!=0){
                            var result_data=JSON.parse(result.data);
                            $scope.Address_data=result_data[0];
                            $scope.Address_data.address=$scope.Address_data.address_1+$scope.Address_data.address_2+$scope.Address_data.address_3;
                            console.log($scope.Address_data);
                             modalshow('view_courier');
                       }
                    }).finally($scope.endloading);
            }
            else if(status=="DISPATCHED"){
                $scope.loading();
                var datas={"action":"GET","type":"GET_DISPATCH_DETAIL",
                "filter":{"CR_Number":$scope.invoiceheader_crnumber}};

                var dispatch_data = rejectsummary.get_dispatch_details(datas);
                    dispatch_data.then(function(result) {
                       if(result.data.length!=0){
                            $scope.pod_data=result.data[0];
                            console.log($scope.pod_data);
                             modalshow('view_pod');
                       }
                       else{
                            alert("No Data");
                       }
                    }).finally($scope.endloading);
            }

        }

        $scope.channel=[];
        var datas = {"filter":{"Table_name": "gal_mst_tmetadata", "Column_1": "metadata_value,metadata_gid",
                        "Column_2": "", "Where_Common": "metadata", "Where_Primary": "columnname",
                        "Primary_Value": "dispatch_mode", "Order_by": "columnname"}}
        var courier_details = rejectsummary.all_table_get_values(datas);
            courier_details.then(function(result) {
            $scope.channel_result = result.data.DATA;
            console.log($scope.channel);
            for(i=0;i<$scope.channel_result.length;i++){
                if($scope.channel_result[i].metadata_value=="Direct" || $scope.channel_result[i].metadata_value=="Courier"){
                    $scope.channel.push($scope.channel_result[i]);
                }

            }

            }, function() {
               alert("Some Interanal In Get Channel Details");
        });

        $scope.show_status="";
        $scope.type_gid=0;
        $scope.channel_click = function(type,gid) {
            debugger;
            if (type == "Direct"){
                $scope.show_status="D";
                $scope.type_gid=0;
            }
            else if(type=="Courier"){
                $scope.show_status="C";
                $scope.type_gid=gid;
            }
       }

       $scope.courier_dates="";
       $scope.channel_value="";
       $scope.send_courier=function(){
            debugger;
            $scope.execute=1;
            $scope.courier_dates=$filter('date')($scope.courier_date, "yyyy-MM-dd");
            if($scope.show_status=="D"){
                $scope.AWS_no=" " ;
                $scope.Address_data.address=" ";
                $scope.Address_data.state_name=" ";
                $scope.Address_data.district_name=" ";
                $scope.Address_data.City_Name=" ";
                $scope.Address_data.address_pincode=0;
                $scope.type_gid=0;
                if($scope.courier_dates=="" || $scope.courier_dates==undefined || $scope.channel_value==""){
                    $scope.execute=0;
                    alert("Give Correct Input");
                }
            }
            else if($scope.show_status=="C"){
                 if($scope.courier_dates=="" || $scope.courier_dates==undefined || $scope.channel_value=="" ||
                    $scope.AWS_no=="" || $scope.AWS_no==undefined || $scope.Address_data.address=="" || $scope.Address_data.address==undefined ||
                    $scope.Address_data.state_name=="" || $scope.Address_data.state_name==undefined ||
                    $scope.Address_data.district_name=="" || $scope.Address_data.district_name==undefined ||
                    $scope.Address_data.City_Name=="" || $scope.Address_data.City_Name==undefined ||
                    $scope.Address_data.address_pincode=="" || $scope.Address_data.address_pincode==undefined || $scope.type_gid==0){
                    $scope.execute=0;
                    alert("Give Correct Input");
                }

            }
            else{
                alert("Give Correct Input");
                $scope.execute=0;
            }
            if($scope.invoiceheader_gid==0 && $scope.invoiceheader_crnumber==""){
                $scope.execute=0;
                alert("Invoice Header Gid or CR Numer Missing");
            }
            if($scope.execute==1){
                 var datas={"Invoice_Header_Gid":$scope.invoiceheader_gid,"ref_no":$scope.invoiceheader_crnumber,
                 "ls_dispatch_date": $scope.courier_dates,
                            "ls_awbno":$scope.AWS_no,"ls_dispatch_mode": $scope.channel_value, "ls_dispatch_type": "doc",
                            "ls_address": $scope.Address_data.address,
                            "ls_city": $scope.Address_data.City_Name,"ls_state": $scope.Address_data.state_name,
                            "ls_pincode": $scope.Address_data.address_pincode,"ls_dispatch_to":$scope.employee_name,
                            "ls_Status": "DISPATCHED","Status": "DISPATCHED","li_courier_gid":$scope.type_gid};

                 $scope.loading_popup();
                 var dispatch = rejectsummary.approvalset(datas);
                 dispatch.then(function(result) {
                   if(result.data=="SUCCESS"){
                        alert(result.data);
                        modalhide('view_courier');
                        summary();
                   }
                   else{
                    alert(result.data);
                   }
                }).finally($scope.endloading);

            }

       }

       $scope.get_branch = function(query) {
            var datas={params:{"type":"Mode","Sub_Type":"Summary_new",
                               "FILTER":{"Limit_Start":0,"Limit_End":30,"branch_name":"","branch_detail":query,
                                            "branch_code":""},"CLASSIFICATION":{"Entity_Gid":[0]}}};

                         return $http.post(Appname + '/classificationdata_get/' , datas).then(function(data) {

                            var final_values=data.data.DATA;
                            console.log(final_values);
                            return final_values;
                          });
       }

       $scope.file_path="";
       $scope.file_count=0;
       $scope.file_stored_data=[];
       $scope.duplicate_images=1;
       $scope.number_of_message=1;
       $scope.loaddata = function(file_img,img, callback) {
                var deferred = $q.defer();
                var promise = deferred.promise;
                promise.then(function() {
                    var file_img_length = document.getElementById('file').files.length;
                    if(file_img_length!=0){
                        for(l=0;l<file_img_length;l++){
                            var file_img = document.getElementById('file').files[l];
                            var file_name=file_img.name;
                            $scope.new_file_name=file_img.name;
                            var imgs = new FormData();
                            imgs.append('file', file_img);
                            imgs.append('name', file_name);
                            for(var p=0;p<$scope.deleted_files.length;p++){
                                $scope.temp_file_names=$scope.deleted_files[p].file_names;
                                if($scope.new_file_name==$scope.temp_file_names){
                                    $scope.duplicate_images=0;
                                    $scope.file_count=$scope.file_count+1;
                                }
                            }
                            if(file_img!=undefined&&$scope.duplicate_images==1){
                              $scope.loading();
                                 var upload = rejectsummary.save_files(imgs);
                                 upload.then(function(result) {
                                    $scope.all_datas= result.data;
                                    if($scope.all_datas.status=="SUCCESS"){
                                    $scope.file_count=$scope.file_count+1;
                                    $scope.file_status=1;
                                    $scope.file_stored_data.push($scope.all_datas);
                                    }
                                    else{
                                        $scope.file_status=2;
                                    }
                                    callback();
                                }).finally($scope.endloading);
                            }
                            else{
                                $scope.file_status=0;
                                callback();
                            }
                        }
                    }
                     else{
                           if($scope.invoiceheader_gid!=0){
                                $scope.file_status=1;
                                $scope.endloading();
                                callback();
                                $scope.endloading();
                           }
                           else
                           {
                                alert("Please Attache File...");
                                $scope.endloading();
                           }

                     }
                }).then(function() {
                    // callback();
                });
                deferred.resolve();
       };

       $scope.pod_submit=function(){
            debugger;
            $scope.file_count=0;
            var file_img = document.getElementById('file').files[0];
            $scope.list_of_files= document.getElementById('file').files.length;
            var img = new FormData();
            var UPLOAD_FILE="";

            if(file_img!=undefined){
                $scope.file_status=0;
                var file_name=file_img.name;

                var filename = file_img.name;
                var index = filename.lastIndexOf(".");
                $scope.strsubstring = filename.substring(index, filename.length);

                img.append('file', file_img);
                img.append('name', filename);
            }
            if($scope.list_of_files!=0){
                $scope.loaddata(file_img,img, function() {
                    debugger;
                    if($scope.file_status==1&&$scope.file_count==$scope.list_of_files){
                        var final_file_key="";
                        if($scope.file_count!=0){
                            final_file_key=$scope.file_stored_data[0].file_key
                        }
                        if($scope.invoiceheader_gid!=0 && $scope.invoiceheader_crnumber!=""){
                            var datas={"Invoice_Header_Gid":$scope.invoiceheader_gid,
                                       "ref_no":$scope.invoiceheader_crnumber,"li_dispatch_gid": 2,
                                        "ls_poddate": "2020-02-11","ls_pod_image":final_file_key,
                                        "Status": "REJECTED",
                                        "li_courier_gid": 0};

                            $scope.loading_popup();
                            var dispatch = rejectsummary.approvalset(datas);
                                dispatch.then(function(result) {
                                if(result.data=="SUCCESS"){
                                    alert(result.data);
                                    modalhide('view_pod');
                                    summary();
                                }
                                else{
                                    alert(result.data);
                                }
                            }).finally($scope.endloading);
                        }
                        else{
                            alert("Invoice Header Gid OR CR Number Missing");
                        }
                    }
                    else if($scope.file_status==2){
                        alert("File Upload Failed");
                    }
                    else if($scope.file_status==0 && $scope.file_path.length==0 && $scope.number_of_message==1){
                        alert("Please Attach File");
                        $scope.deleted_files=[];
                        $scope.number_of_message=$scope.number_of_message+1;
                        $scope.endloading();
                    }
                });
            }
            else{
                alert("Please Attach File");
            }

       }

       $scope.remove_all_files=function(){
            $scope.file_path=[];
            $scope.deleted_files=[];
            elmn = angular.element( document.getElementById( 'file' ).files);
            elmn.remove();
            angular.element("input[type='file']").val(null);
            $scope.image_visible="false";
       }

       $scope.trustAsHtml = function(html) {
            return $sce.trustAsHtml(html);
       }
       $scope.clear_seach=function(){
            $scope.selectedtype=[];
            $scope.supplier_name="";
            $scope.invoicenum="";
            $scope.invoiceamt="";
            $scope.from_date="";
            $scope.to_date="";
            $scope.invoiceheader_crno="";
            $scope.selected_branch="";
            $scope.branch_gid="";
            $scope.selectedemp="";
            $scope.employee_gid="";
        }

       var channel = rejectsummary.get_invoice_types('invoiceheader', 'invoicetype');
            channel.then(function(result) {
                    var Invoice = JSON.parse(result.data)
                    $scope.Invoice_Types =Invoice;
                    console.log($scope.Invoice_Types);
                },
                function(err) {
                    alert('No data!.');
                }).finally();




}]);
app.service("rejectsummary", function ($http) {

   this.ddl=function(tablename,columnname){
        var response=$http.get(Appname+"/get_custdata/",{params:{"tablename":tablename,"columnname":columnname}});
        return response;
   }

   this.getdropdown = function (tablename) {
        var responsee = $http.post(Appname+"/Dropdown_details/",{params:{"tablename":tablename,"gid":0,"name":''}});
        return responsee;
   }

   this.getemployee=function(){
        var response=$http.get(Appname+"/empddl/");
        return response;
   }

   this.getauditchklist = function (gidd) {
        var response=$http.post(Appname+"/auditchklist_get/",{params:{"type":"SUMMARY","chk_type":"","header_gid":gid}});
        return response;
   }

   this.getmakerservice = function () {
        var response=$http.post(Appname+"/APInvoice_get/",{params:{"action":"INVOICE_MAKER_SUMMARY","ponumber":"","supplier_gid":0,"inwarddetail_gid":0,"inwardheader_gid":0,"status":"Reject"}});
        return response;
   }

   this.get_rejection_summary=function(data){
        var response=$http.post(Appname+"/get_onward_data/",data);
        return response;
   }

   this.all_table_get_values=function(data){
        var response=$http.post(Appname+"/ap_all_table_values_get/",data);
        return response;
   }

   this.setdispatchdata = function(dataas) {
        var response = $http.post(Appname + "/ap_set_dispatch/", dataas);
        return response;
   }

   this.getaddress = function(add_gid) {
        var response = $http.get(Appname + "/addressget/", {
            params: {
                "add_gid": add_gid
            }
        });
        return response;
   }

   this.set_dispatch_data = function(dataas) {
        var response = $http.post(Appname + "/ap_set_dispatch/", dataas);
        return response;
   }

   this.get_dispatch_details = function(dataas) {
        var response = $http.post(Appname + "/ap_get_dispatch/", dataas);
        return response;
   }

   this.approvalset=function(status_json){
        var response=$http.post(Appname+"/Invoiceheader_set/",{params:{"action":"UPDATE","type":"STATUS","header_json":{},"debit_json":{},"detail_json":{},"status_json":status_json}});
        return response;
   }

   this.save_files=function(img){
              var response=$http.post(Appname+"/fileUploadS3/",img,
                   {
                     transformRequest: angular.identity,
                     headers: {
                        'Content-Type': undefined
                     }
                   }
              );
              return response;
   }
   this.get_invoice_types=function(tablename,columnname){
            var response=$http.get(Appname+"/get_custdata/",{params:{"tablename":tablename,"columnname":columnname}});
            return response;
   }



});














</script>
{% endblock %}