
body {
    font-family: SourceSerifPro,serif;
    background: #e1f5fe;
    background-attachment: fixed;
    background-size: 100% 100%;
}
@font-face{
    font-family: SourceSerifPro; // Name of the font
    src: url(/static/Fonts/SourceSerifPro-Bold.ttf);
    src: url(/static/Fonts/SourceSerifPro-Regular.ttf);
    src: url(/static/Fonts/SourceSerifPro-Semibold.ttf);
}
.bannerBorder
{
    border:1px solid #064287e6;
    border-radius:7px;
    overflow:hidden;
}
h1
{
    font-family: ,serif;
}
.Userbaner
        {
            padding-top: 20px;
            background-color:white;
            background-size:100% 100%;
            text-align:center;
            height:250px;
        }
.UserbanerRight
        {
        height:250px;
         padding-top: 20px;
        background-color:#fff;
        }
.userLogo
        {
        border: 3px solid orangered;
        width:100px;
        background-color:#b4c1b4;
        height:100px;
        }
        /*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #424645 !important;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.logintextbox
        {
         background: url(/static/Images/userIcon.png) no-repeat 98% 67%;
         outline: none;
         font-size: 1em;
         padding: 19px 30px 10px 10px;
         margin: 0;
         width: 89.87%;
         border: none;
         background-color:#fff0 !important;
         border-bottom: 2px solid #cecfd3;
         -webkit-background: url(/static/Images/userIcon.png) no-repeat 98% 67%;
         -webkit-appearance: none;
        }
 .logintextboxPassword
        {
        background: url(/static/Images/passwordIcon.png) no-repeat 98% 67%;
         outline: none;
         font-size: 1em;
         padding: 19px 30px 10px 10px;
         margin: 0;
         width: 89.87%;
         border: none;
         border-bottom: 2px solid #cecfd3;
         -webkit-appearance: none;
        }
 .btnAlign
        {
            padding-top: 40px;padding-right: 30px;
        }

@media screen and (max-device-width: 480px)
        {
           .Userbaner
           {
             height:auto !important;

           }
           .UserbanerRight
           {
            height:auto !important;
            padding-top: 20px;
             padding-bottom: 20px;
           }
            .btnAlign
        {
            padding-top: 20px;padding-right: 10px;
        }
        }