body {
    padding: 100px 0 0px 0;
    /*background-color: #abdef161;*/
    background-color: #e1f5fe;
    font-family: SourceSerifPro,serif;
    font-size: 15px;
    height:auto;
}
@font-face{
    font-family: SourceSerifPro; // Name of the font
    src: url(/static/Fonts/SourceSerifPro-Bold.ttf);
    src: url(/static/Fonts/SourceSerifPro-Regular.ttf);
    src: url(/static/Fonts/SourceSerifPro-Semibold.ttf);
}

/*Below two lines for modal autocomplete*/
.md-autocomplete-suggestions-container{
   z-index:100000 !important; /* any number of choice > 1050*/
  }

.custom-container {
  min-width: 1000px !important;
}

/*@font-face{
    font-family: CrimsonText; // Name of the font
    src: url(/static/Fonts/CrimsonText-Bold.ttf);
    src: url(/static/Fonts/CrimsonText-Regular.ttf);
    src: url(/static/Fonts/CrimsonText-SemiBold.ttf);
    src: url(/static/Fonts/CrimsonText-Italic.ttf);
}*/
/*@font-face{
    font-family: Raleway; // Name of the font
    src: url(/static/Fonts/Raleway-Bold.ttf);
    src: url(/static/Fonts/Raleway-SemiBold.ttf);
    src: url(/static/Fonts/Raleway-Regular.ttf);
    src: url(/static/Fonts/Raleway-Medium.ttf);
}*/
/*@font-face{
    font-family: Lora; // Name of the font
    src: url(/static/Fonts/Lora-Bold.ttf);
    src: url(/static/Fonts/Lora-BoldItalic.ttf);
    src: url(/static/Fonts/Lora-Italic.ttf);
    src: url(/static/Fonts/Lora-Regular.ttf);
}*/
.nav-head-ui {
    background: url(../Images/banner.jpg) repeat-x 0 0;
    background-color: #00b5f1  !important;
    border-bottom: 3px solid #009688;
}
@media (max-width:768px){
    .nav-head-ui{
        background-size: contain;
        }
        .sidenavBar{
        position:absolute;
        height:100%;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #fdf9f9;
    font-weight: bold;
}
.nav-footer-ui{
    background-color: #B3DDEFC2 !important;
    color:#009688;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.container1 {
    /*background-image: linear-gradient(to right,rgb(250,250,250),80%,#009688 );*/
    font-size: 12px;
    background-color: white;
    box-shadow: 0px 0px 7px 3px #c1d4dc;
    /*border: 1px solid #29bed6;*/
    padding-bottom: 10px;
}

.maincontent {
    padding-bottom: 50px;
    min-height:530px;
   /* background-color: rgb(225, 245, 243); */
}

.row-header {
    border-bottom: 1px solid #c4c8ca ;
    color:#00418ce6 ;
}
/*Menu (Grid)--->start*/
.dropdown-menu{
    background-color:white !important;
}
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
        background-color: #c8e8f3 !important;
    }


    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
        /*Menu (Grid)--->end*/

/*Table header (Grid)--->start*/
.header {
    background-color: #0095dae8 ;
    color: white;
    align-content: center;
    text-align:center;
}

    .header > th > a {
        color: white;
        align-content: center;
    }

    .header > tr > th {
        vertical-align: middle !important;
        text-align: center;
    }

.table-hover > tbody > tr:hover > td {
    background-color: #d9f5f2;
}
.align_right{
text-align:right;
vertical-align:middle;
}
.align_center{
text-align:center;
vertical-align:middle;
}
/*Table header (Grid)--->end*/

/*scroll table -->start*/

.scrollTable {
 position: relative;
 width: 1140px;
 overflow: hidden;
}

.scrollTable thead {
 position: relative;
 display: block;
 width: 1140px;
 overflow: visible;
}

.scrollTable thead th {
background-color: #607d8b;
color: white;
align-content: center;
text-align: center;
min-width:80px;
}

.scrollTable thead th:nth-child(-n+2) {
background-color: #607d8b;
color: white;
position: relative;

}

/*tbody*/
.scrollTable tbody {
 position: relative;
 display: block;
 width:1140px;
 height: 350px;
 overflow: scroll;
}

.scrollTable tbody td {
min-width: 80px;
}

.scrollTable tbody tr td:nth-child(-n+2) {
background-color: #607d8b;
color: white;
 position: relative;
}


.scrollTable tfoot {
 position: relative;
 display: block;
 width: 1140px;
 overflow: visible;
}

.scrollTable tfoot td {
min-width: 80px;
}

.scrollTable tfoot td:nth-child(-n+2) {/*first cell in the header*/
 position: relative;
}

@media only screen and (max-width: 600px){
.scrollTable {width:300px;}
.scrollTable thead {width:300px;}
.scrollTable tbody {width:300px;}
.scrollTable tfoot {width:300px;}
}
@media only screen and (min-width: 600px){
.scrollTable {width:570px;}
.scrollTable thead {width:570px;}
.scrollTable tbody {width:570px;}
.scrollTable tfoot {width:570px;}
}
@media only screen and (min-width: 768px){
.scrollTable {width:729px;}
.scrollTable thead {width:729px;}
.scrollTable tbody {width:729px;}
.scrollTable tfoot {width:729px;}
}
@media only screen and (min-width: 992px){
.scrollTable {width:942px;}
.scrollTable thead {width:942px;}
.scrollTable tbody {width:942px;}
.scrollTable tfoot {width:942px;}
}

@media only screen and (min-width: 1200px) {
.scrollTable {width:1140px;}
.scrollTable thead {width:1140px;}
.scrollTable tbody {width:1140px;}
.scrollTable tfoot {width:1140px;}
}

/*scroll table ---> end*/

.pagger-fixed-top{
    top: 30px;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    /*z-index: 1000;*/
    padding-top: 35px;
}
.pager .next>a{
    background-color:#f3f5f300;
    border:0;
}
.pager .previous>a{
    background-color:#f3f5f300;
    border:0;
}
/*  scrollbar --->Start*/
.scrollbar
{
	height: 170px;
	overflow-y: auto;
	margin-bottom: 25px;
}


.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	height:5px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #8cabea),
									   color-stop(0.72, #1d7ec8),
									   color-stop(0.86, #115196));
}
/*Scrollbar --->end*/

/*popup --->start*/
.popup-header {
    border-radius: 6px 6px 0px 0px;
    background-color: #009688 !important;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #009688 !important;
    text-align: center;
}

.modal-style {
    font: 1.25rem/1.3em Source Sans Pro,Helvetica,sans-serif;
}

.app-modal-window .modal-dialog {
  width: auto;
  transform: scale(0.9);
    opacity: 0;
    transition: all .2s linear;
    display: block !important;
}




.popup-content {
    padding-left: 10px;
    padding-right: 10px;
}
/*popup --->End*/

.inputcontainer {
    margin: 18px 0 0 0;
}

.inputcontainer > label {
    color: #455a64;
}

.inputcontainer input {
    border-color: #455a64;
}
md-input-container {
    margin: 18px 0 0 0;
}
md-input-container .md-input{
    border-color: #455a64;
}
md-input-container label{
 color: #455a64;
}
.md-datepicker-input-container{
    width:100%
}
.md-datepicker-input{
    min-width:100%;
}
.inputcontainer md-select .md-select-value.md-select-placeholder {
    color: #455a64;
    font-size: 14px;
    font-weight: 700;
    border-bottom-color: #455a64;
}
.md-virtual-repeat-container{
    margin: 18px 0 0 0;
}
/*customer Input --->start*/
.custbutton {
    background: #064287e6 !important;
}
.custbutton-delete {
    background:#d81b60 !important;
}

.textboxgeneral {
    width: 100%;
    height: 40px;
    /*border: 1px solid #3366FF;*/
    border: 1px solid #6eb5c0;
    /*border-left: 4px solid #3366FF;*/
    padding: 6px 12px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.textboxline{
    background: transparent;
    border: none;
    border-bottom: 1px solid #6a7eec;
}
.textboxline:focus {
    outline-color: white;
}
.custlabel{
    color:#3f51b5;
}
.editlink{
    color:#0079c4;
    cursor: pointer; text-decoration:none;
}
.removelink{
    color:red;
    cursor: pointer; text-decoration:none;
}
.editlink>i{
    font-size:20px !important;
}
.removelink>i{
    font-size:16px !important;
}
.searchtext {
    background: #eae9e8;
    border: 1px solid;
    font-size: 14px;
    color: #d7d7d7;
    width:20%;
    padding: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 60px;
    margin:3px 12px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.searchtext:focus {
    background:#ccc;
    color: #6a6f75;
    width: 75%;
    margin:3px 12px;
    outline: none;
}
.selectSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
  }

.selectSelectHeader .header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}
.selectSelectHeader .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}
.selectSelectHeader md-content._md {
    max-height: 240px;
}
.scrollTop {
    position: fixed;
    bottom: 10%;
    right: 1%;
    display:none;
}
.buttonscroll{
    cursor: pointer;
    color:white;
    line-height: 40px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 50%;
    overflow: hidden;
    transition: all .3s cubic-bezier(.55,0,.55,.2);
    background-color:#FF3D00;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
}
.buttonscroll i{
margin-top:7px;
}

.popup_select  {
    z-index: 1060;
    }
.cust_pagination{
margin:0;
}
/*customer Input --->end*/

.scheduleBox{
    height:150px;
    overflow: hidden;
}

.badge_color{
    background-color: #E91E63;
}
.pagger-color{
    border:1px solid #f44336 !important;
    color:#f44336;
}
/*Panel --->start*/
.panel-overall{
    border-color: #0088ff;
}
.panel-overall>.panel-heading {
    color: #fff;
    background-color: #0088ff;
    border-color: #0088ff;
}

.panel-sales{
    border-color: #2fcc71;
}
.panel-sales>.panel-heading {
    color: #fff;
    background-color: #2fcc71;
    border-color: #2fcc71;
}
.panel-collection{
    border-color: #845cee;
}
.panel-collection>.panel-heading {
    color: #fff;
    background-color: #845cee;
    border-color: #845cee;
}
.panel-service{
    border-color: #2d294c;
}
.panel-service>.panel-heading {
    color: #fff;
    background-color: #2d294c;
    border-color: #2d294c;
}
.panel-ta{
    border-color: #ff4858;
}
.panel-ta>.panel-heading {
    color: #fff;
    background-color: #ff4858;
    border-color: #ff4858;
}
.panel-status{
    border-color: #08c7b6;
}
.panel-status>.panel-heading {
    color: #fff;
    background-color: #08c7b6;
    border-color: #08c7b6;
}
.panel-asset{
    border-color: #08c7b6;
}
.panel-asset>.panel-heading {
    color: #fff;
    background-color: #08c7b6;
    border-color: #08c7b6;
}

.BOOKING>.panel-heading {
    color: #fff;
    background-color:#267337;
    border-color:#267337;
}
.BOOKING{
    border-color:#267337;
}
.COLLECTION>.panel-heading {
    color: #fff;
    background-color:#6F1F3D;
    border-color:#6F1F3D;
}
.COLLECTION{
    border-color:#6F1F3D;
}

.SERVICE>.panel-heading {
    color: #fff;
    background-color:#262574;
    border-color:#262574;
}
.SERVICE{
    border-color:#262574;
}

.STOCK>.panel-heading {
    color: #fff;
    background-color:#118088;
    border-color:#118088;
}
.STOCK{
    border-color:#118088;
}

.OTHERS>.panel-heading {
    color: #fff;
    background-color:#61247F;
    border-color:#61247F;
}
.OTHERS{
    border-color:#61247F;
}

/*Panel --->end*/

.md-calendar-day-header{
    background: #00adec70 !important;
}
.md-datepicker-calendar-pane{
    z-index:1052 !important;
}
.huge{
    font-size:40px;
}
.list-group-item:hover {
    background-color: #c5bebe;
}
.sales-color{
    font-size: 20px;
    color: #2fcc71;
}
.sales-color:hover{
    padding: 5px;
    background-color: #607D8B;
    border-radius: 50%;
}
.collection-color{
    font-size: 20px;
    color: #845cee;
}
.collection-color:hover{
    padding: 5px;
    background-color: #607D8B;
    border-radius: 50%;
}
.service-color{
    font-size: 20px;
    color: #ff4858;
}
.service-color:hover{
    padding: 5px;
    background-color: #607D8B;
    border-radius: 50%;
}
.others-color{
    font-size: 20px;
    color: #0088ff;
}
.others-color:hover{
    padding: 5px;
    background-color: #607D8B;
    border-radius: 50%;
}
.boxhover:hover,.rowselect{
    font-size: 150%;
    color: #009688;
    border: 1px solid #aba5a5;
    border-radius: 5px;
    padding: 2px;
    background-color: #cdefeb;
}
.boxhover:hover,.tablerowselect{
    font-size: 100%;
    color: #009688;
    border: 1px solid #aba5a5;
    border-radius: 5px;
    padding: 2px;
    background-color: #cdefeb;
}


.boxhover:focus {
    outline-color: white;
}
.searchLeave_icon{
    padding-top:18px;
}
.sidenavBar{
    padding-left:0px !important;
}
.highligter {
    color: #009688  !important;
    font-size: 15px;
}
.leftpanel{
    right: 1%;
    bottom: 20%;
    z-index: 10;
}
.md-toast-error  .md-toast-content {
background-color:#ff2222ad;
}
.md-toast-info  .md-toast-content {
background-color:#27a5e5c7;
}
.md-toast-success  .md-toast-content {
background-color:#27b32db8;
}

/*style for search with dropdown*/
    .selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
     }

  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    }

  .selectdemoSelectHeader md-content._md {
    max-height: 240px;
    }


     table.rz-table {
   table-layout: fixed;
   border-collapse: collapse;
 }

table.rz-table th {
    position: relative;
    min-width: 25px;
}

table.rz-table th .rz-handle {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: ew-resize !important;
}

table.rz-table th .rz-handle.rz-handle-active {
    border-right: 1px dotted #000;
}

table { border-collapse: collapse; empty-cells: show; }
td { position: relative; }
tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 30%;
  left: 0;
  border-bottom: 3px solid #111;
  width: 100%;
}
tr.strikeout td:after {
  content: "\00B7";
  font-size: 1px;
}
/* Extra styling */
td { width: 100px; }
th { text-align: left; }