.sidenav{
  height: 90%;
  width: 0;
  transition:10;
  position: fixed;
  top: 10%;
  left: 0;
  /*background-color:rgba(239,251,196,0.95);*/
  /*background-color:rgb(228, 226, 155);*/
  background-color:rgb(249, 245, 204);
  overflow:auto;
  transition: 0.5s;
  padding-top: 60px;
  z-index:10;
  opacity:.9;
  cursor:fixed;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  font-weight:bold;
  color: #064287e6;
  display: block;
  transition: 0.3s;
  z-index:10;
  background:#fff;

  border-top: 1px  dotted gray;
  border-bottom: 1px dotted gray;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
  border-radius: 5px;
  opacity:10;
  text-align: left;
  margin : 1px;
}
.sidenav a:hover{
 padding: 8px 8px 8px 32px;
  color: black !important;
  background-color:rgba(239,251,196,0.95);
  font-size:15px;
  border-right:3px solid #fd971f;
  border-left:3px solid #fd971f;
  border-radius: 5px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
  height:0px;
  color:#000000de !important;
  background-color:rgba(239,251,196,0.95) !important;
  z-index:10;

  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-left: 0px;
  border-radius: 0px;
}

.sidenav .closebtn:hover{
  color:#ff3d17 !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-left: 0px;
  border-radius: 0px;
  font-size:30px !important;
}

.burger{
    position:fixed;
    z-index:10;
    color:#d50000;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

li .wrapper {
  position: absolute;
  z-index: 10;
  display: none;
  z-index:10;
}
li:hover > .wrapper {
  display: block;
}

element.style {
    background: white;
}
.parent:hover{
border-right:5px solid white;
border-right-width:3px;
}
.wrapper{
margin-top:-5%;
position:absolute;
}