<!--Generate PO-->
<div class="modifyMe">
    <b>PURCHASE ORDER</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NO:<b>{{poheader_no}}</b>
    DATE:<b>{{poheader_date}}</b>
    <hr>
    <span style="text-align: -webkit-center;" class="supp_ddl" colspan="4"
          align="center" width="50%">
                                             <b>To</b><br>
                                             <span style="margin-right:-12px">
                                              &nbsp;&nbsp;&nbsp;{{supplier_name}}<br/>
                                             &nbsp;&nbsp;&nbsp;{{address_1}}<br>
                                             &nbsp;&nbsp;&nbsp;{{address_2}}<br>
                                             &nbsp;&nbsp;&nbsp;{{address_3}}<br>
                                             </span>
                                         </span>
    <b><i>Order Indent(s):</i></b>
    <table class="table" border="1" style="font-family: Bookman Old Style; width:100%;">
        <tbody>
        <tr style="text-align: -webkit-left;background-color:#b9b3b3" class="grid">
            <th>NO</th>
            <th align="center">ITEM NAME</th>
            <th align="center">QTY
            </th>
            <th align="center">UNIT</th>
            <th align="center">RATE</th>
            <th align="center">VALUE</th>
            <th align="center">PMODE(%)*
            </th>
            <th align="center">AMC
            </th>
            <th align="center">TAX</th>
            <th align="center">DP**</th>
            <th align="center">BUYBACK</th>
            <th align="center">DELIVERY ADDRESS</th>
        </tr>
        {% for product in product_detail %}
        <tr class="subtr">
            <td align="center">{{forloop.counter}}</td>
            <td align="center">{{product.product_name}}</td>
            <td align="center">{{product.podetails_qty}}</td>
            <td align="center">{{product.uom_name}}
            </td>
            <td align="center">
                {{product.podetails_unitprice}}
            </td>
            <td align="right">
                {{product.podetails_totalamount}}
            </td>
            <td align="center">
                {{PO_ADI}} %
            </td>
            <td align="center">{{product.podetails_amcvalue}} %</td>
            <td>AS APPL</td>
            <td align="center">{{product.podetails_deliveryperiod}} week(s)</td>
            <td align="center">NA</td>
            {% for addres in product.address %}
            <td align="center">
                {{addres.address_1}}<br>
                {{addres.address_2}}<br>
                {{addres.address_3}}<br>
                {{addres.address_pincode}}<br>
                <b>GST:{{addres.branch_metadatavalue}}</b>
            </td>
            {%endfor%}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" align="right">
                <b> Less buyback value</b>
            </td>
            <td align="right">
                <b>NA</b></td>
            <td colspan="6"></td>
        </tr>
        <tr style="text-align: -webkit-left;background-color:#b9b3b3">
            <td colspan="5" align="right"><b> Total Order value</b></td>
            <td align="right">
                <b>{{poheader_amount}}</b></td>
            <td colspan="6"></td>
        </tr>
        </tbody>
    </table>
    <p>*-(On order acceptance-On delivery-On installation),**- Delivery Period</p>
    <table class="table" border="1" style="font-family: Bookman Old Style; width:100%;">
        <tbody>

        <tr>
            <td colspan="5" style="text-align: -webkit-left;background-color:#b9b3b3"><b><i>Configuration(s):</i></b>
            </td>
        </tr>
        {% for column in productdetails %}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
                {{column.keydata}}
            </td>
            <td>
                {{column.valuedata}}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="12" style="text-align: -webkit-left;background-color:#b9b3b3"><b>Terms and Condition(s)</b>
            </td>
        </tr>
        <tr ng-repeat="row in potermstemplate_desc" style="border:0px;" rowspan="8">
            <td colspan="12">
                {% for column in potermstemplatedes %}
                {{forloop.counter}}.&nbsp;{{ column.potermstemplate_desc}}<br>
                {% endfor %}
            </td>
        </tr>
        <tr align="center">
            <td colspan="6">I accept the order terms and conditions
                <br>
                <br>
                <br>
                For <b>{{supplier_name}}</b>
            </td>
            <td colspan="6">
                <b>For THE KARUR VYSYA BANK LIMITED</b>
                <br>
                <br>
                <br>
                Authorized Signatory
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <p>CENTRAL OFFICE - IT</p>
</div>