{%verbatim%}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
    data-keyboard="false" id="mdl_present" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Commodity Details
                    <button aria-label="Close" class="close" ng-click="close1()" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body popup-body">
                <div class="row">
                    <!--Leave details-->
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <md-input-container class="md-block inputcontainer">
                                <label>Enter Commodity Code</label>
                                <input maxlength="5" ng-disabled="true" ng-model="commo.invnum" numbers-only
                                    type="text">
                            </md-input-container>
                        </div>
                        <div class="col-md-5">
                            <md-input-container class="md-block inputcontainer">
                                <label>Enter Commodity Name</label>
                                <input letter-Only maxlength="64" ng-model="commo.invnums" type="text">
                            </md-input-container>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 text-center">


                        <div class="col-lg-12 col-sm-12 text-center">


                            <div align="center" class="row">
                                <md-button class=" btn btn-info custbutton  " ng-click="save(commo)"
                                    ng-hide="savebutton" ng-disabled="!(commo.invnum != undefined &&
                                                commo.invnums != undefined) ">
                                    Submit
                                    <md-tooltip>Submit</md-tooltip>

                                </md-button>

                                <md-button class="md-raised" ng-click="close1()">
                                    Close
                                    <md-tooltip>Close</md-tooltip>

                                </md-button>

                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--COMMODITY ENDS-->
<!-- PR-CCBS -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
    data-keyboard="false" id="mdl_present1" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header aa" style="background-color: rgb(75, 122, 130)">
                <h5 class="modal-title" id="lo">
                    CC BS Details
                    <button aria-label="Close" class="close" ng-click="cancel()" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body popup-body">
                <div class="row">
                    <!--ccbs details-->
                    <form id="create" method="post" name="ccbs">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <md-autocomplete md-clear-button="true" md-floating-label="BS Name" md-input-maxlength=40
                                md-item-text="item.tbs_name" md-items="item in bsname(prc.bsdata)" md-min-length=0
                                md-no-cache="true" md-search-text="prc.bsdata" md-selected-item="prc.bname"
                                md-selected-item-change="bstocc(item.tbs_gid)" required>
                                <md-item-template>
                                    <span md-highlight-text="prc.bsdata"> {{item.tbs_name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Not Found..
                                </md-not-found>
                            </md-autocomplete>
                            <span>BS Desription:</span>
                            <span style="color:#D9534F;font-size:15px;">{{prc.bname.tbs_description}}</span>
                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <md-autocomplete md-clear-button="true" md-floating-label="CC Name"
                                md-item-text="item.tcc_name" md-items="item in tsname(prc.ccdata)" md-min-length=0
                                md-no-cache="true" md-search-text="prc.ccdata" md-selected-item="prc.tname"
                                md-selected-item-change="ccloaderdata(prc.bname,prc.tname)" required>
                                <md-item-template>
                                    <span md-highlight-text="prc.ccdata">
                                        {{item.tcc_name}}
                                    </span>
                                </md-item-template>
                                <md-not-found>
                                    Not Found..
                                </md-not-found>
                            </md-autocomplete>
                            <span>CC Description:</span>
                            <span style="color:#4f90d9;font-size:15px;">{{prc.tname.tcc_description}}</span>

                        </div>


                        <div class="col-md-3" layout="row" style="margin-top:30px">

                            <div class="col-md-7">
                                <md-radio-group layout="row" ng-model="prc.delivery_type">
                                    <!-- <md-radio-button class="md-primary" value="PO_GODOWN">Godown</md-radio-button> -->
                                    <md-radio-button class="md-primary" value="PO_BRANCH">Branch</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>


                        <div class="col-md-12 col-xs-3 text-right" style="margin-left:-3px;">

                            <button class="btn btn-success" ng-click="addccbs(prc,$index)" ng-disabled="ccbs.$invalid"
                                type="button" value="Submit">
                                Add
                                <md-tooltip>Add</md-tooltip>

                            </button>

                        </div>
                    </form>
                    <!--Data Table-->
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <span style="color:#D9534F;font-size:15px;"> Raised Quantity: </span><b
                            style="font-size:15px;">{{allocatedqty}}</b>
                        <table class="table  table-striped table-bordered table-condensed table-hover">
                            <thead style="background: rgba(27, 183, 89, 0.28);color:black;">
                                <tr>
                                    <th>S.No</th>
                                    <th>Location</th>
                                    <th>BS Name</th>
                                    <th>CC Name</th>
                                    <th>Quantity</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody ng-init="total = 0">
                                <tr ng-if="pur.prccbs_edit!='R'" ng-repeat="pur in ccbsddl">
                                    <td>
                                        <center>{{$index+1}}</center>
                                    </td>

                                    <td ng-if="pur.delivery_type=='PO_BRANCH'">
                                        <form name="Location">
                                            <div class="col-md-3">
                                                <md-autocomplete md-clear-button="true"
                                                    md-floating-label="Choose delivery" md-input-maxlength=40
                                                    md-item-text="item.branch_code"
                                                    md-items="item in branchdd(searchText3)" md-min-length=0
                                                    md-no-cache="true" md-search-text="searchText3"
                                                    md-selected-item="pur.location"
                                                    md-selected-item-change="databranch($index,item.branch_gid,pur)"
                                                    required>
                                                    <md-item-template>
                                                        <span md-highlight-text="search">
                                                            {{item.branch_code}}--{{item.branch_name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        Not Found..
                                                    </md-not-found>
                                                </md-autocomplete>
                                            </div>
                                        </form>
                                    </td>
                                    <td ng-if="pur.delivery_type=='PO_GODOWN'">
                                        <form name="Location">
                                            <div class="col-md-3">
                                                <md-autocomplete md-clear-button="true"
                                                    md-floating-label="Choose delivery" md-input-maxlength=40
                                                    md-item-text="item.godown_name" md-items="item in godown(search12)"
                                                    md-min-length=0 md-no-cache="true" md-search-text="search12"
                                                    md-selected-item="pur.location"
                                                    md-selected-item-change="databranch($index,item.godown_gid,pur)"
                                                    required>
                                                    <md-item-template>
                                                        <span md-highlight-text="search12"> {{item.godown_name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        Not Found..
                                                    </md-not-found>
                                                </md-autocomplete>
                                            </div>
                                        </form>
                                    </td>

                                    <td>{{pur.prbs_name}}<br />
                                        <b style="color:black;">Desription</b><span>:{{pur.prbs_description}}</span>
                                    </td>
                                    <td>{{pur.prcc_name}}<br />
                                        <b style="color:black;">Desription</b><span>:{{pur.prcc_description}}</span>
                                    </td>


                                    <td align="">
                                        <form name="ccbsform" novalidate>
                                            <input align="center" class="form-control" name="qty"
                                                ng-change="totalqty(pur)"
                                                ng-disabled="pur.location!=undefined ? false : true "
                                                ng-model="pur.prccbs_qty" required style="width:100px"
                                                type="text" numbers-only>
                                            <div ng-messages="ccbsform.qty.$error">
                                                <div ng-message="number">Should be a number</div>
                                                <div ng-message="max">your quantity order exceeds 10000</div>
                                                <div ng-message="min">your quantity should not be zero</div>
                                            </div>
                                        </form>
                                        <input name="Price" ng-model="totalaa" ng-value="totalqty()" type="hidden" />
                                    </td>
                                    <td ng-hide="disable">
                                        <span class="editlink" ng-click="removeddl(pur,$index)">
                                            <i class="material-icons">delete</i>
                                            <md-tooltip>Delete</md-tooltip>
                                        </span>
                                    </td>
                                <tr ng-model="totalqty1" ng-show="ccbsddl.length!=0">
                                    <td align="right" colspan="5"><b>Total</b></td>
                                    <td align="left" colspan="2" ng-mode="pur.Total">
                                        <!-- <span ng-if="ccbsddl.length == 0"><b>{{total}}</b></span> -->
                                        <span ng-if="ccbsddl.length>0"><code>{{totalqty()}}</code></span>
                                    </td>
                                </tr>

                                </tr>
                                <tr ng-show="ccbsddl.length ==  0">
                                    <td class="warning" colspan="10">
                                        Add Records.
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 col-sm-12 text-center">
                        <p type="hidden" ng-model="canin"></p>
                        <button class="btn btn-success" ng-click="saveccbsdata(ccbsddl,$index,allocatedqty)"
                            ng-disabled="totalqty()== allocatedqty ? false : true" style="  margin-right: 10px"
                            type="button" value="Submit" value="Save">
                            Save
                        </button>

                        <button class="btn btn-default" ng-click="cancel(canin)" type="button" value="Submit">
                            Close
                        </button>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- end PR_CCBS-->

<!-- MEP ddl -->

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
data-keyboard="false" id="mep_details_pr" role="dialog" tabindex="-1">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
        <div class="modal-header popup-header aa" style="background-color: rgb(75, 122, 130)">
            <h5 class="modal-title" id="lo">
                MEP Details
                <button aria-label="Close" class="close" type="button"
                    data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="modal-body popup-body">
            <div class="row">
                <!--Data Table-->
                <div class="col-md-12 col-lg-12 col-sm-12">


                    <table class="table  table-striped table-bordered table-condensed table-hover">
                        <thead
                            style="background: #607D8B;color:white;align-content:center;text-align:center;">
                            <tr>
                                <th>S.No</th>
                                <th>MEP Number</th>
                                <th>MEP Amount</th>
                                <th>PR Utilized Amount</th>
                                <th>PO Utilized Amount</th>
                                <th>Balance In MEP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ $index+1 }}

                                </td>
                                <td>{{MEP_NO}}</td>
                                <td>{{MEP_Actual_amt}}</td>
                                <td>{{PR_MEPUtilized}}</td>
                                <td>{{PO_MEPUtilized}}</td>
                                <td>{{Balance_in_MEP}}</td>
        

                    
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 col-sm-12 text-center">

                    <md-button class="md-raised"  value="Submit" data-dismiss="modal">
                        Close
                    </md-button>
                </div>
            </div>
        </div>


    </div>
</div>
</div>
<!-- end  -->


{% endverbatim %}