{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} PO Approval{% endblock %}
{% block content %}

<link href="{% static 'Content/font-awesome-4.1.0.css' %}" rel="stylesheet">
<link href="{% static 'Content/robotofonttext400300.css' %}" rel="stylesheet">
<link href="{% static 'Content/textangular.css' %}" rel="stylesheet">
<script src="{% static 'Scripts/Core/textAngular-rangy.js' %}"></script>
<script src="{% static 'Scripts/Core/textAngular-sanitize.js' %}"></script>
<script src="{% static 'Scripts/Core/textAngular.js' %}"></script>
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="AppPOaprocrt" ng-cloak ng-controller="ApprovPoCtrl">
        <div class="row ">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>PO Approval</h4>
            </div>
        </div>
             <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
            data-keyboard="false" id="viewnotepad" role="dialog" style="height:auto;width:100%">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong> Note Pad</strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                      <div class="body">
                        <div class="modal-body popup-body">
                            <div class="row table-responsive">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                                <div text-angular="text-angular" id="con"  name="htmlcontent" ng-focus="displaynamechng('content_flag')" ng-model="htmlcontent" ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <md-button class="md-raised" data-dismiss="modal">Back
                                <md-tooltip>close</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
            data-keyboard="false" id="viewtranhistory" role="dialog" style="height:auto;width:100%">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong> View Transaction History Against {{Number}} </strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                      <div class="body">
                        <div class="modal-body popup-body">
                            <div class="row table-responsive">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <table
                                        class="table table-striped table-bordered table-condensed table-hover md-primary"
                                        md-progress="deferred">
                                        <thead class="header">
                                            <tr>
                                                <td align="right">
                                                    S.No
                                                </td>
                                                <td>PO Header No</td>
                                                <td>Transaction Date</td>
                                                <td>Status</td>
                                                <td>Employee Name</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="obj in viewtran">
                                                <td>
                                                    <center>{{$index+1}}</center>
                                                </td>
                                                <td class="text-center">
                                                    {{obj.poheader_no}}
                                                </td>
                                                <td class="text-center">
                                                    {{obj.Tran_End_Date |date:'dd-MMM-y HH:mm:ss'}}
                                                </td>
                                                <td class="text-center">
                                                    {{obj.status}}
                                                </td>
                                                       <td class="text-center">
                                                    {{obj.Approved_Name}}
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <md-button class="md-raised" data-dismiss="modal">Back
                                <md-tooltip>close</md-tooltip>
                            </md-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row row-search" ng-form="searchfrom">
            <form role="form">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>PO Number</label>
                        <input ng-disabled="true" ng-model="poheader_sno"/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Supplier</label>
                        <input ng-disabled="true" ng-model="supplier_name"/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Commodity Name</label>
                        <input ng-disabled="true" ng-model="comm"/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Po Amount</label>
                        <input ng-disabled="true" ng-model="calculatePay | number"/>
                    </md-input-container>
                </div>
            </form>
        </div>
        <div class="row">

            <div class="col-lg-4 col-sm-3">
                <md-autocomplete md-clear-button="true" md-floating-label="Choose Approver" md-input-maxlength=126
                                 md-item-text="item.employee_name" md-min-length=0 md-no-cache="true"
                                 md-search-text="searchText"
                                 md-selected-item="lim" md-items="item in getcust(searchText)">
                    <md-item-template>
                        <td md-highlight-text="searchText">
                            <div class="col-sm-3"><code>{{item.employee_code}}</code></div>

                            <div class="col-sm-6"><span>{{item.employee_name}}</span></div>
                            <div class="col-sm-3"><span style="color:#ff5e00!important;">{{item.delmat_limit}}</span>
                            </div>


                            </md-option>
                        </td>

                    </md-item-template>
                    <md-not-found>
                        No Approver "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Branch Name</label>
                    <input ng-disabled="true" ng-model="branch_name1"/>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Term and Condition</label>
                    <input ng-disabled="true" ng-model="teamandcond_name"/>
                </md-input-container>

            </div>
            <div class="col-md-1" style="margin-top:16px">
                            <span title="Add a Note" ng-click="notepad()" align="center"
                                  class="editlink">
                                   <i class="material-icons">description</i>
                        </span>
                            </div>

        </div>
        <div class="row  table-responsive">
            <div class="col-lg-12 col-sm-12">
                <table class="table  table-striped table-bordered table-condensed table-hover" datatable="ng">
                    <thead class="header" style="text-align:center;">
                    <tr>
                        <td align="right" rowspan="2 " style="width:25px;">
                            S.No
                        </td>
                        <td rowspan="2" style="width:10%;">
                            Product Category
                        </td>
                        <td rowspan="2" style="width: 25%;">
                            Product Type
                        </td>
                        <td rowspan="2" style="width: 10%;">
                            Product Name
                        </td>
                        <td rowspan="2" style="width: 5%;">
                            Product Desc
                        </td>
                        <td rowspan="2" style="width: 5%;">
                            UOM
                        </td>
                        <td rowspan="2" style="width: 5%;">
                            Quantity
                        </td>
                        <td rowspan="2" style="width: 10%;">
                            Unit Price
                        </td>
                        <td rowspan="2" style="width: 10%;">
                            Amount
                        </td>
                        <td rowspan="2" style="width: 10%;">
                            Total Amount
                        </td>
                        <td>Download File</td>
                        <td>View File</td>
                        <td>Tran History</td>
                        <td rowspan="2" style="width: 100px;">
                            Delivery
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="poapp in poapproval" style="text-align:center;">
                        <td>
                            {{$index+1}}
                        </td>
                        <td>
                            <span>{{poapp.productcategory_name}}</span>
                        </td>
                        <td>
                            <span>{{poapp.producttype_name}}</span>
                        </td>
                        <td>
                            <span>{{poapp.product_name}}</span>
                        </td>
                        <td>
                            <span>{{poapp.po_desc}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_uom}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_qty}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_unitprice| number:2}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_amount| number:2}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_totalamount| number:2 }}</span>
                        </td>
                        <td class="text-center">
                             <span class="material-icons" ng-class="poapp.podetails_imagepath!=''? 'editlink':''"
                              ng-click="clkdownload(poapp.podetails_imagepath)"
                              title="{{poapp.podetails_imagepath=='' ? 'No File To Download':'Download' +' '+ poapp.podetails_imagepath}}">get_app</span>
                        </td>
                        <td class="text-center">
                             <span class="material-icons" ng-class="poapp.podetails_imagepath!=''? 'editlink':''"
                              onclick="clk()" ng-click="clkview(poapp.podetails_imagepath)"
                              title="{{poapp.podetails_imagepath=='' ? 'No File To View': 'View' +' '+ poapp.podetails_imagepath}}">touch_app</span>
                        </td>
                        <td class="text-center">
                                <span title="Transaction History" ng-click="tran_history(poapp)" align="center"
                                  class="editlink">
                                   <i class="material-icons">description</i>
                                </span>
                            </td>
                        <td>
                            <a align="center" data-target="#myedit" data-toggle="modal"
                               ng-click="godowndetails(poapp.podetails_gid,poapp.product_name,poapp.podetails_qty)"
                               style='cursor: pointer; text-decoration:none;' title="">
                                <i class="material-icons">send</i>
                                <md-tooltip>Delivery Details</md-tooltip>
                            </a>
                        </td>
                    </tr>
                    <tr ng-show="poapproval.length ==  0">
                        <td class="warning" colspan="8">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>

                    <tr>
                        <td align="right" colspan="9"><b>Total Amount</b></td>
                        <td colspan="1" style="text-align:center;">
                            {{calculatePay | number:2}}
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="row  text-left">
            <form name="poapprovel" role="form">
                <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                        <label>Reject Remarks</label>
                        <input autocomplete="off" maxlength="128"  ng-change="reject_remark(approvelreject)"
                               ng-model="approvelreject" ng-disabled="reject_remarks" required type="text">
                    </md-input-container>
                </div>

                <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                        <label>Approval Remarks</label>
                        <input autocomplete="off" maxlength="128"  ng-change="approvelreject=''"
                                ng-model="approvelremark" type="text"/>
                    </md-input-container>

                </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 col-sm-12 text-right">
                <button class="btn btn-default" ng-click="Close()" style="margin:5px;" type="button" value="Close">
                    Close
                    <md-tooltip>Close</md-tooltip>
                </button>
                <button class="btn btn-danger" class="md-raised md-warn"
                        ng-click="poapprovalsave('Reject',approvelreject)" ng-disabled="poapprovel.$invalid"
                        ng-hide="hide"
                        style="margin:5px;" type="button" value="Reject">
                    Reject
                    <md-tooltip>Reject</md-tooltip>
                </button>
                <button class="btn btn-success" ng-click="prapproved('Approve',approvelremark,lim)"
                        ng-disabled="poapprovel.$valid" ng-hide="hide" style="margin:5px;"
                        type="button">
                    Approve
                    <md-tooltip>Approve</md-tooltip>
                </button>
            </div>
            </form>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false" id="myedit" role="dialog" tabindex="-1">
            <form name="Delivery" novalidate>
                <div class="modal-dialog modal-style" role="document">
                    <div class="modal-content">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Delivery Details
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                        <div>
                            {{erroemessagedelivery}}
                        </div>
                        <div class="modal-body">
                            PO NO : {{poheader_sno}}
                            <!--                        Product Name : {{product_name}} Product Qty:{{product_qty}}-->
                            <table class="table  table-striped table-bordered table-condensed table-hover">
                                <thead class="header">
                                <tr>
                                    <td style="width:10px;">
                                        Sno
                                    </td>
                                    <td rowspan="2" style="width:10px;">
                                        Godown or Branch Name
                                    </td>
                                    <td rowspan="2" style="width: 100px;">
                                        Incharge Name
                                    </td>
                                    <td rowspan="2" style="width: 200px;">
                                        Address
                                    </td>
                                    <td rowspan="2" style="width: 30px;">
                                        UOM
                                    </td>
                                    <td rowspan="2" style="width: 30px;">
                                        Quantity
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="des in desr">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        <span>{{des.common_name}} </span>
                                    </td>
                                    <td>
                                        <span>{{des.employee_name}}</span>
                                    </td>
                                    <td>
                                        <span>{{des.address_1}}</span>
                                    </td>
                                    <td>
                                        <span>{{des.uom_name}}</span>
                                    </td>
                                    <td width="55px;">
                                        <span>{{des.podelivery_qty}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-default" data-dismiss="modal" type="button">Close
                                        <md-tooltip>close</md-tooltip>
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </form>
        </div>
          <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
            data-keyboard="false" id="viewprfile" role="dialog" style="height:auto;width:100%">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong> Viewing {{filename}}</strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                    <div class="body">
                        <div class="modal-body popup-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
<span title="Zoom in">
     <a href="" onclick="zoomin()" style="font-size:50px"><i style="font-size:50px" class="material-icons">zoom_in
                        </i></a>
</span>
                                    <span title="Zoom Out">
                        <a href="" onclick="zoomout()" style="font-size:50px"><i style="font-size:50px"
                                                                                 class="material-icons">
                            zoom_out
                        </i></a>
                                        </span>
                                </div>
                            </div>
                            <div class="row table-responsive">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                   <img src="{{viewfilepath}}"
            id="zooming" GFG="250">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <md-button class="md-raised" data-dismiss="modal">Back
                                <md-tooltip>close</md-tooltip>
                            </md-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
<script>
        function zoomin() {
            var GFG = document.getElementById("zooming");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth + 150) + "px";
        }
        function zoomout() {
            var GFG = document.getElementById("zooming");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth - 150) + "px";
        }
        function clk(){
            var GFG = document.getElementById("zooming");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (892) + "px";
        }
</script>
<script>
    var app = angular.module('AppPOaprocrt', ['ngMaterial', 'ui.bootstrap','textAngular']).config(function ($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
    app.directive('letterOnly', function () {
        return {
            require: 'ngModel',
            link: function (scope, element, attr, ngModelCtrl) {
                function fromUser(text) {
                    if (text) {
                        var transformedInput = text.replace(/[^0-9a-zA-Z./'-:]/g, '');

                        if (transformedInput !== text) {
                            ngModelCtrl.$setViewValue(transformedInput);
                            ngModelCtrl.$render();
                        }
                        return transformedInput;
                    }
                    return undefined;
                }
                ngModelCtrl.$parsers.push(fromUser);
            }
        };
    });
    app.controller("ApprovPoCtrl", ['$scope', '$filter', '$http', '$window', '$mdDialog', 'poapprovalservice',
        function ($scope,
            $filter, $http, $window, $mdDialog, poapprovalservice) {

            $scope.currentPage = 1;
            var detail = JSON.parse(sessionStorage.getItem('today'));
            $scope.employee_name = detail.employee_name;
            $scope.employgid = detail.employee_gid;
            $scope.empcode = detail.employee_code;
            $scope.entity_gid = detail.entity_gid;
            $scope.maxSize = 3;
            $scope.itemsPerPage = 10;
            $scope.maintable = [];
            $scope.maintable1 = [];
            $scope.new = [];
            $scope.Rejectdis = false;
            
            $scope.dropdown = '';
            $scope.dropdown1 = '';
            $scope.tempaa = [];
            $scope.aa = [];
            $scope.loading = function () {
                $mdDialog.show({
                    templateUrl: 'loaderSpinner',
                    parent: angular.element(document.body),
                    clickOutsideToClose: false
                });
            };

            $scope.endloading = function () {
                $mdDialog.hide();
            };

        $scope.clkdownload = function(e){
        if(e!=""){
        $window.location.href = "/common_downloadfile/?filename="+e;
        }
        else{
        return false;
        }
        }



         $scope.notepad = function(){
         if($scope.file_path_notepad == ' '){
                modalshow('viewnotepad');
                return false;
                }
                if($scope.file_path_notepad == undefined){
                modalshow('viewnotepad');
                return false;
                }
                if($scope.file_path_notepad){
                      var data = {
                        "Filename": $scope.file_path_notepad
                    }
                    var getdept_name = poapprovalservice.get_file_read(data)
                    getdept_name.then(function(result) {
                    $scope.htmlcontent = result.data.file_path
                     modalshow('viewnotepad');
                    }, function(err) {
                        alert('No data!.');
                    }).finally();
                }

                else{
                 modalshow('viewnotepad');
                }
        }


          $scope.tran_history = function(e){
        $scope.Number = e.poheader_no;
        var data= {"DETAIL":{
        "Poheader_Gid":e.poheader_gid
        }
        ,
          "CLASSIFICATION": {
                            "Entity_Gid": $scope.entity_gid
                        }
        }
        var data = {
                    "Group":"PO_HISTORY",
                    "Type": "GET",
                    "SubType": "PO_HISTORY",
                    "DETAIL": data
                }
            var get_purchase = poapprovalservice.getviewtran(data)
                get_purchase.then(function (result) {
                if(result.data.MESSAGE == "FOUND"){
                    $scope.viewtran = result.data.DATA;
                    }
                    modalshow('viewtranhistory');
                }).finally($scope.endloading);
        }


$scope.reject_remark = function (remark) {
                if (remark) {
                    $scope.IsDisabled = true;
                    $scope.approvelremark = "";
                } else {
                    $scope.IsDisabled = false;
                }
            }
                        $scope.clkview = function(e){
$scope.filename = e;
var data ={"Filename":e}
            var get_purchase = poapprovalservice.getviewfile(data)
                get_purchase.then(function (result) {
                    $scope.viewfilepath = result.data;
                    if($scope.viewfilepath != ''){
                    modalshow('viewprfile');
                    }
                }).finally($scope.endloading);
            }

            var po_gid = sessionStorage.getItem('poheader_gid');
            $scope.poheader_gid = po_gid;
            $scope.loading();
            var productname = poapprovalservice.getpodetails(po_gid);
            productname.then(function (productname) {
                $scope.details = JSON.parse(productname.data);
                $scope.c_gid = $scope.details[0].poheader_commodity_gid;
                $scope.dropdown1 = ($scope.details[0].poheader_gid);
                $scope.comm = ($scope.details[0].commodity_name);
                $scope.raisedby = ($scope.details[0].create_by);
                $scope.totalamount = $scope.details[0].podetails_totalamount;
                if ($scope.details.length > 0) {
                    getlogindelmat();
                    $scope.poapproval = $scope.details;
                    var prodname = $scope.poapproval;
                    if (prodname.length > 0) {
                        $scope.poheader_gid = prodname[0].poheader_gid;
                        $scope.file_path_notepad = prodname[0].poheader_notepad;
                        $scope.supplier_name = prodname[0].supplier_name;
                        $scope.supplier_gid = prodname[0].supplier_gid;
                        $scope.poheader_sno = prodname[0].poheader_no;
                        $scope.teamandcond_gid = prodname[0].teamandcond_gid;
                        $scope.teamandcond_name = prodname[0].poterms_name;
                        $scope.branch_name1 = prodname[0].branch_name;
                    }
                    $scope.calculatePay = calucatesum();
                }



                $scope.getcust = function (searchText) {
                  

                    $scope.searcheployee1 = searchText;

                    var data = {
                        'employee_gid': "",
                        'employee_name': "",
                        'commodity_gid': $scope.c_gid,
                        'employee_detail':searchText,
                        'Limit_Start':0,
                        'Limit_End': 50
                    }
                    var params1 = {
                        'params': data,
                        'action': 'limit',
                        'type': 'po_Dir_limit',
                        'amount': 0,
                    }
                    return $http.post(Appname + "/approvalview/", params1)
                        .then(function (data) {
                            $scope.data1 = JSON.parse(data.data);
                            return $scope.data1;
                        });
                };
            }, function () {
                alert('no data');
                $scope.endloading();
            })

            //LOGIN DATA

            function getlogindelmat() {
                var data = {
                    'employee_gid': "",
                    'commodity_gid': parseInt($scope.c_gid)
                }
                var params1 = {
                    'params': data,
                    'action': 'limit',
                    'type': 'Po_Approver',
                    'amount': 0,

                }
                $scope.logdelmat = [];
                //delmat Details
                var limitdata = poapprovalservice.delmat(params1);
                limitdata.then(function (commoditylimitdataname) {
                    $scope.logdelmat = JSON.parse(commoditylimitdataname.data);
                }).finally($scope.endloading)
            }



            function calucatesum() {
                var sum = 0;
                var podetails = $scope.poapproval;
                for (var i = 0; i < podetails.length; i++) {
                    if (podetails[i].podetails_totalamount !== undefined && podetails[i]
                        .podetails_totalamount !== "") {
                        sum += parseFloat(podetails[i].podetails_totalamount);
                    }
                }
                return sum;
            };



            $scope.poapprovalsave = function (process_type, remarks) {
                $scope.loading()
                $scope.poapprovel.$invalid=true;
                $scope.poapprovel.$valid=true;
                $scope.reject_remarks=true;

                if ($scope.lim != null || $scope.lim != undefined || $scope.lim != "") {
                    if ($scope.lim == null) {
                        loadrejection(process_type, $scope.poheader_gid, remarks);
                        return false;
                    }
                    if ($scope.lim.employee_name != detail.employee_name) {
                        confirm("The Rejection is Accepted Only For Login Employee .!!")
                        $scope.poapprovel.$invalid=false;
                        $scope.poapprovel.$valid=false;
                        $scope.reject_remarks=false;
                        $scope.endloading();

                        return false;
                    }
                }

                function loadrejection(process_type, header_gid, remarks) {

                    var data = {
                        "Params": {
                            "FILTER": {
                                "li_ref_gid": "POMAKER",
                                "li_reftable_gid": header_gid.toString(),
                                "ls_status": "REJECTED",
                                "lc_totype": "C",
                                "li_tto": detail.employee_gid.toString(),
                                "ls_remarks": remarks
                            },
                            "CLASSIFICATION": {
                                "Entity_Gid": $scope.entity_gid,
                                "Create_by": detail.employee_gid
                            }
                        }
                    }

                    var data_int = {
                        "Type": "INSERT",
                        "Sub_Type": "Poheader",
                        "data": data,

                    }

                    var status = poapprovalservice.setapproval(data_int);
                    status.then(function (status) {
                            var status = JSON.parse(status.data)
                            //alert(JSON.stringify(status));
                            if (status == "SUCCESS") {
                                alert("Rejected")
                                $window.location.href = "PO_Approval";
                                sessionStorage.removeItem('poheader_gid');
                            } else if (status == 'FAIL Tran' || status == 'FAIL PO') {
                                alert(JSON.stringify(status));
                                $scope.poapprovel.$invalid=false;
                                 $scope.poapprovel.$valid=false;
                                 
                            }
                        })
                        .finally($scope.endloading)

                }

            };

            $scope.Close = function () {
                $window.location.href = "PO_Approval";
            }

            $scope.prapproved = function (ev1, remark, k) {
                $scope.poapprovel.$valid=true;

                $scope.apr_msg = '';
                if (k != undefined) {
                    var ev1 = "pending for next Approver";
                    var transs = "Pending For Approval";
                    var name = k.employee_code;
                    $scope.toemp = [];
                    $scope.toemp = $filter('filter')($scope.data1, {
                        "employee_code": k.employee_code,
                        "commodity_name": $scope.como

                    }, true);
                    if ($scope.toemp.length > 0) {
                        //limit than the amount
                        if ($scope.toemp[0].delmat_limit < $scope.totalamount) {
                            if (confirm(
                                    "This Employee Dosen't Have Rights To Approve! Do You Want To Continue Further?"
                                )) {
                                var type = "G";
                                $scope.apr_msg = 'next_level';
                                var tto = k.employee_gid;
                            } else {
                                $scope.poapprovel.$valid=false;
                                return false
                            }
                        }
                        if ($scope.toemp[0].delmat_limit >= $scope.totalamount) {
                            if (confirm(
                                    "Sending To Next Level Approver! Do You Want To Continue Further?")) {
                                var type = "G";
                                $scope.apr_msg = 'next_level';
                                var tto = k.employee_gid;
                            } else {
                                $scope.poapprovel.$valid=false;
                                return false
                            }
                        }
                    } else {
                        if (confirm(
                                "This Employee Dosen't Have Rights To Approve!Do You Want To Continue Further?"
                            )) {
                            var type = "G";
                            $scope.apr_msg = 'next_level';
                            var tto = k.employee_gid;
                        } else {
                            $scope.poapprovel.$valid=false;
                            return false
                        }
                    }
                } else {
                    if ($scope.logdelmat.length > 0) {


                        if ($scope.totalamount > $scope.logdelmat[0].delmat_limit) {
                            alert(" No  Valid Limit Choose An Approver. ");
                            // $scope.showConfirm(p)
                            $scope.poapprovel.$valid=false;
                            return false
                        } else {
                            if (confirm('Are You sure for the Approval?')) {
                                var type = "C"
                                var transs = 'FinalApproved'
                                var tto = ''
                                var name = $scope.empcode;
                                //if the product is dts  


                            } else {
                                $scope.poapprovel.$valid=false;
                                return false
                            }
                        }


                    } else {
                        alert(" No Limit Choose An Approver. ")
                        $scope.poapprovel.$valid=false;
                        return false
                    }



                }


                // var type = "G"
                var data1 = {

                    "li_ref_gid": "POMAKER",
                    'li_reftable_gid': $scope.poheader_gid.toString(),
                    'ls_status': transs,
                    'lc_totype': type,
                    'li_tto': tto.toString(),
                    "ls_remarks": remark
                }

                var tran = poapprovalservice.trnapp(data1)
                tran.then(function (tran) {

                    var aa = JSON.parse(tran.data)

                })

                var approvel = poapprovalservice.getprapproved(ev1, $scope.poheader_gid, remark, name);
                approvel.then(function (approvel) {
                    $scope.loading()
                    var approval = JSON.parse(approvel.data)

                    if (approval == "Success") {
                        if ($scope.apr_msg == 'next_level') {
                            alert("Moved To Next Level Approver");
                        } else {
                            alert("Approved Successfully");
                        }
                        $window.location.href = "PO_Approval";
                        sessionStorage.removeItem('poheader_gid');
                    }
                    else{
                        alert('Not able to proceed')
                        $scope.poapprovel.$valid=false;
                    }
                }).finally($scope.endloading)
            }



            $scope.godowndetails = function (gid, product_name, qty) {
                $scope.product_qty = qty;
                $scope.product_name = product_name;
                var getgodown = poapprovalservice.getgodown(gid);
                getgodown.then(function (getgodown) {
                    var delivery_detail = JSON.parse(getgodown.data)
                    console.log(getgodown.data)
                    $scope.desr = delivery_detail;

                }, function () {
                    alert('Records not found');
                });

            }
            $scope.deli_close = function (ev) {
                modalhide(ev);
            };



            $scope.totalsum = function () {

                var sum = 0;
                $scope.poapproval.forEach(function (v) {
                    sum = sum + (((v.podetails_quatity * v.podetails_unitprice) * 18 / 100) +
                        (v.podetails_quatity * v.podetails_unitprice))
                });
                return sum;
            }








        }
    ]);
    app.service("poapprovalservice", function ($http) {
        this.getpodetails = function (po_gid) {
            var response = $http.post(Appname + "/Approval_PODetail/", {
                params: {
                    'podetails_gid': po_gid,
                    'product_name': ''
                }
            })
            return response;
        }

        this.getgodown = function (detail_gid) {
            var response = $http.post(Appname + "/PODelivery_detail/", {
                params: {
                    'podetails_gid': detail_gid
                }
            })
            return response;
        }

        this.delmat = function (data) {
            var response = $http.post(Appname + "/approvalview/", data)
            return response;
        }




        this.getprapproved = function (ev, ev1, ev2, k) {
            var response = $http.post(Appname + "/Poapproval_set/", {
                params: {
                    "status_pr": ev,
                    "poheader": ev1,
                    "lsremaks": ev2,
                    "empname": k
                }
            });
            return response;
        }


        this.setapproval = function (x) {
            var response = $http.post(Appname + "/porejectt/", x)
            return response;
        }



        //trnapp
        this.trnapp = function (data) {
            var response = $http.post(Appname + "/tranapproval/", data)

            return response;
        }

     this.getviewfile = function (data) {
            var response = $http.post(Appname + "/common_viewfile/", data);
            return response;
        }
              this.getviewtran = function (data) {
            var response = $http.post(Appname + "/Get_Tran_History/", data);
            return response;
        }
this.get_file_read = function (data) {
            var response = $http.post(Appname + "/common_read_file/", data);
            return response;
        }

    });



</script>
{% endblock %}