{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} GRN Details View {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="Appgrncreate" ng-controller="Ctrlgrncreate" class="container container1" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>GRN Details View</h4>
            </div>
        </div>
           <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
            data-keyboard="false" id="viewtranhistory" role="dialog" style="height:auto;width:100%">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong> Asset Datas</strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                      <div class="body">
                        <div class="modal-body popup-body">
                            <div class="row table-responsive">
                                            <div class="col-md-12 col-lg-12 col-sm-12">
                                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                                        md-progress="deferred">
                                        <thead class="header">
                                            <tr>
                                                <td>S.no</td>
                                                <td>Asset</td>
                                                <td>Sno</td>
                                                <td>Manufacture</td>
                                                <td>Warranty Start Date</td>
                                                <td>Warranty End Date</td>
                                                <td>Installation Date</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="obj in viewtran">
                                                <td class="text-center">
                                                    {{$index+1}}
                                                </td>
                                                <td class="text-center">
                                                    {{obj.assetid_assetid}}
                                                </td>
                                            <td class="text-center">
                                                    {{obj.aassetid_serialno}}
                                                </td>
                                            <td class="text-center">
                                                    {{obj.assetid_manufacturer}}
                                                </td>
                                             <td  class="text-center">
                                                    {{obj.WarrantyStartDate | date:'dd-MMM-yyyy'}}</td>

                                               <td  class="text-center">
                                                     {{obj.WarrantyEndDate | date:'dd-MMM-yyyy' }}
                                                </td>
                                            <td  class="text-center">
                                                     {{obj.Installation_Date | date:'dd-MMM-yyyy' }}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <md-button class="md-raised" data-dismiss="modal">Back
                                <md-tooltip>close</md-tooltip>
                            </md-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    <span class="md-title title-color">GRN No : </span>
                    <span class="md-subhead">{{grn_details.grninwardheader_code}}</span>
                </div>
                <div class="col-md-5">
                    <span class="md-title title-color">Supplier Name : </span><span
                        class="md-subhead">{{grn_details.supplier_name}}</span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    <span class="md-title title-color">DC Number : </span>
                    <span class="md-subhead">{{grn_details.grninwardheader_dcnote}}</span>
                </div>
                <div class="col-md-5">
                    <span class="md-title title-color">Invoice Number : </span>
                    <span class="md-subhead">{{grn_details.grninwardheader_invoiceno}}</span>
                </div>

            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    <span class="md-title title-color">Received Date : </span>
                    <span class="md-subhead">{{grn_details.grninwardheader_date  | date:'dd-MMM-yyyy'}}</span>
                </div>
                <div class="col-md-5">
                    <span class="md-title title-color">Remarks : </span>
                    <span class="md-subhead">{{grn_details.grninwardheader_remarks}}</span>
                </div>

            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-lg-2 col-sm-2">
                <md-select ng-model="supplier_name" ng-disabled="disabled" ng-hide="true">
                    <md-optgroup>
                        <md-option ng-repeat="posupplier in POsupplier_list | filter:searchTerm"
                                   ng-click="supplier_click(posupplier.supplier_gid)"
                                   ng-selected="supplier_gid == posupplier.supplier_gid"
                                   ng-value="posupplier.supplier_name">
                        </md-option>
                    </md-optgroup>
                </md-select>
            </div>
        </div>

         <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                       md-progress="deferred">
                    <thead class="header">
                    <tr>
                        <th>S.No</th>
                        <th>Delivery Location</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>PO Number</th>
                        <th>PR Number</th>
                        <th>Product Name</th>
                        <th>Received Quantity</th>
                        <th>UOM Name</th>
                        <th>Asset Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div ng-hide="true">
                        <tr ng-repeat="user in grn_data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:searchquery ">
                            <td align="right">{{((currentPage-1)*itemsPerPage)+$index+1}}</td>
                            <td>
                                <span>{{user.delivery_location}}</span>
                            </td>
                            <td>
                                <span>{{user.location}}</span>
                            </td>
                            <td>
                                <span>{{user.grninwardheader_date  | date:'dd-MMM-yyyy'}}</span>
                            </td>
                            <td><span>{{user.poheader_no}}</span></td>
                            <td>
                                <span>{{user.prheader_no}}</span>
                            </td>
                            <td>
                                <span>{{user.product_name}}</span>
                            </td>
                            <td>
                                <span>{{user.grninwarddetails_qty}}</span>
                            </td>
                            <td>
                                <span>{{user.uom_name}}</span>
                            </td>
                            <td class="text-center">
                                <span title="Asset Details" ng-click="clkasset(user)" align="center"
                                  class="editlink">
                                   <i class="material-icons">description</i>
                                </span>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="12">
                            <ul uib-pagination total-items="grn_data.length" ng-model="currentPage"
                                max-size="maxSize"
                                class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
         <div class="row  text-left" ng-hide="grn_view">
            <form role="form" name="grnapproval">
                <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                        <label>Reject Remarks</label>
                        <input id="premarks"    letter-Only1 maxlength="256" ng-model="approvelreject" ng-change="approvelremark=''" required/>
                    </md-input-container>

                </div>

            </form>
             <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                        <label>Approval Remarks</label>
                        <input id="prremarksapp" maxlength="256" letter-Only1 ng-model="approvelremark"  ng-change="approvelreject=''"  required/>
                    </md-input-container>

                </div>
            <div class="col-lg-6 col-sm-6 text-right">
                <md-button type="button" value="Close" class="btn btn-secondary" ng-click="Close()">Close
                </md-button>
                <md-button type="button" value="Reject" ng-click="grnapprovalfunc('Reject',approvelreject)" class="md-raised md-warn"
                           ng-disabled="grnapproval.$invalid" ng-hide="hide">Reject
                </md-button>
                <md-button type="button" value="Approve" ng-click="grnapprovalfunc('Approve',approvelremark)"
                           ng-disabled="grnapproval.$valid" class="md-raised md-primary" ng-hide="hide">Approve
                </md-button>
            </div>
        </div>
    </div>
</div>
</div>
{% endverbatim %}

<style>
    .title-color{
    color:#FF572D
    }










</style>
<script>
var myApp = angular.module('Appgrncreate', ['ngMaterial','ui.bootstrap','ngMessages','AppCommon']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});
myApp.directive('letterOnly1', function () {
        return {
            require: 'ngModel',
            link: function (scope, element, attr, ngModelCtrl) {
                function fromUser(text) {
                    if (text) {
                        var transformedInput = text.replace(/[^0-9a-zA-Z. ]/g, '');

                        if (transformedInput !== text) {
                            ngModelCtrl.$setViewValue(transformedInput);
                            ngModelCtrl.$render();
                        }
                        return transformedInput;
                    }
                    return undefined;
                }
                ngModelCtrl.$parsers.push(fromUser);
            }
        };
    });
myApp.controller('Ctrlgrncreate', ['$scope', 'Servicegrncreate', '$mdDialog', '$window', '$mdDateLocale', '$filter', '$element',
    function($scope, Servicegrncreate, $mdDialog, $window, $mdDateLocale, $filter, $element) {
        $scope.approvelremark = ' ';
        $scope.loading = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.body),
                clickOutsideToClose: false
            });
        };
        $element.find('input').on('keydown', function(ev) {
            ev.stopPropagation();
        });

        $scope.endloading = function() {
            $mdDialog.hide();
        };

        $scope.currentPage = 1;
        $scope.maxSize = 3;
        $scope.itemsPerPage = 10;
        var grn_gid;
        if (sessionStorage.getItem('grn_header') != undefined && sessionStorage.getItem('grn_header') != "") {
            grn_gid = JSON.parse(sessionStorage.getItem('grn_header'));
        }

        if (grn_gid != undefined) {
        $scope.grnheader_gid = grn_gid.grnheader_gid;
            var filter = {
                "grnheader_id": grn_gid.grnheader_gid
            }
            if (grn_gid.grnheader_approve == 'NO') {
                $scope.grn_view = true;
            }
            var sup_data = Servicegrncreate.get_grndata(filter);
            sup_data.then(function(result) {

                $scope.grn_details = result.data[0];
                $scope.grn_data = result.data;
            }, function() {
                alert('Records not found');
            });
        }

        $scope.clkasset = function(e){

           var filter = {
                "grninwarddetails_id": e.grninwarddetails_gid
            }
            var sup_data = Servicegrncreate.get_grndata_asset(filter);
            sup_data.then(function(result) {
                $scope.viewtran = result.data;
                if($scope.viewtran[0].assetid_assetid != null){
            for(i=0;i<$scope.viewtran.length;i++){
            $scope.viewtran[i].assetid_details = [JSON.parse($scope.viewtran[i].assetid_details)];
            }
            for(i=0;i<$scope.viewtran.length;i++){
            $scope.viewtran[i].WarrantyEndDate = $scope.viewtran[i].assetid_details[0].WarrantyEndDate;
            $scope.viewtran[i].WarrantyStartDate = $scope.viewtran[i].assetid_details[0].WarrantyStartDate;
            $scope.viewtran[i].Installation_Date = $scope.viewtran[i].assetid_details[0].Installation_Date;
            }
            }
            else{
            alert('No Asset to View');
            return false;
            }
            modalshow('viewtranhistory');
            }, function() {
                alert('Records not found');
            });
        }

        $scope.grnapprovalfunc = function(type, remarks) {
            $scope.loading();
            var approvel = Servicegrncreate.getgrnapproved(type, $scope.grnheader_gid, remarks);
            approvel.then(function(approvel) {
                var approval = JSON.parse(approvel.data)
                if (approval == "Success") {
                    $scope.endloading();
                    if (type == "Reject") {
                        alert("Rejected Successfully");
                    } else {
                        alert("Approved Successfully");
                    }
                    sessionStorage.setItem('grn_header', '');
                    if (grn_gid.grnheader_approve == 'NO') {
                     $window.location.href = "GRN_Maker";
                    }else{
                      $window.location.href  = "GRN_Approver";
                    }

                } else {
                    alert(approvel.data);
                    $scope.endloading();
                }

            }, function() {
                alert('Records not found');
            });
        };
        $scope.Close=function(){
       
            $window.location.href  = "GRN_Approver";
        }

    }
]);
 myApp.service("Servicegrncreate", function ($http) {

     this.get_grndata = function (filter) {
        var response = $http.post(Appname+"/get_grnprocess_details/",
        {params:{"filter":filter,"type":"GRN","subtype":"DETAIL_VIEW"}});
        return response;
    }

this.get_grndata_asset = function (filter) {
        var response = $http.post(Appname+"/get_grnprocess_details/",
        {params:{"filter":filter,"type":"GRN","subtype":"ASSET_VIEW"}});
        return response;
    }



     this.getgrnapproved = function (ev, ev1, ev2) {
        var response = $http.post(Appname + "/set_grnapproval/", { params: { "action": ev, "grnheader_gid": ev1, "remarks": ev2 } });
        return response;
    }

    });





</script>
{% endblock %}