{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Purchase Planning{% endblock %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="Apppurchaseplanning"
         ng-controller="Ctrlpurchaseplanning" ng-init="df()"
         class="container container1" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4><strong> Purchase Planning</strong></h4>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="mdl1_present"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Open PO
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row scrollbar" style="height:400px;">
                            <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                    md-progress="deferred">
                    <thead class="header">
                        <tr>
                            <th>S.No</th>
                            <th>Supplier Name</th>
                            <th>Product Name</th>
                            <th>Po Number</th>
                            <th>Po Date</th>
                            <th>Order Qty</th>
                            <th>Receive Qty</th>
                            <th>Pending Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="openpo in getopenpo">
                            <td>

                                <center>{{$index+1}}</center>
                            </td>
                            <td class="text-center">{{openpo.supplier_name}}</td>
                            <td class="text-center">{{openpo.product_name}}</td>
                            <td class="text-center">{{openpo.poheader_date}}</td>
                            <td class="text_center">{{openpo.poheader_no}}</td>
                            <td class="text-center">{{openpo.total_qty}}</td>
                            <td class="text-center">{{openpo.allreceive_qty}}</td>
                            <td class="text-centre">{{openpo.rem_qty}}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul uib-pagination total-items="getopenpo.length" ng-model="currentPage"
                                    max-size="maxSize" class="pagination-sm" boundary-links="true"
                                    items-per-page="itemsPerPage"></ul>
                            </td>
                            <td colspan="4">
                                Total Count:{{getopenpo.length}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
                        </div>
                    </div>
                    <div align="center" class="row">
                        <div class="col-md-12">
                           <md-button aria-label="Close" class="md-raised" data-dismiss="modal" ng-click="cls()"
                                       value="close">Close
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="mdl4_present"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel4">
                            Month Sales
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row scrollbar" style="height:400px;">
                            <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                    md-progress="deferred">
                    <thead class="header">
                        <tr>
                            <th>S.No</th>
                            <th>Employee Name</th>
                            <th>Customer Name</th>
                            <th>Product Name</th>
                            <th>Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="mntsal in getmntsal">
                            <td>

                                <center>{{$index+1}}</center>
                            </td>
                            <td class="text-left">{{mntsal.employee_name}}</td>
                            <td class="text-left">{{mntsal.customer_name}}</td>
                            <td class="text-center">{{mntsal.product_name}}</td>
<!--                            <td class="text_center">{{mntsal.salesplandetails_qty}}</td>-->
                            <td>
                                {{mntsal.salesplandetails_qty}}
                            </td>
                        </tr>
<!--                       <tr>-->
<!--                           <td>-->
<!--                              Total: {{total}}-->
<!--                           </td>-->
<!--                       </tr>-->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <ul uib-pagination total-items="getmntsal.length" ng-model="currentPage"
                                    max-size="maxSize" class="pagination-sm" boundary-links="true"
                                    items-per-page="itemsPerPage"></ul>
                            </td>
                            <td colspan="1">
                               Total :
                            </td>
                            <td colspan="1" ng-bind="total_value(getmntsal)">

                            </td>
                        </tr>
                    </tfoot>
                </table>
                        </div>
                    </div>
                    <div align="center" class="row">
                        <div class="col-md-12">
                           <md-button aria-label="Close" class="md-raised" data-dismiss="modal" ng-click="cls()"
                                       value="close">Close
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="mdl3_present"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg"  style="width:400px" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel2">
                            Sales History
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body" style="height:150px">
                        <div class="row scrollbar" >
                            <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                    md-progress="deferred">
                    <thead class="header">
                    <th>Month</th>
                      <th ng-repeat="y in years track by $index">
                            {{y}}
                      </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in sales_hstry">
                            <td>{{s.month }}</td>
                            <td ng-repeat="y in years track by $index">{{ s[y].qty }}</td>
                        </tr>
                    </tbody>
                </table>
                        </div>
                    </div>
                    <div align="center" class="row">
                        <div class="col-md-12">
                           <md-button aria-label="Close" class="md-raised" data-dismiss="modal" ng-click="cls()"
                                       value="close">Close
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="mdl2_present"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel1">
                            Actual Sales Details
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                         <div class="row scrollbar" style ="height:400px;">
                            <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                    md-progress="deferred">
                    <thead class="header">
                        <tr>
                            <th>S.No</th>
                            <th>Customer Name</th>
                            <th>Location</th>
                            <th>Product Name</th>
                            <th>Invoice Number</th>
                            <th>Invoice Date</th>
                            <th>Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="sales in getactual_count">
                            <td>

                                <center>{{$index+1}}</center>
                            </td>
                            <td class="text-left">{{sales.customer_name}}</td>
                            <td class="text-left">{{sales.location_name}}</td>
                            <td class="text-center">{{sales.product_displayname}}</td>
                            <td class="text_center">{{sales.invoiceheader_no}}</td>
                            <td class="text-center">{{sales.invoiceheader_date}}</td>
                            <td class="text-center">{{sales.invoicedetails_qty}}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul uib-pagination total-items="getactual_count.length" ng-model="currentPage"
                                    max-size="maxSize" class="pagination-sm" boundary-links="true"
                                    items-per-page="itemsPerPage"></ul>
                            </td>
                            <td colspan="4">
                                Total Count:{{getactual_count.length}}
                            </td>
<!--                            <td>-->
<!--                                <input type="text" value="total()" ng-model="total()">-->
<!--                            </td>-->
                        </tr>
                    </tfoot>
                </table>
                        </div>
                    </div>
                    <div align="center" class="row">
                        <div class="col-md-12">
                           <md-button aria-label="Close" class="md-raised" data-dismiss="modal" ng-click="cls()"
                                       value="close">Close
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           <md-button class="md-icon-button md-primary" aria-label="Search" ng-click="btn()">
                    <md-icon>search</md-icon>
                    <md-tooltip>Search</md-tooltip>
                </md-button>
        <div class="row">
            <div class="col-md-2">
                <md-input-container class="md-block inputcontainer">
                    <md-checkbox ng-model="autocalculation" class="md-primary"
                                 aria-label="Auto Calculation" ng-change="auto_change()">
                        Auto
                    </md-checkbox>
                </md-input-container>
            </div>
            <div class="col-md-4">
                <md-input-container class="md-block inputcontainer">
                    <label>From Date</label>
                    <md-datepicker
                            md-hide-icons="calendar"
                            md-mode="month"
                            md-open-on-focus md-max-date="maxDate"
                            ng-model="from_date">
                    </md-datepicker>
                </md-input-container>
            </div>
            <div class="col-md-4">
                <md-autocomplete
                        md-clear-button="true"
                        md-input-maxlength=126
                        md-item-text="item.product_name"
                        md-items="item in getproduct(searchText)"
                        md-min-length=0
                        md-no-cache="true"
                        md-search-text="searchText"
                        md-selected-item="selectedIt"
                        md-selected-item-change="ACselectchange(item)"
                        md-floating-label="Product">

                    <md-item-template>
                        <span md-highlight-text="searchText"> {{item.product_name}} </span>
                    </md-item-template>
                    <md-not-found>
                        No product matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div class="col-md-2">
                <md-button class="md-icon-button md-primary" aria-label="Search" ng-click="search_click()">
                    <md-icon>search</md-icon>
                    <md-tooltip>Search</md-tooltip>
                </md-button>
            </div>
        </div>
        <div class="row table-reponsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover scrollTable"
                       id="detailstable">
                    <thead>
                    <tr>
                        <th>Des</th>
                        <th rowspan="3">Product Name</th>
                        <th rowspan="3">price</th>
                        <th colspan="9" ng-repeat="m in months">{{months[$index]}}</th>
                    </tr>
                    <tr>
                        <th>S.No</th>
                        <th  ng-repeat="d in details" style="position:static">{{details[$index]}}</th>
                        <th ng-repeat="d in details">{{details[$index]}}</th>
                        <th ng-repeat="d in details">{{details[$index]}}</th>
                        <th ng-repeat="d in details">{{details[$index]}}</th>
                        <th ng-repeat="d in details">{{details[$index]}}</th>
                        <th ng-repeat="d in details">{{details[$index]}}</th>
<!--                        <th ng-repeat="d in details">{{details[$index]}}</th>-->
<!--                        <th ng-repeat="d in details">{{details[$index]}}</th>-->
<!--                        <th ng-repeat="d in details">{{details[$index]}}</th>-->

                    </tr>
                    </thead>
                    <tbody class="scrollbar">
                    <tr ng-repeat="pro in showndetails">
                        <td>{{$index+1}}</td>
                        <td>{{pro.product_name}}</td>
                        <td>{{pro.unit_price}}</td>
                        <td>
                            <input type="text" style="width:50px" ng-model="pro.targetperc1" ng-if="!autocalculation"
                                   class="form-control">
                            <span ng-if="autocalculation">{{pro.targetperc1}}</span>
                        </td>
                        <td>
                            {{pro.closingstk1=math.ceil((pro.targetperc1*pro.production2)/25)*25}}
<!--                        {{pro.closingstk1}}-->
                        </td>
                        <td>{{pro.openStk1}}</td>
                        <td ng-class="pro.tgtpurch1>0? 'info':'danger'">
                            {{pro.tgtpurch1=(pro.production1*1 < 0 ? 0 : pro.production1*1)+(pro.closingstk1 < 0 ? 0 : pro.closingstk1)-(pro.openStk1 < 0 ? 0 : pro.openStk1) | positive}}
<!--                             {{pro.tgtpurch1}}-->
                        </td>
                        <td ng-click="clkpo(pro)">{{pro.pendingPO1}}</td>
                        <td ng-class="pro.incpurch1>0? 'success':'danger'" >
                            {{pro.incpurch1=(pro.tgtpurch1 > pro.pendingPO1 ? (pro.tgtpurch1-pro.pendingPO1): 0)}}
<!--                             {{pro.incpurch1 }}-->
                        </td>
                        <td ng-click="clkmntsales(pro,'0')">{{pro.salePlanQty1}}</td>
                        <td><input type="text" style="width:50px" ng-model="pro.production1" ng-change="chngeprod(pro)"
                                   class="form-control" ng-init="pro.production1=0" numbers-only>
                             <md-button aria-label="Click" style="height:10px" class="md-icon-button" ng-click="slshstry(pro)">
                                            <md-icon class="material-icons editlink">done
                                            </md-icon>
                             </md-button>
                        </td>
                         <td ng-click="clksales(pro)">{{pro.ActualSales1}}</td>
                        <td>
                            <input type="text" style="width:50px" ng-model="pro.targetperc2" ng-if="!autocalculation"
                                   class="form-control">
                            <span ng-if="autocalculation">{{pro.targetperc2}}</span>
                        </td>
                        <td>
                            {{pro.closingstk2=math.ceil((pro.targetperc2*pro.production3)/25)*25}}
<!--                             {{pro.closingstk2}}-->
                        </td>
                        <!--opening stock-->
                        <td>
                           {{pro.openStk2 = (pro.openStk1)+(pro.incpurch1)+(pro.pendingPO1)-(pro.production1)}}
<!--                              {{pro.openStk2}}-->
                        </td>
                        <td ng-class="pro.tgtpurch2>0? 'info':'danger'">
                            {{pro.tgtpurch2=(pro.production2*1 < 0 ? 0 : pro.production2*1)+(pro.closingstk2 < 0 ? 0 : pro.closingstk2)-(pro.openStk2 < 0 ? 0 : pro.openStk2) | positive}}
<!--                            {{pro.tgtpurch2}}-->
                        </td>
                        <td>{{pro.pendingPO2 = 0}}</td>
                        <td ng-class="pro.incpurch2>0? 'success':'danger'">
                            {{pro.incpurch2=(pro.tgtpurch2 < 0 ? 0 : pro.tgtpurch2)-pro.pendingPO2}}
<!--                            {{pro.incpurch2}}-->
                        </td>
                        <td ng-click="clkmntsales(pro,'1')">{{pro.salePlanQty2}}</td>

                         <td><input type="text" style="width:50px" ng-model="pro.production2" ng-change="chngeprod2(pro)" ng-init="pro.production2=0"
                                   class="form-control" numbers-only></td>
                         <td ng-init="0">{{pro.ActualSales2 = 0}}</td>

                        <td><input type="text" style="width:50px" ng-model="pro.targetperc3" ng-if="!autocalculation"
                                   class="form-control"></td>
                        <td>
<!--                            {{pro.closingstk3=math.ceil((pro.targetperc3*pro.production4)/25)*25}}-->
                            {{pro.closingstk3=math.ceil((pro.targetperc3*pro.production4)/25)*25}}
                        </td>
                        <td>
                            {{pro.openStk3=(pro.openStk2)+(pro.incpurch2 )+(pro.pendingPO2)-(pro.production2)}}</td>
                        <td ng-class="pro.tgtpurch3>0? 'info':'danger'">
                            {{pro.tgtpurch3=(pro.production3*1)+(pro.closingstk3 < 0 ? 0 : pro.closingstk3)-(pro.openStk3 < 0 ? 0 : pro.openStk3) | positive }}
                        </td>
                        <td>{{pro.pendingPO3 = 0}}</td>
                        <td ng-class="pro.incpurch3>0? 'success':'danger'">
                            {{pro.incpurch3=(pro.tgtpurch3 < 0 ? 0 : pro.tgtpurch3)-(pro.pendingPO3 < 0 ? 0 : pro.pendingPO3)}}
                        </td>
                        <td ng-click="clkmntsales(pro,'2')">{{pro.salePlanQty3}}</td>

                        <td><input type="text" style="width:50px" ng-model="pro.production3" ng-change="chngeprod3(pro)"
                                   ng-init="pro.production3=0" class="form-control" numbers-only></td>
                        <td ng-init="0">{{pro.ActualSales3 = 0}}</td>

                        <td><input type="text" style="width:50px" ng-model="pro.targetperc4" ng-if="!autocalculation"
                                   class="form-control"></td>
                        <td>{{pro.closingstk4=math.ceil((pro.targetperc4*pro.nxtSalePlanQty4)/25)*25}}</td>
                        <td>{{pro.openStk4=(pro.openStk3)+(pro.incpurch3)+(pro.pendingPO3)-(pro.production3)}}</td>
                        <td ng-class="pro.tgtpurch4>0? 'info':'danger'">
                            {{pro.tgtpurch4=(pro.production4*1 < 0 ? 0 : pro.production4*1)+(pro.closingstk4 < 0 ? 0 : pro.closingstk4)-(pro.openStk4 < 0 ? 0 : pro.openStk4) | positive}}
                        </td>
                        <td>{{pro.pendingPO4 = 0}}</td>
                        <td ng-class="pro.incpurch4>0? 'success':'danger'">
                            {{pro.incpurch4=(pro.tgtpurch4 < 0 ? 0 : pro.tgtpurch4)-(pro.pendingPO4 < 0 ? 0 : pro.pendingPO4)}}
                        </td>
                        <td ng-click="clkmntsales(pro,'3')">{{pro.salePlanQty4}}</td>

                        <td><input type="text" style="width:50px" ng-model="pro.production4"
                                ng-init="pro.production4=0"   class="form-control" numbers-only></td>
                        <td ng-init="0">{{pro.ActualSales4 = 0}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>
                        <button class="btn" type="button" value="Apply"
                         ng-model="btnapply"
                         ng-click="ttlperc_change(ttlperc)"> Apply</button>
                        </td>
                        <td><input type="text" placeholder="Count" style="width:50px" ng-model="suplier.sup_count"
                                   ng-change="supplier_change()" class="form-control"></td>
                        <td><input type="text" placeholder="Capacity" style="width:50px" ng-model="suplier.sup_capacity"
                                   ng-change="supplier_change()" class="form-control"></td>
                        <td>
                            <input type="text" ng-if="autocalculation" placeholder="Perc(%)" style="width:50px"
                                   ng-model="ttlperc.tgtperc1"
                                   ng-change="ttlperc.tgtperc1?ttlperc_change(ttlperc):''" class="form-control"></td>

                        <td ng-repeat="m in totallist[0]">{{m |positive}}</td>

                        <td>
                            <input type="text" ng-if="autocalculation" placeholder="Perc(%)" style="width:50px"
                                   ng-model="ttlperc.tgtperc2"
                                   ng-change="ttlperc.tgtperc1?ttlperc_change(ttlperc):''" class="form-control">
                        </td>
                        <td ng-repeat="m in totallist[1]">{{m |positive}}</td>

                        <td>
                            <input type="text" ng-if="autocalculation" placeholder="Perc(%)" style="width:50px"
                                   ng-model="ttlperc.tgtperc3"
                                   ng-change="ttlperc.tgtperc1?ttlperc_change(ttlperc):''" class="form-control">
                        </td>
                        <td ng-repeat="m in totallist[2]">{{m |positive}}</td>
                        <td>
                            <input type="text" ng-if="autocalculation" placeholder="Perc(%)" style="width:50px"
                                   ng-model="ttlperc.tgtperc4"
                                   ng-change="ttlperc.tgtperc1?ttlperc_change(ttlperc):''" class="form-control">
                        </td>
                        <td ng-repeat="m in totallist[3]">{{m |positive}}</td>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-md-2">
                <md-button class="md-raised custbutton" aria-label="Search" ng-click="approve_click($event)">
                    Approve
                    <md-icon>done</md-icon>
                    <md-tooltip>Approve</md-tooltip>
                </md-button>
            </div>
        </div>
        <!--Dialog Approve summary-->
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="dialogApproveSummary">
                <md-dialog layout-padding>
                    <div>
                        <div class="col-md-12">
                            <md-subheader class="md-primary">Approve Summary Deatils</md-subheader>
                        </div>
                        <div>
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered  table-condensed ">
                                    <thead class="header">
                                    <tr>
                                        <th>Des</th>
                                        <th rowspan="2">Product Name</th>
                                        <th rowspan="2">price</th>
                                        <th colspan="4" ng-repeat="m in months|limitTo:2">{{months[$index]}}</th>
                                    </tr>
                                    <tr>
                                        <th>S.No</th>
                                        <th ng-repeat="d in sdetails">{{sdetails[$index]}}</th>
                                        <th ng-repeat="d in sdetails">{{sdetails[$index]}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="pro in sshowndetails">
                                        <td>{{$index+1}}</td>
                                        <td>{{pro.product_name}}</td>
                                        <td>{{pro.unit_price}}</td>

                                        <td>{{pro.openStk1}}</td>
                                        <td class="info">{{pro.incpurch1}}</td>
                                        <td>{{pro.amt1=pro.incpurch1*pro.unit_price |number}}</td>
                                        <td>{{pro.production1}}</td>

                                        <td>{{pro.closingstk1}}</td>
                                        <td class="info">{{pro.incpurch2}}</td>
                                        <td>{{pro.amt2=pro.incpurch2*pro.unit_price|number}}</td>
                                        <td>{{pro.production2}}</td>

                                    </tr>
                                    </tbody>
                                    <tfoot style="width:100% !important;">
                                    <tr>
                                        <td colspan="3" ng-bind="summarytotal()"></td>

                                        <td>{{stotal.ttlopenStk1}}</td>
                                        <td class="info">{{stotal.ttlincpurch1}}</td>
                                        <td>{{stotal.ttlvalue1|number}}</td>
                                        <td>{{stotal.ttlproduction1}}</td>

                                        <td>{{stotal.ttlopenStk2}}</td>
                                        <td class="info">{{stotal.ttlincpurch2}}</td>
                                        <td>{{stotal.ttlvalue2|number}}</td>
                                        <td>{{stotal.ttlproduction2}}</td>

                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12 text-center">
                                <md-button class="md-raised custbutton" ng-click="confirm_click()">
                                    Confirm
                                    <md-tooltip>Confirm</md-tooltip>
                                </md-button>

                                <md-button class="md-raised" ng-click="closedialog()">
                                    Cancel
                                    <md-tooltip>Cancel</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </md-dialog>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
<script type="text/javascript">
 var app_col_performance = angular.module('Apppurchaseplanning', ['ngMaterial', 'ui.bootstrap', 'AppCommon','ngMessages'])
  .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
 app_col_performance.run(function($mdDateLocale, $filter) {
     $mdDateLocale.formatDate = function(date) {
         return $filter('date')(date, "dd-MMM-yyyy");
     };
 })
 app_col_performance.filter('positive', function() {
       return function(input) {
if(input<-1){
           return Math.abs(0);
}
           return Math.abs(input);
       };
   })
 app_col_performance.controller('Ctrlpurchaseplanning',
  function($scope,$rootScope,$filter, $mdDialog,$window, Serpurchaseplanning, SerCommon) {
    $scope.productList=[];
    $scope.showndetails=[];
    $scope.sshowndetails=[];
    $scope.months=[];
    $scope.maintable1=[];
    $scope.suplier={};
    $scope.getproduct = gotoprod;
    $scope.dispatch_date = new Date();
    var detail = JSON.parse(sessionStorage.getItem('today'));
            $scope.employgid = detail.employee_gid;
            $scope.entity_gid = detail.entity_gid;
            $scope.today = detail.date;


    function gotoprod(query) {
            var result = $filter('filter')($scope.prodnme, {
                'product_name': query
            });
            return result;
        }
     $scope.openstks=0;
    var get_employ = Serpurchaseplanning.getprod('100', '')
        get_employ.then(function(result) {
                $scope.prodnme = [];
                $scope.prodnme = result.data.DATA;

                if ($scope.selectedcustgrp != undefined) {
                    textvalue($scope.selectedcustgrp)
                }
            }),
            function() {
                alert('no data');
            };
            $scope.slshstry = function(e){

                modalshow('mdl3_present');
             $scope.loading_popup();
                var product_gid = e.product_gid;
                var cust_gid=0;
                var searchtype='';
                var slshstry = Serpurchaseplanning.getSalshstry(cust_gid,product_gid,searchtype);

                slshstry.then(function(result) {

                $scope.saleshis = result.data.sales_data;
                $scope.years = result.data.years;
                $scope.sales_hstry =  $scope.saleshis;
                 $scope.endloading();

                });
<!--              function(err) {-->
<!--            alert('No Saleshstry data!.');-->
<!--           }).finally();-->

            }

            $scope.clkmntsales = function(e,d){
             debugger;
                var data_int = {
                "Product_Gid":e.product_gid,"Date":d}

                var getmntsal = Serpurchaseplanning.get_monthsal(data_int);
                getmntsal.then(function(result) {
                  $scope.mntsal_data = result.data

            $scope.getmntsal = $scope.mntsal_data;
              modalshow('mdl4_present');
        })


            }
            $scope.total_value = function(data){
            debugger;
             var totall = 0;
        if (data) {
            if (data.length == 0) {
                return totall;
            } else {
                for (var i = 0; i < data.length; i++) {
                    totall = totall + data[i].salesplandetails_qty;
                }
                return totall;
            }
        } else {
            return totall;
        }
        };
            $scope.clkpo = function(e){

            modalshow('mdl1_present');
            var data = {

                Supplier_Gid: '',
                Po_No: '',
                Product_Gid: e.product_gid,
                From_Date: '',
                To_Date: ''
            };
            var data_int = {
                Type: 'SUMMARY',
                SubType: 'OPENPO',

                darta: data
            };
            var getopenpo = Serpurchaseplanning.get_pendingdata(data_int);
            getopenpo.then(function(result) {
            $scope.Openpo_data = JSON.parse(result.data)

            $scope.getopenpo = $scope.Openpo_data;
        },
        function(err) {
            alert('No openpo data!.');
        }).finally();

            }

<!--            $scope.total = function(e){-->
<!--            debugger;-->
<!--              var t = 0;-->
<!--              angular.forEach(e){-->
<!--              t +=e.invoicedetails_qty;-->
<!--              }-->
<!--              return t;-->
<!--            }-->

            $scope.clksales = function(e){
               modalshow('mdl2_present');
                 var data = {
                            "Product_Gid" : e.product_gid
                            }
                var getactual_count = Serpurchaseplanning.get_actualsales('SUMMARY_MONTHWISE','ALL',data,{Entity_Gid :1},1)
                getactual_count.then(function(result) {

                $scope.actual_data = result.data;
                $scope.getactual_count = $scope.actual_data;
<!--                  total(getactual_count);-->
                },
        function(err) {
            alert('No ActualSales data!.');
        }).finally();
            }
          $scope.clstkcal = function (){

          }
    $scope.math=window.Math;
    $scope.details=['Tgt%','C/stk','O/stk','Pur','Open Po','Inc pur','Mnt Sales','Production','Current Month Sales']
    $scope.sdetails=['O/stk','pur', 'Price','Production']
    $scope.ttlperc={tgtperc1:1,tgtperc2:1,tgtperc3:1,tgtperc4:1};

    $scope.loading = function() {
        $mdDialog.show({
          templateUrl: 'loaderSpinner',
          parent: angular.element(document.body),
          clickOutsideToClose: false
        });
    };
    $scope.loading_popup = function() {
        $mdDialog.show({
          templateUrl: 'loaderSpinner',
          parent: angular.element(document.getElementById('mdl3_present')),
          clickOutsideToClose: false
        });
    };

    $scope.endloading=function(){
        $mdDialog.hide();
    };

    $scope.mdselectInput=function(ev){
        ev.stopPropagation();
    }

    $scope.Nvalue = function(target_pur){

     if (target_pur < 0)
     {
      var value = 0;
      return value;
     }else {
      var value = target_pur;
      return value;
     }
    }
     $scope.NNvalue = function(target_pur,openpo){

       var val = target_pur + openpo;
     if (val < 0)
     {
      var value = 0;
      return value;
     }else {
      var value = val;
      return value;
     }
    }
     $scope.openStak_value = function(target_pur,openpo,opstk1,production1){

       var incpur1 = target_pur + openpo;
       if (incpur1 < 0){
           pur = 0;
       }else {
           pur = incpur1;
       }
       var val = (opstk1 + pur)- production1
        return val;
    }
   $scope.btn = function(){

     var customer = {
                cus_gid: 'sdsds',
            };
            sessionStorage.setItem('cust_details', JSON.stringify(customer))
     $window.location.href = "PurchasePlanning";

    }


    var x=$scope.dispatch_date;
    loaddata(x);
    function loaddata(x)
    {
    if(x == undefined)
    {
    var x=$scope.dispatch_date;
    }
    $scope.loading();
    var get_data = Serpurchaseplanning.getdetails(formatDate(x))
         get_data.then(function(result) {

                 $scope.ttlperc={tgtperc1:1,tgtperc2:1,tgtperc3:1,tgtperc4:1}
                 $scope.months.length=0;
                 $scope.months=result.data.months;
                 $scope.suplier.length=0;
                 $scope.suplier=result.data.capacity;
                 $scope.showndetails.length=0;
                 $scope.maintable1 = result.data.productdtl;
                 debugger;
                 $scope.showndetails = $scope.maintable1;
                 $scope.autocalculation=true;
                 $scope.applychange=false;
                 subload();
                 $scope.endloading();
             }, function(err) {
                 alert('No data!.');
             });
    }

    function subload()
    {
        if($scope.selectedIt == undefined)
        {
         var xx='';
        }
        else
        {
        var xx=$scope.selectedIt.product_displayname;
        }
        $scope.showndetails=$filter('filter')($scope.maintable1,
          {
           'product_name':xx,
          });
      }
    $scope.search_click=function (){

    loaddata($scope.from_date);
    }

    $scope.auto_change=function(){
        if($scope.autocalculation){
            $scope.search_click();
        }
    }

    $scope.$watch('showndetails',sumOfTotal,true)
    function sumOfTotal(data){
        var totalvalue=[];
        var months=$scope.months;
       
        for(var i=0;i<months.length;i++){
        var ttlCStk=0,ttlOStk=0,ttlTgtpurch=0,ttlPendingPo=0,ttlIncPurch=0,ttlSales=0,ttlActualSales=0,ttlProduction=0;
            for(var j=0;j<data.length;j++){

                ttlCStk=ttlCStk+data[j]['closingstk'+(i+1).toString()];
                ttlOStk=ttlOStk+data[j]['openStk'+(i+1).toString()];
                ttlTgtpurch=ttlTgtpurch+data[j]['tgtpurch'+(i+1).toString()];
                ttlPendingPo=ttlPendingPo+data[j]['pendingPO'+(i+1).toString()];
                ttlIncPurch=ttlIncPurch+data[j]['incpurch'+(i+1).toString()];
                ttlSales=ttlSales+data[j]['salePlanQty'+(i+1).toString()];
                ttlProduction=ttlProduction+parseInt(data[j]['production'+(i+1).toString()]);
                ttlActualSales=ttlActualSales+parseInt(data[j]['ActualSales'+(i+1).toString()]);
            }
            totalvalue.push({closingstk:ttlCStk,openStk:ttlOStk,tgtpurch:ttlTgtpurch
                ,pendingPO:ttlPendingPo,incpurch:ttlIncPurch,salePlanQty:ttlSales,production:ttlProduction,ActualSales:ttlActualSales})
        }
        $scope.totallist=totalvalue;

    };

    $scope.$watchCollection('totallist',totalcalculation)

    $scope.supplier_change=function(){sumOfTotal($scope.showndetails)};

    function totalcalculation(newvalue,oldvalue){
        var details=[];

        details=$scope.totallist.slice();
        if($scope.autocalculation & !$scope.applychange ){
            var pre_no=0;
            var capacity=($scope.suplier.sup_capacity*$scope.suplier.sup_count)+100;
            for (var i=1;i<details.length;i++){
                if(capacity<details[i].tgtpurch){
                pre=i-1;
                    excesstotal=details[i].tgtpurch-capacity;
                    perc=capacity/details[i-1].tgtpurch
                    if(pre==0){
                        perc=(details[i-1].tgtpurch+excesstotal)/details[i-1].tgtpurch
                        $scope.ttlperc['tgtperc'+i.toString()]=perc.toFixed(2);
                        details[i-1].tgtpurch=details[i-1].tgtpurch*perc.toFixed(2);
                        details[i].tgtpurch=capacity;
                        excesstotal=0;
                    }
                    else{
                        perc=(details[i-1].tgtpurch+excesstotal)/details[i-1].tgtpurch
                        $scope.ttlperc['tgtperc'+i.toString()]=perc.toFixed(2);
                        details[i-1].tgtpurch=details[i-1].tgtpurch*perc.toFixed(2);
                        details[i].tgtpurch=capacity;
                        pre_no=i;
                        i=0;
                        excesstotal=0;
                    }

                }else if(pre_no==0 || i>pre_no){
                    $scope.ttlperc['tgtperc'+i.toString()]=1;
                }
            }
            $scope.applychange=false;
            details.length=0;
        }
    }

    $scope.ttlperc_change=function(perc){
        var data=$scope.showndetails;

         $scope.applychange=true
        for(var i=0;i<data.length;i++){
            if(perc.tgtperc1){
                    $scope.showndetails[i]['targetperc1']=perc.tgtperc1;
                }
                if(perc.tgtperc2){
                    $scope.showndetails[i]['targetperc2']=perc.tgtperc2;
                }
                if(perc.tgtperc3){
                    $scope.showndetails[i]['targetperc3']=perc.tgtperc3;
                }
                if(perc.tgtperc4){
                    $scope.showndetails[i]['targetperc4']=perc.tgtperc4;
               }
        }
    }

    $scope.approve_click=function(ev){

          $scope.commodity1();
          $scope.supplier_gid_get();
         var te =$filter('filter')($scope.showndetails,function(item){
        return item.incpurch1>0;
        });

        $scope.sshowndetails=te;
         $mdDialog.show({
                    contentElement: '#dialogApproveSummary',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    multiple: true,
                    clickOutsideToClose: false,
                    fullscreen: false
                });
    };


    $scope.summarytotal=function(){
    var data=[];
    data=$scope.sshowndetails;
    var ttlopenStk1=0,ttlincpurch1=0,ttlvalue1=0,ttlproduction1=0;
    var ttlopenStk2=0,ttlincpurch2=0,ttlvalue2=0,ttlproduction2=0;
        for(var i=0;i<data.length;i++){
            ttlopenStk1=ttlopenStk1+data[i].openStk1;
            ttlincpurch1=ttlincpurch1+data[i].incpurch1;
            ttlvalue1=ttlvalue1+data[i].amt1;
            ttlproduction1=ttlproduction1+parseInt(data[i].production1);

            ttlopenStk2=ttlopenStk2+data[i].openStk2;
            ttlincpurch2=ttlincpurch2+data[i].incpurch2;
            ttlvalue2=ttlvalue2+data[i].amt2;
             ttlproduction2=ttlproduction2+parseInt(data[i].production2);
        }

        $scope.stotal={ttlopenStk1:ttlopenStk1,ttlincpurch1:ttlincpurch1,ttlvalue1:ttlvalue1,ttlproduction1:ttlproduction1,
        ttlopenStk2:ttlopenStk2,ttlincpurch2:ttlincpurch2,ttlvalue2:ttlvalue2,ttlproduction2:ttlproduction2}
    }
          $scope.confirm_click=function(){
        debugger;
        var prdetails=[];
        var prdelete=[];
        df = [];
        var totamt = 0;

        for(var i=0;i<$scope.sshowndetails.length;i++){
            var pro_gid=$scope.sshowndetails[i].product_gid;
            var qty=$scope.sshowndetails[i].incpurch1;
            var amt=$scope.sshowndetails[i].amt1;
            totamt =(amt+totamt);

            for(var j=0;j<$scope.commodity.length;j++)
            {
             if($scope.commodity[j].commodityprod_productgid == pro_gid)
             {
              var commdity_gid=$scope.commodity[j].commodityprod_commoditygid;
              var commdity_name=$scope.commodity[j].commodity_name;
             }
            }

         prdetails.push({'product_gid':pro_gid,'prdetails_qty':qty,'commdity_gid':commdity_gid});

        }

        var get_data = Serpurchaseplanning.setPRdetails("draft","Draft",prdetails,totamt);
        get_data.then(function(result){
           var s=result.data.MESSAGE;
           if(s=="SUCCESS"){
                alert("Saved successfully.!");
                $scope.closedialog();
           }
           else{
                alert("Not Saved.!");
           }
        },function(err){
            alert(err);
        });
        }
        var commodity_json = {
                    Action: 'Commodityprod_Get',
                    data: {},
                   endata: {
                        "Entity_Gid": $scope.entity_gid
                      }
                }
       $scope.commodity1=function(){
           var get_commodity = Serpurchaseplanning.commodity_get(commodity_json)
                get_commodity.then(function (result) {
                    $scope.commodity = result.data;
                    },function () {
<!--                    alert("Record Not Found")-->
                });
        }
         var supplier_json = { params: {
                  supplier_gid:"0" ,
                   product_gid:"0" ,
                   char_active:"Y"
                    }
                    }
       $scope.supplier_gid_get=function(){
           var get_supplier = Serpurchaseplanning.supplier_get(supplier_json)

                get_supplier.then(function (result) {

                    $scope.supplier = result.data;
                    },function () {
                    alert("Record Not Found")
                });
        }
    $scope.closedialog = function(){
        $mdDialog.hide();
    };



 });
<!--$scope.real=function(){-->
<!--a=p;-->
<!--b=p;}-->
 app_col_performance.service("Serpurchaseplanning", function($http) {
    this.getprodtype=function(){
        var response=$http.get(Appname+"/get_Masters",{params:{"tablename":"producttype"}});
        return response;
    };
   this.commodity_get = function (commdity_json) {
            var response = $http.post(Appname + "/commodity_pdata/",commdity_json)
            return response;
        }
    this.getdetails=function(fdate){
        var response=$http.get(Appname+"/purchasedata",{params:{"fromdate":fdate}});
        return response;
    };
    this.supplier_get=function(supplier_json){
         var response=$http.post(Appname + "/product_name/",supplier_json)
         return response;
         };
    this.getprod = function(lmt, prodnme) {
        var response = $http.get(Appname + "/prodgett/", {
            params: {
                "Limit": lmt,
                "Product_Name": prodnme
            }
        });
        return response;
    }
    //For Sales Histroy get
    this.getSalshstry=function(cust_gid,product_gid,searchtype){
        var response = $http.get(Appname + "/get_Saleshstry/",{'params':{'cust_gid':cust_gid,'product_gid':product_gid,'searchtype':searchtype}});
        return response;
    }
    this.setPRdetails=function(action,status,prdetails,totamt){
        var response = $http.post(Appname + "/set_PRDetails/", {'action':action,'status':status,'prdetails':prdetails,'pr_amt':totamt });
        return response;
    }
    //For Open Po get
    this.get_pendingdata = function(data_int) {
        var response = $http.post(Appname + "/pending_posummary/", data_int);
        return response;
    }
     //For Actual Sales Get
     this.get_actualsales = function(type,sub_type,fliter,classification,create_by) {
         var response = $http.post(Appname + "/get_SalesCount/", {'type':type,'sub_type':sub_type,'fliter':fliter,'classification':classification,'create_by':create_by,});
         return response;
     }
     //For Months sales Detail Get
     this.get_monthsal = function(data_int) {
          var response = $http.post(Appname + "/get_Mntsales/",data_int);
          return response;
     }
 });

$(document).ready(function() {
 $('#detailstable tbody').scroll(function(e) { //detect a scroll event on the tbody

   $('#detailstable thead').css("left", -$("#detailstable tbody").scrollLeft()); //fix the thead relative to the body scrolling
   $('#detailstable thead th:nth-child(-n+2)').css("left", $("#detailstable tbody").scrollLeft()); //fix the first cell of the header
   $('#detailstable tbody td:nth-child(-n+2)').css("left", $("#detailstable tbody").scrollLeft()); //fix the first column of tdbody
    $('#detailstable tfoot').css("left", -$("tbody").scrollLeft()); //fix the tfoot relative to the body scrolling
   $('#detailstable tfoot td:nth-child(-n+2)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
 });
});




</script>

{% endblock  %}