{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Create Employee {% endblock %}
{% block content %}
{% verbatim %}
<div ng-app="app" ng-controller="ctrl" class="container container1" ng-cloak>
    <div class="row">
        <div class="row-header col-lg-12 col-sm-12">
            <h4><strong>Employee Details {{title}}</strong></h4>
        </div>
    </div>
    <form name="formfill" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Employee Code</label>
                        <input ng-disabled="editdisabled" autocomplete="off" ng-model="empcode" minlength="6"
                               maxlength="8" no-special-char
                               required/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Name</label>
                        <input ng-model="empname" autocomplete="off" ng-pattern="/^[a-zA-Z\s.]*$/" required/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Date of Birth</label>
                        <md-datepicker md-hide-icons="calendar" md-max-date="maxDate" ng-change="minDate" formatDate
                                       ng-model="empdob" required></md-datepicker>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Date of Joining</label>
                        <md-datepicker formatDate ng-model="empdoj" md-hide-icons="calendar" md-max-date="maximumDate"
                                       ng-change="minimumDate"
                                       ng-click="date()" required/>
                        </md-datepicker>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Gender</label>
                        <md-select ng-model="selectedgndr" required/>
                        <md-optgroup label="Gender">
                            <md-option ng-repeat="x in gender" ng-value="x.value">{{ x.text }}</md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    

                    <md-input-container class="md-block inputcontainer">
                        <label>Employee Type</label>
                        <md-select ng-model="selecteddept" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" required/>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" placeholder="Search for Employee Type.."
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="Department">
                            <md-option ng-value="z.dept_gid" ng-repeat="z in departmentdetails |
              filter:searchTerm">{{z.dept_name}}
                            </md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Designation</label>
                        <md-select ng-model="selecteddsgn" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" required/>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTer" type="search" placeholder="Search for Designation.."
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="Designation">
                            <md-option ng-repeat="y in designationdetails | filter:searchTer"
                                       ng-value="y.designation_gid">{{
                                y.designation_name }}
                            </md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Mobile Number</label>
                        <input ng-model="empmobnum" numbers-only maxlength="10" ng-pattern="/^[0-9]{10}$/" required/>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Email ID</label>
                        <input ng-model="empmailid" maxlength="40" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                               required/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Supervisor</label>
                        <md-select ng-model="supervisor" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" required/>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTem" type="search" placeholder="Search for Supervisor.."
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="Supervisor">
                            <md-option ng-repeat="s in supervisordetails | filter:searchTem"
                                       ng-value="s.employee_gid">{{ s.employee_name }}
                            </md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Hierarchy</label>
                        <md-select ng-model="selectedhier" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" required/>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTrm" type="search" placeholder="Search for Hierarchy.."
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="Hierarchy">
                            <md-option ng-repeat="y in hierarchydetails |filter:searchTrm"
                                       ng-value="y.hierarchy_gid">{{y.hierarchy_layer}}
                            </md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Branch</label>
                        <md-select ng-model="selectedbranch" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" required/>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTrm1" type="search" placeholder="Search for Branch.."
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="Branch">
                            <md-option ng-repeat="y in branchdetails |filter:searchTrm1"
                                       ng-value="y.branch_gid">{{y.branch_name}}
                            </md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>BS Name</label>
                        <md-select ng-model="selectedbs" md-on-close="clearSearchTerm()" ng-change="changebs(selectedbs)"
                                   data-md-container-class="selectdemoSelectHeader" required/>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchbs" type="search" placeholder="Search for BS.."
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="Branch">
                            <md-option ng-repeat="y in bsdatatt |filter:searchbs"
                                       ng-value="y.tbs_gid">{{y.tbs_name}}
                            </md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>CC Name</label>
                        <md-select ng-model="selectedcc" md-on-close="clearSearchTerm()" ng-change="changecc(selectedbs)"
                                   data-md-container-class="selectdemoSelectHeader" required/>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchcc" type="search" placeholder="Search for CC.."
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="Branch">
                            <md-option ng-repeat="y in finccname |filter:searchcc"
                                       ng-value="y.tcc_gid">{{y.tcc_name}}
                            </md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>


            </div>
        </div>

        <div class="row">
            <div ng-include="'empadrs'"></div>
        </div>
        <div class="row">
            <div ng-include="'empcntct'">Add Contact</div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <md-button class="md-raised custbutton" value="Edit" ng-click="edit()" ng-if='update'
                           ng-disabled="formfill.$invalid">Update
                </md-button>
                <md-button class="md-raised custbutton" value="submit" ng-click="empsave()" ng-if="!update"
                           ng-disabled="formfill.$invalid">save
                </md-button>
                <md-button class="md-raised" value="close" ng-href="emp_summary">Cancel</md-button>
            </div>
        </div>
    </form>
</div>
{% endverbatim %}
<script>
  var myApp = angular.module('app', ['ngMaterial', 'AppCommon'])
    .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
myApp.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
})
myApp.controller('ctrl', ['$scope', 'testService', '$mdDialog', '$rootScope', '$filter', '$window', '$element', function($scope,
    testService, $mdDialog, $rootScope, $filter, $window, $element) {
    var empp = [];

    var detail = JSON.parse(sessionStorage.getItem('today'));
    $scope.employee_gid = detail.employee_gid;
    $scope.entity_gid = detail.entity_gid;
window.mdSelectOnKeyDownOverride = function(event) {
        event.stopPropagation();
    };
    if (sessionStorage.getItem('emp_details') != null) {
        var employee_detail = JSON.parse(sessionStorage.getItem('emp_details'));
        empl_gid = employee_detail.empp_gid;
        $scope.update = employee_detail.view;
        sessionStorage.removeItem('emp_details');
        $scope.editdisabled = true;
        var employeedit_show = testService.getemployee(empl_gid, 'EMPLOYEE_EDIT')
        employeedit_show.then(function(result) {
        debugger;
            empp = JSON.parse(result.data);
            var cgid = empp[0].contact_gid;
            $scope.empcode = empp[0].employee_code;
            $scope.empname = empp[0].employee_name;
            $scope.selectedgndr = empp[0].employee_gender;
            $scope.selecteddsgn = empp[0].employee_designation_gid;
            $scope.selecteddept = empp[0].employee_dept_gid;
            $scope.empmobnum = empp[0].employee_mobileno;
            $scope.supervisor = empp[0].employee_supervisor
            $scope.empmailid = empp[0].employee_emailid;
            $scope.selectedhier = empp[0].hierarchy_gid;
            $scope.selectedbranch = empp[0].branch_gid;
            $scope.supervisor = empp[0].employee_supervisor_gid
            $scope.add.addline = empp[0].address_1;
            $scope.add.addline2 = empp[0].address_2;
            $scope.add.addline3 = empp[0].address_3;
            $scope.empdob = empp[0].employee_dob;
            $scope.empdoj = empp[0].employee_doj;
            $scope.add.dobb = empp[0].Contact_DOB;
            $scope.add.weddy = empp[0].Contact_WD;
            $scope.add.addselectedstate = empp[0].address_state_gid;
            $scope.add.addselecteddistrict = empp[0].address_district_gid;
            $scope.add.addselectedcity = empp[0].address_city_gid;
            $scope.add.pincode1 = empp[0].address_pincode;
            $scope.add.cntcttype = empp[0].Contact_contacttype_gid;
            $scope.add.prsnname = empp[0].Contact_personname;
            $scope.add.dsgntn = empp[0].Contact_designation_gid;
            $scope.add.lndlne = empp[0].Contact_landline;
            $scope.add.lndlne2 = empp[0].Contact_landline2;
            $scope.add.mobno = empp[0].Contact_mobileno;
            $scope.add.mobno2 = empp[0].Contact_mobileno2;
            $scope.add.mailid = empp[0].Contact_email;
            eaddget(empp[0].employee_add_gid);
        }, function() {
            alert('no data');
        });
    } else {
        $scope.update = '';
    }
    if ($scope.update) {
        $scope.title = 'Edit'
    } else {
        $scope.title = 'Create'
    }

    $scope.edit = function() {
        var Employeesprvsrgid = $filter('filter')($scope.supervisordetails, {
            employee_gid: empl_gid
        }, true);

        var cont_dob;
        if ($scope.add.dobb == undefined) {
            cont_dob = '';
        } else {
            cont_dob = Date.parse($scope.add.dobb)
            cont_dob = $filter('date')(cont_dob, "yyyy-MM-dd");
        }
        var cont_wd;
        if ($scope.add.weddy == undefined) {
            cont_wd = '';
        } else {
            cont_wd = Date.parse($scope.add.weddy)
            cont_wd = $filter('date')(cont_wd, "yyyy-MM-dd");
        }
        var cont_dobb;
        if ($scope.empdob == undefined) {
            cont_dobb = '';
        } else {
            cont_dobb = Date.parse($scope.empdob)
            cont_dobb = $filter('date')(cont_dobb, "yyyy-MM-dd");
        }
        var cont_wdd;
        if ($scope.empdoj == undefined) {
            cont_wdd = '';
        } else {
            cont_wdd = Date.parse($scope.empdoj)
            cont_wdd = $filter('date')(cont_wdd, "yyyy-MM-dd");
        }

        var empdetail = {
            "contact_gid": empp[0].contact_gid,
            "address1": $scope.add.addline,
            "address2": $scope.add.addline2,
            "address3": $scope.add.addline3,
            "state": this.add.addselectedstate,
            "district": $scope.add.addselecteddistrict,
            "city": $scope.add.addselectedcity,
            "pincode": $scope.add.pincode1,
            "ContactType": $scope.add.cntcttype,
            "Personname": $scope.add.prsnname,
            "Designation": $scope.add.dsgntn,
            "Landline1": $scope.add.lndlne,
            "Landline2": $scope.add.lndlne2,
            "Mobilenum": $scope.add.mobno,
            "Mobilenum2": $scope.add.mobno2,
            "Emailid": $scope.add.mailid,
            "BirthDate": cont_dob,
            "Wedingday": cont_wd,
            "Employeecode": $scope.empcode,
            "Employeename": $scope.empname,
            "Employeedob": cont_dobb,
            "Employeedoj": cont_wdd,
            "Employeegndr": $scope.selectedgndr,
            "Employeedept": $scope.selecteddept,
            "Employeedesgn": $scope.selecteddsgn,
            "Employeemob": $scope.empmobnum,
            "Employeemail": $scope.empmailid,
            "Employeesprvsrgid": $scope.supervisor,
            "Employeesprvsr": Employeesprvsrgid[0].employee_name,
            "Employeehier": $scope.selectedhier,
            "Address_gid": empp[0].employee_add_gid,
            "empl_gid": empl_gid,
        }
        console.log()

        var jsondata1 = {
            "Branch_Gid": $scope.selectedbranch
        };
        //alert(jsondata1);
        var custgrpdetail = testService.updategrpdetail('Update', 'EMP', empdetail, jsondata1);
        custgrpdetail.then(function(result) {
            if (result.data == "SUCCESS") {
                alert("Updated Succesfully!.");
                $window.location.href = "emp_summary";
            } else {
                alert("Data Not Inserted!.1");
            }
        }, function(err) {
            alert('Data Not Inserted!.2');
        });
    };
    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };
    $scope.endloading = function() {
        $mdDialog.hide();
    };
    $element.find('input').on('keydown', function(ev) {
        ev.stopPropagation();
    });

    function loaddata() {
        $scope.departmentdetails == [];
        var rolegrouplist = testService.getdept();
        rolegrouplist.then(function(rolegrouplist) {
                $scope.departmentdetails = JSON.parse(rolegrouplist.data);
            }, function(err) {
                alert('No data!.');
            })
            .finally();
    };
    $scope.loading();
    loaddata();
    $scope.endloading()

    function loaddata1() {
        $scope.designationdetails == [];
        var rolegrouplist = testService.getdesg();
        rolegrouplist.then(function(rolegrouplist) {
                $scope.designationdetails = JSON.parse(rolegrouplist.data);
            }, function(err) {
                alert('No data!.');
            })
            .finally();
    };
    loaddata1();

    function loaddata2() {
        var get_employ = testService.getsprvsr(0, '', 0, 'ALL')
        get_employ.then(function(result) {
                $scope.supervisordetails = result.data;
            }, function(err) {
                alert('No data!.');
            })
            .finally();
    };
    loaddata2();

    function loaddata3() {
        var get_hier = testService.gethierr()
        get_hier.then(function(result) {
                $scope.hierarchydetails = JSON.parse(result.data);
            }, function(err) {
                alert('No data!.');
            })
            .finally();
    };
    loaddata3();

    function loaddata4() {
        var data = {
            Params: {
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                },
                "FILTER": {
                    "Employee_Gid": $scope.employee_gid
                }
            }
        }
        var dta = {

            "Type": 'Mode',
            "SubType": 'Summary',
            "Group": 'BRANCH_SALES',
            "data": data
        }
        var get_branch = testService.branchfn(dta)
        get_branch.then(function(result) {
                $scope.branchdetails = result.data.DATA;

            }, function(err) {
                alert('No data!.');
            })
            .finally();
    };
    loaddata4();

    var custgrpddl = testService.getcustgrp()
    custgrpddl.then(function(result) {
            $scope.conttype = [];
            $scope.conttype = JSON.parse(result.data);
        }),
        function() {
            alert('No data!.');
        };
    var eaddrsttddl = testService.getstateddl()
    eaddrsttddl.then(function(result) {
            $scope.stateddl = [];
            $scope.stateddl = JSON.parse(result.data);
        }),
        function() {
            alert('No data!.');
        };

    $scope.emp = new Date();
    $scope.maxDate = new Date($scope.emp.getFullYear() - 18, $scope.emp.getMonth(), $scope.emp.getDate());

    $scope.doj = new Date();
    $scope.maximumDate = new Date($scope.doj.getFullYear(), $scope.doj.getMonth(), $scope.doj.getDate());

    $scope.gender = [{
        text: "Male",
        value: "M"
    }, {
        text: "Female",
        value: "F"
    }, {
        text: "TransGender",
        value: "TG"
    }];

    $scope.add = [];
    $scope.empsave = function() {
        var Employeesprvsrgid = $filter('filter')($scope.supervisordetails, {
            employee_gid: $scope.supervisor
        }, true);
        var jsondata1 = {
            "Branch_Gid": $scope.selectedbranch,"Employee_bsgid":$scope.selectedbs,"Employee_ccgid":$scope.selectedcc
        };
        var cont_dob;
        if ($scope.add.dobb == undefined || $scope.add.dobb == '') {
            cont_dob = '';
        } else {
            cont_dob = $filter('date')($scope.add.dobb, "yyyy-MM-dd");
        }
        var cont_wd;
        if ($scope.add.weddy == undefined || $scope.add.weddy == '') {
            cont_wd = '';
        } else {
            cont_wd = $filter('date')($scope.add.weddy, "yyyy-MM-dd");
        }

        var empdetail = {
            "address1": $scope.add.addline,
            "address2": $scope.add.addline2,
            "address3": $scope.add.addline3,
            "state": this.add.addselectedstate,
            "district": $scope.add.addselecteddistrict,
            "city": $scope.add.addselectedcity,
            "pincode": $scope.add.pincode1,
            "ContactType": $scope.add.cntcttype,
            "Personname": $scope.add.prsnname,
            "Designation": $scope.add.dsgntn,
            "Landline1": $scope.add.lndlne,
            "Landline2": $scope.add.lndlne2,
            "Mobilenum": $scope.add.mobno,
            "Mobilenum2": $scope.add.mobno2,
            "Emailid": $scope.add.mailid,
            "BirthDate": cont_dob,
            "Wedingday": cont_wd,
            "Employeecode": $scope.empcode,
            "Employeename": $scope.empname,
            "Employeedob": formatStringDate($scope.empdob, "yyyy-mm-dd"),
            "Employeedoj": formatStringDate($scope.empdoj, "yyyy-mm-dd"),
            "Employeegndr": $scope.selectedgndr,
            "Employeedept": $scope.selecteddept,
            "Employeedesgn": $scope.selecteddsgn,
            "Employeemob": $scope.empmobnum,
            "Employeemail": $scope.empmailid,
            "Employeesprvsr": Employeesprvsrgid[0].employee_name,
            "Employeesprvsrgid": $scope.supervisor,
            "Employeehier": $scope.selectedhier,

        }
        var custgrpdetail = testService.savegrpdetail('Insert', 'EMP', empdetail, jsondata1);
        custgrpdetail.then(function(result) {
            if (result.data == "SUCCESS") {
                alert("Inserted Succesfully!.");
                $window.location.href = "emp_summary";
            } else {
                alert("Data Not Inserted!.3");
            }
        }, function(err) {
            alert('Data Not Inserted!.4');
        });

    };
    //for address
    function eaddget(add_gid) {
        var eadd = testService.getaddress(add_gid)
        eadd.then(function(result) {
                var eaddress = [];
                eaddress = JSON.parse(result.data);
                $scope.add.addline = eaddress[0].address_1;
                $scope.add.addline2 = eaddress[0].address_2;
                $scope.add.addline3 = eaddress[0].address_3;
                $scope.add.addselectedstate = eaddress[0].address_state_gid;
                $scope.state_clk($scope.add.addselectedstate, 'address');
                $scope.add.addselecteddistrict = eaddress[0].address_district_gid;
                $scope.district_clk($scope.add.addselecteddistrict, 'address');
                $scope.add.addselectedcity = eaddress[0].address_city_gid;
                $scope.city_clk($scope.add.addselectedcity, 'address');
                $scope.add.pincode1 = eaddress[0].address_pincode;
            }),
            function() {
                alert('No data!.');
            };
    };
    $scope.pinchange = function(pincode, type) {
        var pincd = testService.getpincodeall(pincode)
        pincd.then(function(result) {
                if (type == 'address') {
                    var apincde = [];
                    apincde = JSON.parse(result.data);
                    $scope.add.addselectedstate = apincde[0].city_state_gid;
                    $scope.state_clk($scope.add.addselectedstate, 'address');
                    $scope.add.addselecteddistrict = apincde[0].pincode_district_gid;
                    $scope.district_clk($scope.add.addselecteddistrict, 'address');
                    $scope.add.addselectedcity = apincde[0].pincode_City_gid;
                    $scope.add.pincode1 = apincde[0].pincode_no;
                }
            }),
            function() {
                alert('No data!.');
            };
    };
    $scope.state_clk = function(state_gid, type) {
        var distddl = testService.getdistddl(state_gid)
        distddl.then(function(result) {
                if (type == 'address') {
                    $scope.adistrictddl = [];
                    $scope.adistrictddl = JSON.parse(result.data);
                } else {
                    $scope.distritddl = [];
                    $scope.distritddl = JSON.parse(result.data);
                }
            }),
            function() {
                alert('No data!.');
            };
    };
    $scope.district_clk = function(district_gid, type) {
        var ctyddl = testService.getcityddl(district_gid)
        ctyddl.then(function(result) {
                if (type == 'address') {
                    $scope.acity1 = [];
                    $scope.acity1 = JSON.parse(result.data);
                } else {
                    $scope.city1 = [];
                    $scope.city1 = JSON.parse(result.data);
                }
            }),
            function() {
                alert('No data!.');
            };
    };
    $scope.city_clk = function(city_gid, type) {
        var pincd = testService.getpincode(city_gid)
        pincd.then(function(result) {
                if (type == 'address') {
                    var apincde = [];
                    apincde = JSON.parse(result.data);
                    $scope.add.pincode1 = apincde[0].pincode_no;
                } else {
                    var pincde = [];
                    pincde = JSON.parse(result.data);
                    $scope.pcode = pincde[0].pincode_no;
                }
            }),
            function() {
                alert('No data!.');
            };
    };


    var dat = {
				"Table_name": "ap_mst_tbs",
				"Column_1": "tbs_code,tbs_gid,tbs_name,tbs_description",
				"Column_2": "",
				"Where_Common": "tbs",
				"Where_Primary": "",
				"Primary_Value": "",
				"Order_by": "gid"
			}

			var ddl = {
				"Table_name": "gal_mst_tgodown",
				"Column_1": "godown_gid,godown_code,godown_name",
				"Column_2": "",
				"Where_Common": "godown",
				"Where_Primary": "",
				"Primary_Value": "",
				"Order_by": "gid"
			}


			$scope.bsdatatt= [];
			var bbs = testService.bsdata(dat)
			bbs.then(function (result) {

				var data = result.data
				$scope.bsdatatt = data.DATA;
				console.log($scope.bsdatatt);

			})
			$scope.finccname = [];
			$scope.changebs=function(bs){

				if(bs==" "||bs==undefined){
					$scope.prc.tname='';
				}
				if(bs!=undefined){
				var datan = {
				"Table_name": "ap_mst_tcc",
				"Column_1": "tcc_gid,tcc_name,tcc_bsgid,tcc_code,tcc_description",
				"Column_2": "",
				"Where_Common": "tcc",
				"Where_Primary": "gid",
				"Primary_Value":bs,
				"Order_by": "gid"
			}


			var ccbs = testService.bsdata(datan)
			ccbs.then(function (result) {
				var data = result.data
				$scope.finccname = data.DATA
				console.log($scope.finccname);
			}, function () {
				alert("Record Not Found")
			});}
			}







}]);
myApp.service("testService", function($http) {
    this.getcusomter = function(d) {
        var response = $http.post(Appname + "/stock_post/", {
            parms: {
                "stock_post": d
            }
        });
        alert(response)
        return response;
    }
    this.getdept = function() {
        var response = $http.get(Appname + "/deptjson/");
        return response;
    }
    this.getdesg = function() {
        var response = $http.get(Appname + "/desgjson/");
        return response;
    }
    this.getsprvsr = function(gid, name, clusgid, cluster) {
        var response = $http.get(Appname + "/employee_get/", {
            params: {
                "emp_gid": gid,
                "emp_name": name,
                "li_cluster_gid": clusgid,
                "cluster": cluster
            }
        });
        return response;
    }
    this.gethierr = function() {
        var response = $http.get(Appname + "/hierarchy/");
        return response;
    }
    this.branchfn = function(data) {
        var response = $http.post(Appname + "/getclasification/", data);
        return response;
    }

    this.getcustgrp = function(d) {
        var response = $http.get(Appname + "/get_contctgroup/");
        return response;
    }
    this.getaddress = function(add_gid) {
        var response = $http.get(Appname + "/addressget/", {
            params: {
                "add_gid": add_gid
            }
        });
        return response;
    }
    this.getpincodeall = function(pincode) {
        var response = $http.get(Appname + "/allpinget/", {
            params: {
                "pincode": pincode
            }
        });
        return response;
    }
    this.getdistddl = function(state_gid) {
        var response = $http.get(Appname + "/districtddl/", {
            params: {
                "state_gid": state_gid
            }
        });
        return response;
    }
    this.getcityddl = function(district_gid) {
        var response = $http.get(Appname + "/cityddl/", {
            params: {
                "district_gid": district_gid
            }
        });
        return response;
    }
    this.getpincode = function(city_gid) {
        var response = $http.get(Appname + "/pincode/", {
            params: {
                "city_gid": city_gid
            }
        });
        return response;
    }
    this.getstateddl = function(d) {
        var response = $http.get(Appname + "/stateddl/");
        return response;
    }
    this.savegrpdetail = function(action, add_refcode, empdetail, jsondata1) {

        var response = $http.post(Appname + "/employeeset/", {
            parms: {
                "Action": action,
                "add_refcode": add_refcode,
                "empdetail": empdetail
            },
            jsondata1: {
                jsondata1
            }
        });
        return response;
    }
    this.updategrpdetail = function(action, add_refcode, empdetail, jsondata1) {
        var response = $http.post(Appname + "/employeeupset/", {
            parms: {
                "Action": action,
                "add_refcode": add_refcode,
                "empdetail": empdetail
            },
            jsondata1: {
                jsondata1
            }
        });
        return response;
    }
    this.getemployee = function(empl_gid, cluster) {
        var response = $http.get(Appname + "/employedit_get/", {
            params: {
                'empl_gid': empl_gid,
                "cluster": cluster
            }
        });
        return response;
    }

    this.bsdata = function (data) {
			var response = $http.post(Appname + "/prodget/", {


				"data": data,
				"Action": ''


			});
			return response;
    }

});


</script>
{% endblock %}
