{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}  SI Approval {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}

<div class="maincontent">
    <div ng-app="makersummary" ng-controller="ctrlsummary" class="container container1">
        <form name="invoice_form" novalidate>
            <div class="row">
                <div class="row-header col-lg-12 col-sm-12">
                    <h4>SI Approval</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Standard Instraction Code</label>
                            <input ng-model="si_code" disabled>
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-input-container class="md-block inputcontainer">
                            <label>Recuring Date</label>
                            <input ng-model="recuring_date" disabled>
                        </md-input-container>
                    </div>

                    <div class="col-md-2">
                        <md-input-container class="md-block inputcontainer">
                            <label>From Date</label>
                            <input ng-model="si_from_date" disabled>
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-input-container class="md-block inputcontainer">
                            <label>To Date</label>
                            <input ng-model="si_to_date" disabled>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Ammort Amount</label>
                            <input ng-model="si_amount" disabled>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           md-progress="deferred">
                        <thead class="header">
                        <tr>
                            <th>S NO</th>
                            <th>On Date</th>
                            <th>Status</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="si in si_details.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:search:strict"
                            align="center">
                            <td>
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td>{{si.standardinstructiondetails_ondate |date:'dd-MMM-yyyy'}}</td>
                            <td>{{si.standardinstructiondetails_status }}</td>
                            <td>{{si.standardinstruction_amount}}</td>
                        </tr>
                        <tr ng-show="ammort_detail.length ==  0">
                            <td class="warning" colspan="12">
                                No Records Found.
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <ul uib-pagination total-items="ammort_detail.length" ng-model="currentPage"
                                    max-size="maxSize"
                                    class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                            </td>
                            <td colspan="2">
                                Total Count:{{ammort_detail.length}}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <h4>CCBS Details</h4>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           md-progress="deferred">
                        <thead class="header">
                        <tr>
                            <th>S NO</th>
                            <th>Category Name</th>
                            <th>Sub Category</th>
                            <th>BS</th>
                            <th>CC</th>
                            <th>Percentage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="si_ccbs in si_ccbs_data.slice(((currentPages-1)*itemsPerPages),((currentPages)*itemsPerPages)) | filter:search:strict"
                            align="center">
                            <td>
                                <center>{{((currentPages-1)*itemsPerPages)+$index+1}}</center>
                            </td>
                            <td>{{si_ccbs.category_name}}</td>
                            <td>{{si_ccbs.subcategory_name |date:'dd-MMM-yyyy'}}</td>
                            <td>{{si_ccbs.tbs_name}}</td>
                            <td>{{si_ccbs.tcc_name}}</td>
                            <td>{{si_ccbs.standardinstructionccbs_percent}}</td>
                        </tr>
                        <tr ng-show="si_ccbs_data.length ==  0">
                            <td class="warning" colspan="12">
                                No Records Found.
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul uib-pagination total-items="si_ccbs_data.length" ng-model="currentPages"
                                    max-size="maxSize"
                                    class="pagination-sm" boundary-links="true" items-per-page="itemsPerPages"></ul>
                            </td>
                            <td colspan="2">
                                Total Count:{{si_ccbs_data.length}}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <md-button class="btn btn-info custbutton" ng-click="apply('APPROVED')"
                               ng-disabled="customer_form.$invalid">APPROVE

                    </md-button>
                </div>
                <div class="col-md-2">
                    <md-button class="md-raised md-warn" value="submit" ng-click="apply('REJECTED')">
                        REJECT

                    </md-button>
                </div>
                <div class="col-md-2">
                    <a href="StandardInstructions/SI_Approval_Summary/">
                        <md-button class="md-raised" value="close"
                                   aria-label="Close">Cancel
                        </md-button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endverbatim %}

<script>
    var app=angular.module('makersummary',['ngMaterial','ui.bootstrap','AppCommon']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

});
app.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
   });

app.controller('ctrlsummary', ['$scope', '$filter', '$mdDateLocale', 'si_service', '$window', '$mdDialog', '$element',
    function($scope, $filter, $mdDateLocale, si_service, $window, $mdDialog, $element) {

    $element.find('input').on('keydown', function(ev) {
        ev.stopPropagation();
    });

    $scope.currentPage = 1;
    $scope.maxSize = 3;
    $scope.itemsPerPage = 10;

    $scope.currentPages = 1;
    $scope.maxSize = 3;
    $scope.itemsPerPages = 10;
    $scope.minDate=new Date();
    $scope.isHold="";
    $scope.final_values="";



    var detail = JSON.parse(sessionStorage.getItem('today'));
    var td = detail.date;
    var employgid = detail.employee_gid;

    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };

    $scope.endloading = function() {
        $mdDialog.hide();
    };


    if (sessionStorage.getItem('si') != null)
     {
        var si_data = JSON.parse(sessionStorage.getItem('si'));
        console.log(si_data);
        $scope.approv = si_data.view;
        $scope.standardinstruction_gid=si_data.standardinstruction_gid;
     }
     else{
        alert("No Ammort Datas");
     }

         $scope.loading();
         var datas={params:{"action":"GET","type":"STANDARD_INSTRUCTION_HEADER_DETAIL","filter":{"StandardInstruction_Gid":$scope.standardinstruction_gid}}};
         var si_data = si_service.get_si_header_data(datas);
            si_data.then(function(result) {
            debugger;
                 var res = result.data;
                 $scope.si_data_summary=res[0];
                 $scope.si_data_summary1=res[0];
                 console.log($scope.si_data_summary);

                 $scope.recuring_date=$scope.si_data_summary.standardinstruction_recurringdate;
                 $scope.si_amount=$scope.si_data_summary.standardinstruction_amount;
                 $scope.si_from_date=$scope.si_data_summary.standardinstruction_fromdate;
                 $scope.si_to_date=$scope.si_data_summary.standardinstruction_todate;
                 $scope.si_code=$scope.si_data_summary.standardinstruction_code;

                 $scope.si_details=JSON.parse($scope.si_data_summary.si_detail);
                 }, function(err) {
                  alert("No Data");
            }).finally($scope.endloading);


     $scope.filtersearch = function() {
            $scope.ammort_summary = $filter('filter')($scope.ammort_summary_copy, {
                "ammort_code": $scope.ammort_code,
            });
     }

     $scope.loading();
     var datas={params:{"action":"GET","type":"STANDARD_INSTRUCTION_CCBS_DETAIL",
     "filter":{"standardinstruction_gid":$scope.standardinstruction_gid}}};

     var si_ccbs = si_service.get_si_header_data(datas);
     si_ccbs.then(function(result) {
             var res = result.data;
             $scope.si_ccbs_data=res;
             console.log($scope.si_ccbs_data);
             }, function(err) {
              alert("No Data");
     }).finally($scope.endloading);


    $scope.apply=function(values){
        if(values=="APPROVED"){
            $scope.final_values=values;
            $scope.Change_Status($scope.final_values);

        }
        else if(values=="REJECTED"){
            $scope.final_values=values;
            $scope.Change_Status($scope.final_values);

        }
    }
    $scope.Change_Status=function(final_status){

        var datas={params:{"action":"UPDATE","type":"UPDATE_STANDARD_INSTRUCTION_STATUS",
        "filter":{"StandardInstruction_Gid":$scope.standardinstruction_gid,
        "StandardInstruction_Status":final_status}}};

        $scope.loading();
        var si = si_service.si_set(datas);
        si.then(function(result) {
            var res = JSON.parse(result.data);
            debugger;
            if (res.MESSAGE[0]=== "SUCCESS") {
               alert("Succesfully Updated...");
               $window.location.href = "StandardInstructions/SI_Approval_Summary/";
            }


        }, function(err) {
           alert(res);
        }).finally($scope.endloading);
    }



}]);
app.service("si_service", function ($http) {

    this.get_si_header_data=function(data){
        var response=$http.post(Appname+"/Get_SI/",data);
        return response;
    }

     this.si_set=function (data) {
        var response=$http.post(Appname+"/Set_SI/",data);
        return response;
    }

});





</script>
{% endblock %}