{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Category Subcategory Approver {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="Branch_Property_App" ng-controller="Branch_Property_Ctrl" class="container container1" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Category Subcategory Approver </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Search Category Name</label>
                        <input ng-model="category_name"
                               ng-change="category_channged()"
                               maxlength="25"/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Search Category Code</label>
                        <input ng-model="category_code"
                               ng-change="category_channged()"
                               maxlength="25"/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Search SubCategory Name</label>
                        <input ng-model="subcategory_name"
                               ng-change="subcategory_channged()"
                               maxlength="25"/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Search SubCategory Code</label>
                        <input ng-model="subcategory_code"
                               ng-change="subcategory_channged()"
                               maxlength="25"/>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row table-responsive">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                               md-progress="deferred">
                            <thead class="header">
                            <tr>
                                <th>S.No</th>
                                <th>Category Name</th>
                                <th>Category Code</th>
                                <th>Category No</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center"
                                ng-repeat="pro in all_pending_category.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:search:strict">
                                <td>
                                    <center>
                                        {{((currentPage-1)*itemsPerPage)+$index+1}}
                                    </center>
                                </td>
                                <td>{{pro.category_name}}</td>
                                <td>{{pro.category_code}}</td>
                                <td>{{pro.category_no}}</td>
                                <td>{{pro.category_status}}</td>
                                <td><a href="">
                                    <i class="material-icons" ng-click="view_category_approved(pro)"
                                       title="" style="color:green;">check
                                    </i>
                                </a>
                                </td>
                            </tr>
                            <tr ng-show="all_pending_category.length == 0">
                                <td class="warning" colspan="12">
                                    No Records Found.
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr align="center">
                                <td colspan="4">
                                    <ul uib-pagination
                                        total-items="all_pending_category.length"
                                        ng-model="currentPage"
                                        max-size="maxSize"
                                        class="pagination-sm"
                                        boundary-links="true"
                                        items-per-page="itemsPerPage"></ul>
                                </td>
                                <td colspan="2">
                                    Total Count:{{all_pending_category.length}}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                               md-progress="deferred">
                            <thead class="header">
                            <tr>
                                <th>S.No</th>
                                <th>SubCategory Name</th>
                                <th>SubCategory Code</th>
                                <th>Subcategory No</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center"
                                ng-repeat="subcat in all_pending_subcategory.slice(((currentPages-1)*itemsPerPages),((currentPages)*itemsPerPages))
                                 | filter:search:strict">
                                <td>
                                    <center>
                                        {{((currentPages-1)*itemsPerPages)+$index+1}}
                                    </center>
                                </td>
                                <td>{{subcat.subcategory_name}}</td>
                                <td>{{subcat.subcategory_code}}</td>
                                <td>{{subcat.subcategory_no}}</td>
                                <td>{{subcat.subcategory_status}}</td>
                                <td><a href="">
                                    <i class="material-icons" ng-click="view_subcategory_approved(subcat)"
                                       style="color:green;">check
                                    </i>
                                </a>
                                </td>
                            </tr>
                            <tr ng-show="all_pending_subcategory.length == 0">
                                <td class="warning" colspan="12">
                                    No Records Found.
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr align="center">
                                <td colspan="5">
                                    <ul uib-pagination
                                        total-items="all_pending_subcategory.length"
                                        ng-model="currentPages"
                                        max-size="maxSizes"
                                        class="pagination-sm"
                                        boundary-links="true"
                                        items-per-page="itemsPerPages"></ul>
                                </td>
                                <td colspan="2">
                                    Total Count:{{all_pending_subcategory.length}}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="view_cat_data" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="width:70%">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="view_transaction_data">
                            Category
                            <button type="button" class="close" data-dismiss="modal"
                                    ng-click="close_pr_popup()"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="body">
                        <form class="modal-body popup-body" name="supplier" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Category Name </label>
                                            <input ng-model="single_cat_data.category_name" disabled>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Category Code </label>
                                            <input ng-model="single_cat_data.category_code" disabled>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Category No </label>
                                            <input ng-model="single_cat_data.category_no" disabled>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-5">
                                    <md-button class="btn btn-info custbutton"
                                               ng-click="category_approved(single_cat_data)">Approve
                                    </md-button>
                                    <md-button class="md-raised" value="close"
                                               aria-label="Close" data-dismiss="modal">Cancel
                                    </md-button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="view_subcat_data" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="width:70%">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="view_subcat_datas">
                            Sub Category
                            <button type="button" class="close" data-dismiss="modal"
                                    ng-click="close_pr_popup()"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="body">
                        <form class="modal-body popup-body" name="supplier" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Category Name </label>
                                            <input ng-model="single_sub_cat_data.category_name" disabled>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Category Code </label>
                                            <input ng-model="single_sub_cat_data.category_code" disabled>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Category No </label>
                                            <input ng-model="single_sub_cat_data.category_no" disabled>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Sub Category Name </label>
                                            <input ng-model="single_sub_cat_data.subcategory_name" disabled>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Sub Category Code </label>
                                            <input ng-model="single_sub_cat_data.subcategory_code" disabled>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Sub Category No </label>
                                            <input ng-model="single_sub_cat_data.subcategory_no" disabled>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Sub Category GL No </label>
                                            <input ng-model="single_sub_cat_data.subcategory_glno" disabled>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Sub Category GST Blocked </label>
                                            <input ng-model="single_sub_cat_data.subcategory_gstblocked" disabled>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Sub Category GST RCM </label>
                                            <input ng-model="single_sub_cat_data.subcategory_gstrcm" disabled>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Sub Category Asset Code</label>
                                            <input ng-model="single_sub_cat_data.subcategory_asst_code" disabled>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-5">
                                    <md-button class="btn btn-info custbutton"
                                               ng-click="subcategory_approved(single_sub_cat_data)">Approve
                                    </md-button>
                                    <md-button class="md-raised" value="close"
                                               aria-label="Close" data-dismiss="modal">Cancel
                                    </md-button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endverbatim %}
<script>
var myApp = angular.module('Branch_Property_App', ['ngMaterial','ui.bootstrap','ngMessages']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});

myApp.controller('Branch_Property_Ctrl', ['$scope','pending_cat_subcat_service','$mdDialog','$window','$filter', function($scope,pending_cat_subcat_service,$mdDialog,$window,$filter) {
    $scope.currentPage=1;
    $scope.maxSize=5;
    $scope.itemsPerPage=10;

    $scope.currentPages=1;
    $scope.maxSizes=5;
    $scope.itemsPerPages=10;

     var detail = JSON.parse(sessionStorage.getItem('today'));
     $scope.employgid = detail.employee_gid;
     $scope.entity_gid = detail.entity_gid;

    $scope.loading = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.body),
                clickOutsideToClose: false
            });
    };

     $scope.endloading = function() {
            $mdDialog.hide();
     };

     $scope.loading_popup_cat = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.getElementById('view_cat_data')),
                clickOutsideToClose: false
            });
     };
     $scope.loading_popup_sub_cat = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.getElementById('view_subcat_data')),
                clickOutsideToClose: false
            });
     };

    $scope.all_pending_category=[];
     $scope.get_category_data=function(){
        var data={"Params":{ "FILTER":{"category_gid":[]},"CLASSIFICATION":{"Entity_Gid":$scope.entity_gid}}}
        var datam={"Group":"CCBS_MASTER","Type":"pending_ccbs_category","Sub_type":"get","data":data}
        debugger;
<!--        $scope.loading();-->
        var category_get=pending_cat_subcat_service.service_get(datam)
                 category_get.then(function(result)
                 {
                     $scope.all_pending_category=result.data.DATA;
                     $scope.all_pending_category_main=result.data.DATA;
                     console.log($scope.all_pending_category);
                     if($scope.all_pending_category==undefined){
                        $scope.all_pending_category=[];
                     }
                  },
                function(err) {
                    alert('No data!.');
                }).finally($scope.endloading);
    }

    $scope.all_pending_subcategory=[];
     $scope.get_subcategory_data=function(){
        var data={"Params":{ "FILTER":{"category_gid":[]},"CLASSIFICATION":{"Entity_Gid":$scope.entity_gid}}}
        var datam={"Group":"CCBS_MASTER","Type":"pending_ccbs_subcategory","Sub_type":"get","data":data}
        debugger;
<!--        $scope.loading();-->
        var subcategory_get=pending_cat_subcat_service.service_get(datam)
                 subcategory_get.then(function(result)
                 {
                     $scope.all_pending_subcategory=result.data.DATA;
                     $scope.all_pending_subcategory_main=result.data.DATA;
                     console.log($scope.all_pending_subcategory);
                     if($scope.all_pending_subcategory==undefined){
                        $scope.all_pending_subcategory=[];
                     }
                  },
                function(err) {
                    alert('No data!.');
                }).finally($scope.endloading);
    }



    $scope.category_channged = function() {
            $scope.all_pending_category = $filter('filter')($scope.all_pending_category_main, {
                "category_name": $scope.category_name,
                "category_code": $scope.category_code,
            });
    }

    $scope.subcategory_channged = function() {
            $scope.all_pending_subcategory = $filter('filter')($scope.all_pending_subcategory_main, {
                "subcategory_code": $scope.subcategory_code,
                "subcategory_name": $scope.subcategory_name,
            });
    }

    $scope.get_category_data();
    $scope.get_subcategory_data();

    $scope.view_category_approved=function(cat_data){
        $scope.single_cat_data=cat_data;
        modalshow('view_cat_data');
    }

    $scope.category_approved=function(cat){
    debugger;
        var data={"Params":{"FILTER":{"category_gid":cat.category_gid,"category_status":"APPROVED"},
                    "CLASSIFICATION":{"Entity_Gid":$scope.entity_gid,"Create_by":$scope.employgid}}};
        var datam={"Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER","Type":"STATUS","Sub_type":"UPDATE_CAT","data":data}
        $scope.loading_popup_cat();
        var insert_cat=pending_cat_subcat_service.insert_cat_subcate(datam)
         insert_cat.then(function(result){
            if(result.data.MESSAGE=="SUCCESS"){
                alert("Successfully Approved...");
                 modalhide('view_cat_data');
                $scope.get_category_data();
            }
            else{
                alert(JSON.stringfy(result.data));
            }
              },
            function(err) {
                alert('No data!.');
            }).finally($scope.endloading);

    }

    $scope.view_subcategory_approved=function(subcat_data){
        $scope.single_sub_cat_data=subcat_data;
        modalshow('view_subcat_data');
    }

    $scope.subcategory_approved=function(sub){

        var data={"Params":{"FILTER":{"subcategory_gid":sub.subcategory_gid,"subcategory_status":"APPROVED"},
                    "CLASSIFICATION":{"Entity_Gid":$scope.entity_gid,"Create_by":$scope.employgid}}};
        var datam={"Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER","Type":"STATUS","Sub_type":"UPDATE_SUBCAT","data":data}
        $scope.loading_popup_sub_cat();
        var insert_subcat=pending_cat_subcat_service.insert_cat_subcate(datam)
         insert_subcat.then(function(result){
            if(result.data.MESSAGE=="SUCCESS"){
                alert("Successfully Approved...");
                modalhide('view_subcat_data');
                $scope.get_subcategory_data();
            }
            else{
                alert(JSON.stringfy(result.data));
            }
              },
            function(err) {
                alert('No data!.');
            }).finally($scope.endloading);

    }




}]);

myApp.service("pending_cat_subcat_service", function ($http) {

    this.service_get=function(custid)
    {
        var respons = $http.post(Appname + "/cbsmaster/", custid);
        return respons;
    }

    this.insert_cat_subcate=function(d)
    {
        var respons = $http.post(Appname + "/catsubcat/",d);
        return respons;
    }



});

myApp.directive('ngConfirmClick', [
        function(){
            return {
                link: function (scope, element, attr) {
                    var msg = attr.ngConfirmClick || "Are you sure?";
                    var clickAction = attr.confirmedClick;
                    element.bind('click',function (event) {
                        if ( window.confirm(msg) ) {
                            scope.$eval(clickAction)
                        }
                    });
                }
            };
    }])
































</script>
<style>
    .app-modal-window .modal-dialog {
    width: 1000px;
}































</style>
{% endblock %}