{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}category and subcategory summary {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<style>
    .dialogdemoThemeInheritance .container {
  text-align: center; }




















</style>
<div class="maincontent">
    <div class="container container1" class="modal-body popup-body"
         ng-app="myApp" ng-controller="myCtrl" ng-cloak ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Category and Subcategory Summary</h4>
            </div>
        </div>
        <div class="modal-body popup-body">
            <div class="row">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Category No</label>
                        <input type="text"
                               ng-model="chk.cno"
                               ng-change="catchange(chk)"
                               autocomplete="off">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Category Name</label>
                        <input type="text"
                               ng-model="chk.cname"
                               ng-change="catchange(chk)"
                               autocomplete="off">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>SubCategory No</label>
                        <input type="text"
                               ng-model="chk.sglno"
                               ng-change="subcatchange(chk)"
                               autocomplete="off">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>SubCategory Name</label>
                        <input type="text"
                               ng-model="chk.sname"
                               ng-change="subcatchange(chk)"
                               autocomplete="off">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>MatchCat Name</label>
                        <input type="text"
                               ng-model="chk.matchcat"
                               ng-change="subcatchange(chk)"
                               autocomplete="off">
                    </md-input-container>
                </div>
                <div align="right">
                    <md-button class="md-fab md-mini md-primary custbutton" ng-click="showAdvanced($event)">
                        <md-icon>add</md-icon>
                        <md-tooltip>Create New</md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="row table-responsive">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                       style="width:100%">
                    <thead class="header">
                    <tr>
                        <th>S.NO</th>
                        <th>Cat No</th>
                        <th>Category Name</th>
                        <th>Cat Code</th>
                        <th>Cat Glno</th>
                        <th>Select<br>
                            <!--                            <input type="checkbox"-->
                            <!--                                   ng-click="selectAll()"-->
                            <!--                                   ng-model="categoryall.itemallselected">-->
                        </th>
                        <th style="width:40px">Is Active</th>
                        <th style="width:40px">Is Asset</th>
                        <th>Status</th>
                        <th style="width:40px">Edit</th>
                        <th style="width:40px">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in categoryall.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))  | filter:search:strict">
                        <td class="text-center">{{((currentPage1-1)*itemsPerPage1)+$index+1}}</td>
                        <td class="text-right"><a href="">{{x.category_no}}</a>
                            <md-tooltip md-direction="right"
                                        style="background-color:#337ab7">
                                {{x.category_no}}
                            </md-tooltip>
                        </td>
                        <td class="text-left">{{x.category_name}}</td>
                        <td class="text-right">{{x.category_code}}</td>
                        <td class="text-right">{{x.category_glno}}</td>
                        <td class="text-center">
                            <input type="checkbox"
                                   ng-click="selectEntity(x)"
                                   ng-model="x.checked"></td>
                        <td class="text-center"
                            ng-class="x.category_isactive== 'Y' ? 'text-success':'danger'"
                            style="width:40px">{{x.category_isactive}}
                        </td>

                        <td class="text-center"
                            ng-class="x.category_isasset== 'Y' ? 'text-success':'danger'"
                            style="width:40px">{{x.category_isasset}}
                        </td>
                        <td class="text-center">{{x.category_status}}</td>
                        <td class="text-center" ng-click="cat_update(x)">
                            <a href=""><i class="material-icons">
                                edit
                            </i></a>
                        </td>
                        <td>
                            <span class="material-icons" ng-class="x.category_isactive=='Y'? 'editlink':''"
                                  ng-click="activeDeactive_click(x.category_isactive,x.category_gid,x)"
                                  title="{{x.category_isactive=='Y' ? 'Click to Inactive':'Click to active'}}">wb_sunny</span>
                        </td>
                    </tr>
                    <tr ng-show="categoryall.length ==  0">
                        <td class="warning" colspan="12">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <td colspan="9">
                                <ul boundary-links="true" class="pagination-sm cust_pagination"
                                    items-per-page="itemsPerPage1"
                                    max-size="maxSize1"
                                    ng-model="currentPage1" total-items="pageLength1"
                                    uib-pagination></ul>
                            </td>
                            <td colspan="4">
                                Total Count:{{categoryall.length}}
                            </td>
                        </div>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                       style="width:100%">
                    <thead class="header">
                    <tr>
                        <th>S.NO</th>
                        <th>Subcat No</th>
                        <th>Subcategory Name</th>
                        <th>MatchCat Name</th>
                        <th>Subcat Code</th>
                        <th>Subcat Glno</th>
                        <th>Asset Code</th>
                        <th>Blocked</th>
                        <th>RCM</th>
                        <th>Is Active</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in subcategoryall.slice(((currentPage2-1)*itemsPerPage2), ((currentPage2)*itemsPerPage2))  | filter:search:strict">
                        <td class="text-center">{{((currentPage2-1)*itemsPerPage2)+$index+1}}</td>
                        <td class="text-right"><a href="">{{x.subcategory_no}}</a>
                            <md-tooltip md-direction="right"
                                        style="background-color:#337ab7">
                                {{x.subcategory_no}}
                            </md-tooltip>
                        </td>
                        <td class="text-left">{{x.subcategory_name}}</td>
                        <td class="text-left">{{x.category_name}}</td>
                        <td class="text-right">{{x.subcategory_code}}</td>
                        <td class="text-right">{{x.subcategory_glno}}</td>
                        <td class="text-right">{{x.subcategory_asst_code}}</td>
                        <td class="text-center">{{x.subcategory_gstblocked}}</td>
                        <td class="text-center">{{x.subcategory_gstrcm}}</td>
                        <td class="text-center"
                            ng-class="x.subcategory_isactive== 'Y' ? 'text-success':'danger'"
                            style="width:10px">{{x.subcategory_isactive}}
                        </td>
                        <td class="text-center">{{x.subcategory_status}}</td>
                        <td class="text-center" ng-click="subcat_update(x)">
                            <a href=""><i class="material-icons">
                                edit
                            </i></a>
                        </td>
                        <td>
                            <span class="material-icons" ng-class="x.subcategory_isactive=='Y'? 'editlink':''"
                                  ng-click="activeDeactive_click1(x.subcategory_isactive,x.subcategory_gid,x)"
                                  title="{{x.subcategory_isactive=='Y' ? 'Click to Inactive':'Click to active'}}">wb_sunny</span>
                        </td>
                    </tr>
                    <tr ng-show="subcategoryall.length ==  0">
                        <td class="warning" colspan="14">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <td colspan="8">
                                <ul boundary-links="true" class="pagination-sm cust_pagination"
                                    items-per-page="itemsPerPage2"
                                    max-size="maxSize2"
                                    ng-model="currentPage2" total-items="pageLength2"
                                    uib-pagination></ul>
                            </td>
                            <td colspan="5">
                                Total Count:{{subcategoryall.length}}
                            </td>
                        </div>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div ng-include="'Cat_Subcat_popup'"></div>
        <!--        Cat Update popup-->
        <div class="modal fade" id="update_pop" tabindex="-1" role="dialog" data-backdrop=""
             data-keyboard=""
             aria-labelledby="exampleModalLabel" aria-hidden="">
            <div class="modal-dialog modal-sm" role="document" style="height:auto;width:50%">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleLabel">
                            Category Update
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body popup-body" ng-repeat="upd in update_data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    Category Name : <b><p>{{upd.category_name}}</p></b>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-5" style="margin-top:33px;">
                                        <p>Selected Value: Is_Asset
                                            <span class="radioValue"
                                                  ng-if="upd.catogry_isasset == 'Y' ? color='green':color='red'"
                                                  style="color:{{color}}">
                                        <b>'{{upd.catogry_isasset}}'</b>
                                        </span>
                                        </p>
                                    </div>
                                    <div class="col-md-1" style="margin-top:33px;">
                                        <md-radio-group ng-model="upd.catogry_isasset"
                                                        ng-click="chk(upd.catogry_isasset   )">
                                            <div class="col-md-1">
                                                <md-radio-button
                                                        value="Y"
                                                        class="md-primary">
                                                    YES
                                                </md-radio-button>
                                            </div>
                                            <div class="col-md-1">
                                                <md-radio-button
                                                        value="N"
                                                        class="md-primary">
                                                    NO
                                                </md-radio-button>
                                            </div>
                                        </md-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <md-button class="btn btn-info custbutton" ng-click="cat_update_save(upd)">Save
                                    <md-tooltip>Save</md-tooltip>
                                </md-button>
                                <md-button class="md-raised" data-dismiss="modal">Back
                                    <md-tooltip>close</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="update_subcat_pop" tabindex="-1" role="dialog" data-backdrop=""
             data-keyboard=""
             aria-labelledby="exampleModalLabel" aria-hidden="">
            <div class="modal-dialog modal-sm" role="document" style="height:auto;width:80%">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleLabels">
                            Sub Category Update
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body popup-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>Category Name </label>
                                        <input ng-model="subcategory_data.category_name" disabled>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>Sub Category Name </label>
                                        <input ng-model="subcategory_data.subcategory_name" disabled>
                                    </md-input-container>
                                </div>

                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>Sub Category Code </label>
                                        <input ng-model="subcategory_data.subcategory_code" disabled>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Subcat Glno</label>
                                            <input ng-model="subcategory_data.subcategory_glno" disabled>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-2" style="margin-top:25px">
                                        <md-checkbox
                                                ng-model="subcategory_data.subcategory_gstblocked"
                                                ng-true-value="'Y'" ng-false-value="'N'"
                                                type="checkbox">
                                            Blocked
                                        </md-checkbox>
                                    </div>
                                    <div class="col-md-2" style="margin-top:25px">
                                        <md-checkbox ng-model="subcategory_data.subcategory_gstrcm"
                                                     ng-true-value="'Y'" ng-false-value="'N'"
                                                     type="checkbox">
                                            RCM
                                        </md-checkbox>
                                    </div>

<!--                                    <div class="col-md-2" style="margin-top:25px">-->
<!--                                        <md-checkbox ng-model="subcategory_data.subcategory_isactive"-->
<!--                                                     ng-true-value="'Y'" ng-false-value="'N'"-->
<!--                                                     type="checkbox">Is Active-->
<!--                                        </md-checkbox>-->
<!--                                    </div>-->
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <md-button class="btn btn-info custbutton"
                                           ng-click="sub_cat_update_save(subcategory_data)">Save
                                </md-button>
                                <md-button class="md-raised" data-dismiss="modal">Back
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        Cat Update  popup ends-->
    </div>
</div>
{% endverbatim %}

<script>
var app = angular.module('myApp', ['ngMaterial', 'ui.bootstrap', 'AppCommon','ngMessages'])
.config(function ($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});
app.controller('myCtrl',['$timeout','ccbsservice','$scope','$mdDialog','$interval','$filter','$element','$window', function($timeout,ccbsservice,$scope, $mdDialog, $interval,$filter,$element,$window) {
        $element.find('input').on('keydown', function(ev) {
            ev.stopPropagation();
        });

         var detail = JSON.parse(sessionStorage.getItem('today'));
         $scope.employgid = detail.employee_gid;
         $scope.entity_gid = detail.entity_gid;
         $scope.currentPage = 1;
         $scope.maxSize = 3;
         $scope.itemsPerPage = 10;
         $scope.drop_down_category=[];
         $scope.maincategory=[];
         $scope.sub_category=[];
         $scope.mainsummary=[];
         $scope.maintable=[];
         $scope.code1='';
         $scope.code2='';
         $scope.code3='';
         $scope.code4='';
         $scope.code_generate='';
         $scope.pop=[];
         $scope.cat_up_data=[];
         $scope.catc='';
         $scope.catn='';
         $scope.cat_show=1;
         $scope.subcat_show=1;



         //$scope.form.validate.$setUntouched();
         $scope.categoryall=[];
         $scope.subcategoryall=[];
         $scope.newcategory=true;
         $scope.newsubcategory=true;
         $scope.commonbutton=true;
         $scope.cate=false;
         $scope.subcate=false;
<!--         $scope.selectEntity = function(emp) {-->
<!--        -->
<!--            var dd = emp.checked;-->
<!--            for (i = 0; i < $scope.categoryall.length; i++) {-->
<!--                if (i != emp.num) {-->
<!--                    $scope.categoryall[i].checked = false;-->
<!--                    $scope.bulkbutton = false;-->
<!--                }-->
<!--                if (i == emp.num) {-->
<!--                    $scope.categoryall[i].checked = true;-->
<!--                    $scope.bulkbutton = false;-->
<!--                }-->
<!--                if (dd == false) {-->
<!--                    $scope.bulkbutton = true;-->
<!--                    $scope.categoryall[i].checked = false;-->
<!--                }-->
<!--            }-->
<!--        }-->




   $scope.activeDeactive_click = function(is_active, gid,cat) {
        if(cat.category_status=="APPROVED"){
            if (is_active == 'Y') {
                $scope.inactive(gid)
            } else {
                $scope.active(gid)
            }
        }
        else{
            alert("Approved Category Only Allow To Active and Inactive");
        }

   }

        $scope.active = function(gid) {

        var data = {
                    "Params": {
                        "FILTER": {
                            "category_gid": gid
                        },
                    "CLASSIFICATION":{
                         "Entity_Gid":$scope.entity_gid,
                         "Create_by":$scope.employgid
                        }
                    }
                }

               var data_int={
            "Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER",
            "Type":"ACTIVE",
            "Sub_type":"UPDATE",
            "data":data
            }
            var emp_act = ccbsservice.ins_get(data_int);
            emp_act.then(function(result) {
                   var res = result.data.MESSAGE;
                    if (res === "SUCCESS") {
                        alert("Activated Succesfully");
                        $window.location.href = "Cat_Subcat";
                    } else {
                        alert("Not Activated");
                        $window.location.href = "Cat_Subcat";
                    }
                }),
                function() {
                    alert('no data');
                };
        };

        $scope.inactive = function(gid) {


        var data = {
                    "Params": {
                        "FILTER": {
                            "category_gid": gid
                        },
                    "CLASSIFICATION":{
                         "Entity_Gid":$scope.entity_gid,
                         "Create_by":$scope.employgid
                        }
                    }
                }

                 var data_int={
            "Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER",
            "Type":"INACTIVE",
            "Sub_type":"UPDATE",
            "data":data
            }
            var emp_inact = ccbsservice.ins_get(data_int);
            emp_inact.then(function(result) {

                    var res = result.data.MESSAGE
                    if (res === "SUCCESS") {
                        alert("InActivated Succesfully");
                        $window.location.href = "Cat_Subcat";
                    } else {
                        alert("Not InActivated");
                        $window.location.href = "Cat_Subcat";
                    }
                }),
                function() {
                    alert('no data');
                };
        };




   $scope.activeDeactive_click1 = function(is_active, gid,subcat) {
        if(subcat.subcategory_status=="APPROVED"){
            if (is_active == 'Y') {
                $scope.inactive1(gid)
            } else {
                $scope.active1(gid)
            }
        }
        else{
            alert("Approved Subcategory Only Allow To Active and Inactive");
        }
   }

        $scope.active1 = function(gid) {

        var data = {
                    "Params": {
                        "FILTER": {
                            "subcategory_gid": gid
                        },
                    "CLASSIFICATION":{
                         "Entity_Gid":$scope.entity_gid,
                         "Create_by":$scope.employgid
                        }
                    }
                }

               var data_int={
            "Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER",
            "Type":"ACTIVE",
            "Sub_type":"UPDATE_SUB",
            "data":data
            }
            var emp_act = ccbsservice.ins_get(data_int);
            emp_act.then(function(result) {
                   var res = result.data.MESSAGE;
                    if (res === "SUCCESS") {
                        alert("Activated Succesfully");
                        $window.location.href = "Cat_Subcat";
                    } else {
                        alert("Not Activated");
                        $window.location.href = "Cat_Subcat";
                    }
                }),
                function() {
                    alert('no data');
                };
        };

        $scope.inactive1 = function(gid) {


        var data = {
                    "Params": {
                        "FILTER": {
                            "subcategory_gid": gid
                        },
                    "CLASSIFICATION":{
                         "Entity_Gid":$scope.entity_gid,
                         "Create_by":$scope.employgid
                        }
                    }
                }

                 var data_int={
            "Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER",
            "Type":"INACTIVE",
            "Sub_type":"UPDATE_SUB",
            "data":data
            }
            var emp_inact = ccbsservice.ins_get(data_int);
            emp_inact.then(function(result) {

                    var res = result.data.MESSAGE
                    if (res === "SUCCESS") {
                        alert("InActivated Succesfully");
                        $window.location.href = "Cat_Subcat";
                    } else {
                        alert("Not InActivated");
                        $window.location.href = "Cat_Subcat";
                    }
                }),
                function() {
                    alert('no data');
                };
        };


         $scope.selectAll=function()
         {
         if($scope.categoryall.itemallselected == true)
         {
             for(var i=0; i<$scope.categoryall.length;i++)
             {
             $scope.categoryall[i].checked=$scope.categoryall.itemallselected;
             }
         }
         else if($scope.categoryall.itemallselected == false)
         {
            for(var i=0; i<$scope.categoryall.length;i++)
             {
             $scope.categoryall[i].checked=$scope.categoryall.itemallselected;
             }

         }
         }

      $scope.selectEntity=function(emp){
        if(emp.category_status=="APPROVED"){

            var dd = emp.checked;
                for (i = 0; i < $scope.categoryall.length; i++) {
                    if (i != emp.num) {
                        $scope.categoryall[i].checked = false;
                        $scope.bulkbutton = false;
                    }
                    if (i == emp.num) {
                        $scope.categoryall[i].checked = true;
                        $scope.bulkbutton = false;
                    }
                    if (dd == false) {
                        $scope.bulkbutton = true;
                        $scope.categoryall[i].checked = false;
                    }
                }
            $scope.arr=[];
             var count=0;
                 for(var i=0; i<$scope.categoryall.length;i++)
                 {
                     if($scope.categoryall[i].checked == true)
                     {
                     $scope.arr.push($scope.categoryall[i].category_gid);
                     count=count+1;
                     $scope.cate=true;
                     }
                 }
                 if($scope.categoryall.length == count)
                 {
                 $scope.categoryall.itemallselected = true;
                 }
                 else
                 {
                 $scope.categoryall.itemallselected = false;
                 }
                 var data={
                            "Params":
                                    { "FILTER":
                                        {"category_gid":$scope.arr
                                        },
                                        "CLASSIFICATION":
                                        {"Entity_Gid":$scope.entity_gid
                                        }
                                    }
                     }

                var datam={
                            "Group":"CCBS_MASTER",
                            "Type":"ccbs_category",
                            "Sub_type":"master",
                            "data":data
                        }

             var category_get=ccbsservice.service_get(datam)
                 category_get.then(function(result)
                 {

                 if(result.data.MESSAGE == 'FOUND')
                 {
                 $scope.subcategoryall=result.data.DATA;
                 console.log($scope.subcategoryall);
                 $scope.pageLength2 = $scope.subcategoryall.length;
                 $scope.Totalpages = Math.ceil($scope.subcategoryall.length / $scope.itemsPerPage2);
                $scope.pageLength2 = $scope.subcategoryall.length;
                 }
                 else if(result.data.MESSAGE == 'NOT_FOUND')
                 {
                 $scope.subcategoryall=[];
                 $scope.pageLength2 = $scope.subcategoryall.length;
                 $scope.Totalpages = Math.ceil($scope.subcategoryall.length / $scope.itemsPerPage2);
                $scope.pageLength2 = $scope.subcategoryall.length;
                 }

                 });
        }
        else{
            alert("Please Select Approved Category!...");
            $scope.subcategoryall=[];
        }
      }


         $scope.catchange=function(e)
         {

         $scope.categoryall=$filter('filter')($scope.maintable1,
                {
                'category_no':e.cno,
                'category_name':e.cname
                });
         for (i = 0; i < $scope.categoryall.length; i++) {
                            $scope.sltd = false;
                            $scope.categoryall[i].num = i + 0;
                            $scope.categoryall[i].checked = $scope.sltd;
                    }
         $scope.pageLength1 = $scope.categoryall.length;
         $scope.Totalpages = Math.ceil($scope.categoryall.length / $scope.itemsPerPage);
         $scope.pageLength1 = $scope.categoryall.length;
         }

         $scope.addcategory=function()
         {
         $scope.newcategory=false;
         $scope.commonbutton=false;
         $scope.subcate=true;
         }
         function canc(pop)
         {
           var count1=0;
         for(var i=0; i<$scope.categoryall.length;i++)
             {
                 if($scope.categoryall[i].checked == true)
                 {
                 $scope.arr.push($scope.categoryall[i].category_gid);
                 count1=count1+1;
                 $scope.cate=true;
                 $scope.subcate=false;
                 }
             }
             if(count1 == 0)
             {
             $scope.cate=false;
             $scope.subcate=true;
             }
         $scope.newcategory=true;
         $scope.newsubcategory=true;
         $scope.commonbutton=true;
         $scope.pop.catname='';
         $scope.pop.catcode='';
         $scope.pop.catno='';
         $scope.pop.catglno='';
         $scope.pop.subname='';
         $scope.pop.subcode='';
         $scope.pop.subglno='';
         $scope.pop.subno='';
         $scope.pop.group1='Y';

         }

         $scope.cancel=function(pop)
         {

         $window.location.href='Cat_Subcat';
         }

         $scope.addsubcategory=function()
         {
         $scope.newsubcategory=false;
         $scope.commonbutton=false;
          $scope.cate=true;
         }

          $scope.subcatchange=function(e)
         {

         $scope.arr=[];
         var count=0;
             for(var i=0; i<$scope.categoryall.length;i++)
             {
                 if($scope.categoryall[i].checked == true)
                 {
                 $scope.arr.push($scope.categoryall[i].category_gid);
                 count=count+1;
                 }
             }

         if(count>0)
         {

         var data={
                        "Params":
                                { "FILTER":
                                    {"category_gid":$scope.arr
                                    },
                                    "CLASSIFICATION":
                                    {"Entity_Gid":$scope.entity_gid
                                    }
                                }
                 }

            var datam={
                        "Group":"CCBS_MASTER",
                        "Type":"ccbs_category",
                        "Sub_type":"get",
                        "data":data
                    }

         var category_get=ccbsservice.service_get(datam)
             category_get.then(function(result)
             {

             if(result.data.MESSAGE == 'FOUND')
             {
             $scope.subcategoryall1=result.data.DATA;
             $scope.pageLength2 = $scope.subcategoryall1.length;
             $scope.Totalpages = Math.ceil($scope.subcategoryall1.length / $scope.itemsPerPage2);
            $scope.pageLength2 = $scope.subcategoryall1.length;
             }
             else if(result.data.MESSAGE == 'NOT_FOUND')
             {
             $scope.subcategoryall1=[];
             $scope.pageLength2 = $scope.subcategoryall1.length;
             $scope.Totalpages = Math.ceil($scope.subcategoryall1.length / $scope.itemsPerPage2);
            $scope.pageLength2 = $scope.subcategoryall1.length;
             }
             });

             $scope.subcategoryall=$filter('filter')($scope.subcategoryall1,
                {
                'subcategory_glno':e.sglno,
                'subcategory_name':e.sname,
                'category_name':e.matchcat
                });

         }
         else if(count == 0)
         {
         $scope.subcategoryall=$filter('filter')($scope.maintable2,
                {
                'subcategory_glno':e.sglno,
                'subcategory_name':e.sname,
                'category_name':e.matchcat
                });
         }
         $scope.pageLength2 = $scope.subcategoryall.length;
         $scope.Totalpages = Math.ceil($scope.subcategoryall.length / $scope.itemsPerPage);
         $scope.pageLength2 = $scope.subcategoryall.length;
         }

         $scope.loading = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.body),
                clickOutsideToClose: false
            });
        };
        $scope.loading_popup_up = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.getElementById('update_pop')),
                clickOutsideToClose: false
            });
        };

        $scope.endloading = function() {
            $mdDialog.hide();
        };

        $scope.expense_head_list=[];
         var datas={params:{"action":'GET',"type":"EXPENSE_LINE"}};
            var exp_line_get = ccbsservice.get_exp_line(datas);
                  exp_line_get.then(function(result) {

                var exp_data = JSON.parse(JSON.stringify(result.data))
                $scope.exp_line_summary = exp_data;
                for(i=0;i<$scope.exp_line_summary.length;i++){
                    $scope.expense_head_list.push($scope.exp_line_summary[i].expense_head);
                }
                },
                function(err) {
                    alert(result.data);
            }).finally($scope.endloading);

<!--            alert(JSON.stringify($scope.expense_head_list));-->

        $scope.getExpense_head = Change_Head_Name;
       function Change_Head_Name(query) {
           var result = $filter('filter')($scope.exp_line_summary, {
           'expense_head': query
             });
           return result;
        }

        $scope.ExpenseChanged=function(gid){
         $scope.expense_gid=gid;

        };
        $scope.cat_update = function(x){
            $scope.catogry_gid = x.category_gid;
            $scope.catogry_isasset = x.category_isasset;
            $scope.category_name = x.category_name;
            modalshow('update_pop');
                $scope.update_data = [{
                    "catogry_gid": $scope.catogry_gid,
                    "catogry_isasset": $scope.catogry_isasset,
                    "category_name": $scope.category_name,
                }];
        }
        $scope.cat_update_save = function(x){
            $scope.loading_popup_up();
                var data={
                "Params":{
                    "FILTER":{
                         "Category_isasset":x.catogry_isasset,
                         "Category_Gid" :x.catogry_gid,
                        },
                    "CLASSIFICATION":{
                         "Entity_Gid":$scope.entity_gid,
                         "Create_by":$scope.employgid
                        }
                    }
                };
            var datam={
            "Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER",
            "Type":"UPDATE",
            "Sub_type":"add_category",
            "data":data
            }
             var insert_cat=ccbsservice.ins_get(datam)
             insert_cat.then(function(result)
             {

                 if(result.data.MESSAGE == 'Fully Inserted' ||
                   result.data.MESSAGE == 'Partially Inserted' ||
                   result.data.MESSAGE == 'None Record Is Inserted'||
                   result.data.MESSAGE == 'SUCCESS'){
                         alert(result.data.MESSAGE);
                         modalhide('update_pop');
                         $window.location.href = "Cat_Subcat";
                 }
                 else{
                    alert(result.data.MESSAGE);
                 }
             }).finally($scope.endloading);
        }


        $scope.subcat_update = function(x){

            $scope.subcategory_data=x;
            modalshow('update_subcat_pop');
       }

       $scope.sub_cat_update_save=function(x){
                $scope.loading_popup_up();
                var data={
                "Params":{
                    "FILTER":{
                         "subcategory_gstblocked":x.subcategory_gstblocked,
                         "subcategory_gstrcm":x.subcategory_gstrcm,
                         "Subcategory_Gid" :x.subcategory_gid,
                         "subcategory_isactive":x.subcategory_isactive,
                        },
                    "CLASSIFICATION":{
                         "Entity_Gid":$scope.entity_gid,
                         "Create_by":$scope.employgid
                        }
                    }
                };
            var datam={
            "Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER",
            "Type":"UPDATE",
            "Sub_type":"sub_category",
            "data":data
            }
             var insert_cat=ccbsservice.ins_get(datam)
             insert_cat.then(function(result)
             {

                 if(result.data.MESSAGE == 'Fully Inserted' ||
                   result.data.MESSAGE == 'Partially Inserted' ||
                   result.data.MESSAGE == 'None Record Is Inserted'||
                   result.data.MESSAGE == 'SUCCESS'){
                         alert(result.data.MESSAGE);
                         modalhide('update_pop');
                         $window.location.href = "Cat_Subcat";
                 }
                 else{
                    alert(result.data.MESSAGE);
                 }
             }).finally($scope.endloading);


       }



       var data_init={"params":{"Group":"GET_CATEGORY_OD_OR_ID"}}
       var odit=ccbsservice.hsn_detail(data_init);
        odit.then(function(result){
            $scope.odid_data=result.data.DATA;
            console.log($scope.odid_data);
         },
          function(err) {
             alert('No data!');
        });

        $scope.get_odit_data = Change_emp_name;
            function Change_emp_name(query) {
                var result = $filter('filter')($scope.odid_data, {
                'metadata_value':query,
            });
            return result;
        }

        $scope.odit_gid=0;
        $scope.odit_changed=function(odit){
            $scope.odit_gid=odit;
        };




        $scope.pop.rcm_status=false;
        $scope.pop.blocked_status=false;
         $scope.submit=function(x)
         {
         debugger;
            $scope.execute=1;
            $scope.error_code=0;

         //alert(JSON.stringify($scope.x));
         if((x.catname == undefined && x.catcode == undefined && x.subname!=undefined && x.subcode!=undefined && x.subname!='' && x.subcode!='') ||(x.subname == undefined && x.subcode == undefined && x.catname!=undefined && x.catcode!=undefined && x.catname!='' && x.catcode!='')||(x.subname == '' && x.subcode == '' && x.catname!=undefined && x.catcode!=undefined && x.catname!='' && x.catcode!='')||(x.catname == '' && x.catcode == '' && x.subname!=undefined && x.subcode!=undefined && x.subname!='' && x.subcode!=''))
         {
             if(x.catcode == '' || x.catcode == undefined)
             {
                 $scope.arr=[];
                 var count=0;
                 for(var i=0; i<$scope.categoryall.length;i++)
                 {
                     if($scope.categoryall[i].checked == true)
                     {
                     $scope.arr.push($scope.categoryall[i].category_gid);
                     count=count+1;
                     }
                 }
                 if(x.rcm_status==true){$scope.rcm_status="Y"}
                 else{$scope.rcm_status="N"}
                 if(x.blocked_status==true){$scope.blocked_status="Y"}
                 else{$scope.blocked_status="N"}
                 if($scope.is_asset=="Y"){
                    if(x.asset_code=="" || x.asset_code==undefined){
                        $scope.execute=0;
                        alert("Asset code is missing!");
                    }
                 }
                 if(x.subcatglno == '' || x.subcatglno == undefined || x.subcode=='' || x.subcode==undefined ||x.subglno=='' || x.subglno==undefined || x.subname=='' || x.subname==undefined || x.subno=='' ||x.subno==undefined){
                    $scope.execute==0;
                 }
                 $scope.subcate_len=x.subcatglno.length;
                 if($scope.subcate_len==9 || $scope.subcate_len==16){

                 }
                 else{
                    alert("Subcategory GL Only Allow 9 and 16 Digits");
                    $scope.execute=0;
                 }
                 if($scope.execute==1){
                    $scope.subcat_show=0;
                     var data={
                                "Params":
                                        { "FILTER":
                                            {"subcategory_name":x.subname,
                                             "subcategory_code":x.subcode,
                                             "subcategory_glno":x.subcatglno,
                                             "subcategory_categorygid":$scope.arr,
                                             "subcategory_no":x.subno,
                                             "subcategory_isactive":"N",
                                             "subcategory_asst_code":x.asset_code,
                                             "expense_gid":$scope.expense_gid,
                                             "rcm_status":$scope.rcm_status,
                                             "blocked_status":$scope.blocked_status,
                                             "subcategory_status":"PENDING FOR APPROVAL",
                                            },
                                            "CLASSIFICATION":
                                            {"Entity_Gid":$scope.entity_gid,
                                             "Create_by":$scope.employgid
                                            }
                                        }
                              }
                              var datam={
                                    "Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER",
                                    "Type":"INSERT",
                                    "Sub_type":"add_subcategory",
                                    "data":data
                              }
                 }


             }
             else if(x.subcode == '' || x.subcode == undefined)
             {
<!--                if(x.group_asset=="Y"){-->
<!--                    if($scope.odit_gid==0){-->
<!--                        $scope.execute=0;-->
<!--                        $scope.error_code=1;-->
<!--                        alert("Choose OD or IT");-->
<!--                    }-->
<!--                }-->
<!--                else{-->
<!--                    $scope.odit_gid=0;-->
<!--                }-->
                if($scope.execute==1){
                    var data={
                            "Params":
                                    { "FILTER":
                                        {"category_name":x.catname,
                                         "category_code":x.catcode,
                                         "category_glno":0,
                                         "category_no":x.catno,
                                         "category_isactive":"N",
                                         "category_isasset":x.group_asset,
                                         "category_isodit":$scope.odit_gid,
                                         "category_status":"PENDING FOR APPROVAL"
                                        },
                                        "CLASSIFICATION":
                                        {"Entity_Gid":$scope.entity_gid,
                                         "Create_by":$scope.employgid
                                        }
                                    }
                          }


                        var pop=[];
                        var pop=x;
                        var datam={
                        "Group":"SET_CATEGORY_AND_SUBCATEGORY_MASTER",
                        "Type":"INSERT",
                        "Sub_type":"add_category",
                        "data":data
                        }
                   }
                }
         }
         else
         {
         alert("please fill the required");
         return false;
         }

             $scope.cat_show=0;
             var insert_cat=ccbsservice.ins_get(datam)
             insert_cat.then(function(result)
             {

             if(result.data.MESSAGE == 'Fully Inserted' ||
               result.data.MESSAGE == 'Partially Inserted' ||
               result.data.MESSAGE == 'None Record Is Inserted'||
               result.data.MESSAGE == 'SUCCESS')
             {
             alert(result.data.MESSAGE);
             modalhide('catandsubcatpresent');
             canc(pop);
             loadcat();
             loadsubcat();
             }
             else
             {
             alert(result.data.MESSAGE);
             }
             });
         }

         $scope.showAdvanced = function(ev) {
            debugger;
          var count1=0;
          $scope.subcat_show=1;
          $scope.cat_show=1;
           modalshow('catandsubcatpresent');
         for(var i=0; i<$scope.categoryall.length;i++)
             {
                 if($scope.categoryall[i].checked == true)
                 {
                 $scope.arr.push($scope.categoryall[i].category_gid);
                 $scope.catc=($scope.categoryall[i].category_name);
                 $scope.catn=($scope.categoryall[i].category_no);
                 $scope.is_asset=($scope.categoryall[i].category_isasset);

                 count1=count1+1;
                 $scope.cate=true;
                 $scope.subcate=false;
                 }
             }
             if(count1 == 0)
             {
             $scope.cate=false;
             $scope.subcate=true;
             }

        }
        loadcat();
        loadsubcat();
        function loadcat(){
        $scope.loading();

        var data = {
            "Table_name": "ap_mst_tcategory",
            "Column_1": "category_gid, category_code, category_no, category_name, category_glno, category_isactive, category_isasset,category_isodit,category_status",
            "Column_2": "",
            "Where_Common": "category",
            "Where_Primary": "",
            "Primary_Value": "",
            "Order_by": "gid"
        }

        var patch = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: data
        }

        var getcat = ccbsservice.getcategory(patch)
        getcat.then(function(result) {

            $scope.currentPage1 = 1;
            $scope.maxSize1 = 3;
            $scope.itemsPerPage1 = 10;
            $scope.maintable1 = result.data.DATA;
            $scope.categoryall=$scope.maintable1;
            console.log($scope.categoryall);
            for (i = 0; i < $scope.categoryall.length; i++) {
                            $scope.sltd = false;
                            $scope.categoryall[i].num = i + 0;
                            $scope.categoryall[i].checked = $scope.sltd;
                    }
            $scope.pageLength1 = $scope.categoryall.length;
            $scope.Totalpages = Math.ceil($scope.categoryall.length / $scope.itemsPerPage);
            $scope.pageLength1 = $scope.categoryall.length;
            $scope.endloading();
        }, function(err) {
            alert('No data!.');
        }).finally();
        }
        function loadsubcat(){

<!--        var data = {-->
<!--            "Table_name": "ap_mst_tsubcategory",-->
<!--            "Column_1": "subcategory_gid, subcategory_code, subcategory_no, subcategory_name,subcategory_glno, subcategory_isactive",-->
<!--            "Column_2": "",-->
<!--            "Where_Common": "subcategory",-->
<!--            "Where_Primary": "",-->
<!--            "Primary_Value": "",-->
<!--            "Order_by": "gid"-->
<!--        }-->

<!--        var patch = {-->
<!--            Action: "",-->
<!--            Entity_Gid: $scope.entity_gid,-->
<!--            data: data-->
<!--        }-->

<!--        var getcat = ccbsservice.getcategory(patch)-->
<!--        getcat.then(function(result) {-->
<!--            $scope.maintable2 = result.data.DATA;-->
<!--            $scope.subcategoryall =$scope.maintable2;-->
<!--            $scope.pageLength2 = $scope.subcategoryall.length;-->
<!--            $scope.Totalpages = Math.ceil($scope.subcategoryall.length / $scope.itemsPerPage);-->
<!--            $scope.pageLength2 = $scope.subcategoryall.length;-->
<!--        }, function(err) {-->
<!--            alert('No data!.');-->
<!--        }).finally();-->

var data={
                        "Params":
                                { "FILTER":
                                    {"category_gid":[]
                                    },
                                    "CLASSIFICATION":
                                    {"Entity_Gid":$scope.entity_gid
                                    }
                                }
                 }

            var datam={
                        "Group":"CCBS_MASTER",
                        "Type":"ccbs_category",
                        "Sub_type":"get",
                        "data":data
                    }

         var category_get=ccbsservice.service_get(datam)
             category_get.then(function(result)
             {

            $scope.currentPage2 = 1;
            $scope.maxSize2 = 3;
            $scope.itemsPerPage2 = 10;
             if(result.data.MESSAGE == 'FOUND')
             {
             $scope.maintable2 = result.data.DATA;
             $scope.subcategoryall=result.data.DATA;
             $scope.pageLength2 = $scope.subcategoryall.length;
             $scope.Totalpages = Math.ceil($scope.subcategoryall.length / $scope.itemsPerPage2);
            $scope.pageLength2 = $scope.subcategoryall.length;
             }
             else if(result.data.MESSAGE == 'NOT_FOUND')
             {
             $scope.subcategoryall=[];
             $scope.pageLength2 = $scope.subcategoryall.length;
             $scope.Totalpages = Math.ceil($scope.subcategoryall.length / $scope.itemsPerPage2);
            $scope.pageLength2 = $scope.subcategoryall.length;
             }

             });

        }


        }]);
app.service('ccbsservice', function($http) {

    this.ins_get=function(d)
    {
        var respons = $http.post(Appname + "/catsubcat/",d);
        return respons;
    }

    this.service_get=function(custid)
    {
        var respons = $http.post(Appname + "/cbsmaster/", custid);
        return respons;
    }


    this.getcategory = function(patch)
    {
        var respons = $http.post(Appname + "/activeInactiveget/", patch);
        return respons;
    }

    this.get_exp_line=function(datas){
         var response=$http.post(Appname+"/Expense_Detail_Set/",datas);
         return response;
    }

    this.hsn_detail = function(data) {
                    var response = $http.post(Appname + "/hsn_data/", data);
                    return response;
    }

});






















</script>
{%endblock%}