{%verbatim%}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="catandsubcatpresent"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h5 class="modal-title">
                    ADD NEW CATEGORY AND SUBCATEGORY
                    <button aria-label="Close" class="close" data-dismiss="modal" ng-click="cancel()" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="md-dialog-content" ng-if="empsmry.length!=0">
                <div class="col-md-12">
                    <div align="center">
                        <md-button class="md-raised md-warn"
                                   ng-disabled="cate"
                                   ng-click="addcategory()">
                            ADD CATEGORY
                        </md-button>
                        <md-button class="md-raised md-primary"
                                   ng-disabled="subcate"
                                   ng-click="addsubcategory()">
                            ADD SUBCATEGORY
                        </md-button>
                    </div>
                </div>
                <div class="row">
                    <form name="myForm">
                        <div class="col-md-12" ng-hide="newcategory">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Category Name</label>
                                    <input id="name" type="text"
                                           maxlength="20"
                                           ng-model="pop.catname" ng-required="{{pop.form}}">

                                </md-input-container>

                            </div>

                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>category Code</label>
                                    <input type="text"
                                           minlength="3"
                                           maxlength="16"
                                           ng-model="pop.catcode" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="Category code must be exact 3 letters">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>

                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Category No</label>
                                    <input valid-number
                                           minlength="3"
                                           maxlength="3"
                                           ng-model="pop.catno" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="Category no must be exact 3 numbers ">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
<!--                    <div ng-hide="newcategory">-->
<!--                        <div class="col-md-3" style="margin-top:33px;">-->
<!--                            <p>Selected Value: Is_Active-->
<!--                                <span class="radioValue"-->
<!--                                      ng-if="pop.group1 == 'Y' ? color='green':color='red'"-->
<!--                                      style="color:{{color}}">-->
<!--                            <b>'{{pop.group1}}'</b>-->
<!--                        </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                        <div class="col-md-1" style="margin-top:33px;">-->
<!--                            <md-radio-group ng-model="pop.group1"-->
<!--                                            ng-init="pop.group1 = 'Y'"-->
<!--                                            ng-click="chk(pop.group1)">-->

<!--                                <div class="col-md-1">-->
<!--                                    <md-radio-button-->
<!--                                            value="Y"-->
<!--                                            class="md-primary">-->
<!--                                        YES-->
<!--                                    </md-radio-button>-->
<!--                                </div>-->
<!--                                <div class="col-md-1">-->
<!--                                    <md-radio-button-->
<!--                                            value="N"-->
<!--                                            class="md-primary">-->
<!--                                        NO-->
<!--                                    </md-radio-button>-->
<!--                                </div>-->
<!--                            </md-radio-group>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-md-2"></div>
                    <div ng-hide="newcategory">
                        <div class="col-md-3" style="margin-top:33px;">
                            <p>Selected Value: Is_Asset
                                <span class="radioValue"
                                      ng-if="pop.group_asset == 'Y' ? color='green':color='red'"
                                      style="color:{{color}}">
                            <b>'{{pop.group_asset}}'</b>
                        </span>
                            </p>
                        </div>
                        <div class="col-md-1" style="margin-top:33px;">
                            <md-radio-group ng-model="pop.group_asset"
                                            ng-init="pop.group_asset = 'Y'"
                                            ng-click="chk(pop.group_asset   )">

                                <div class="col-md-1">
                                    <md-radio-button
                                            value="Y"
                                            class="md-primary">
                                        YES
                                    </md-radio-button>
                                </div>
                                <div class="col-md-1">
                                    <md-radio-button
                                            value="N"
                                            class="md-primary">
                                        NO
                                    </md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <!--                        <div class="col-md-4" ng-hide="newcategory">-->
                        <!--                            <md-autocomplete-->
                        <!--                                    md-clear-button="true"-->
                        <!--                                    md-floating-label="Choose Is OD/IT"-->
                        <!--                                    md-input-maxlength=126-->
                        <!--                                    md-item-text="itemc.metadata_value"-->
                        <!--                                    md-items="itemc in get_odit_data(search_odit)"-->
                        <!--                                    md-selected-item-change="odit_changed(itemc.metadata_gid)"-->
                        <!--                                    md-min-length=0-->
                        <!--                                    ng-show="pop.group_asset == 'Y'"-->
                        <!--                                    md-search-text="search_odit"-->
                        <!--                                    ng-model="itemc.metadata_value"-->
                        <!--                                    md-no-cache="true"-->
                        <!--                                    size="5"-->
                        <!--                                    md-selected-item="itemc.metadata_value">-->
                        <!--                                <md-item-template>-->
                        <!--                                    <span md-highlight-text="search_odit"> {{itemc.metadata_value}}</span>-->
                        <!--                                </md-item-template>-->
                        <!--                                <md-not-found>-->
                        <!--                                    No OD and IT Name matching "{{search_odit}}" were-->
                        <!--                                    found.-->
                        <!--                                </md-not-found>-->
                        <!--                            </md-autocomplete>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <form name="myFormsub">
                    <div class="row">
                        <br>
                        <div class="col-md-12" ng-hide="newsubcategory">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Category Name</label>
                                    <input type="text"
                                           ng-model="catc"
                                           ng-disabled="true">
                                </md-input-container>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Category No</label>
                                    <input type="text"
                                           ng-model="catn"
                                           ng-disabled="true">
                                </md-input-container>
                            </div>
                        </div>

                        <div class="col-md-12" ng-hide="newsubcategory">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>SubCategory Name</label>
                                    <input type="text"
                                           maxlength="20"
                                           ng-model="pop.subname" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>SubCategory Code</label>
                                    <input type="text"
                                           minlength="3"
                                           maxlength="20"
                                           ng-model="pop.subcode" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="Category code must be exact 3 letters">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                            <div class="col-md-2" ng-hide="true">
                                <md-input-container class="md-block inputcontainer">
                                    <label>SubCategory glno</label>
                                    <input
                                            ng-model="pop.subglno" ]
                                            ng-init="pop.subglno =1"
                                            required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1" ng-hide="true">
                                <a href="" title="Category glno must be exact 3 numbers">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>SubCat glno</label>
                                    <input valid-number
                                           minlength="3"
                                           maxlength="16"
                                           ng-model="pop.subcatglno" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="SubCategory glno must be exact 3 numbers">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>SubCategory No</label>
                                    <input valid-number
                                           minlength="3"
                                           maxlength="3"
                                           ng-model="pop.subno" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="Category no must be exact 3 numbers ">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-hide="newsubcategory">
                            <div class="col-md-2">
                                <md-autocomplete
                                        md-clear-button="true"
                                        md-floating-label="Choose Expense Line Head"
                                        md-input-maxlength=126
                                        md-item-text="items.expense_head"
                                        md-items="items in getExpense_head(searchExpHead)"
                                        md-selected-item-change="ExpenseChanged(items.expense_gid)"
                                        md-min-length=0
                                        md-search-text="searchExpHead"
                                        ng-model="items"
                                        md-no-cache="true"
                                        size="5"
                                        ng-required="true"
                                        md-selected-item="items.expense_gid">
                                    <md-item-template>
                                        <span md-highlight-text="searchTex"> {{items.expense_head}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Expense Headmatching "{{search Vendor}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3" ng-show="is_asset!='N'">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Asset Code</label>
                                    <input type="text"
                                           maxlength="5"
                                           minlength="5"
                                           ng-model="pop.asset_code">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" ng-hide="newsubcategory">
<!--                            <div class="col-md-3" style="margin-top:33px;">-->
<!--                                <p>Selected Value: Is_Active-->
<!--                                    <span class="radioValue"-->
<!--                                          ng-if="pop.group1 == 'Y' ? color='green':color='red'"-->
<!--                                          style="color:{{color}}">-->
<!--                                    <b>'{{pop.group1}}'</b>-->
<!--                                </span>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="col-md-1" style="margin-top:33px;">-->
<!--                                <md-radio-group ng-model="pop.group1"-->
<!--                                                ng-init="pop.group1 = 'Y'"-->
<!--                                                ng-click="chk(pop.group1)">-->

<!--                                    <div class="col-md-1">-->
<!--                                        <md-radio-button-->
<!--                                                value="Y"-->
<!--                                                class="md-primary">-->
<!--                                            YES-->
<!--                                        </md-radio-button>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-1">-->
<!--                                        <md-radio-button-->
<!--                                                value="N"-->
<!--                                                class="md-primary">-->
<!--                                            NO-->
<!--                                        </md-radio-button>-->
<!--                                    </div>-->
<!--                                </md-radio-group>-->
<!--                            </div>-->
                            <div class="col-md-1"></div>
                            <div class="col-md-2" style="margin-top:25px" ng-hide="newsubcategory">
                                <md-checkbox ng-model="pop.blocked_status">Blocked
                                </md-checkbox>
                            </div>
                            <div class="col-md-2" style="margin-top:25px" ng-hide="newsubcategory">
                                <md-checkbox ng-model="pop.rcm_status">RCM
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div align="center" class="col-md-12" ng-hide="commonbutton">
                            <md-button
                                    ng-hide="newcategory"
                                    class="btn btn-info custbutton"
                                    ng-disabled="(!myForm.$valid) || cat_show==0"
                                    ng-click="submit(pop)">
                                Submit
                            </md-button>
                            <md-button
                                    ng-hide="newsubcategory"
                                    class="btn btn-info custbutton"
                                    ng-disabled="(!myFormsub.$valid) || subcat_show==0"
                                    ng-click="submit(pop)">
                                Submit
                            </md-button>
                            <md-button class="md-raised"
                                       data-dismiss="modal"
                                       ng-click="cancel(pop)">
                                Close
                            </md-button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endverbatim %}