{%verbatim%}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="ccandbspresent"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h5 class="modal-title">
                    ADD NEW CC AND BS
                    <button aria-label="Close" class="close" data-dismiss="modal" ng-click="cancel()" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="md-dialog-content" ng-if="empsmry.length!=0">
                <div class="col-md-12">
                    <div align="center">
                        <md-button class="md-raised md-primary"
                                   ng-disabled="bss"
                                   ng-click="addsubcategory()">
                            ADD BS
                        </md-button>

                        <md-button class="md-raised md-warn"
                                   ng-disabled="ccs"
                                   ng-click="addcategory()">
                            ADD CC
                        </md-button>

                    </div>
                </div>
                 <div class="row">
                    <form name="myFormsub">
                        <div class="col-md-12" ng-hide="bss_pop">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>BS Name</label>
                                    <input type="text"
                                           maxlength="20"
                                           ng-model="pop.bsname" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>BS Code</label>
                                    <input type="text"
                                           minlength="3"
                                           maxlength="3"
                                           ng-model="pop.bscode" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="BS code must be exact 3 letters">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>BS No</label>
                                    <input valid-number
                                           minlength="3"
                                           maxlength="3"
                                           ng-model="pop.bsno" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="BS no must be exact 3 numbers ">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Remarks</label>
                                    <input
                                            maxlength="16"
                                            ng-model="pop.bsremarks">
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12" ng-hide="bss_pop">
                    <div class="col-md-3" style="margin-top:33px;">
                        <p>Selected Value: Is_Active
                            <span class="radioValue"
                                  ng-if="pop.group1 == 'Y' ? color='green':color='red'"
                                  style="color:{{color}}">
                            <b>'{{pop.group1}}'</b>
                        </span>
                        </p>
                    </div>
                    <div class="col-md-1" style="margin-top:33px;">
                        <md-radio-group ng-model="pop.group1"
                                        ng-init="pop.group1 = 'Y'"
                                        ng-click="chk(pop.group1)"

                        >

                            <div class="col-md-1">
                                <md-radio-button
                                        value="Y"
                                        class="md-primary">
                                    YES
                                </md-radio-button>
                            </div>
                            <div class="col-md-1">
                                <md-radio-button
                                        value="N"
                                        class="md-primary">
                                    NO
                                </md-radio-button>
                            </div>
                        </md-radio-group>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <label>Business Segment</label>
                       <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="pop.selectedbus"
                        md-search-text="searchbus"
                        md-items="item in bussearch(searchbus)"
                        md-item-text="item.businesssegment_name"
                        md-min-length=0
                        md-selected-item-change="selectedbus_change(item)"
                        placeholder="Business Segment">
                    <md-item-template>
                        <span md-highlight-text="searchText"> {{item.businesssegment_name}} </span>
                    </md-item-template>
                    <md-not-found>
                        No Business Segment matching "{{searchbus}}" were found.
                    </md-not-found>
                </md-autocomplete>
                    </div>
                    <div class="col-md-2">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-click="add_bs_name()">
                            <md-icon>add</md-icon>
                            <md-tooltip>Add Business Segment</md-tooltip>
                        </md-button>
                    </div>
                </div>

                <div ng-include="'add_business_segment'"></div>

                <div class="row">
                    <form name="myForm">
                        <div class="col-md-12" ng-hide="ccs_pop">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>BS Name</label>
                                    <input type="text"
                                           ng-model="pop.bs_name"
                                           ng-disabled="true">
                                </md-input-container>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>BS No</label>
                                    <input type="text"
                                           ng-model="pop.bs_number"
                                           ng-disabled="true">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-12" ng-hide="ccs_pop">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>CC Name</label>
                                    <input id="name" type="text"
                                           maxlength="20"
                                           ng-model="pop.ccname" required>

                                </md-input-container>

                            </div>

                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>CC Code</label>
                                    <input type="text"
                                           minlength="3"
                                           maxlength="3"
                                               ng-model="pop.cc_code" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="CC code must be exact 3 letters">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block inputcontainer">
                                    <label>CC No</label>
                                    <input valid-number
                                           minlength="3"
                                           maxlength="3"
                                           ng-model="pop.catno" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <a href="" title="CC no must be exact 3 numbers ">
                                    <i class="material-icons">announcement</i>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Remarks</label>
                                    <input
                                            maxlength="16"
                                            ng-model="pop.ccremarks">
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12" ng-hide="ccs_pop">
                    <div class="col-md-3" style="margin-top:33px;">
                        <p>Selected Value: Is_Active
                            <span class="radioValue"
                                  ng-if="pop.group1 == 'Y' ? color='green':color='red'"
                                  style="color:{{color}}">
                            <b>'{{pop.group1}}'</b>
                        </span>
                        </p>
                    </div>
                    <div class="col-md-1" style="margin-top:33px;">
                        <md-radio-group ng-model="pop.group1"
                                        ng-init="pop.group1 = 'Y'"
                                        ng-click="chk(pop.group1)">

                            <div class="col-md-1">
                                <md-radio-button
                                        value="Y"
                                        class="md-primary">
                                    YES
                                </md-radio-button>
                            </div>
                            <div class="col-md-1">
                                <md-radio-button
                                        value="N"
                                        class="md-primary">
                                    NO
                                </md-radio-button>
                            </div>
                        </md-radio-group>
                    </div>
                </div>

                 <div class="row">
                    <div align="center" class="col-md-12" ng-hide="commonbutton">
                        <md-button
                                ng-hide="ccs_pop"
                                class="btn btn-info custbutton"
                                ng-disabled="(!myForm.$valid)"
                                ng-click="submit(pop)">
                            Submit
                        </md-button>
                        <md-button
                                ng-hide="bss_pop"
                                class="btn btn-info custbutton"
                                ng-disabled="(!(myFormsub.$valid))"
                                ng-click="submit(pop)">
                            Submit
                        </md-button>
                        <md-button class="md-raised"
                                   data-dismiss="modal"
                                   ng-click="cancel(pop)">
                            Close
                        </md-button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endverbatim %}