{%verbatim%}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="ccbspresent"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h5 class="modal-title">
                    Invoice Details
                    <button aria-label="Close" class="close" data-dismiss="modal" ng-click="canc(pop)" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="md-dialog-content" ng-if="empsmry.length!=0">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="Category Name"
                                md-item-text="item.category_name"
                                md-input-maxlength=126
                                md-min-length=0
                                md-items="item in getcategory(searchText)"
                                md-no-cache="true"
                                md-search-text="searchText"
                                md-selected-item="pop.categoryname"
                                md-selected-item-change="change_sub_category(item)"
                                layout-fill>
                            <md-item-template>
                                <span md-highlight-text="searchText"> {{item.category_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No dispatch matching "{{searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-2" style="margin-top:33px;">
                        <label>CODE : <b style="color:#ff5500">{{code1}}</b></label>
                    </div>
                    <div class="col-md-3" style="margin-top:33px;">
                        <p>Selected Value: Is_Active
                            <span class="radioValue"
                                  ng-if="pop.group1 == 'Y' ? color='green':color='red'"
                                  style="color:{{color}}">
                            <b>'{{pop.group1}}'</b>
                        </span>
                        </p>
                    </div>
                    <div class="col-md-1" style="margin-top:33px;">
                        <md-radio-group ng-model="pop.group1"
                                        ng-init="pop.group1 = 'Y'"
                                        ng-click="chk(pop.group1)"

                       >

                            <div class="col-md-1">
                                <md-radio-button
                                        value="Y"
                                        class="md-primary">
                                    YES
                                </md-radio-button>
                            </div>
                            <div class="col-md-1">
                                <md-radio-button
                                        value="N"
                                        class="md-primary">
                                    NO
                                </md-radio-button>
                            </div>
                        </md-radio-group>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="Sub Category Name"
                                md-input-maxlength=126
                                md-item-text="item.subcategory_name"
                                md-items="item in getsubcategory(searchText1)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchText1"
                                md-selected-item="pop.SubCategoryName"
                                md-selected-item-change="ACselectchange(item)"
                        >
                            <md-item-template>
                                <span md-highlight-text="searchText1"> {{item.subcategory_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No product matching "{{searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-2" style="margin-top:33px;">
                        <label>CODE : <b style="color:#ff5500">{{code2}}</b></label>
                    </div>
                    <div class="col-md-5">
                        <md-input-container class="md-block inputcontainer">
                            <label>Remarks</label>
                            <input type="text" ng-model="pop.remarks">
                        </md-input-container>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="CC"
                                md-input-maxlength=126
                                md-item-text="item.tcc_name"
                                md-items="item in getcostcenter(searchText2)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchText2"
                                md-selected-item="pop.CC"
                                md-selected-item-change="ACselectchange1(item)"
                        >
                            <md-item-template>
                                <span md-highlight-text="searchText2"> {{item.tcc_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No product matching "{{searchText2}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-2" style="margin-top:33px;">
                        <label>CODE : <b style="color:#ff5500">{{code3}}</b></label>
                    </div>
                    <div class="col-md-5" style="margin-top:33px;">
                        <label>CODE_GENERATE : <b style="color:#ff5500">{{code_generate}}</b></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="BC"
                                md-input-maxlength=126
                                md-item-text="item.tbs_name"
                                md-items="item in getbusiness(searchText3)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchText3"
                                md-selected-item="pop.BC"
                                md-selected-item-change="ACselectchange2(item)"
                        >
                            <md-item-template>
                                <span md-highlight-text="searchText3"> {{item.tbs_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No product matching "{{searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-2" style="margin-top:33px;">
                        <label>CODE : <b style="color:#ff5500">{{code4}}</b></label>
                    </div>
                </div>
                <div class="row">
                    <div align="center" class="col-md-12">
                        <md-button class="md-raised md-warn" ng-click="submit(pop)">
                            Submit
                        </md-button>
                        <md-button class="md-raised" data-dismiss="modal"  ng-click="cancel(pop)">
                            Close
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}