{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} AMC Approval {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="App_maker_summary" ng-controller="Ctrl_amc_maker" class="container container1">
        <form name="approve_form" novalidate>
            <div class="row">
                <div class="row-header col-lg-12 col-sm-12">
                    <h4>AMC Approval </h4>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <md-input-container class="md-block inputcontainer">
                            <label>AMC Header Name</label>
                            <input ng-model="amc_head_name" disabled
                                   maxlength="60"/>
                        </md-input-container>
                    </div>

                    <div class="col-md-4">
                        <md-input-container class="md-block inputcontainer">
                            <label>AMC Period From</label>
                            <md-datepicker md-hide-icons="calendar"
                                           ng-model="amc_from_date"
                                           md-hide-icons="calendar" ng-click="date" md-min-date="maxDate" disabled
                                           md-max-date="minDate" formatDate disabled></md-datepicker>
                        </md-input-container>

                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block inputcontainer">
                            <label>AMC Period To</label>
                            <md-datepicker md-hide-icons="calendar"
                                           ng-model="amc_to_date"
                                           md-hide-icons="calendar" ng-click="date" md-min-date="maxDate"
                                           md-max-date="minDate" formatDate disabled></md-datepicker>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <md-input-container class="md-block inputcontainer">
                            <label>Supplier Name</label>
                            <input ng-model="searchSupplier" disabled>
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block inputcontainer">
                            <label>Service Period</label>
                            <input ng-model="ServicePeriod" disabled>
                        </md-input-container>

                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block inputcontainer">
                            <label>AMC Total Amount</label>
                            <input ng-model="amc_total_amount" numbers-only disabled>
                        </md-input-container>
                    </div>

                </div>
            </div>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="row table-responsive">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                                   md-progress="deferred">
                                <thead class="header">
                                <tr>
                                    <th>S.No</th>
                                    <th>Branch Name</th>
                                    <th>Aseet Name</th>
                                    <th>Asset ID</th>
                                    <th>AMC Detail Amount</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr align="center"
                                    ng-repeat="sel_ass in selected_assets.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:search:strict">
                                    <td>
                                        <center>
                                            {{((currentPage-1)*itemsPerPage)+$index+1}}
                                        </center>
                                    </td>
                                    <td>{{sel_ass.branch_name}}</td>
                                    <td>{{sel_ass.product_name}}</td>
                                    <td>{{sel_ass.amcdetails_assetdetailid}}</td>
                                    <td>{{sel_ass.amcdetails_amcamt}}</td>

                                </tr>
                                </tbody>
                                <tfoot>
                                <tr align="center">
                                    <td colspan="4">
                                        <ul uib-pagination
                                            total-items="selected_assets.length"
                                            ng-model="currentPage"
                                            max-size="maxSize"
                                            class="pagination-sm"
                                            boundary-links="true"
                                            items-per-page="itemsPerPage"></ul>
                                    </td>
                                    <td colspan="2">
                                        Total Count:{{selected_assets.length}}
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <md-input-container class="md-block inputcontainer">
                            <md-radio-group layout="row" ng-change="check_approval(amc_approval_data)"
                                            ng-model="amc_approval_data" ng-required="true">
                                <md-radio-button value="APPROVED">Approve</md-radio-button>
                                <md-radio-button value="REJECTED">Reject</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                    <div class="col-md-10" ng-show="amc_approval_data=='REJECTED'">
                        <h5>Write Your Rejcetion Comments</h5>
                        <textarea rows="6%" cols="120%" name="comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">
                        <md-button class="md-raised md-warn" value="submit"
                                   ng-click="amc_approve_reject()" ng-disabled="approve_form.$invalid">
                            SUBMIT
                        </md-button>
                    </div>
                    <div class="col-md-1">
                        <a href="ServiceManagement/SM_AMC_Approval_Summary/">
                            <md-button class="md-raised" value="close"
                                       aria-label="Close">Cancel
                            </md-button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
{% endverbatim %}
<style>
    textarea { resize: none; }



</style>
<script>
var myApp = angular.module('App_maker_summary', ['ngMaterial','ui.bootstrap','ngMessages']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});
myApp.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
   });

myApp.controller('Ctrl_amc_maker', ['$scope','Service_approval','$mdDialog','$window','$filter', function($scope,Service_approval,$mdDialog,$window,$filter) {
    $scope.currentPage=1;
    $scope.maxSize=3;
    $scope.itemsPerPage=10;
    $scope.maintable = [];
    $scope.amc_assets=[];
    $scope.amc_approval_data="";
    $scope.text_area_values=1;

    $scope.loading = function() {
    $mdDialog.show({
        templateUrl: 'loaderSpinner',
        parent: angular.element(document.body),
        clickOutsideToClose: false
    });
    };

    $scope.endloading = function() {
        $mdDialog.hide();
    };


     if (sessionStorage.getItem('amcs') != null)
        {
            var ticket_all = JSON.parse(sessionStorage.getItem('amcs'));
            $scope.update = ticket_all.view;
            $scope.amcheader_gid=ticket_all.amcheader_gid;
            console.log($scope.amcheader_gid);

        }
        else{

            alert("No AMC Header Gid");

        }


     var datas={params:{"action":"GET","type":"AMC_HEADER",
                "filter":{"AmcHeader_Gid":$scope.amcheader_gid}}};

      $scope.loading();
     var amc_header = Service_approval.get_amc_header(datas);
        amc_header.then(function(result) {
         var res = result.data;
         $scope.amc_header_all=res;
         console.log($scope.amc_header_all);
         $scope.amc_head_name=$scope.amc_header_all[0].amcheader_name;
         $scope.amc_total_amount=$scope.amc_header_all[0].amcheader_amctotalamt;
         $scope.amc_from_date=$scope.amc_header_all[0].amcheader_periodfrom;
         $scope.amc_to_date=$scope.amc_header_all[0].amcheader_periodto;
         $scope.ServicePeriod=$scope.amc_header_all[0].amcheader_serviceperiod;
         $scope.searchSupplier=$scope.amc_header_all[0].supplier_name;
         $scope.selected_assets=JSON.parse($scope.amc_header_all[0].asset_detail);

         }, function(err) {
          alert(result);
        }).finally($scope.endloading);



    $scope.check_approval=function(data){
        $scope.amc_approval_data=data;

    };
    $scope.amc_approve_reject=function(){
        if($scope.amcheader_gid!=0&&$scope.amc_approval_data!=""){

            var datas={params:{"action":"UPDATE","type":"AMC_STATUS",
                "filter":{"Amcheader_Gid":$scope.amcheader_gid,"Amcheader_Status":$scope.amc_approval_data}}};

            $scope.loading();
            var emp_act = Service_approval.amc_approve_reject(datas);
            emp_act.then(function(result) {
            var res=JSON.parse(result.data);
                   if (res.MESSAGE[0]=== "SUCCESS") {
                        alert("Succesfully Updated");
                        $window.location.href = "ServiceManagement/SM_AMC_Approval_Summary/";
                    } else {
                        alert(result.data);
                        $window.location.href = "ServiceManagement/SM_AMC_Approval/";
                    }
            }).finally($scope.endloading);
        }


    };



   }]);

myApp.service("Service_approval", function ($http) {

    this.get_amc_header = function (data) {
            var response=$http.post(Appname+"/Get_AMC_Details/",data);
            return response;
    }


    this.amc_approve_reject=function (data) {
        var response=$http.post(Appname+"/Set_AMC_Details/",data);
        return response;
    }




});












</script>

{% endblock %}