{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Change Password{% endblock %}
{% block content %}
{% verbatim %}
<div class="maincontent" ng-app="app" ng-controller="ctlchange">
    <div class="container container1">
        <div class="row ">
            <div class="row-header col-lg-12 col-sm-12 text-left">
                <h4>Change Password</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div ng-form="Changeform">
                    <form name="Change" ng-submit="onSubmit()">
                        <div class="row">
                            <div class="col-md-4">
                                <md-input-container class="md-block inputcontainer">
                                    <label>User Code</label>
                                    <input ng-model="emp_code" ng-disabled="true"/>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block inputcontainer">
                                    <label>User Name</label>
                                    <input ng-model="emp_name" ng-disabled="true"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Old Password</label>
                                    <input id="Oldpassword" ng-model="oldpassword" type="password"
                                           name="oldpassword"
                                           required ng-required="true"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <md-input-container class="md-block inputcontainer">
                                    <label>New Password</label>
                                    <input id="password"
                                           onkeyup="passwordValidation(this, 'err_msg');"
                                           name="newpassword" ng-model="newPassword"
                                           type="password"
                                           pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$"
                                           required ng-required="true"/>
                                </md-input-container>
                            </div>
                            <a href=""
                               title="password should be at least 8 characters, contain at least one number, contain at least one lowercase letter, contain at least one uppercase letter, contain at least one special character."><i
                                    class="material-icons">announcement</i></a>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                    <span id="err_msg" style="color:red;"
                                    ></span>
                                <md-input-container class="md-block inputcontainer">
                                    <label>Confirm Password</label>
                                    <input class="form-control" id="confirmPassword" name="confirmPassword"
                                           onkeyup="passwordValidation(this, 'err_msg1');"
                                           ng-model="ConfirmPassword" type="password"
                                            pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$"
                                           required ng-required="true" ng-match="newPassword"/>
                                </md-input-container>
                                 <span id="err_msg1" style="color:red;"
                                    ></span>
                            </div>
                            <span  ng-show="newPassword != ConfirmPassword " style="color:red;">Password Doesnot match!</span>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <button class="btn btn-success" type="submit" ng-click="submit()"
                                ng-disabled="Change.$invalid || newPassword != ConfirmPassword">
                                    Submit
                                </button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button class="btn btn-secondary" type="button" onclick="history_previous()">
                                    Close
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Password last modified on <strong>{{pswd_date}}</strong></p>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

<script>
    var Appchange = angular.module('app', ['ngMaterial']).config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });

    Appchange.controller("ctlchange", ['$scope', '$http', '$window', 'usersrolesSer', function($scope, $http, $window, usersrolesSer) {

        var getdetails = usersrolesSer.Getemployeename();
        $scope.tool = "hello";
        getdetails.then(function(getdetail) {
            $scope.emp_name = getdetail.data[0].employee_name;
            $scope.emp_code = getdetail.data[0].employee_code;
            $scope.pswd_date = getdetail.data[0].employee_pwdchangedate;
            $scope.old_pswd = getdetail.data[0].employee_pwd;
            $scope.emp_gid = getdetail.data[0].employee_gid;
        }, function() {
            alert('Records not found');
        });


        function load() {
            var jsonData = {
                "employee_gid": $scope.emp_gid
            };

            var schedule_check = usersrolesSer.ipset('update', jsonData)
            schedule_check.then(function(result) {
                if (result.data == "SUCCESS") {
                    alert("password Changed successfully!.");
                    $scope.oldpassword = "";
                    $scope.newPassword = "";
                    $scope.ConfirmPassword = "";
                    $window.location.href = "";
                }
            }, function(err) {});
        };

        $scope.submit = function() {
            if ($scope.newPassword != $scope.ConfirmPassword) {
                $scope.IsMatch = true;
                return false;
            }

            $scope.IsMatch = false;
            var getdetails = usersrolesSer.setpassword($scope.newPassword, $scope.oldpassword, $scope.emp_code);
            getdetails.then(function(getdetail) {
                var result = JSON.parse((getdetail.data))
                if (result == "SUCCESS") {
                    load();
                } else if (result == "Wrong old password") {
                    alert(result)
                } else if (result == "password dont not match previews 3 password") {
                    alert(result)
                    $scope.newPassword = "";
                    $scope.ConfirmPassword = "";
                } else {
                    alert("password  Not Changed !.");
                }
            }, function() {
                alert('Records not found');
            });
        };
    }]);

    Appchange.service("usersrolesSer", function($http) {
        this.Getemployeename = function(e) {
            var response = $http.get(Appname + "/Employee_detail/", );
            return response;
        };

        this.Getpassword = function(e) {
            var response = $http.get(Appname + "/get_password/", );
            return response;
        };

        this.setpassword = function(new_pswd, old_pswd, emp_code) {
            var response = $http.post(Appname + "/Password_verifiy/", {
                params: {
                    'new_pswd': new_pswd,
                    'old_pswd': old_pswd,
                    'emp_code': emp_code
                }
            })
            return response;
        };

        this.ipset = function(action, jsonData) {
            var response = $http.post(Appname+ "/setip_sys/", {
                parms: {
                    "action": action,
                    "jsonData": jsonData
                }
            });
            return response;
        }
    });
</script>
{% endblock %}