<!DOCTYPE html>
<html>
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<body>

<div id="mydiv"></div>



truncate masterservice_state;
truncate masterservice_district;
truncate masterservice_city;
truncate masterservice_pincode;
truncate userservice_employeeaddress;
truncate masterservice_designation;
truncate userservice_employeecontact;
truncate userservice_employeebranch;

<script type="text/babel">
class Hello extends React.Component {
  render() {
    return <h1>Hello World!</h1>
  }
}

ReactDOM.render(<Hello />, document.getElementById('mydiv'))
</script>

</body>
</html>
