{% verbatim %}
<div class="modal fade" id="comment_view" tabindex="-1" role="dialog" data-backdrop="static"
     data-keyboard="false" style="height:auto;width:100%"
     aria-hidden="true">
    <form name="formComment">
        <div class="modal-dialog modal-lg modal-style" role="document">
            <div class="modal-content">
                <div class="header">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <strong> {{cmd.customer_name}} </strong>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                </div>
                <div class="body">
                    <div class="modal-body popup-body" style="margin:10px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row" ng-repeat="cmt in cmd.comment_details">
                                    <div class="col-md-1 visible-md visible-lg">
                                        <img alt="img" height="44" src="/static/Images/userIcon1.png" width="44">
                                    </div>
                                    <div class="col-md-11 well well-sm">
                                        <div>
                                            <span>{{cmt.comments_text}}</span>
                                        </div>
                                        <div class=" text-right">
                                            <small>{{cmt.employee_name}} -
                                                {{cmt.comments_date}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <small class="small comment-meta">{{cmd.Emp_name}}</small>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <textarea value="your comment.." ng-model="cmd.comment"
                                                  class="form-control ng-pristine ng-invalid ng-invalid-required"
                                                  rows="1" required>
                                    </textarea>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 text-left">
                                        <md-button class="md-icon-button md-primary" ng-disabled="formComment.$invalid" ng-click="comment(cmd.comment)">
                                            <md-icon>send</md-icon>
                                            <md-tooltip>send</md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>


{% endverbatim %}