 {% verbatim %}
  <div class="modal fade"  id="mdl_present" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Courier Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body popup-body">
                        <div class="row">
                            <!--Leave details-->
                            <form name="myform">
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Courier Name</label>
                                            <md-select ng-model="add.courier" md-container-class="popup_select" required>
                                                <md-option ng-value=""><em>--Select--</em></md-option>
                                                <md-option ng-repeat="cou in courier_dtl"
                                                           ng-click="producttype_click(pro.producttype_gid)"
                                                           ng-value="cou.courier_gid">
                                                    {{ cou.courier_name }}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Date</label>
                                            <md-datepicker ng-disabled="service_disable" md-hide-icons="calendar"
                                                           ng-model="add.to_date"
                                                           md-hide-icons="calendar" ng-click="date"
                                                           md-min-date="maxDate"
                                                           md-max-date="minDate" formatDate required></md-datepicker>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>AWB No</label>
                                            <input type="text" numbers-only  maxlength="16" ng-model="add.AWS_no"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Mode</label>
                                            <md-select ng-model="add.mode" md-container-class="popup_select" name="mod" required>

                                                <md-option ng-repeat="mode in channelddl"

                                                           ng-value="mode.metadata_value"
                                                >
                                                    {{ mode.metadata_value }}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Packets</label>
                                            <input name="number" numbers-only maxlength="8" ng-model="add.packets"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Weight</label>
                                            <input type="text" valid-number ng-pattern="/^[123456789][.0-9]{0,10}$/"
                                                   step="0.01" maxlength="6" ng-model="add.weights" required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Customer Name</label>
                                            <input type="text" maxlength="128" ng-disabled="true"
                                                   ng-model="searchTextcus"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                  <div class="col-xs-12" ng-hide="true">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Customer Name</label>
                                            <input type="text" maxlength="128" ng-disabled="true"
                                                   ng-model="cusgid"
                                                   required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>To Address</label>
                                            <input type="text" maxlength="128" ng-model="add.address" required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>State</label>
                                            <input ng-model="add.selectedlocState" only-letters-input required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>District</label>
                                            <input ng-model="add.selectedlocdist" maxlength="32" only-letters-input required/>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>City</label>
                                            <input ng-model="add.selectedloccity" maxlength="32" only-letters-input required/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-lg-6 col-sm-4 col-md-4">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>Pincode</label>
                                            <input ng-model="add.locpcode" numbers-only ng-pattern="pincodevalidation"
                                                   maxlength="6" required/>
                                            <span ng-hide="true" ng-model="locpcodegid"></span>
                                        </md-input-container>
                                    </div>
                                </div>
                                <!--Present details-->
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info custbutton" ng-click="staus_update(add)">
                            Submit
                        </button>

                    </div>
                </div>
            </div>
        </div>

{% endverbatim %}