{% verbatim %}
<div class="row">
    <div class="col-md-12 col-lg-12 ">
        <h5>{{customer_name}}</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>{{employee_name}}</h5>
    </div>
</div>
<div class="row  table-responsive">
    <div class="col-md-12">
        <div>
            <span>Sales Value Trend Rs Lakhs (Without GST)</span>
        </div>

        <table class="table  table-striped table-bordered table-condensed table-hover">
            <thead class="header">
            <tr>
                <th>S.No</th>
                <th>Year</th>
                <th ng-repeat="head in month" ng-value="head.value">{{head.text}}</th>
                <th ng-repeat="hea in high" ng-value="hea.value">{{hea.text}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sale in data">
                <td align="center">{{$index+1}}</td>
                <td>{{sale.Year}}</td>
                <td ng-repeat="head in month">{{sale[head.value].sales_amt_wogst}}</td>
                <td ng-repeat="hea in high">{{sale[hea.value].highestval}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row  table-responsive">
    <div class="col-md-12">
        <div>
            <span>Collection Value Trend Rs in Lakhs (Inclusive GST)</span>
        </div>
        <table class="table  table-striped table-bordered table-condensed table-hover">
            <thead class="header">
            <tr>
                <th>S.No</th>
                <th>Year</th>
                <th ng-repeat="head in month" ng-value="head.value">{{head.text}}</th>
                <th ng-repeat="hea in highcol" ng-value="hea.value">{{hea.text}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sale in data">
                <td align="center">{{$index +1}}</td>
                <td>{{sale.Year}}</td>
                <td ng-repeat="head in month">{{sale[head.value].payableamt}}</td>
                <td ng-repeat="hea in highcol">{{sale[hea.value].highestcol}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row  table-responsive">
    <div class="col-md-12">
        <div>
            <span>Outstanding Value Trend Rs Lakhs (Inclusive GST)</span></div>
        <table class="table  table-striped table-bordered table-condensed table-hover">
            <thead class="header">
            <tr>
                <th>S.No</th>
                <th>Year</th>
                <th ng-repeat="head in month" ng-value="head.value">{{head.text}}</th>
                <th ng-repeat="head in highout" ng-value="head.value">{{head.text}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sale in data">
                <td align="center">{{$index+1}}</td>
                <td>{{sale.Year}}</td>
                <td ng-repeat="head in month">{{sale[head.value].outstanding_amt}}</td>
                <td ng-repeat="head in highout">{{sale[head.value].highestout}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endverbatim %}
