{% verbatim %}
<md-dialog>
    <md-dialog-content>
        <div>
            <div class="col-md-12">
                <md-subheader class="md-primary">Choose Supplier</md-subheader>
            </div>
        </div>
        <div>
            <div ng-class="is_multiple? 'col-md-8' :'col-md-12'">
                <md-input-container class="md-block inputcontainer">
                    <label>Search...</label>
                    <input ng-model="sSupplier" type="text" name="sSupplier" autocomplete="off"/>
                </md-input-container>
            </div>
            <div class="col-md-4" ng-show="is_multiple">
                <md-button class="md-raised md-primary" ng-click="submitData()">Ok</md-button>
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th ng-show="is_multiple">Select</th>
                        <th>Supplier Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sub in bindingList | filter:sSupplier track by sub.supplier_gid"
                        ng-class="sub.is_checked?'success':''"
                        ng-click="!is_multiple?row_click(sub):sub.is_checked=!sub.is_checked">
                        <td><input type="checkbox" ng-model="sub.is_checked"></td>
                        <td>{{ sub.supplier_name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </md-dialog-content>

</md-dialog>
{% endverbatim %}
