{% verbatim %}
<md-dialog>
    <md-dialog-content>
        <div>
            <div class="col-md-12">
                <md-subheader class="md-primary">Choose employee</md-subheader>
            </div>
        </div>
        <div>
            <div ng-class="is_multiple? 'col-md-8' :'col-md-12'">
                <md-input-container class="md-block inputcontainer">
                    <label>Search...</label>
                    <input ng-model="sEmployee" type="text" name="sSupplier" autocomplete="off"/>
                </md-input-container>
            </div>
            <div class="col-md-4" ng-show="is_multiple">
                <md-button class="md-raised md-primary" ng-click="submitData()">Ok</md-button>
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th ng-show="is_multiple">Select</th>
                        <th>Employee Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="emp in bindingList | filter:sEmployee track by emp.employee_gid"
                        ng-class="emp.is_checked?'success':''"
                        ng-click="!is_multiple?row_click(emp):emp.is_checked=!emp.is_checked">
                        <td ng-show="is_multiple">
                            <input type="checkbox" ng-model="emp.is_checked"></td>
                        <td>{{ emp.employee_name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </md-dialog-content>

</md-dialog>
{% endverbatim %}
