{% verbatim %}
<uib-accordion close-others="false">
    <div uib-accordion-group class="panel-default" is-open="status.employee">
        <uib-accordion-heading>
            <p class="custlabel">Employee
                <i class="pull-right material-icons">{{!status.employee?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </p>
        </uib-accordion-heading>
        <treecontrol class="tree-boot" tree-model="filterEmployee" options="emp_treeOptions"
                     on-selection="filterEmpChange(node)" selected-node="node1">
            {{node.emp_name }}
        </treecontrol>

    </div>

    <div uib-accordion-group class="panel-default" is-open="status.route">
        <uib-accordion-heading>
            <p class="custlabel">Route
                <i class="pull-right material-icons">{{!status.route?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </p>
        </uib-accordion-heading>
        <ul>
            <li ng-repeat="route in filterRoute">
                <label>
                    <input type="checkbox" ng-model="route.isChecked" ng-change="filterRotue('route',route)">{{route.route_name}}
                </label>
                <ul>
                    <li ng-repeat="clust in route.child_list">

                        <label>
                            <input type="checkbox" ng-model="clust.isChecked" ng-change="filterRotue('',$parent.$index)">{{clust.cluster_name}}
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.territory">
        <uib-accordion-heading>
            <p class="custlabel">Territory
                <i class="pull-right material-icons">{{!status.territory?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </p>
        </uib-accordion-heading>
        <treecontrol class="tree-boot" tree-model="clusterTree" options="treeOptions"
                     on-selection="territorySelecte(node)" selected-node="node1">
            {{node.menu_name}}
        </treecontrol>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.mode">
        <uib-accordion-heading>
            <p class="custlabel">Mode
                <i class="pull-right material-icons">{{!status.mode?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </p>
        </uib-accordion-heading>
        <ul>
            <li ng-repeat="mode in filterMode">
                <label>
                    <input type="checkbox" ng-model="mode.isChecked" ng-change="filterchange()">{{mode.customer_salemode}}
                </label>
            </li>
        </ul>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.categroy">
        <uib-accordion-heading>
            <p class="custlabel">Category
                <i class="pull-right material-icons">{{!status.categroy?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </p>
        </uib-accordion-heading>
        <ul>
            <li ng-repeat="cate in filterCategroy">
                <label>
                    <input type="checkbox" ng-model="cate.isChecked" ng-change="filterchange()">{{cate.custcategory_name}}
                </label>
            </li>
        </ul>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.consititution">
        <uib-accordion-heading>
            <p class="custlabel">Constitution
                <i class="pull-right material-icons">{{!status.consititution?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </p>
        </uib-accordion-heading>
        <ul>
            <li ng-repeat="contr in filterConstitution">
                <label>
                    <input type="checkbox" ng-model="contr.isChecked" ng-change="filterchange()">{{contr.customer_constitution}}
                </label>
            </li>
        </ul>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.type">
        <uib-accordion-heading>
            <p class="custlabel">Type
                <i class="pull-right material-icons">{{!status.type?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </p>
        </uib-accordion-heading>
        <ul>
            <li ng-repeat="type in filterType">
                <label>
                    <input type="checkbox" ng-model="type.isChecked" ng-change="filterchange()">{{type.customer_type}}
                </label>
            </li>
        </ul>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.size">
        <uib-accordion-heading>
            <p class="custlabel">Size
                <i class="pull-right material-icons">{{!status.size?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </p>
        </uib-accordion-heading>
        <ul>
            <li ng-repeat="size in filterSize">
                <label>
                    <input type="checkbox" ng-model="size.isChecked" ng-change="filterchange()">{{size.customer_size}}
                </label>
            </li>
        </ul>
    </div>
</uib-accordion>
{% endverbatim %}