{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Tour Cancel{% endblock %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="eclaimapp" ng-controller="eclaimctrl" ng-cloak>
        <md-subheader ng-show="user_type" class="md-accent">On BeHalf Employee - {{employee_name}}</md-subheader>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>eClaim Tour Summary For Cancel </h4>
            </div>
        </div>
        <div class="row" class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Tour No</label>
                            <input maxlength="30" ng-change="" ng-model="tourno"
                                   placeholder="Tour No"
                                   numbers-only
                                   type="text"/>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Tour Request Date</label>
                            <md-datepicker md-hide-icons="calendar" md-max-date="maxDate" md-open-on-focus
                                           ng-model="tourreqdate"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-click="search()">
                            <md-icon>search</md-icon>
                            <md-tooltip>Search</md-tooltip>
                        </md-button>
                        <md-button class="md-fab md-mini md-primary custbutton"
                                   ng-click="clearsearch()">
                            <md-icon>close</md-icon>
                            <md-tooltip>Clear search</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <md-input-container class="md-block inputcontainer">
                            <md-radio-group layout="row" ng-change="loadeclaim()" ng-init="dataType = 'tour'"
                                            ng-model="dataType">
                                <md-radio-button checked ng-selected="true" value="tour">Tour
                                </md-radio-button>
                                <md-radio-button value="tour_advance">Tour Advance</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row table-responsive ">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                    <thead class="header">
                    <th class="text-center" scope="col">S.No</th>
                    <th class="text-center" scope="col">Tour No</th>
                    <th class="text-center" scope="col">Tour Request Date</th>
                    <th class="text-center" scope="col">Employee Name</th>
                    <th class="text-center" scope="col">Employee Garde</th>
<!--                    <th class="text-center" scope="col">Designation Name</th>-->
                    <th class="text-center" scope="col">Tour Approved By</th>
                    <th class="text-center" scope="col">Expense Details</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="eclaim in eClaim_data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:orderByField:reverseSort">
                        <td class="text-center">
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td class="text-center">{{eclaim.requestno}}</td>
                        <td class="text-center">{{eclaim.requestdate}}</td>
                        <td class="text-center">{{eclaim.employee_name}} {{eclaim.employee_code}}</td>
                        <td class="text-center">{{eclaim.empgrade}}</td>
<!--                        <td class="text-center">{{eclaim.designation}}</td>-->
                        <td class="text-center">{{eclaim.permit_byname}} {{eclaim.permit_bycode}}</td>
                        <td class="text-center">
                            <a
                               ng-click="make_expense(eclaim)"><i class="material-icons">
                                edit
                            </i></a>

                            <!--                            <a ng-show="eclaim.status != 'PENDING' && eclaim.status != 'APPROVED'" ng-click="make_expense(eclaim)"><i class="material-icons">-->
                            <!--                                edit-->
                            <!--                            </i></a>-->
                            <!--                            <a ng-show="eclaim.status == 'PENDING'" href=""><i class="material-icons">-->
                            <!--                                visibility-->
                            <!--                            </i></a>-->
                    </tr>
                    <tr ng-show="data_len ==  0">
                        <td class="warning" colspan="17">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul boundary-links="true" class="pagination-sm cust_pagination"
                                items-per-page="itemsPerPage"
                                max-size="maxSize"
                                ng-model="currentPage" total-items="pageLength"
                                uib-pagination></ul>
                        </td>
                        <!--                        <td class="text-left" colspan="1">-->
                        <!--                            <span>Total Count:<br/> <b class="text-centre"> {{pageLength}}</b></span>-->
                        <!--                        </td>-->
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
<style>
 .md-select-menu-container.md-active {
    z-index: 1060;
    }

</style>
<script>
   var myApp = angular.module('eclaimapp', ['ngMaterial','ui.bootstrap','ngMessages','AppCommon'])
    .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
        myApp.run(function($mdDateLocale, $filter) {
        $mdDateLocale.formatDate = function(date) {
            return $filter('date')(date, "dd-MMM-yyyy");
        };
    })
myApp.controller('eclaimctrl',function($scope, eclaimService, $window, $filter,$mdDialog, $rootScope,$element,SerCommon) {
       $element.find('input').on('keydown', function(ev) {
          ev.stopPropagation();
      });

    var detail = JSON.parse(sessionStorage.getItem('today'));
    var date = new Date(detail.date);
    $scope.today_date = new Date(date.getFullYear(), date.getMonth(), date.getDate());

    $scope.eclaim = [];
    $scope.eClaim_data =[];
    $scope.maxSize = 3;
    $scope.dataType ="tour";
    $scope.itemsPerPage = 10;
    $scope.currentPage = 1;
    $scope.eclaim.active='Y';
    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };
    $scope.endloading = function() {
        $mdDialog.hide();
    };

    $scope.search = function(){
       $scope.loadeclaim();
    }

    $scope.search_feild = function(){
        if($scope.tourno == ""){
            $scope.tourno ="";
            $scope.loadeclaim();
        }

    }
    $scope.clearsearch = function(){
        $scope.tourno ="";
        $scope.reqdate ="";
        $scope.loadeclaim();
    }

    $scope.tourno ="";
    $scope.reqdate ="";
    load()
    $scope.loadeclaim = function(){
        load()
    }

    function load(){
        if($scope.reqdate == undefined || $scope.reqdate == "Invalid Date" ){
            $scope.reqdate ="";
        }
        $scope.loading();
        $scope.data = '';
        if ($scope.dataType == "tour") {
            $scope.data = {
                params: {
                    "Type": "TOUR_TO_CANCEL",
                    "json" : {
                        "Params": {
                            "FILTER": {
                                "tourno":$scope.tourno,
                                "tourreqdate": $scope.reqdate,
                            }
                        }
                    }
                }
            }
		} else if ($scope.dataType == "tour_advance") {
            $scope.data = {
                params: {
                    "Type": "ADVANCE_TO_CANCEL",
                    "json" : {
                        "Params": {
                            "FILTER": {
                                "tourno":$scope.tourno,
                                "tourreqdate": $scope.reqdate,
                            }
                        }
                    }
                }
            }
		}
        var get_eclaim = eclaimService.ecalim_expense($scope.data)
        get_eclaim.then(function(result) {
        $scope.eClaim_data = [];
            $scope.main = result.data.DATA;
            if(result.data.MESSAGE == "NOT_FOUND" ){
                $scope.data_len = 0;
            }
            $scope.eClaim_data =  $scope.main;
            $scope.employee_name =  $scope.eClaim_data[0].employee_name;
            $scope.data_len = $scope.eClaim_data.length;
            $scope.pageLength = $scope.eClaim_data.length;
            $scope.Totalpages = Math.ceil($scope.eClaim_data.length / $scope.itemsPerPage);
        }).finally($scope.endloading);
    }

    session_dataget();
    function session_dataget(){
        var data = {
            "Params": {
                "FILTER": {
                    "type": ""
                }
            }
        }
        var get_eclaim = eclaimService.ecalim_session_get(data)
        get_eclaim.then(function(result) {
            $scope.session_type = result.data.type;
            if($scope.session_type == "ONBEHALF"){
                $scope.user_type = true;
            }
            else{
                 $scope.user_type = false;
            }
        });

    }

    $scope.search = function(){
        $scope.reqdate = $filter('date')(new Date($scope.tourreqdate),'yyyy-MM-dd');
        $scope.loadeclaim();
    }

    $scope.myfun = function() {
        $scope.eClaim_data = $filter('filter')($scope.main, {
            "tourrequest_tourrequestno": $scope.tour_id,
            "employee_name": $scope.emp_name,
        });
    }


   $scope.make_expense=function(detail){
        if ($scope.dataType == "tour") {
            var eClaim_session = {
                tour_gid: detail.gid,
                empgid: detail.empgid,
                approvalgid:0,
                applevel: 0,
                tourstatus:"CANCEL",
                onbehalf_emp:$scope.onbehalf_emp,
                type:"CANCEL"
            };
            sessionStorage.setItem('eClaim_tour_aprl', JSON.stringify(eClaim_session));
            $window.location.href = "eClaim/eclaim_tour";
        } else if ($scope.dataType == "tour_advance") {
            var eClaim_session = {
                tour_gid: detail.gid,
                tour_no: detail.requestno,
                tour_requestdate: detail.requestdate,
                tour_startdate: detail.startdate,
                tour_enddate: detail.enddate,
                emp_name: detail.employee_name,
                emp_gid: detail.empgid,
                designation: detail.designation,
                emp_grade: detail.empgrade,
                Status: "CANCEL",
                reason: detail.tourreason,
                applevel:0 ,
                gid:0,
                onbehalf_emp:detail.employee_name,
                type:"CANCEL"
            };
            sessionStorage.setItem('eClaim_advance', JSON.stringify(eClaim_session));
            $window.location.href = "eClaim/eclaim_advance";
        }
   }

});
myApp.service("eclaimService", function($http) {
    this.ecalim_expense = function(data) {
        var response = $http.post(Appname + "/eclaim_summary/",data);
        return response;
    }
    this.ecalim_session_get = function(data) {
        var response = $http.post(Appname + "/session_get_expnese/",data);
        return response;
    }
});


</script>

{% endblock %}