{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Tour Cancel{% endblock %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="eclaimapp" ng-controller="eclaimctrl" ng-cloak>
        <md-subheader ng-show="user_type" class="md-accent">On BeHalf Employee - {{employee_name}}</md-subheader>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>eClaim Tour Cancel </h4>
            </div>
        </div>
        <div class="row" class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Tour No</label>
                            <input maxlength="30" ng-change="" ng-model="tourno"
                                   placeholder="Tour No"
                                   numbers-only
                                   type="text"/>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Tour Request Date</label>
                            <md-datepicker md-hide-icons="calendar" md-max-date="maxDate" md-open-on-focus
                                           ng-model="tourreqdate"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-click="search()">
                            <md-icon>search</md-icon>
                            <md-tooltip>Search</md-tooltip>
                        </md-button>
                        <md-button class="md-fab md-mini md-primary custbutton"
                                   ng-click="clearsearch()">
                            <md-icon>close</md-icon>
                            <md-tooltip>Clear search</md-tooltip>
                        </md-button>
                    </div>
                    <div class="col-md-3">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-href="eClaim/eclaim_cancel">
                            <md-icon>add</md-icon>
                            <md-tooltip>Tour Cancel</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <md-input-container class="md-block inputcontainer">
                            <md-radio-group layout="row" ng-change="mode_choose()" ng-init="dataType = 'tour'"
                                            ng-model="dataType">
                                <md-radio-button checked ng-selected="true" value="tour">Tour
                                </md-radio-button>
                                <md-radio-button value="tour_advance">Tour Advance</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row table-responsive ">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                    <thead class="header">
                    <th class="text-center" scope="col">S.No</th>
                    <th class="text-center" scope="col">Tour No</th>
                    <th class="text-center" scope="col">Tour Request Date</th>
                    <th class="text-center" scope="col">Employee Name</th>
                    <th class="text-center" scope="col">Employee Garde</th>
                    <!--                    <th class="text-center" scope="col">Designation Name</th>-->
                    <th class="text-center" scope="col">Tour Approved By</th>
                    <th class="text-center" scope="col">Expense Details</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="eclaim in eClaim_data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:orderByField:reverseSort">
                        <td class="text-center">
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td class="text-center">{{eclaim.requestno}}</td>
                        <td class="text-center">{{eclaim.requestdate}}</td>
                        <td class="text-center">{{eclaim.employee_name}} {{eclaim.employee_code}}</td>
                        <td class="text-center">{{eclaim.empgrade}}</td>
                        <!--                        <td class="text-center">{{eclaim.designation}}</td>-->
                        <td class="text-center">{{eclaim.permit_byname}} {{eclaim.permit_bycode}}</td>
                        <td class="text-center">
                            <a
                                    ng-click="make_expense(eclaim)"><i class="material-icons">
                                edit
                            </i></a>

                            <!--                            <a ng-show="eclaim.status != 'PENDING' && eclaim.status != 'APPROVED'" ng-click="make_expense(eclaim)"><i class="material-icons">-->
                            <!--                                edit-->
                            <!--                            </i></a>-->
                            <!--                            <a ng-show="eclaim.status == 'PENDING'" href=""><i class="material-icons">-->
                            <!--                                visibility-->
                            <!--                            </i></a>-->
                    </tr>
                    <tr ng-show="data_len ==  0">
                        <td class="warning" colspan="17">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul boundary-links="true" class="pagination-sm cust_pagination"
                                items-per-page="itemsPerPage"
                                max-size="maxSize"
                                ng-model="currentPage" total-items="pageLength"
                                uib-pagination></ul>
                        </td>
                        <!--                        <td class="text-left" colspan="1">-->
                        <!--                            <span>Total Count:<br/> <b class="text-centre"> {{pageLength}}</b></span>-->
                        <!--                        </td>-->
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="onbehalf" role="dialog"
             style="height:auto;width:100%" tabindex="-1">
            <div class="modal-dialog modal-md modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong>On Behalf of</strong>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <br/>
                    <form name="onbehalf_valid" novalidate role="form">
                        <div class="body">
                            <div class="modal-body popup-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <md-input-container class="md-block inputcontainer">
                                                <md-radio-group layout="row" ng-change="mode_choose()"
                                                                ng-model="option_employee">
                                                    <md-radio-button ng-selected="true"
                                                                     value="self">
                                                        Self
                                                    </md-radio-button>
                                                    <md-radio-button value="onbehalfof">On BeHalf</md-radio-button>
                                                </md-radio-group>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div ng-show="other_emp" class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label>Branch</label>
                                            <md-autocomplete
                                                    md-item-text="item.branch_name"
                                                    md-items="item in brsearch(searchbr)"
                                                    md-min-length=0
                                                    ng-disabled="status_check"
                                                    md-no-cache="true"
                                                    md-search-text="searchbr"
                                                    md-selected-item="selectedbr"
                                                    md-selected-item-change="branchchange(item)"
                                                    ng-required="true"
                                                    placeholder="Branch">
                                                <md-item-template>
                                                    <span md-highlight-text="searchText"> {{item.branch_code}} {{item.branch_name}} </span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No Branch matching "{{searchbr}}" were found.
                                                </md-not-found>
                                            </md-autocomplete>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Employee</label>
                                            <md-autocomplete
                                                    md-item-text="item.employee_name"
                                                    md-items="item in empsearch(searchemp)"
                                                    md-min-length=0
                                                    ng-disabled="status_check"
                                                    md-no-cache="true"
                                                    md-search-text="searchemp"
                                                    md-selected-item="selectedemp"
                                                    md-selected-item-change="selectempchange(item)"
                                                    ng-required="true"
                                                    placeholder="Employee">
                                                <md-item-template>
                                                    <span md-highlight-text="searchText"> {{item.employee_name}} {{item.employee_code}} </span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No Employee matching "{{searchemp}}" were found.
                                                </md-not-found>
                                            </md-autocomplete>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <md-button class="btn btn-info custbutton" ng-click="onbehalf_choose()"
                                           ng-disabled="onbehalf_valid.$invalid">Submit
                                    <md-tooltip>Submit</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
<style>
 .md-select-menu-container.md-active {
    z-index: 1060;
    }
</style>
<script>
   var myApp = angular.module('eclaimapp', ['ngMaterial','ui.bootstrap','ngMessages','AppCommon'])
    .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
        myApp.run(function($mdDateLocale, $filter) {
        $mdDateLocale.formatDate = function(date) {
            return $filter('date')(date, "dd-MMM-yyyy");
        };
    })
myApp.controller('eclaimctrl',function($scope, eclaimService, $window, $filter,$mdDialog, $rootScope,$element,SerCommon) {
       $element.find('input').on('keydown', function(ev) {
          ev.stopPropagation();
      });
    $scope.eclaim = [];
    $scope.eClaim_data =[];
    $scope.maxSize = 3;
    $scope.itemsPerPage = 10;
    $scope.currentPage = 1;
    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };

    $scope.loading_onbehalf = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.getElementById('onbehalf')),
            clickOutsideToClose: false
        });
    };


    $scope.endloading = function() {
        $mdDialog.hide();
    };

    $scope.date_chg = function(){
        $scope.reqdate = $filter('date')(new Date($scope.tourreqdate),'yyyy-MM-dd');
    }

    $scope.search = function(){
        loadeclaim();
    }

    check_onbehalf();
    function check_onbehalf(){
        $scope.loading();
        var data = {
            params: {
                "Type": "EMPLOYEE_ONBEHALF",
                "json" : {
                    "Params": {
                        "FILTER": {

                        }
                    }
                }
            }
        }
        var get_drop = eclaimService.ecalim_drop_get(data)
        get_drop.then(function(result) {
            $scope.main = result.data.DATA;
            if($scope.main =="ONBEHALF"){
                $scope.endloading();
                onbehalfof();
            }
            else{
                var data = {
                    "Params": {
                        "FILTER": {
                            "onbehalfgid": 0,
                            "type": "SELF"
                        }
                    }
                }
                var get_eclaim = eclaimService.ecalim_session_set(data)
                get_eclaim.then(function(result) {
                    $scope.session_main = result.data;
                    $scope.option_employee = "self";
                    loadeclaim();
                });
            }
        });
        $scope.endloading();
    }


    function onbehalfof(){
        modalshow('onbehalf');
    }
    $scope.other_emp = false;
    $scope.onbehalf_emp_heder = false;
    $scope.mode_choose = function(){
        if($scope.option_employee == "self"){
            $scope.onbehalf_emp_heder = false;
            modalhide('onbehalf');
            loadeclaim();
            session_dataset("SELF",0);
        }
        else if($scope.option_employee == "onbehalfof"){
            $scope.other_emp = true;
        }
    }
    loadbranch();
    function loadbranch(){
        var data = {
            params: {
                "Type": "GET_BRANCH",
                "json" : {
                    "Params": {
                        "FILTER": {

                        }
                    }
                }
            }
        }
        var get_drop = eclaimService.ecalim_drop_get(data)
        get_drop.then(function(result) {
            $scope.main = result.data.DATA;
            $scope.get_branch_data = $scope.main;
        });
    }

    $scope.brsearch = gotobranch;
        function gotobranch(query) {
            var result = $filter('filter')($scope.get_branch_data, {
                'branch_name': query
            });
            return result;
    }
    $scope.branchchange = function(v){
        var data = {
            params: {
                "Type": "GET_ONBEHALF_DROPDOWN",
                "json" : {
                    "Params": {
                        "FILTER": {
                            "Branch_Gid":v.branch_gid
                        }
                    }
                }
            }
        }
        var get_drop = eclaimService.ecalim_drop_get(data)
        get_drop.then(function(result) {
            $scope.main = result.data.DATA;
            $scope.get_employee_data = $scope.main;
        });
    }
    $scope.empsearch = gotoemp;
        function gotoemp(query) {
            var result = $filter('filter')($scope.get_employee_data, {
                'employee_name': query
            });
            return result;
    }
    $scope.onbehalf_choose = function(){
        $scope.onbehalf_emp = $scope.selectedemp.employee_name;
        $scope.onbehalf_emp_heder = true;
        $scope.loading_onbehalf();

        if ($scope.dataType == "tour") {
            var data = {
                params: {
                    "Type": "TOUR_CANCEL",
                    "json" : {
                        "Params": {
                            "FILTER": {
                                "tourno":$scope.tourno,
                                "tourreqdate": $scope.reqdate,
                                "onbehalfgid": $scope.selectedemp.employee_gid,
                                "type": "ONBEHALF",
                                "tourtype": "TOURCANCEL"
                            }
                        }
                    }
                }
            }
		} else if ($scope.dataType == "tour_advance") {
            var data = {
                params: {
                    "Type": "TOUR_CANCEL",
                    "json" : {
                        "Params": {
                            "FILTER": {
                                "tourno":$scope.tourno,
                                "tourreqdate": $scope.reqdate,
                                "onbehalfgid": $scope.selectedemp.employee_gid,
                                "type": "ONBEHALF",
                                "tourtype": "ADVANCECANCEL"
                            }
                        }
                    }
                }
            }
		}

        var get_eclaim = eclaimService.ecalim_expense(data)
        get_eclaim.then(function(result) {
            $scope.main = result.data.DATA;
            if(result.data.MESSAGE == "NOT_FOUND" ){
                $scope.data_len = 0;
            }
            $scope.eClaim_data = $scope.main;
            session_dataset("ONBEHALF",$scope.selectedemp.employee_gid);
            modalhide('onbehalf');
            $scope.data_len = $scope.eClaim_data.length;
            $scope.pageLength = $scope.eClaim_data.length;
            $scope.Totalpages = Math.ceil($scope.eClaim_data.length / $scope.itemsPerPage);

        }).finally($scope.endloading);

    }

    function session_dataset(type,emp){
        var data = {
            "Params": {
                "FILTER": {
                    "onbehalfgid": emp,
                    "type": type
                }
            }
        }
        var get_eclaim = eclaimService.ecalim_session_set(data)
        get_eclaim.then(function(result) {
            $scope.session_main = result.data;
        });

    }


    $scope.search_feild = function(){
        if($scope.tourno == ""){
            $scope.tourno ="";
            loadeclaim();
        }
    }

    $scope.clearsearch = function(){
        $scope.tourno ="";
        $scope.reqdate ="";
        loadeclaim();
    }

    $scope.tourno ="";
    $scope.reqdate ="";

    function loadeclaim(){
        if($scope.reqdate == undefined || $scope.reqdate == "Invalid Date" ){
            $scope.reqdate ="";
        }
        $scope.loading();
        if ($scope.dataType == "tour") {
            var data = {
                params: {
                    "Type": "TOUR_CANCEL",
                    "json" : {
                        "Params": {
                            "FILTER": {
                                "tourno":$scope.tourno,
                                "tourreqdate": $scope.reqdate,
                                "type": "SELF",
                                "tourtype": "TOURCANCEL"
                            }
                        }
                    }
                }
            }
		} else if ($scope.dataType == "tour_advance") {
            var data = {
                params: {
                    "Type": "TOUR_CANCEL",
                    "json" : {
                        "Params": {
                            "FILTER": {
                                "tourno":$scope.tourno,
                                "tourreqdate": $scope.reqdate,
                                "type": "SELF",
                                "tourtype": "ADVANCECANCEL"
                            }
                        }
                    }
                }
            }
		}

        var get_eclaim = eclaimService.ecalim_expense(data)
        get_eclaim.then(function(result) {
            $scope.main = result.data.DATA;
            if(result.data.MESSAGE == "NOT_FOUND" ){
                $scope.data_len = 0;
            }
            session_dataset("SELF",0);
            $scope.eClaim_data = $scope.main;
            $scope.data_len = $scope.eClaim_data.length;
            $scope.pageLength = $scope.eClaim_data.length;
            $scope.Totalpages = Math.ceil($scope.eClaim_data.length / $scope.itemsPerPage);

        }).finally($scope.endloading);
    }
    $scope.myfun = function() {
        $scope.eClaim_data = $filter('filter')($scope.main, {
            "tourrequestreason_name": $scope.purpose_name,
            "tourrequestreason_code": $scope.purpose_code,
        });
    }

    $scope.make_expense=function(detail){
        if ($scope.dataType == "tour") {
            var eClaim_session = {
                tour_gid: detail.tourgid,
                empgid: detail.empgid,
                approvalgid:0,
                applevel: 0,
                tourstatus:detail.tourstatus,
                onbehalf_emp:$scope.onbehalf_emp,
                type:"CANCEL"
            };
            sessionStorage.setItem('eClaim_tour_aprl', JSON.stringify(eClaim_session));
            $window.location.href = "eClaim/eclaim_tour";
        } else if ($scope.dataType == "tour_advance") {
            var eClaim_session = {
                tour_gid: detail.tourgid,
                tour_no: detail.requestno,
                tour_requestdate: detail.requestdate,
                tour_startdate: detail.startdate,
                tour_enddate: detail.enddate,
                emp_name: detail.employee_name,
                emp_gid: detail.empgid,
                designation: detail.designation,
                emp_grade: detail.empgrade,
                Status: detail.tourstatus,
                reason: detail.tourreason,
                applevel:0 ,
                gid:0,
                onbehalf_emp:detail.employee_name,
                type:"CANCEL"
            };
            sessionStorage.setItem('eClaim_advance', JSON.stringify(eClaim_session));
            $window.location.href = "eClaim/eclaim_advance";
        }
   }

});
myApp.service("eclaimService", function($http) {
    this.ecalim_expense = function(data) {
        var response = $http.post(Appname + "/eclaim_summary/",data);
        return response;
    },
    this.ecalim_drop_get = function(data) {
        var response = $http.get(Appname + "/eclaim_dropdata/",data);
        return response;
    }
    this.ecalim_session_set = function(data) {
        var response = $http.post(Appname + "/session_set_expense/",data);
        return response;
    }
});




















</script>

{% endblock %}