{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Category Change {% endblock %}
{% csrf_token %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="dateapp" ng-controller="datectrl" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Asset Category Change Maker Summary</h4>
            </div>
        </div>
        <div class="row" class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Asset Id</label>
                            <input maxlength="30" ng-change="" ng-model="assetdetails_id" numbers-only
                                   placeholder="Asset id"
                                   type="text"/>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Asset Value</label>
                            <input ng-change="" ng-model="assetdetails_value" placeholder="Asset Value"
                                   type="text"
                            />
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Cap Date</label>
                            <md-datepicker md-hide-icons="calendar" md-max-date="maxDate" md-open-on-focus
                                           ng-change="selectdate()"
                                           ng-model="assetdetails_cpdate"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <label>Category</label>
                       <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="selectedcat"
                        md-search-text="searchcat"
                        md-selected-item-change="selectchange(item)"
                        md-items="item in catsearch(searchcat)"
                        md-item-text="item.assetcat_subcatname"
                        md-min-length=0
                        placeholder="Category">
                    <md-item-template>
                        <span md-highlight-text="searchText"> {{item.assetcat_subcatname}} </span>
                    </md-item-template>
                    <md-not-found>
                        No Catagory matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Branch</label>
                            <input ng-change="" ng-model="assetdetails_branch" placeholder="Branch"
                                   type="text"/>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-click="search()">
                            <md-icon>search</md-icon>
                            <md-tooltip>Search</md-tooltip>
                        </md-button>
                    </div>
                     <div class="col-md-2">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-href="fa_asset_catgry_plus">
                            <md-icon>add</md-icon>
                            <md-tooltip>Change Category</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                    <thead class="header">
                    <th scope="col" class="text-center">S.No</th>
                    <th scope="col" class="text-center">Asset Transaction Id</th>
                    <th scope="col" class="text-center">Product Name</th>
                    <th scope="col" class="text-center">Old Category</th>
                    <th scope="col" class="text-center">New Category</th>
                    <th scope="col" class="text-center">Capitalization Date</th>
                    <th scope="col" class="text-center">Asset Value</th>
                    <th scope="col" class="text-center">Branch</th>
                    <th scope="col" class="text-center">Remark</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Category Status</th>
                    <th scope="col" class="text-center">Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ast in asset.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:orderByField:reverseSort">
                        <td class="text-center">
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td class="text-right" ng-click="imgshow($index)">{{ast.assetcatchange_assetdetailsid}}</td>
                        <td class="text-left">{{ast.product_displayname}}</td>
                        <td class="text-left">{{ast.assetcatchange_oldcat}}</td>
                        <td class="text-left">{{ast.new_catname}}</td>
                        <td class="text-center">{{ast.cap_date}}</td>
                        <td class="text-right">{{ast.assetdetails_value | number : fractionSize}}</td>
                        <td class="text-left" data-ng-repeat="view in ast.lj_default_details">{{view.branch_name}} - {{view.branch_code}}</td>
<!--                        <td class="text-left">{{ast.assetcatchange_reason}}</td>-->
                        <td class="text-center" ng-click="reason($index)"><p style="color:green;">Reason</p></td>
                        <td class="text-left">{{ast.assetcatchange_status}}</td>
                        <td class="text-left">{{ast.assetcatchange_status}}</td>
                        <td class="text-center"><span class="editlink" ng-click="viewdet(ast)">View</span></td>
                    </tr>
                    <tr ng-show="data_len ==  0">
                        <td class="warning" colspan="13">
                            No Records Found.
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11">
                            <ul boundary-links="true" class="pagination-sm cust_pagination"
                                items-per-page="itemsPerPage"
                                max-size="maxSize"
                                ng-model="currentPage" total-items="pageLength"
                                uib-pagination></ul>
                        </td>
                        <td colspan="2" class="text-left">
                            <span>Total Count:<br/> <b> {{asset.length}}</b></span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--Reason Show-->
        <div class="text-center" ng-show="reasons">
            <md-dailog>
                <md-content>
                    <h4>
                        Maker Reason : {{assetcatchange_reason}}
                    </h4>
                    <h4>
                        Checker Reason : {{checker_reason}}
                    </h4>
                </md-content>
            </md-dailog>
        </div>
        <!--popup page start-->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="viewmodal" role="dialog"
             style="height:auto;width:100%" tabindex="-1">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong>Asset Details</strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                    <div class="body">
                        <div class="modal-body popup-body">
                            <div class="row" ng-repeat="view in asset_data">
                                <div class="row table-responsive">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                                            <thead class="header">
                                            </thead>
                                            <tbody ng-repeat="view in asset_data">
                                             <tr>
                                                <td class="text-center" style="width:100px"><label>Asset ID</label></td>
                                                <td class="text-center" style="width:100px">{{view.asset_id}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center" style="width:100px"><label>Product Name</label></td>
                                                <td class="text-center" style="width:100px">{{view.product_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center" style="width:100px"><label>Old Catagory</label>
                                                </td>
                                                <td class="text-center" style="width:100px">{{view.oldcatogry}}</td>
                                            </tr>
                                              <tr>
                                                <td class="text-center" style="width:100px"><label>Old Catagory</label>
                                                </td>
                                                <td class="text-center" style="width:100px">{{view.newcatogry}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center" style="width:100px"><label>Capitalization Date</label>
                                                </td>
                                                <td class="text-center" style="width:100px">{{view.cp_date}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center" style="width:100px"><label>Asset Value</label></td>
                                                <td class="text-center" style="width:100px">{{view.asset_values}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center" style="width:100px"><label>Branch</label>
                                                </td>
                                                <td class="text-center" style="width:100px">{{view.branch}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center" style="width:100px"><label>Location</label></td>
                                                <td class="text-center" style="width:100px">{{view.location}}</td>
                                            </tr>
                                             <tr>
                                                <td class="text-center" style="width:100px"><label>Reason</label></td>
                                                <td class="text-center" style="width:100px">{{view.reason}}</td>
                                            </tr>
                                             <tr>
                                                <td class="text-center" style="width:100px"><label>Status</label></td>
                                                <td class="text-center" style="width:100px">{{view.status}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <md-button class="md-raised" data-dismiss="modal">Back
                                <md-tooltip>close</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Image start-->
            <div ng-include="'fa_image_popup'"></div>
    </div>
</div>
<!--popup page End-->

{% endverbatim %}
<script>
var app = angular.module('dateapp', ['ngMaterial', 'ui.bootstrap', 'AppCommon', 'ngMessages'])
    .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
app.controller('datectrl', function($scope, newservice, $window, $mdDialog,$mdDateLocale, $rootScope, $filter) {
    $scope.orderByField = '';
    $scope.maxSize = 3;
    $scope.itemsPerPage = 10;
    $scope.currentPage = 1;
    $scope.asset_data = [];
    $scope.asset = [];
    $scope.reasons = false;
    $scope.data_len = 0;
    $scope.add = [];
    var detail = JSON.parse(sessionStorage.getItem('today'));
    var employgid = detail.employee_gid;
    $scope.entity_gid = detail.entity_gid;
    var td = detail.date
    $scope.cap_date = convertdate(td);
     $mdDateLocale.formatDate = function(date) {
            return $filter('date')(date, "dd-MMM-yyyy");
        };
    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };
    $scope.endloading = function() {
        $mdDialog.hide();
    };
    $scope.selectchange = function() {
        if($scope.selectedcat == undefined ){
           $scope.catagry = "";
            }
        else{
            $scope.catagry = $scope.selectedcat.assetcat_subcatname;
            }
    }
    $scope.selectdate = function() {
        $scope.assetdetails_capdate = $filter('date')(new Date($scope.assetdetails_cpdate),'yyyy-MM-dd');
    }
    $scope.search = function() {
        loaddata();
    }
    loaddata();
    function loaddata() {
    $scope.loading();
        var data = {
            "Params": {
                "FILTER": {
                    "Asset_Id": $scope.assetdetails_id,
                    "Asset_Value": $scope.assetdetails_value,
                    "Cap_Date": $scope.assetdetails_capdate,
                    "Asset_Code": $scope.catagry,
                    "Branch": $scope.assetdetails_branch,
                    "Asset_Group":"N"

                },
            }
        };

        var get_asset = newservice.asset_detail(data)
        get_asset.then(function(result) {

            $scope.main = result.data.DATA;
            if(result.data.MESSAGE == "NOT_FOUND" ){
                $scope.data_len = 0;
            }
            $scope.asset = $scope.main;
            $scope.data_len = $scope.asset.length;
<!--            $scope.pageLength = $scope.asset.length;-->
            $scope.Totalpages = Math.ceil($scope.asset.length / $scope.itemsPerPage);
            $scope.pageLength = $scope.asset.length;
        }).finally($scope.endloading);
    }
    loadcat();
    function loadcat(){
        var get_drop = newservice.drop_data()
        get_drop.then(function(result) {

            $scope.main = result.data.DATA;
            $scope.get_drop_data = $scope.main;

        });
    }
    $scope.catsearch = gotocat;
        function gotocat(query) {
            var result = $filter('filter')($scope.get_drop_data, {
                'assetcat_subcatname': query
            });
            return result;
        }
    $scope.reason = function(id){
            $scope.assetcatchange_reason = $scope.asset[id].assetcatchange_reason;
            var checker = $scope.asset[id].lj_checker_data ;
            $scope.checker_reason = checker[0].checker_remarks ;
            $scope.reasons = true;
    }
    $scope.viewdet = function(e) {
        $scope.assetdetails_id = e.assetcatchange_assetdetailsid;
        $scope.assetdetails_values = e.assetdetails_value;
        $scope.assetdetails_cpdate = e.cap_date;
        $scope.value_reason = e.assetcatchange_reason;
        $scope.assetdetails_status = e.assetcatchange_status;
        $scope.asset_oldctgry = e.assetcatchange_oldcat;
        $scope.asset_newctgry = e.new_catname;
        $scope.product_name = e.product_displayname;
        $scope.asset_location = e.assetlocation_name;
        $scope.asset_branch = e.branch_name;
        modalshow('viewmodal');
        $scope.asset_data = [{
            "asset_id": $scope.assetdetails_id,
            "asset_values": $scope.assetdetails_values,
            "cp_date": $scope.assetdetails_cpdate,
            "oldcatogry": $scope.asset_oldctgry,
            "newcatogry": $scope.asset_newctgry,
            "branch": $scope.asset_branch,
            "status": $scope.assetdetails_status,
            "product_name": $scope.product_name,
            "location": $scope.asset_location,
            "reason": $scope.value_reason,
        }];
    }
     $scope.imgshow = function(id){
        if($scope.asset[id].assetdetails_imagepath != null){
             modalshow('viewmodals');
             $scope.asset_img =$scope.asset[id].assetdetails_imagepath;
         }
     }

$scope.myfun = function(e) {
 var d = new Date($scope.asset_cat);
        var asset_capdate = d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
    $scope.main = $filter('filter')($scope.asset, {
        "product_displayname": e.asset_product,
        "aassetcatchange_cat": e.asset_cat,
        "cap_date": e.asset_capdate,
        "assetlocation_name": e.asset_locationname,
        "branch_name": e.asset_branch,

    });
}
});
app.service('newservice', function($http) {
    this.asset_detail = function(data) {
        var response = $http.post(Appname + "/asset_details/", {
            params: {
                "Sub_Type": "SUMMARY",
                "Type": "CAT_DETAILS",
                "Group": "FA_ASSET_TRAN_SUMMARY",
                "json": data,
            }
        });
        return response;
    }
    this.drop_data = function() {
        var response = $http.post(Appname + "/drop_data/", {});
        return response;
     }
});
</script>
{% endblock %}
</div>