{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Asset Category {% endblock %}
{% csrf_token %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="dateapp" ng-cloak ng-controller="datectrl">
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Asset Category </h4>
            </div>
        </div>
        <div class="row" class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
<!--                        For Asst Cat-->
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="AP Category"
                                md-item-text="item.category_name"
                                md-items="item in apcatsearch_astcat(searchapcat_astcat)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchapcat_astcat"
                                md-selected-item="selectedapcat_astcat"
                                md-selected-item-change="apcatchange_astcat(item)"
                                placeholder="AP Category">
                            <md-item-template>
                                <span md-highlight-text="searchText"> {{item.category_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Category matching
                                "{{searchapcat_astcat}}" were
                                found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-3" style="margin-top:12px">
                        <md-autocomplete
                                md-clear-button="true"
                                md-input-maxlength=126
                                md-item-text="item.subcategory_name"
                                md-items="item in apsubcatsearch_astcat(searchTe)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchTe"
                                md-selected-item="selectedcat"
                                md-selected-item-change="ACselectchange(item)"
                                placeholder="Sub Category">
                            <md-item-template>
                                <span md-highlight-text="searchTe"> {{item.subcategory_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Sub Category matching "{{searchTe}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Life Time</label>
                            <input ng-model="Assetcategory.lifetime" placeholder="Life Time In Months"
                                   type="text"
                            />
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Depreciation Type</label>
                            <md-select md-container-class="popup_select" ng-model="Assetcategory.deptmenttype">
                                <md-option ng-repeat="item in departmenttype" ng-value="item.data">
                                    {{item.data}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>ITC Depreciation Rate </label>
                            <input ng-model="Assetcategory.itcdeptrate" placeholder="ITC Depreciation Rate"
                                   type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>CA Depreciation Rate </label>
                            <input ng-model="Assetcategory.cadeptrate" placeholder="CA Depreciation Rate"
                                   type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Management Depreciation Rate </label>
                            <input ng-model="Assetcategory.mgmtdeptrate" placeholder="Management Depreciation Rate"
                                   type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Barcode </label>
                            <md-select md-container-class="popup_select" ng-model="Assetcategory.barcoderepeat">
                                <md-option ng-repeat="y in barcoderepeat" ng-value="y.id">
                                    {{y.data}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
<!--                        DEP GL-->
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="AP Category"
                                md-item-text="item.category_name"
                                md-items="item in apcatsearch_capitalize(searchapcat_capitalize)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchapcat_capitalize"
                                md-selected-item="selectedapcat_capitalize"
                                md-selected-item-change="apcatchange_capitalize(item)"
                                placeholder="AP Category">
                            <md-item-template>
                                <span md-highlight-text="searchText"> {{item.category_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Category matching
                                "{{searchapcat_capitalize}}" were
                                found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-3">
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="AP SubCategory"
                                md-item-text="item.subcategory_name"
                                md-items="item in apsubcatsearch(searchsubcat_capitalize)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchsubcat_capitalize"
                                md-selected-item="selectedsubcat_capitalize"
                                md-selected-item-change="apsubcatchange_capitalize(item)"
                                ng-disable="nodata_subcat"
                                placeholder="AP SubCategory">
                            <md-item-template>
                                <span md-highlight-text="searchsubcat_capitalize"> {{item.subcategory_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No SubCategory matching
                                "{{searchsubcat_capitalize}}" were
                                found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-3">
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="Mgmt Dep GL"
                                md-input-maxlength=126
                                md-item-text="item.gl_no"
                                md-items="item in querySearchgl(searchgl)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchgl"
                                md-selected-item="selectedgl"
                                md-selected-item-change="selectchange(item)"
                                placeholder="Mgmt Dep GL Number"
                        >
                            <md-item-template>
                                <span md-highlight-text="searchTe"> {{item.gl_no}} </span>
                            </md-item-template>
                            <md-not-found>No GL Number matching "{{searchTe}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
<!--                        Dep reserve GL-->
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="AP Category"
                                md-item-text="item.category_name"
                                md-items="item in apcatsearch_capitalize_dr(searchapcat_capitalize_dr)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchapcat_capitalize_dr"
                                md-selected-item="selectedapcat_capitalize_dr"
                                md-selected-item-change="apcatchange_capitalize_dr(item)"
                                placeholder="AP Category">
                            <md-item-template>
                                <span md-highlight-text="searchText"> {{item.category_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Category matching
                                "{{searchapcat_capitalize_dr}}" were
                                found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-3">
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="AP SubCategory"
                                md-item-text="item.subcategory_name"
                                md-items="item in apsubcatsearch_dr(searchsubcat_capitalize_dr)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchsubcat_capitalize_dr"
                                md-selected-item="selectedsubcat_capitalize_dr"
                                md-selected-item-change="apsubcatchange_capitalize_dr(item)"
                                ng-disable="nodata_subcat"
                                placeholder="AP SubCategory">
                            <md-item-template>
                                <span md-highlight-text="searchsubcat_capitalize_dr"> {{item.subcategory_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No SubCategory matching
                                "{{searchsubcat_capitalize_dr}}" were
                                found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-3">
                        <md-autocomplete
                                md-clear-button="true"
                                md-floating-label="Mgmt Dep Reserve GL"
                                md-input-maxlength=126
                                md-item-text="item.gl_no"
                                md-items="item in querySearchgl_dr(searchglref)"
                                md-min-length=0
                                md-no-cache="true"
                                md-search-text="searchglref"
                                md-selected-item="selectedglref"
                                md-selected-item-change="selectchange(item)"
                                placeholder="Mgmt Dep Res GL Number"
                        >
                            <md-item-template>
                                <span md-highlight-text="searchTe"> {{item.gl_no}} </span>
                            </md-item-template>
                            <md-not-found>No GL Number matching "{{searchTe}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                </div>
            </div>
<!--            Remark Part-->
             <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Remark</label>
                            <input ng-model="Assetcategory.asset_remark" placeholder="Remark"
                                   type="text"/>
                        </md-input-container>
                    </div>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <md-button class="btn btn-info custbutton" ng-click="Save(Assetcategory)"
                           ng-disabled="enable_update">Submit
                    <md-tooltip>Submit</md-tooltip>
                </md-button>
                <md-button class="md-raised" data-dismiss="modal" ng-href="fa_asset_catgry_summary">Back
                    <md-tooltip>close</md-tooltip>
                </md-button>
            </div>
        </div>
    </div>
    {% endverbatim %}
    <script>
var app = angular.module('dateapp', ['ngMaterial', 'ui.bootstrap', 'AppCommon', 'ngMessages'])
    .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
app.controller('datectrl', function($scope, newservice, $window, $mdDialog,$mdDateLocale, $rootScope, $filter) {
var detail = JSON.parse(sessionStorage.getItem('today'));
    var employgid = detail.employee_gid;
    $scope.employgid = detail.employee_gid;
    $scope.entity_gid = detail.entity_gid;
    $scope.Assetcategory=[];
    var td = detail.date
    $scope.cap_date = convertdate(td);
     $mdDateLocale.formatDate = function(date) {
            return $filter('date')(date, "dd-MMM-yyyy");
        };

    $scope.loading = function () {
		$mdDialog.show({
			templateUrl: 'loaderSpinner',
			parent: angular.element(document.body),
			clickOutsideToClose: false
		});
	};
	$scope.loading_popup = function () {
		$mdDialog.show({
			templateUrl: 'loaderSpinner',
			parent: angular.element(document.getElementById('viewmodal')),
			clickOutsideToClose: false
		});
	};
    $scope.endloading = function() {
        $mdDialog.hide();
    };
    $scope.departmenttype = [{
    id: 'A',
    data: 'WDV'
    }, {
        id: 'B',
        data: 'SLM'
    }];

    $scope.departmentrate = [{
        id: 'A',
        data: '22.3'
    }, {
        id: 'B',
        data: '23.3'
    }];
    $scope.barcoderepeat = [{
        id: 'Y',
        data: 'YES'
    }, {
        id: 'N',
        data: 'NO'
    }];

<!--    $scope.subcategory=[{id: 'A', data: 'A'}, {id:'B', data:'B'}, {id:'C', data:'C'}]-->
<!--    loaddata();-->

<!--    function loaddata() {-->
<!--        var data = {-->
<!--            "Params": {-->
<!--                "FILTER": {-->
<!--                },-->
<!--            }-->
<!--        };-->
<!--        var get_asset_cat = newservice.asset_cat(data)-->
<!--        $scope.loading();-->
<!--        get_asset_cat.then(function(result) {-->
<!--            $scope.main = result.data.DATA;-->
<!--            $scope.subcategorydetails = $scope.main;-->
<!--        }).finally($scope.endloading);-->
<!--    }-->

<!--    commented above below - load from ap cat change-->
<!--    $scope.querySearch = gotoexe;-->
<!--        function gotoexe(query) {-->
<!--            var result = $filter('filter')($scope.subcategorydetails, {-->
<!--                'subcategory_name': query-->
<!--            });-->
<!--            return result;-->
<!--        }-->
    $scope.Save = function(Assetcategory) {
         if ($scope.selectedcat) {
                     $scope.sub_cat_asset_gid = $scope.selectedcat.subcategory_gid;
                     $scope.sub_cat_asset = $scope.selectedcat.subcategory_name;
                        }
       var data = {
           "Params": {
                "DETAILS": {
                       "Asset_SubCategory_Gid":$scope.sub_cat_asset_gid,
                       "Asset_SubCatName":$scope.sub_cat_asset,
                       "Asset_LifeTime":Assetcategory.lifetime,
                       "Asset_DepType":Assetcategory.deptmenttype,
                       "Asset_ITC_DepRate":Assetcategory.itcdeptrate,
                       "Asset_CA_DepRate":Assetcategory.cadeptrate,
                       "Asset_MGMT_DepRate":Assetcategory.mgmtdeptrate,
                       "AssetCat_Remarks":Assetcategory.asset_remark,
                       "Asset_MgmtDepGL":$scope.selectedgl.gl_no,
                       "Asset_MgmtDepResGL":$scope.selectedglref.gl_no,
                       "Asset_APCat_NoD":$scope.selectedapcat_capitalize.category_no,
                       "Asset_APSCat_NoD":$scope.selectedsubcat_capitalize.subcategory_no,
                       "Asset_APCat_NoDr":$scope.selectedapcat_capitalize_dr.category_no,
                       "Asset_APSCat_NoDr":$scope.selectedsubcat_capitalize_dr.subcategory_no,
                    },
               }
         }
       var detaildata = {
           "Group": "FA_CATEGORY_SET",
           "Type": "ASSET_CAT",
            "Sub_Type": "MST",
            "Action": "INSERT",
             "Employee_Gid": $scope.employgid,
           "json": data,
       }
       $scope.assetcatgry =[];
       var set_assetcatgry = newservice.Assetcatgryadd(detaildata)
       $scope.loading();
       set_assetcatgry.then(function(result) {
            $scope.set_msg = result.data.MESSAGE;
            if($scope.set_msg == 'SUCCESS' ){
                success_toast();
            }
            else{
                alert($scope.set_msg);
            }
               $window.location.href="fa_asset_catgry_master_plus";
           }).finally($scope.endloading);
   }

<!--   For GL No Load-->
   $scope.querySearchgl = gotoglno;
        function gotoglno(query) {
            var result = $filter('filter')($scope.get_glno_data, {
                'gl_no': query
            });
            return result;
        }

<!--    $scope.get_glno_data = [-->
<!--    {-->
<!--    "gl_no":"123",-->
<!--    }-->
<!--    ]-->

<!--   var get_gl_no = newservice.gl_data($scope.entity_gid)-->
<!--      $scope.loading();-->
<!--        get_gl_no.then(function(result) {-->

<!--            $scope.main = result.data.DATA;-->
<!--            $scope.get_glno_data = $scope.main;-->
<!--        }).finally($scope.endloading);-->


<!--   For GL No DR Load-->
   $scope.querySearchgl_dr = gotoglno_dr;
        function gotoglno_dr(query) {
            var result = $filter('filter')($scope.get_glno_data_dr, {
                'gl_no': query
            });
            return result;
        }

<!--AP cat for Asst Cat-->

 loadapcat_astcat();
    function loadapcat_astcat(){
        var data = {
            "Type": "AP_Category_Astcat"
        }
        var get_drop = newservice.get_common_drop(data)
        get_drop.then(function(result) {
            $scope.main = result.data.DATA;
            $scope.ap_category_astcat = $scope.main;
        });
    }
    $scope.apcatsearch_astcat = gotoapcat_astcat;
        function gotoapcat_astcat(query) {
            var result = $filter('filter')($scope.ap_category_astcat, {
                'category_name': query
            });
        return result;
    }

    $scope.apsubcatchange = function(v){
        $scope.glno = v.subcategory_glno;
    }
    $scope.nodata_subcat = true;
    $scope.apcatchange_astcat = function(v){
        var data = {
            "Type": "AP_Subcategory",
            "Categorygid":v.category_gid,

        }
        var get_drop = newservice.get_common_drop(data)
        get_drop.then(function(result) {
            $scope.main = result.data.DATA;
            $scope.ap_subacatgory_astcat = $scope.main;
            $scope.nodata_subcat = false;

        });
    }
    $scope.apsubcatsearch_astcat = gotoapsubcat_astcat;
        function gotoapsubcat_astcat(query) {
            var result = $filter('filter')($scope.ap_subacatgory_astcat, {
                'subcategory_name': query
            });

        return result;
    }


<!--    Master ap cat sub cat DEP GL-->

    loadapcat_capitalize();
    function loadapcat_capitalize(){
        var data = {
            "Type": "AP_Category"
        }
        var get_drop = newservice.get_common_drop(data)
        get_drop.then(function(result) {
            $scope.main = result.data.DATA;
            $scope.ap_category = $scope.main;
        });
    }
    $scope.apcatsearch_capitalize = gotoapcat;
        function gotoapcat(query) {
            var result = $filter('filter')($scope.ap_category, {
                'category_name': query
            });
        return result;
    }

    $scope.apsubcatchange = function(v){
        $scope.glno = v.subcategory_glno;
    }
    $scope.nodata_subcat = true;
    $scope.apcatchange_capitalize = function(v){

        var data = {
            "Type": "AP_Subcategory",
            "Categorygid":v.category_gid,

        }
        var get_drop = newservice.get_common_drop(data)
        get_drop.then(function(result) {
            $scope.main = result.data.DATA;
            $scope.ap_subacatgory = $scope.main;
            $scope.nodata_subcat = false;

        });
    }
    $scope.apsubcatsearch = gotoapsubcat;
        function gotoapsubcat(query) {
            var result = $filter('filter')($scope.ap_subacatgory, {
                'subcategory_name': query
            });

        return result;
    }

<!--    Master ap cat sub cat DEP Res GL-->

    loadapcat_capitalize_dr();
    function loadapcat_capitalize_dr(){
        var data = {
            "Type": "AP_Category"
        }
        var get_drop = newservice.get_common_drop(data)
        get_drop.then(function(result) {
            $scope.main_dr = result.data.DATA;
            $scope.ap_category_dr = $scope.main_dr;
        });
    }
    $scope.apcatsearch_capitalize_dr = gotoapcat_dr;
        function gotoapcat_dr(query) {
            var result = $filter('filter')($scope.ap_category_dr, {
                'category_name': query
            });
        return result;
    }

    $scope.apsubcatchange_dr = function(v){
        $scope.glno = v.subcategory_glno;
    }
    $scope.nodata_subcat = true;
    $scope.apcatchange_capitalize_dr = function(v){
        var data = {
            "Type": "AP_Subcategory",
            "Categorygid":v.category_gid,
        }
        var get_drop = newservice.get_common_drop(data)
        get_drop.then(function(result) {
            $scope.main = result.data.DATA;
            $scope.ap_subacatgory_dr = $scope.main;
            $scope.nodata_subcat = false;
        });
    }
    $scope.apsubcatsearch_dr = gotoapsubcat_dr;
        function gotoapsubcat_dr(query) {
            var result = $filter('filter')($scope.ap_subacatgory_dr, {
                'subcategory_name': query
            });

        return result;
    }

<!--Ends-->

<!--Sub cat Change.-->
 $scope.apsubcatchange_capitalize = function(subcat_changed){

<!--    Thsi is to load Gl no-->
    $scope.get_glno_data = [
    {
    "gl_no":subcat_changed.subcategory_glno,
    }
    ]

 }
<!--Sub cat Change DR.-->
 $scope.apsubcatchange_capitalize_dr = function(subcat_changed){
    <!--    Thsi is to load Gl DR no-->
    $scope.get_glno_data_dr = [
    {
    "gl_no":subcat_changed.subcategory_glno,
    }
    ]
 }


});
app.service('newservice', function($http) {

    this.Assetcatgryadd = function(detaildata) {
       var response = $http.post(Appname + "/fa_category/", detaildata);
       return response;
       }

       this.asset_cat = function(data) {
        var response = $http.post(Appname + "/fa_category_get/", {
            params: {
                "Sub_Type": "SUB_CATEGORY",
                "Type": "CATEGORY",
                "Group": "FA_ASSET_CATEGORY",
                "json": data,
            }
        });
        return response;
    }

    this.gl_data = function(entity) {
        var response = $http.post(Appname + "/glno_data/", {
         params: {
               "Entity_Gid": entity,
            }
        });
        return response;
     }

      this.get_common_drop = function(data) {
        var response = $http.post(Appname + "/commondata_get/",data);
        return response;
    }

});






    </script>
    {% endblock %}
