{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Asset Category Change {% endblock %}
{% csrf_token %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="dateapp" ng-cloak ng-controller="datectrl">
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Asset Category Change </h4>
            </div>
        </div>
        <div class="row" class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Asset Id</label>
                            <input maxlength="3" ng-change="myfun(add)" ng-model="add.asset_id" numbers-only
                                   placeholder="Asset id"
                                   type="text"/>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Asset Value</label>
                            <input ng-change="myfun(add)" ng-model="add.asset_value" placeholder="Asset Value"
                                   type="text"
                            />
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Cap Date</label>
                            <md-datepicker md-hide-icons="calendar" placeholder="Asset Capdate" md-max-date="maxDate"
                                           ng-change="myfun(add)"
                                           md-open-on-focus
                                           ng-model="add.asset_capdate"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Location Name</label>
                            <input maxlength="30" ng-change="myfun(add)" ng-model="add.locationname"
                                   placeholder="Location"
                                   type="text"/>
                        </md-input-container>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Branch</label>
                            <input ng-change="myfun(add)" ng-model="add.asset_branch" placeholder="Branch"
                                   type="text"/>
                        </md-input-container>
                    </div>

                    <div class="col-md-3">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-click="myfun(add)">
                            <md-icon>search</md-icon>
                            <md-tooltip>Search</md-tooltip>
                        </md-button>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Remarks</label>
                            <input type="text" input maxlength="120" ng-change="Check(asset_remarks)"
                                   ng-model="asset_remarks"/>
                            <p ng-show="test">The Special Characters except 'Comma', 'Fullstop' and 'Exclamation Mark'
                                not accepted.</p>


                            <!--                            <input maxlength="120" ng-change="myfun()" ng-model="asset_remarks"-->
                            <!--                                  ng-pattern-restrict=" ^[a-zA-Z _\\\/.,!?'-]+$"-->
                            <!-- placeholder="Remarks" type="text"required />-->
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12">
                            <md-input-container class="md-block inputcontainer">
                                <label> Category Change </label>
                                <md-select md-container-class="popup_select"
                                           ng-model="emp.selectedItem"
                                >
                                    <md-option ng-repeat="item in catgry"
                                               ng-selected="item.asset_cat_gid "
                                               ng-value="item.assetcat_gid ">{{
                                        item.assetcat_subcatname }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                        <thead class="header">
                        <th class="text-center" scope="col">S.No</th>
                        <th class="text-center" scope="col"><a
                                ng-click="orderByField='asset_id'; reverseSort = !reverseSort"
                                style="color:white">Asset Id
                            <span ng-show="orderByField == 'asset_id'"><span></span></span>
                        </a></th>
                        <th scope="col" class="text-center"><a
                                ng-click="orderByField='branch'; reverseSort = !reverseSort"
                                style="color:white">Branch
                            <span ng-show="orderByField == 'branch'"><span></span></span>
                        </a></th>
                        <th class="text-center" scope="col"><a
                                ng-click="orderByField='asset_value'; reverseSort = !reverseSort"
                                style="color:white">Asset Value
                            <span ng-show="orderByField == 'asset_value'"><span></span></span>
                        </a></th>
                        <th scope="col" class="text-center"><a
                                ng-click="orderByField='asset_prodcut'; reverseSort = !reverseSort"
                                style="color:white">Product
                            <span ng-show="orderByField == 'asset_product'"><span></span></span>
                        </a></th>
                        <!--                       <th scope="col" class="text-center"><a-->
                        <!--                            ng-click="orderByField='asset_cat'; reverseSort = !reverseSort"-->
                        <!--                            style="color:white">Asset Category-->
                        <!--                        <span ng-show="orderByField == 'asset_cat'"><span></span></span>-->
                        <!--                    </a></th>-->
                        <!--                        <th scope="col" class="text-center"><a-->
                        <!--                            ng-click="orderByField='asset_code'; reverseSort = !reverseSort"-->
                        <!--                            style="color:white">Capitalization date-->
                        <!--                        <span ng-show="orderByField == 'asset_code'"><span></span></span>-->
                        <!--                    </a></th>-->
                        <th scope="col" class="text-center"><a
                                ng-click="orderByField='location'; reverseSort = !reverseSort"
                                style="color:white">Location Floor
                            <span ng-show="orderByField == 'location'"><span></span></span>
                        </a></th>
                        <th scope="col" class="text-center"><a
                                ng-click="orderByField='locationname'; reverseSort = !reverseSort"
                                style="color:white">Location Name
                            <span ng-show="orderByField == 'locationname'"><span></span></span>
                        </a></th>
                        <!--                        <th scope="col" class="text-center"><a-->
                        <!--                            ng-click="orderByField='oldcat'; reverseSort = !reverseSort"-->
                        <!--                            style="color:white">Old Category-->
                        <!--                        <span ng-show="orderByField == 'oldcat'"><span></span></span>-->
                        <!--                    </a></th>-->

                        <th class="text-center" scope="col"><a
                                ng-click="orderByField='cap_date'; reverseSort = !reverseSort"
                                style="color:white">Capitalization Date
                            <span ng-show="orderByField == 'cap_date'"><span></span></span>
                        </a></th>
                        <th scope="col" class="text-center"><a
                                ng-click="orderByField='newcat'; reverseSort = !reverseSort"
                                style="color:white"> Category
                            <span ng-show="orderByField == 'newcat'"><span></span></span>
                        </a></th>
                        <th scope="col" class="text-center"><a
                                ng-click="orderByField='request'; reverseSort = !reverseSort"
                                style="color:white">Asset Request
                            <span ng-show="orderByField == 'request'"><span></span></span>
                        </a></th>
                        <th scope="col" class="text-center"><a
                                ng-click="orderByField='status'; reverseSort = !reverseSort"
                                style="color:white">Status
                            <span ng-show="orderByField == 'status'"><span></span></span>
                        </a></th>

                        <th class="text-center" scope="col">Select
                            <input ng-click="selectall()"
                                   ng-model="checkall" ng-checked="checkall"
                                   type="checkbox">
                        </thead>
                        <tbody>
                        <tr ng-repeat="emp in asset.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:orderByField:reverseSort">
                            <td class="text-right">
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td class="text-right" ng-click="imgshow($index)">{{emp.assetdetails_id}}</td>
                            <td class="text-left" data-ng-repeat="view in emp.lj_default_details">{{view.branch_name}} - {{view.branch_code}}</td>
                            <td class="text-right">{{emp.assetdetails_value | number :
                                fractionSize}}
                            </td>
                            <td class="text-left" ng-repeat="view in emp.lj_default_details">{{view.product_name}}</td>
                            <td class="text-left" ng-repeat="view in emp.lj_default_details">{{view.location_floor}}
                            </td>
                            <td class="text-left" ng-repeat="view in emp.lj_default_details">{{view.location_name}}</td>

                            <!--                             <td class="text-left">{{emp.assetcatchange_cat}}</td>-->

                            <!--                            <td class="text-left">{{emp.assetlocation_floor}}</td>-->
                            <!--                            <td class="text-left">{{emp.assetlocation_name}}</td>-->
                            <!--                             <td class="text-left">{{emp.assetcatchange_oldcat}}</td>-->
                            <!--                            <td class="text-left">{{emp.branch_name}}</td>-->
                            <td class="text-right">{{emp.assetdetails_capdate | date:'dd-MMM-yyyy'}}</td>
                            <td class="text-left" ng-repeat="view in emp.lj_default_details">{{view.asset_cat_name}}
                            </td>
                            <td class="text-left">{{emp.assetdetails_requestfor}}</td>
                            <td class="text-left">{{emp.assetdetails_requeststatus}}</td>

                            <td class="text-center" style="width:10px;">
                                <input
                                        ng-click="selectEntity()"
                                        ng-model="emp.isChecked" ng-checked="isChecked"
                                        type="checkbox"> &nbsp &nbsp &nbsp
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <ul boundary-links="true" class="pagination-sm cust_pagination"
                                    items-per-page="itemsPerPage"
                                    max-size="maxSize"
                                    ng-model="currentPage" total-items="pageLength"
                                    uib-pagination></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <md-button class="btn btn-info custbutton" ng-click="Save(emp)"
                               ng-disabled="enable_update">Submit
                        <md-tooltip>Submit</md-tooltip>
                    </md-button>
                    <md-button class="md-raised" data-dismiss="modal">Back
                        <md-tooltip>Close</md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="viewmodal" role="dialog"
             style="height:auto;width:100%" tabindex="-1">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <strong>Asset Image</strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="modal-body popup-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="text-center">
                                    <img src="{{ asset_img }}" style="width:400px;height:400px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
<script>
var app = angular.module('dateapp', ['ngMaterial', 'ui.bootstrap', 'AppCommon', 'ngMessages'])
    .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
app.controller('datectrl', function($scope, newservice, $window, $mdDialog,$mdDateLocale, $rootScope, $filter) {
$scope.Check= function(x) {
        var reg = /^[^`~@#$%\^&*()_+={}|[\]\\:';"<>?/]*$/;

              if (!x.match(reg)) {
              $scope.asset_remarks = x.substring(0, x.length-1);
              $scope.test=true;

              }
              else
              {
               $scope.test=false;
              }
      };
var detail = JSON.parse(sessionStorage.getItem('today'));
    $scope.employgid = detail.employee_gid;
    $scope.entity_gid = detail.entity_gid;
    $scope.orderByField = '';
    $scope.maxSize = 3;
    $scope.itemsPerPage = 10;
    $scope.currentPage = 1;
    $scope.asset_data = [];
    $scope.asset = [];
    $scope.get_drop_data = [];
    $scope.drop_data =[];
    $scope.enable_update = true;
    var td = detail.date
    $scope.cap_date = convertdate(td);
    $scope.cpdate_change = convertdate(td);

    $scope.selectall = function () {
        if($scope.checkall == true){
            for (var i = 0; i < $scope.asset.length; i++) {
			    $scope.asset[i].isChecked = true;
			    $scope.enable_update = false;
			    $scope.enable_reject = false;
		}
		}
		else if ($scope.checkall == false){
            for (var i = 0; i < $scope.asset.length; i++) {
			    $scope.asset[i].isChecked = false;
		}
		     $scope.enable_update = true;
		     $scope.enable_reject = true;
        }
	};

    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };

    $scope.endloading = function() {
        $mdDialog.hide();
    };

    $scope.myfun = function(e) {
        $scope.asset = $filter('filter')($scope.main, {
            "assetdetails_id": e.asset_id,
            "assetdetails_value": e.asset_value,
            "product_name":e.asset_product,
            "location_name": e.locationname,
            "branch_name": e.asset_branch,
        });


    };
$scope.catgry = [];
    var get_drop = newservice.drop_data()
        get_drop.then(function(result) {
            $scope.catgry = result.data.DATA;
<!--            $scope.get_drop_data = $scope.main;-->

        });

        $scope.loadUsers = function() {
            return $timeout(function() {

                $scope.users = $scope.get_drop_data;

            }, 650);
        };


    loaddata();
    function loaddata() {
        var data = {
            "Params": {
                "FILTER": {
                    "Asset_Id": "",
                    "Asset_Value": "",
                    "Cap_Date": "",
                    "Asset_Code": "",
                    "Branch": "XXX",
                    "Asset_Group":"N"

                },
            }
        };

        var get_asset = newservice.asset_detail(data)
        get_asset.then(function(result) {
            $scope.loading();
            $scope.main = result.data.DATA;
            $scope.asset = $scope.main;
<!--        $scope.pageLength = $scope.asset.length;-->
            $scope.Totalpages = Math.ceil($scope.asset.length / $scope.itemsPerPage);
            $scope.pageLength = $scope.asset.length;
        }).finally($scope.endloading);

    }


$scope.selectEntity = function() {
        for (var i = 0; i < $scope.asset.length; i++) {
            if ($scope.asset[i].isChecked == true) {
                $scope.enable_update = false;
                return
            }
        }
    };
$scope.imgshow = function(id){

     modalshow('viewmodal');
     $scope.asset_img =$scope.asset[id].assetdetails_imagepath;
    }

$scope.Save = function(entity) {

        $scope.enable_update = true;
        $scope.cpdata = [];
           for (i = 0; i < $scope.asset.length; i++) {
                if ($scope.asset[i].isChecked) {
                       var datas_asset =($scope.asset[i].assetdetails_gid).toString();

                       $scope.cpdata.push(datas_asset);
                     }
                   }


            var data =
                    {
                    "Params": {
                    "DETAILS": {
                    "ASSET": {
                    "Asset_Gid": $scope.cpdata,
                    "AssetDetails_NewCat":$scope.emp.selectedItem,
                    "AssetDetails_NewCat_Gid": $scope.emp.selectedItem,
                    "Asset_Group_Id":""
                    }
                     },
                     "CHANGE": {},
                     "STATUS": {"Status":"TRANSFER",
                     "Remark": $scope.asset_remarks,
                   },
                }
             }
               var details = {
                   "Group": "FA_ASSET_TRAN",
                   "Action": "UPDATE",
                   "Type": "ASSET_CAT",
                   "Sub_Type": "MAKER",
                   "Employee_Gid": $scope.employgid,
                   "json": data,
               }
       $scope.main=[];
       var datechange = newservice.catchange(details)
       datechange.then(function(result) {
               $scope.main = result.data.MESSAGE;
               //alert(JSON.stringify($scope.main));
               $window.location.href= "fa_asset_catgry_change";

               if($scope.emp.selectedItem==undefined){
               alert('Please select category');
               return false;
               }

               if($scope.asset_remarks==undefined){
               alert('Please select remarks');
               return false;
               }


               if($scope.main =="SUCCESSFULLY INSERTED"){
               alert(JSON.stringify($scope.main));

               }
               else{
               alert(JSON.stringify($scope.main))
               }
           }),
           function(err) {
               alert('no data');
               };
   }

});

app.service('newservice', function($http) {
    this.asset_detail = function(data) {
        var response = $http.post(Appname + "/asset_details/", {
            params: {
                "Sub_Type": "SEARCH",
                "Type": "ASSET_DETAILS",
                "Group": "FA_ASSET_TRAN_SUMMARY",
                "json": data,
            }
        });
        return response;
    }
    this.drop_data = function() {
        var response = $http.post(Appname + "/drop_data/", {});
        return response;
    }

    this.catchange = function(details) {
        var respons = $http.post(Appname + "/cat_change/",
            details
        );
        return respons;
    }

    this.asset_filter = function(filter) {
        var response = $http.post("", {
            params: {
                "json": filter,
            }
        });

        return response;
    }
});




</script>
{% endblock %}
