<!--Image start-->
{% verbatim %}
<div aria-hidden="" aria-labelledby="exampleModalLabel"
     class="modal fade"
     data-backdrop="" data-keyboard="false"
     id="viewmodals">
    <div class="modal-dialog modal-lg modal-style" role="document">
        <div class="modal-content">
            <div class="header">
                <div class="modal-header popup-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <strong>Asset Image</strong>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
            </div>

            <div class="body">
                <div class="modal-body popup-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="text-center" ng-repeat="img in asset_img">
                                <img src="{{ img.File_path }}" style="width:880px;height:500px"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}