<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>

  #mdl1_present td,
  th {
      padding: 10px;
  }
  .supp_ddl{
      text-align:left;
      padding: 10px;
  }
  .subtr {
        color: black;
        align-content: center;
        text-align: center;
         line-height:12px;
    }
tr,th{
    line-height:12px;
}
</style>
</head>
<body>
<div>
<b>SALE ORDER</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <hr>
            <br>
            <b>Bill To</b>
            <br><span style="margin-right:-12px" class="ng-binding"> &nbsp; &nbsp;&nbsp;&nbsp;{{supplier_name}}<br>
                                                                        &nbsp;&nbsp;&nbsp; &nbsp;{{address_1}},{{address_2}},{{address_3}}-{{address_pincode}}<br>
                                                                        &nbsp;&nbsp;&nbsp; &nbsp; <br>
                                                                        &nbsp;&nbsp;&nbsp; &nbsp; <br>
                                                             </span>
        <b><i>Order Indent(s):</i></b>
            <table border="1" style="font-family: Bookman Old Style; width:100%;">
                <tr class="grid" style="text-align: -webkit-center;background-color:#b9b3b3">
                    <th>NO</th>
                    <th>Description of Goods</th>
                    <th>QTY</th>
                    <th>UNIT Price</th>
                    <th>HSN</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th>
                    <th>Amount</th>
                </tr>
                {% for product in product_detail %}
                <tr class="subtr ng-scope" style="height: 40px;">
                    <td class="ng-binding"> {{ forloop.counter }}</td>
                    <td class="ng-binding" width="12%">{{product.product_name}}</td>
                    <td class="ng-binding">{{product.podetails_qty}}</td>
                    <td class="ng-binding">{{product.uom_name}}</td>
                    <td class="ng-binding" width="6%">{{product.podetails_unitprice}}</td>
                    <td class="ng-binding" width="6%">{{product.podetails_totalamount}}</td>
                    <td class="ng-binding" width="10%">{{PO_ADI}} %</td>
                    <td class="ng-binding">{{product.podetails_amcvalue}} %</td>

                    {% for addres in product.address %}
                                          <td class="ng-binding" align="center">
                                            {{addres.address_1}}<br>
                                              {{addres.address_2}}<br>
                                              {{addres.address_3}}<br>
                                              {{addres.address_pincode}}<br>
                                              <b>GST:{{addres.branch_metadatavalue}}</b>
                                          </td>
                                         {%endfor%}
                </tr>
                <tr>
                                        <td colspan="5" align="right">
                                            <b> Less buyback value</b>
                                        </td>
                                        <td align="right">
                                            <b>NA</b></td>
                                    </tr>
                <tr style="text-align: -webkit-left;background-color:#b9b3b3;">
                    <td colspan="5" align="right">
                        <b> Total Order value</b>
                    </td>
                    <td class="ng-binding" align="right">
                        <b>{{poheader_amount}}</b>
                    </td>
                                                                </tr>
                {% endfor %}
            </table>
    <p>*-(On order acceptance-On delivery-On installation),**- Delivery Period</p>
<br>
            <table border="1" style="font-family: Bookman Old Style; width:100%;">
                <tr align="center">
                    <td colspan="3" align="center"><span >I accept the order terms and conditions</span>
                        <br>
                        <br>
                        <br>
                        FOR <b class="ng-binding">{{supplier_name}}</b>
                    </td>
                    <td colspan="3" align="center">
                        <b>For THE VSOLV</b>
                        <br>
                        <br>
                        <br>
                        Authorized Signatory
                    </td>
                </tr>

</table>

<hr>
    <p>CENTRAL OFFICE - IT</p>
</div>
</body>
</html>