{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Asset Transfer {% endblock %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1">
        <div ng-app="myapp" ng-controller="myctrl" ng-cloak>
            <div class="row">
                <div class="row-header col-lg-12 col-sm-12">
                    <h4> Asset Transfer Maker Summary </h4>
                </div>
            </div>
            <div class="row" class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Asset Id</label>
                                <input maxlength="30" ng-change="" ng-model="assetdetails_id" numbers-only
                                       placeholder="Asset id"
                                       type="text"/>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Asset Value</label>
                                <input ng-change="" ng-model="assetdetails_value" placeholder="Asset Value"
                                       type="text"
                                />
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Cap Date</label>
                                <md-datepicker md-hide-icons="calendar" md-max-date="maxDate" md-open-on-focus
                                               ng-change="selectdate()"
                                               ng-model="assetdetails_cpdate"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <label>Category</label>
                            <md-autocomplete
                                    md-no-cache="true"
                                    md-selected-item="selectedcat"
                                    md-search-text="searchcat"
                                    md-selected-item-change="selectchange(item)"
                                    md-items="item in catsearch(searchcat)"
                                    md-item-text="item.assetcat_subcatname"
                                    md-min-length=0
                                    placeholder="Category">
                                <md-item-template>
                                    <span md-highlight-text="searchText"> {{item.assetcat_subcatname}} </span>
                                </md-item-template>
                                <md-not-found>
                                    No Category matching "{{searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Branch</label>
                                <input ng-change="" ng-model="assetdetails_branch" placeholder="Branch"
                                       type="text"/>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <md-button class="md-fab md-mini md-primary custbutton" ng-click="search()">
                                <md-icon>search</md-icon>
                                <md-tooltip>Search</md-tooltip>
                            </md-button>
                        </div>
                        <div class="col-md-1">
                            <md-button class="md-fab md-mini md-primary custbutton" ng-href="fa_transferplus">
                                <md-icon>add</md-icon>
                                <md-tooltip>Transfer Asset</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <!--                            <div ng-hide="headeronly">-->
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                        <thead class="header">

                        <th scope="col" class="text-center">S.No</th>
                        <th scope="col" class="text-center"><a
                                ng-click="orderByField='asset_value'; reverseSort = !reverseSort"
                                style="color:white">Asset Transaction Id
                            <span ng-show="orderByField == 'asset_value'"><span></span></span>
                        </a></th>
                        <th scope="col" class="text-center">Product</th>
                        <th scope="col" class="text-center">Category Name</th>
                        <th scope="col" class="text-center">Capitalization Date</th>
                        <th scope="col" class="text-center">Asset Value</th>
                        <th scope="col" class="text-center">Asset From</th>
                        <th scope="col" class="text-center">Asset To</th>
                        <th scope="col" class="text-center">Location</th>
                        <th scope="col" class="text-center">Reason</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Transfer Status</th>
                        <th scope="col" class="text-center">Select</th>
                        </thead>

                        <tbody>
                        <tr ng-repeat="ast in lst_summary.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:orderByField:reverseSort">
                            <td class="text-center">
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td class="text-center" ng-click="imgshow($index)">{{ast.assetdetails_id}}</td>
                            <td class="text-center">{{ast.product_displayname}}</td>
                            <td class="text-center" ng-repeat="view in ast.lj_default_details">{{view.asset_cat_name}}
                            </td>
                            <td class="text-center">{{ast.cap_date}}</td>
                            <td class="text-center">{{ast.assettfr_value| number : fractionSize}}</td>
                            <td class="text-center">{{ast.branch_name_from}} - {{ast.branch_code_fr}}</td>
                            <td class="text-center">{{ast.branch_name_to}} - {{ast.branch_code_to}}</td>
                            <td class="text-center">{{ast.assetlocation_name}}</td>
                            <!--                            <td class="text-center">{{ast.assettfr_reason}}</td>-->
                            <td class="text-center" ng-click="reason($index)"><p style="color:green;">Reason</p></td>
                            <td class="text-center">{{ast.assetdetails_status}}</td>
                            <td class="text-center">{{ast.assettfr_status}}</td>
                            <td class="text-center"><span class="editlink" ng-click="viewdet(ast)">View</span></td>
                        </tr>
                        <tr ng-show="data_len ==  0">
                            <td class="warning" colspan="13">
                                No Records Found.
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="11">
                                <ul boundary-links="true" class="pagination-sm cust_pagination"
                                    items-per-page="itemsPerPage"
                                    max-size="maxSize"
                                    ng-model="currentPage" total-items="pageLength"
                                    uib-pagination></ul>
                            </td>
                            <td colspan="2" class="text-left">
                                            <span>Total Count:<br/> <b
                                                    class="text-centre"> {{lst_summary.length}}</b></span>
                            </td>

                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!--Reason Show-->
            <div class="text-center" ng-show="reasons">
                <md-dailog>
                    <md-content>
                        <h4>
                            Reason : {{assettfr_reason}}
                        </h4>
                        <h4>
                            Checker Reason : {{checker_reason}}
                        </h4>
                    </md-content>
                </md-dailog>
            </div>
            <!--popup page start-->
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
                 data-keyboard="false"
                 id="viewmodal" role="dialog"
                 style="height:auto;width:100%" tabindex="-1">
                <div class="modal-dialog modal-lg modal-style" role="document">
                    <div class="modal-content">
                        <div class="header">
                            <div class="modal-header popup-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <strong>Asset Details</strong>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div class="body">
                            <div class="modal-body popup-body">
                                <div class="row">
                                    <div class="row table-responsive">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                                                <thead class="header">
                                                </thead>
                                                <tbody ng-repeat="view in asset_data">
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>Asset ID</label>
                                                    </td>
                                                    <td class="text-center" style="width:100px">{{view.asset_id}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>Product
                                                        Name</label></td>
                                                    <td class="text-center" style="width:100px">{{view.product_name}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>Catagory</label>
                                                    </td>
                                                    <td class="text-center" style="width:100px">{{view.catogry}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>Capitalization
                                                        date</label>
                                                    </td>
                                                    <td class="text-center" style="width:100px">{{view.cp_date}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>Asset
                                                        Value</label></td>
                                                    <td class="text-center" style="width:100px">{{view.asset_values}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>TO Branch</label>
                                                    </td>
                                                    <td class="text-center" style="width:100px">{{view.branch_to}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>From
                                                        Branch</label>
                                                    </td>
                                                    <td class="text-center" style="width:100px">{{view.branch_from}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>Location</label>
                                                    </td>
                                                    <td class="text-center" style="width:100px">{{view.location}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>Reason</label>
                                                    </td>
                                                    <td class="text-center" style="width:100px">{{view.reason}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="width:100px"><label>Status</label>
                                                    </td>
                                                    <td class="text-center" style="width:100px">{{view.status}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <md-button class="md-raised" data-dismiss="modal">Back
                                    <md-tooltip>close</md-tooltip>
                                </md-button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Image start-->
        <div ng-include="'fa_image_popup'"></div>
        </div>
    </div>
</div>
{% endverbatim %}
<script>
var app = angular.module('myapp', ['ngMaterial', 'ngMessages', 'ui.bootstrap'])
    .config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
app.controller('myctrl', function($scope, first_service, $mdDialog, $window, $filter) {
var detail = JSON.parse(sessionStorage.getItem('today'));
    $scope.employgid = detail.employee_gid;
    $scope.entity_gid = detail.entity_gid;
    $scope.orderByField = '';
    $scope.maxSize = 3;
    $scope.itemsPerPage = 10;
    $scope.currentPage = 1;
    $scope.lst_summary = [];
    $scope.asset_data = [];
    $scope.reasons = false;
    $scope.data_len = 0;
    $scope.enable_update = true;
    $scope.set_branch = [];
    $scope.get_drop = [];
    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };
    $scope.endloading = function() {
        $mdDialog.hide();
    };
    $scope.selectchange = function() {
        if($scope.selectedcat == undefined ){
           $scope.catagry = "";
            }
        else{
            $scope.catagry = $scope.selectedcat.assetcat_subcatname;
            }
    }
    $scope.selectdate = function() {
        $scope.assetdetails_capdate = $filter('date')(new Date($scope.assetdetails_cpdate),'yyyy-MM-dd');
    }
    $scope.search = function() {
        loaddata();
    }
loaddata();
    function loaddata() {
        $scope.loading();
        var data = {
            "Params": {
                "FILTER": {
                    "Asset_Id": $scope.assetdetails_id,
                    "Asset_Value": $scope.assetdetails_value,
                    "Cap_Date": $scope.assetdetails_capdate,
                    "Asset_Code": $scope.catagry,
                    "Branch": $scope.assetdetails_branch,
                    "Asset_Group":"N"

                },
            }
        };
        var get_asset = first_service.asset_detail(data)
        get_asset.then(function(result) {

            $scope.main = result.data.DATA;
            if(result.data.MESSAGE == "NOT_FOUND" ){
                $scope.data_len = 0;
            }
            $scope.lst_summary = $scope.main;
            $scope.data_len = $scope.lst_summary.length;
            $scope.pageLength = $scope.lst_summary.length;
            $scope.Totalpages = Math.ceil($scope.lst_summary.length / $scope.itemsPerPage);
            $scope.pageLength = $scope.lst_summary.length;
        }).finally($scope.endloading);
  }
  loadcat();
    function loadcat(){
        var get_drop = first_service.drop_data()
        get_drop.then(function(result) {

            $scope.main = result.data.DATA;
            $scope.get_drop_data = $scope.main;

        });
    }
    $scope.catsearch = gotocat;
        function gotocat(query) {
            var result = $filter('filter')($scope.get_drop_data, {
                'assetcat_subcatname': query
            });
            return result;
        }
    $scope.reason = function(id){
            $scope.assettfr_reason = $scope.lst_summary[id].assettfr_reason ;
            var checker = $scope.lst_summary[id].lj_checker_data ;
            $scope.checker_reason = checker[0].checker_remarks ;
            $scope.reasons = true;
    }
    $scope.imgshow = function(id){
    if($scope.lst_summary[id].assetdetails_imagepath != null){
         modalshow('viewmodals');
         $scope.asset_img =$scope.lst_summary[id].assetdetails_imagepath;
     }
    }
     $scope.viewdet = function(e) {
        var view = e.lj_default_details[0];
        $scope.assetdetails_id = e.assettfr_newassetdetailsid;
        $scope.assetdetails_values = e.assettfr_value;
        $scope.assetdetails_cpdate = e.cap_date;
        $scope.value_reason = e.assettfr_reason;
        $scope.assetdetails_status = e.assettfr_status;
        $scope.asset_ctgry = view.asset_cat_name;
        $scope.product_name = e.product_displayname;
        $scope.asset_location = e.assetlocation_name;
        $scope.asset_tobranch = e.branch_name_to;
        $scope.asset_frombranch = e.branch_name_from;
        modalshow('viewmodal');
        $scope.asset_data = [{
            "asset_id": $scope.assetdetails_id,
            "asset_values": $scope.assetdetails_values,
            "cp_date": $scope.assetdetails_cpdate,
            "catogry": $scope.asset_ctgry,
            "branch_to": $scope.asset_tobranch,
            "branch_from": $scope.asset_frombranch,
            "status": $scope.assetdetails_status,
            "product_name": $scope.product_name,
            "location": $scope.asset_location,
            "reason": $scope.value_reason,
        }];
}

 $scope.myfunc = function() {
    $scope.lst_summary = $filter('filter')($scope.main, {
            "assetdetails_id": $scope.as_id,
            "assetdetails_value": $scope.as_val,
            "assetdetails_capdate": $scope.datee,
            "assetdetails_gid": $scope.as_code,
            "assetdetails_branchgid": $scope.as_branch,

        });

    };
});

app.service('first_service', function($http) {
    this.asset_detail = function(dta) {
        var response = $http.post(Appname + "/asset_details/", {
            params: {
               "Group" :  "FA_ASSET_TRAN_SUMMARY",
               "Type" : "TRANSFER_DETAILS",
               "Sub_Type" : "SUMMARY",
               "json" : dta,
            }
        });
        return response;
    }
    this.drop_data = function() {
        var response = $http.post(Appname + "/drop_data/", {});
        return response;
     }
});



</script>
{% endblock %}
