{% verbatim %}
<div aria-hidden="True" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="md_present"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header" style="z-index: 99000 !important">
                <h5 class="modal-title" id="exampleModalLabel">
                    Product Type Details
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body popup-body">
                <div class="row">
                    <div class="col-md-3">

                        <md-input-container class="md-block inputcontainer " class="modal-body popup-body">
                            <label>Product Name</label>
                            <md-select data-md-container-class="selectSelectHeader" md-container-class="popup_select"
                                       ng-model="prodval">
                                <md-select-header class="select-header">
                                    <input class="header-searchbox md-text"
                                           ng-model="searchTerm1"
                                           placeholder="Select Product Name"
                                           type="search">
                                </md-select-header>
                                <md-option md-search-text="searchTerm1" ng-repeat="c in prodname | filter:searchTerm1"
                                           value="{{c.product_gid}}">{{c.product_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer " class="modal-body popup-body">
                            <label>Product Mastercarton</label>
                            <md-select md-container-class="popup_select" data-md-container-class="selectSelectHeader"
                                       ng-model="prodval2">
                                <md-select-header class="select-header">
                                    <input class="header-searchbox md-text"
                                           ng-model="searchTerm3"
                                           placeholder="Select Product Name"
                                           type="search">
                                </md-select-header>
                                <md-option md-search-text="searchTerm3" ng-repeat="c in prodname | filter:searchTerm3"
                                           value="{{c.product_gid}}">{{c.product_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Product Carton Capacity</label>
                            <input type="text" ng-model="add.product_mastercarton">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block inputcontainer">
                            <label>Product Carton Remarks</label>
                            <input type="text" ng-model="add.product_cartonremarks">
                        </md-input-container>
                    </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <md-button class="md-raised custbutton" value="Close" class="btn btn-secondary"
                               ng-click="save(add);">Submit
                    </md-button>
                    <md-button class="md-raised" value="close" ng-href="productdetails">Cancel</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}