{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Create Product {% endblock %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="Appproduct" ng-controller="Ctrlproduct">
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4><strong>{{title}} Product </strong></h4>
            </div>
        </div>
        <div ng-include="'popup2'"></div>
        <div class="modal fade" id="potermview_modal" tabindex="-1">
            <div class="modal-dialog modal-lg modal-style" role="document">
                <div class="modal-content">
                    <div class="header">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel1">
                                <strong>Add a new Specification</strong>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                    </div>
                    <div class="body">
                        <div class="modal-body popup-body">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <form name="addnew">
                                        <md-input-container class="md-block inputcontainer">
                                            <label>New Specification</label>
                                            <input ng-model="new_template" autocomplete="off" required/>
                                        </md-input-container>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <md-button class="md-raised custbutton" ng-if="addnew.$valid"
                                       ng-click="addnew_tempspec()">Submit
                                <md-tooltip>Submit</md-tooltip>
                            </md-button>
                            <md-button class="md-raised" data-dismiss="modal">
                                close
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-cloak>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
                 data-keyboard="false" id="mdl1_present" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document" style="z-index: 111199000 !important">
                    <div class="modal-content">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Product Category
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form name="myFor">
                                    <div class="col-xs-12">
                                        <div class="col-md-6">
                                            <md-input-container class="md-block inputcontainer">
                                                <label>Product Category Name</label>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div align="center" class="row">
                            <div class="col-md-12">
                                <md-button aria-label="Close" class="md-raised custbutton" data-dismiss="modal"
                                           ng-click="updt()" value="close">Update
                                </md-button>
                                <md-button aria-label="Close" class="md-raised" data-dismiss="modal" ng-click="cls()"
                                           value="close">Close
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form name="demoForm" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Product Code</label>
                                <input ng-model="add.product_code"
                                       maxlength="7" minlength="7" type="text" ng-disabled="true"/>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-autocomplete md-clear-button="true" md-floating-label="Product Type"
                                             md-item-text="item.prod_cat_data"
                                             md-items="item in product_or_service(searchTex11)"
                                             md-min-length=0
                                             md-no-cache="true" md-search-text="searchTex11"
                                             md-selected-item="add.product_service"
                                             md-selected-item-change="product_or(add.product_service.prod_cat_value)"
                                             required/>
                            <md-item-template>
                                <span md-highlight-text="searchTex11"> {{item.prod_cat_data}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Product Type matching "{{searchTex11}}" were found.
                            </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="col-md-2">
                            <md-autocomplete
                                    md-item-text="item.productcategory_name"
                                    md-items="item in prodsearch(searchTex1)"
                                    md-min-length=0
                                    md-no-cache="true"
                                    md-search-text="searchTex1"
                                    md-selected-item="add.selectedcat"
                                    md-selected-item-change="prodservicetype(item)"
                                    md-floating-label="Product Main Category"
                                    md-clear-button="true"
                                    required>
                                <md-item-template>
                                    <span md-highlight-text="searchTex1"> {{item.productcategory_name}} </span>
                                </md-item-template>
                                <md-not-found>
                                    No Product Main Category matching "{{searchTex1}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="col-md-1">
                            <md-button class="md-fab md-mini md-primary custbutton" ng-click="showpop(add)"
                                       ng-show="product_update">
                                <md-icon>add</md-icon>
                                <md-tooltip>Create New</md-tooltip>
                            </md-button>
                        </div>
                        <div class="col-md-2">
                            <md-autocomplete md-clear-button="true" md-floating-label="Product Sub Category"
                                             md-item-text="item.producttype_name"
                                             md-items="item in producttypesearch(searchTex2)"
                                             md-min-length=0 md-no-cache="true" md-search-text="searchTex2"
                                             md-selected-item="add.selectedcat5"
                                             md-selected-item-change="prodty(item,add)"
                                             required/>
                            <md-item-template>
                                <span md-highlight-text="searchTex2"> {{item.producttype_name}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Product Sub Category matching "{{searchTex2}}" were found.
                            </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="col-md-1">
                            <md-button class="md-fab md-mini md-primary custbutton"
                                       ng-click="showpop2(add.product_service,add.selectedcat)"
                                       ng-show="productsub_update">
                                <md-icon>add</md-icon>
                                <md-tooltip>Create New</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
                <!--                    <div class="col-md-2">-->
                <!--                        <md-input-container class="md-block inputcontainer">-->
                <!--                            <label>Product Tally Name</label>-->
                <!--                            <input ng-model="add.product_tallyname" type="text"/>-->
                <!--                        </md-input-container>-->
                <!--                    </div>-->

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Product Name</label>
                                <input ng-model="add.product_name" required type="text"/>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Product Display Name</label>
                                <input ng-model="add.product_displayname" required type="text"/>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Product Trading Item</label>
                                <md-select ng-model="add.selectedlist_trading_item" required/>
                                <md-option ng-repeat="item in list_trading_item" ng-value="item.id">{{item.data}}
                                </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-autocomplete md-clear-button="true" md-floating-label="Product HSN"
                                             md-item-text="item.hsn_code"
                                             md-items="item in producthsnsearch(searchTex3)" md-min-length=0
                                             md-no-cache="true" md-search-text="searchTex3"
                                             md-selected-item=" add.hsnname"
                                             md-selected-item-change="product(item.hsn_gid)" required/>
                            <md-item-template>
                                <span md-highlight-text="searchTex3"> {{item.hsn_code}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Product HSN matching "{{searchTex3}}" were found.
                            </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-autocomplete md-clear-button="true" md-floating-label="Product UOM"
                                             md-item-text="item.uom_code"
                                             md-items="item in productuomsearch(searchTex4)" md-min-length=0
                                             md-no-cache="true" md-search-text="searchTex4"
                                             md-selected-item="add.uomcode"
                                             md-selected-item-change="productuom(item.uom_gid)" required/>
                            <md-item-template>
                                <span md-highlight-text="searchTex4"> {{item.uom_code}} </span>
                            </md-item-template>
                            <md-not-found>
                                No Product UOM matching "{{searchTex4}}" were found.
                            </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="col-md-3">
                            <md-autocomplete md-clear-button="true" md-floating-label="Expense Main Category"
                                             md-item-text="item.category_name"
                                             md-items="item in productcategorysearch(searchTex5)" md-min-length=0
                                             md-no-cache="true"
                                             md-search-text="searchTex5" md-selected-item="add.selectedcat3"
                                             md-selected-item-change="productprodcat(item.category_gid)" required>
                                <md-item-template>
                                    <span md-highlight-text="searchTex5"> {{item.category_name}} </span>
                                </md-item-template>
                                <md-not-found>
                                    No Product Name matching "{{searchTex5}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="col-md-3">
                            <md-autocomplete
                                    md-clear-button="true"
                                    md-floating-label="Expense Sub Category "
                                    md-item-text="item.subcategory_name"
                                    md-items="item in producttypesearchsub(searchTex6)"
                                    md-min-length=0 md-no-cache="true" md-search-text="searchTex6"
                                    md-selected-item="add.prodtypeid"
                                    md-selected-item-change="productprodtype(item.subcategory_gid)" required>
                                <md-item-template>
                                    <span md-highlight-text="searchTex6"> {{item.subcategory_name}} </span>
                                </md-item-template>
                                <md-not-found>
                                    No Product Name matching "{{searchTex6}}" were found.
                                </md-not-found>
                            </md-autocomplete
                            >
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Product Unitprice</label>
                                <input id="number1" maxlength="18" ng-model="add.product_unitprice" numbers-only
                                       required type="text"/>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Product Weight</label>
                                <input id="number" maxlength="18" ng-model="add.product_weight" numbers-only
                                       required
                                       type="text"/>
                            </md-input-container>
                        </div>
                        <form name="potemp" novalidate>
                            <div class="col-md-3">
                                <md-autocomplete md-clear-button="true" md-floating-label="Choose Specification"
                                                 md-item-text="item.productspecification_templatename"
                                                 md-items="item in getspecification(searchText1)" md-min-length=0
                                                 md-no-cache="true"
                                                 md-search-text="searchText1" md-selected-item="selectedItem"
                                                 md-selected-item-change="specificationChange(item)">
                                    <md-item-template>
                                        <span md-highlight-text="searchText1"> {{item.productspecification_templatename}} </span>
                                    </md-item-template>
                                    <md-not-found>
                                        Not found.
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                            <div class="col-md-1">
                                <md-button class="md-fab md-mini md-primary custbutton" ng-click="clknewspec(add)"
                                           ng-show="product_update">
                                    <md-icon>add</md-icon>
                                    <md-tooltip>Create New Specification</md-tooltip>
                                </md-button>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Configuration</label>
                                    <input ng-model="configuration" autocomplete="off"/>
                                </md-input-container>
                            </div>
                            <div class="col-md-1">
                                <md-button class="md-raised custbutton" ng-hide="!selectedItem || !configuration"
                                           ng-click="addintable()">Add
                                    <md-tooltip>Add</md-tooltip>
                                </md-button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-10"></div>
                        <div class="col-md-1" style="margin-top:25px">
                            <md-checkbox
                                    ng-model="add.isblocked"
                                    ng-true-value="'Y'" ng-false-value="'N'"
                                    type="checkbox">
                                IS Blocked
                            </md-checkbox>
                        </div>
                        <div class="col-md-1" style="margin-top:25px">
                            <md-checkbox ng-model="add.isrcm"
                                         ng-true-value="'Y'" ng-false-value="'N'"
                                         type="checkbox">
                                IS RCM
                            </md-checkbox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <table ng-show="shwtable"
                                   class="table table-striped table-bordered table-condensed table-hover md-primary">
                                <thead class="header">
                                <tr>
                                    <th>S.No</th>
                                    <th>Specification(s)</th>
                                    <th>Configuration(s)</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="obj in Add_Templates">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-center">{{obj.spec}}</td>
                                    <td class="text-center">{{obj.configuration}}</td>
                                    <td align="center"><a href="" ng-click="deletetemp($index)"><i
                                            class="material-icons"
                                            style="material-icons.line-height:3px">delete</i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <md-button class="md-raised custbutton" class="btn btn-secondary" ng-click="save(add);"
                                   ng-disabled="demoForm.$invalid" ng-hide="!update" value="Close"/>
                        Submit
                        </md-button>
                        <md-button class="md-raised custbutton" ng-click="edit(add)"
                                   ng-disabled="myForm.$invalid" ng-hide="update"
                                   value="submit">
                            update
                        </md-button>
                        <md-button class="md-raised" ng-click="cancel1()" ng-href="productdetails" value="close">
                            Cancel
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12" ng-include="'popup3'"></div>
        </div>
    </div>
</div>
{% endverbatim %}
<script>
  var myApp = angular.module('Appproduct', ['ngMaterial', 'ngMessages','ui.bootstrap','AppCommon']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});

myApp.controller('Ctrlproduct', ['$scope', 'testService', '$mdDialog', '$rootScope', '$window', '$filter','$interval', '$timeout', '$element','$http',
    function($scope, testService, $mdDialog, $rootScope, $window, $filter,$interval, $timeout, $element,$http) {
        $scope.list_trading_item = [{
            id: 'Y',
            data: 'YES'
        }, {
            id: 'N',
            data: 'NO'
        }];

        $scope.product_categorystock_impact = [{
            key: 'Y',
            value: 'YES'
        }, {
            key: 'N',
            value: 'NO'
        }];
        $scope.update = true;
        var number = document.getElementById('number');
        number.onkeydown = function(e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) ||
                    (e.keyCode > 47 && e.keyCode < 58) ||
                    e.keyCode == 8)) {
                return false;
            }
        }
        var number1 = document.getElementById('number1');
        number1.onkeydown = function(e) {
                if (!((e.keyCode > 95 && e.keyCode < 106) ||
                        (e.keyCode > 47 && e.keyCode < 58) ||
                        e.keyCode == 8)) {
                    return false;
                }
            }


        $scope.save2 = function(add) {
            var data = {
                "Producttype_Name": add.product_typename,
                "Producttype_Category_gid": add.selectedcat1,
                "Entity_Gid": $scope.entity_gid,
                "Create_By": $scope.create_by,
            }
            var details = {
                Group: 'Product_Type',
                Action: 'Insert',
                Type: 'Product_Type',
                data: data
            }
            $scope.loading();
            var get_employ1 = testService.setproductpop(details)
            get_employ1.then(function(result) {
                    $scope.prodtype1 = [];
                    alert(JSON.stringify(result.data));
                    $scope.prodtype1 = result.data.DATA;
                    $window.location.href = 'productadd';
                    //  modalhide('mdl_present');
                }),
                function(err) {
                    alert('no data');
                };
            $scope.endloading();
        }

        $scope.clknewspec = function(){
        modalshow('potermview_modal');
        }

        $scope.specificationChange = function(e){
        $scope.spec = e.productspecification_templatename
        }
$scope.shwtable = false;
$scope.Add_Templates = [];
            $scope.addintable = function(){
                        if ($scope.configuration != undefined && $scope.spec != undefined) {
                var movie = [];
                $scope.shwtable = true;
                movie.spec  = $scope.spec;
                movie.configuration = $scope.configuration;
                $scope.Add_Templates.push(movie);
                $scope.configuration = null;
                $scope.selectedItem = null;
            }

            }
            $scope.deletetemp = function(index){
            $scope.Add_Templates.splice(index, 1);
            }


        $scope.editdetails3 = function(add) {
                var data2type = {
                    "producttype_gid": $scope.add.selectedcat2,
                    "producttype_name": add.product_typename,
                    "producttype_productcategory_gid": $scope.add.selectedcat1,
                    "Create_By": $scope.create_by
                }
                var data2details = {
                    Action: 'Update',
                    Group: 'Product_Type1',
                    Type: 'Product_Type',
                    data: data2type
                }
                $scope.loading();
                var set_producttype = testService.setproductpop(data2details);
                set_producttype.then(function(result) {

                        $scope.prodtype3 = [];
                        alert(JSON.stringify(result.data));
                        $scope.prodtype3 = result.data.DATA;
                        $window.location.href = 'productadd';
                    }),
                    function(err) {
                        alert('no data');
                    };
                $scope.endloading();
            }
            //edit
        if (sessionStorage.getItem('product_details') != null) {

            $scope.update = false;
            $scope.save = true;
            $scope.add = [];
            var product_detail = JSON.parse(sessionStorage.getItem('product_details'));
            console.log(product_detail);
            $scope.add.product_displayname = product_detail.product_gid.product_displayname;
            $scope.add.product_tallyname = product_detail.product_gid.product_tallyname;
            $scope.add.selectedcat7 = product_detail.product_gid.product_gid;
            $scope.add.product_name = product_detail.product_gid.product_name;
            $scope.add.selectedlist_trading_item = product_detail.product_gid.product_tradingitem;
            $scope.add.product_unitprice = product_detail.product_gid.product_unitprice;
            $scope.add.product_weight = product_detail.product_gid.product_weight;
            $scope.add.product_typename = product_detail.product_gid.producttype_name;
            $scope.add.product_code = product_detail.product_gid.product_code;
            $scope.add.product_categorystock_impact = product_detail.product_gid.productcategory_stockimpact;
            $scope.Create_By = product_detail.product_gid.create_by;
            $scope.add.tally_product_name = product_detail.product_gid.productcategory_name;
            $scope.add.selectedcat5 = product_detail.product_gid.producttype_name;
            $scope.add.productcategory_name = product_detail.product_gid.productcategory_name;
            $scope.add.selectedcat = {
                'productcategory_name': product_detail.product_gid.productcategory_name,
                'productcategory_gid': product_detail.product_gid.productcategory_gid
            };
            $scope.prodservicetype1 = $scope.add.selectedcat.productcategory_gid
            $scope.add.hsnname = product_detail.product_gid.hsn_code;
            $scope.add.uomcode = product_detail.product_gid.uom_code;
            $scope.add.product_categoryname = product_detail.product_gid.productcategory_name;
            $scope.add.selectedcat1 = product_detail.product_gid.productcategory_gid;
            $scope.add.selectedcat2 = product_detail.product_gid.producttype_gid;
            $scope.add.product_cartonremarks = product_detail.product_gid.prodcarton_remarks;
            $scope.add.product_mastercarton = product_detail.product_gid.prodcarton_capacity;
            $scope.add.prodval2 = product_detail.product_gid.product_name;
            $scope.add.product_service = {
                'prod_cat_data': product_detail.product_gid.prod_cat_data,
                'prod_cat_value': product_detail.product_gid.prod_cat_value
            };
            $scope.testddl = $scope.add.product_service.prod_cat_data;
            // $scope.searchTex11=$scope.add.product_service.prod_cat_value;
            $scope.add.product_categorydivision = {
                'prod_cat_data': product_detail.product_gid.prod_cat_data,
                'metadata_remarks': product_detail.product_gid.prod_cat_value
            };
            $scope.producttypecat_gid = product_detail.product_gid.producttype_productcategory_gid
            $scope.add.selectedcat3 = {
                'category_name': product_detail.product_gid.category_name
            };
            $scope.add.prodtypeid = product_detail.product_gid.subcategory_name,
            $scope.add.isrcm = product_detail.product_gid.product_isrcm,
            $scope.add.isblocked= product_detail.product_gid.product_isblocked

        }

        if ($scope.update) {
            $scope.title = 'Create'
        } else {
            $scope.title = 'Edit'
        }

        //filter for product category
        $scope.prodsearch = gotoprod;
        $scope.product_or_service = gotoproductdivision;
        function gotoprod(query) {
            var result = $filter('filter')($scope.prodcatgory, {
                'productcategory_name': query
            });
            return result;
        }

        function gotoproductdivision(query) {

            var result = $filter('filter')($scope.productorservicedata, {
                'prod_cat_data': query
            });
            return result;
        }

        $scope.producttypesearch = gotoproduct;
        $scope.producttypesearchsub = apsearchsubcat;
        //AP_SUB_CAT
        function apsearchsubcat(query) {

            var result = $filter('filter')($scope.ap_subcatdata, {
                'subcategory_name': query
            });
            return result;
        }
        //product Sub Category
        function gotoproduct(query) {
            var result = $filter('filter')($scope.prodtype, {
                'producttype_name': query
            });
            return result;
        }

        $scope.producthsnsearch = gotoproducthsn;

        function gotoproducthsn(query) {
            var result = $filter('filter')($scope.product_hsn, {
                'hsn_code': query
            });
            return result;
        }

        $scope.productuomsearch = gotoproductuom;

        function gotoproductuom(query) {
            var result = $filter('filter')($scope.product_uom, {
                'uom_code': query
            });
            return result;
        }
        //Ap_product_category
        $scope.productcategorysearch = gotoproductcategorysearch;

        function gotoproductcategorysearch(query) {
            var result = $filter('filter')($scope.ap_categorydata, {
                'category_name': query
            });
            return result;
        }

        $scope.producttypesearch = gotoproducttypesearch;

        function gotoproducttypesearch(query) {
            var result = $filter('filter')($scope.prodtype, {
                'producttype_name': query
            });
            return result;
        }

        $scope.cancel1 = function() {
            $mdDialog.cancel();
            $scope.add.selectedcat = '';
            $scope.add.prodtypeid = '';
            $scope.add.product_name = '';
            $scope.add.product_tallyname = '';
            $scope.add.product_displayname = '';
            $scope.add.selectedlist_trading_item = '';
            $scope.add.hsnname = '';
            $scope.add.uomcode = '';
            $scope.add.product_unitprice = '';
            $scope.add.product_weight = '';
        };

        $scope.save1 = function(add) {


            var data = {
                "Productcat_Name": add.product_categoryname,
                "Entity_Gid": $scope.entity_gid,
                "Create_By": $scope.create_by,
                "Client_Gid": "1",
                "Prod_Service": add.product_categorydivision.metadata_remarks,
                "Stock_impact": add.product_categorystock_impact
            }
            var details = {
                Group: 'Product_Category',
                Action: 'Insert',
                Type: 'Product_Category',
                data: data
            }
            $scope.loading();
            var get_employ = testService.setproductpop(details)
            get_employ.then(function(result) {
                    $scope.prodtype = [];
                    alert(JSON.stringify(result.data));
                    $scope.prodtype = result.data.DATA;
                    $window.location.href = 'productdetails';
                    // modalhide('mdl_present');

                },
                function(err) {
                    alert('no data');
                }).finally($scope.endloading);
        }

        $scope.edit1 = function(add) {

            // var product_or_sevice1='';
            // if(add.product_categorydivision=="Product"){
            //     product_or_sevice1='P'
            // }
            // else if(add.product_categorydivision=="Service"){
            //     product_or_sevice1='S'
            // }
            var data1type = {
                "productcategory_gid": $scope.add.selectedcat1,
                "productcategory_name": add.product_categoryname,
                "productcategory_stockimpact": add.product_categorystock_impact,
                "productcategory_clientgid": "1",
                "Prod_Service": add.product_categorydivision.metadata_remarks,
                "Create_By": $scope.create_by
            }
            var data1details = {
                Action: 'Update',
                Group: 'Product_Category1',
                Type: 'Product_Category',
                data: data1type
            }
            $scope.loading();
            var set_producttype = testService.setproductpop(data1details);
            set_producttype.then(function(result) {
                    $scope.prodtype2 = [];
                    alert(JSON.stringify(result.data));
                    $scope.prodtype2 = result.data.DATA;
                    $window.location.href = 'productdetails';
                },
                function(err) {
                    alert('no data');
                }).finally($scope.endloading);
        }
        $scope.product_catdivision = [];

        var ddl = {
            "Table_name": "gal_mst_tmetadata",
            "Column_1": "metadata_value,metadata_remarks",
            "Column_2": "",
            "Where_Common": "metadata",
            "Where_Primary": "columnname",
            "Primary_Value": "productcategory_isprodservice",
            "Order_by": "columnname"
        }
        var divisiondata = testService.productcatdivision(ddl)
        divisiondata.then(function(result) {
                var data = result.data
                $scope.product_catdivision = data.DATA;
            })
            //APcat
        $scope.ap_categorydata = [];
        var dd = {
            "Table_name": "ap_mst_tcategory",
            "Column_1": "category_gid,category_name",
            "Column_2": "",
            "Where_Common": "category",
            "Where_Primary": "",
            "Primary_Value": "",
            "Order_by": "gid"
        }

        var AP_catdata = testService.productcatdivision(dd)
        AP_catdata.then(function(result) {

                var data = result.data
                $scope.ap_categorydata = data.DATA;
            })
            //APsubcat
        $scope.productprodcat = function(apcat) {
            if (apcat == "" || apcat == undefined) {
                $scope.add.prodtypeid = '';
            }
            $scope.ap_subcatdata = [];
            var ddata = {
                "Table_name": "ap_mst_tsubcategory",
                "Column_1": "subcategory_gid,subcategory_name",
                "Column_2": "",
                "Where_Common": "subcategory",
                "Where_Primary": "categorygid",
                "Primary_Value": apcat,
                "Order_by": "gid"
            }

            var AP_subdata = testService.productcatdivision(ddata)
            AP_subdata.then(function(result) {
                var data = result.data
                $scope.ap_subcatdata = data.DATA;
            })
        }


        $scope.showfr = false;
        $scope.setproduct1 = [];
        $scope.getproduct1 = [];
        $scope.setproduct = [];
        var detail = JSON.parse(sessionStorage.getItem('today'));
        $scope.Create_By = detail.employee_gid;
        $scope.entity_gid = detail.entity_gid;
        $scope.client_gid = "1";

        $scope.loading = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.body),
                clickOutsideToClose: false
            });
        };

        $scope.endloading = function() {
            $mdDialog.hide();
        };

$scope.addnew_tempspec = function(){

 var data = {
            "params": {
                "DATA": {
                    "Productspecification_Categorygid": $scope.catgid,
                    "Productspecification_Templatename":$scope.new_template
                },
                "Classification": {
                    "Entity_Gid": $scope.entity_gid,
                    "Create_By": $scope.Create_By
                }
            }
        }
        var data_int = {
            Action: 'INSERT',
            data: data
        };

   return $http.post(Appname + "/product_specification/",
                        data_int
                    )
                    .then(function (result) {
                        if (result.data[0] == "SUCCESS") {
                        alert('Successfully Inserted');
                        modalhide('potermview_modal');
                        $scope.new_template = '';
                        } else {
                        alert('Data Not Inserted Against Category');
                        }
                    });


}

$scope.getspecification = function(query) {
$scope.specification = [];
        var data = {
            "params": {
                "DATA": {
                    "Productspecification_Categorygid": $scope.catgid,
                    "Productspecification_Templatename": query
                },
                "Classification": {
                    "Entity_Gid": $scope.entity_gid
                }
            }
        }
        var data_int = {
            Action: 'productspecification_Get',
            data: data
        };

   return $http.post(Appname + "/product_specification/",
                        data_int
                    )
                    .then(function (result) {
                        if (result.data.MESSAGE == "FOUND") {
                         $scope.specification = result.data.DATA;
                        }
                        return $scope.specification;
                    });
            }



        $rootScope.showpop = function(add) {
            modalshow('mdl_present');
            $scope.add.product_categoryname = add.selectedcat.productcategory_name;

        }

        $rootScope.showpop2 = function(value1, value2) {
            if (value1 == undefined && value2 == undefined) {
                alert('Please select Poduct division and Category')
                return false
            }
            modalshow('md_present');
        }

        $rootScope.showpop3 = function() {
            modalshow('mdl1_present');
        }




        $scope.save = function(add) {
            $scope.fulltemp = [];
            for(i=0;i<$scope.Add_Templates.length;i++){
            if($scope.Add_Templates[i].new_template!= ''){
            var data = {"key":$scope.Add_Templates[i].spec,"value":$scope.Add_Templates[i].configuration}
            $scope.fulltemp.push(data)
            }
            }

            var new_array= [];
            var a = {};
            $scope.fulltemp.forEach(function(v1)
            {
            a[v1['key']]=v1['value']
            new_array.push(a)
            });

            $scope.rcm=add.isrcm;
            if($scope.rcm==undefined){
                $scope.rcm="N";
            }
            $scope.blocked=add.isblocked;
            if($scope.blocked==undefined){
                $scope.blocked="N";
            }
            var setdetail = {
                "action": "insert",
                "type": "insert_data",
                "Group": "Product_Set",
                "data": {
                    data: {
                        "product_productcategory_gid": add.selectedcat.productcategory_gid,
                        "product_producttype_gid": add.selectedcat5.producttype_gid,
                        "product_name": add.product_name,
                        "product_tallyname": add.product_tallyname,
                        "product_displayname": add.product_displayname,
                        "product_tradingitem": add.selectedlist_trading_item,
                        "product_hsn_gid": add.hsnname.hsn_gid,
                        "product_uom_gid": add.uomcode.uom_gid,
                        "product_category_gid": add.selectedcat3.category_gid,
                        "product_subcategory_gid": add.prodtypeid.subcategory_gid,
                        "product_unitprice": add.product_unitprice,
                        "product_weight": add.product_weight,
                        "product_isactive": add.product_isactive,
                        "product_isremoved": add.product_isremoved,
                        "entity_gid": $scope.entity_gid,
                        "Create_By": $scope.create_by,
                        "create_date": add.create_date,
                        "insert_flag": add.insert_flag,
                        "update_flag": add.update_flag,
                        "update_by": add.update_by,
                        "update_date": add.update_date,
                        "product_gid": add.selectedcat7,
                        "product_code": add.product_code,
                        "product_details": new_array[0],
                        "product_isrcm": $scope.rcm,
                        "product_isblocked":$scope.blocked
                    }
                }
            }
            $scope.loading();
            var set_product = testService.setproduct(setdetail)
            set_product.then(function(result) {
                $scope.setproduct1 = result.data.MESSAGE;
                if(result.data.MESSAGE=="ERROR_OCCURED"){
                    alert(JSON.stringify(result.data));
                }
                if(result.data.MESSAGE=="SUCCESS"){
                    alert($scope.setproduct1);
                    $window.location.href = 'productdetails';
                }
                else{
                    alert(JSON.stringify(result.data));
                }


            }, function(err) {
                alert('No data!.');
            }).finally($scope.endloading);
        }
        $scope.product_update = true;
        $scope.prodservicetype = function(id) {
        $scope.catgid = id.productcategory_gid;
        $scope.selectedItem = null;
        $scope.getspecification()

            if (id == undefined || id == null) {
                $scope.add.selectedcat5 = '';
                product_typedata();
                if ($scope.update == false) {
                    $scope.product_update = false;
                }
            }
            else if (id != undefined || id != null) {
                    $scope.add.product_categoryname = id.productcategory_name;
                    $scope.product_update = true;
                    var data = {
                        "Params": {
                            "FILTER": {
                                "Prod_Cat_Gid": id.productcategory_gid
                            },
                            "CLASSIFICATION": {
                                "Entity_Gid": $scope.entity_gid
                            }
                        }
                    }
                    var datam = {
                        Type: 'PRODUCT_TYPE',
                        Sub_Type: 'DDL',
                        Group: 'GET_ALL_PRODUCT',
                        data: data
                    }
                    var get_employ = testService.getprod(datam)
                    get_employ.then(function(result) {

                            $scope.prodtype = [];
                            $scope.prodtype = result.data.DATA;
                        }),
                        function() {
                            alert('no data');
                        };
            }

        }
        if ($scope.prodservicetype1 != undefined) {
            $scope.prodservicetype($scope.add.selectedcat.productcategory_gid)
        }

        $scope.edit = function(add) {
            debugger;
            var datatype = {
                "product_gid": add.selectedcat7,
                "product_code": add.product_code,
                "product_unitprice": add.product_unitprice,
                "product_name": add.product_name,
                "product_tallyname": add.product_tallyname,
                "tally_product_name": add.tally_product_name,
                "product_displayname": add.product_displayname,
                "product_tradingitem": add.selectedlist_trading_item,
                "product_weight": add.product_weight,
                "product_hsn_gid": add.hsnname.hsn_gid,
                "product_uom_gid": add.uomcode.uom_gid,
                "product_category_gid": add.selectedcat3.category_gid,
                "product_subcategory_gid": add.prodtypeid.subcategory_gid,
                "product_productcategory_gid": $scope.add.selectedcat.productcategory_gid,
                "product_producttype_gid": $scope.add.selectedcat5.producttype_gid,
                "Create_By": $scope.create_by,
                "product_isrcm": add.isrcm,
                "product_isblocked": add.isblocked
            }
            var datadetails = {
                Action: 'Update',
                Group: 'insert_data',
                Type: 'insert_data',
                data: datatype
            }
            $scope.loading();
            var set_producttype = testService.setproductpop(datadetails)
            set_producttype.then(function(result) {

                $scope.set_producttype1 = result.data.MESSAGE;

                if(result.data.MESSAGE=="ERROR_OCCURED"){
                    alert(JSON.stringify(result.data));
                }
                if(result.data.MESSAGE=="SUCCESS"){
                    alert($scope.set_producttype1);
                    $window.location.href = 'productdetails';
                }
                else{
                    alert(JSON.stringify(result.data));
                }
            }, function(err) {}).finally($scope.endloading);
        }

        function gotoproductcate(query) {
            var result = $filter('filter')($scope.productcate, {
                'productcategory_gid': query
            });
            return result;
        }

        var datan = {
            "Table_name": "gal_mst_tproductcategory",
            "Column_1": "productcategory_gid,productcategory_name",
            "Column_2": "",
            "Where_Common": "productcategory",
            "Where_Primary": "",
            "Primary_Value": "",
            "Order_by": "code"
        }
        var pproductcate = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: datan
        }
        $scope.product_productcate = [];
        var getproductcate = testService.gethsndata(pproductcate)
        getproductcate.then(function(result) {
            $scope.product_productcate = result.data.DATA;
        }, function(err) {
            alert('No data!.');
        }).finally();

        function gotohsn(query) {
            var result = $filter('filter')($scope.hsn, {
                'hsn_gid': query
            });
            return result;
        }

        var datan = {
            "Table_name": "gal_mst_thsn",
            "Column_1": "hsn_gid, hsn_code,hsn_igstrate",
            "Column_2": "",
            "Where_Common": "hsn",
            "Where_Primary": "",
            "Primary_Value": "",
            "Order_by": "code"
        }
        var phsn = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: datan
        }
        $scope.product_hsn = [];
        var gethsn = testService.gethsndata(phsn)
        gethsn.then(function(result) {
            $scope.product_hsn=[];
            $scope.product_hsn_temp = result.data.DATA;
            for(var i=0;i<$scope.product_hsn_temp.length;i++){
                var code=$scope.product_hsn_temp[i].hsn_code;
                var rate=($scope.product_hsn_temp[i].hsn_igstrate).toString();
                var final_code=code+"-"+rate;
                $scope.product_hsn.push({"hsn_code":final_code,"hsn_gid":$scope.product_hsn_temp[i].hsn_gid,"hsn_igstrate":$scope.product_hsn_temp[i].hsn_igstrate})
            }
            console.log($scope.product_hsn);
        }, function(err) {
            alert('No data!.');
        }).finally();

        function gotouom(query) {
            var result = $filter('filter')($scope.uom, {
                'uom_gid': query
            });
            return result;
        }

        var datan1 = {
            "Table_name": "gal_mst_tuom",
            "Column_1": "uom_gid, uom_code",
            "uom_gid": 0,
            "Column_2": "",
            "Where_Common": "uom",
            "Where_Primary": "",
            "Primary_Value": "",
            "Order_by": "name"
        }
        var puom = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: datan1
        }
        $scope.product_uom = [];
        var getuom = testService.gethsndata(puom)
        getuom.then(function(result) {
            $scope.product_uom = result.data.DATA;
        }, function(err) {
            alert('No data!.');
        }).finally();
        //


        $scope.product_or = function(prod_cat_value) {
            if (prod_cat_value == undefined || prod_cat_value == " ") {
                $scope.add.selectedcat = '';
                $scope.add.selectedcat5 = ''
            } else {
                $scope.prodt_cat = prod_cat_value;
                product_typedata();
            }
        }
        function product_typedata(){
            var maindtata = {
                    "Params": {
                        "FILTER": {
                            "Prod_Service": $scope.prodt_cat
                        },
                        "CLASSIFICATION": {
                            "Entity_Gid": $scope.entity_gid
                        }
                    }
                }
                var p_s = {
                    Group: "GET_ALL_PRODUCT",
                    Type: "PRODUCT_CAT",
                    Sub_Type: "DDL",
                    data: maindtata
                }
                var get_category = testService.productorservices(p_s)
                get_category.then(function(result) {
                    $scope.prodcatgory = result.data.DATA;
                }, function(err) {
                    alert('No data!.');
                }).finally();

        }

        if ($scope.testddl != undefined) {

            $scope.product_or($scope.add.product_service.prod_cat_value)
        }
        //productorservice
        var maindtata = {
            "Params": {
                "FILTER": {},
                "CLASSIFICATION": {
                    "Entity_Gid": $scope.entity_gid
                }
            }
        }
        var p_s = {
            Group: "GET_ALL_PRODUCT",
            Type: "PRODUCT_CAT",
            Sub_Type: "PROD_SERVICE",

            data: maindtata
        }



        var product_orservice = testService.productorservices(p_s)
        product_orservice.then(function(result) {

            $scope.productorservicedata = result.data.DATA;
        }, function(err) {
            alert('No data!.');
        }).finally();

        // $scope.prod = function (item) {
        //     $scope.add.product_categoryname = item;
        //     if ($scope.add.selectedcat1) {
        //         $scope.add.selectedcat1 = $scope.add.selectedcat3.productcategory_gid;
        //     } else {
        //         $scope.add.selectedcat1 = $scope.add.selectedcat3;
        //     }
        // }
        $scope.productsub_update = true;
        $scope.prodty = function(item,add) {
                if (item) {
                    $scope.productsub_update = true;
                    $scope.add.product_typename = item.producttype_name;
                    $scope.add.product_categoryname = add.product_categoryname;

                    if ($scope.add.selectedcat2) {
                        $scope.add.selectedcat2 = $scope.add.selectedcat5.producttype_gid;
                    }
                    else {
                        $scope.add.selectedcat2 = $scope.add.selectedcat5;
                    }
                }
                else {
                    $scope.productsub_update = false;
                }

        }
    }
]);

myApp.service("testService", function($http) {
    this.setproduct = function(setdetail) {
        var response = $http.post(Appname + "/Productsmry/", setdetail);
        return response;
    }
    this.getcategory = function() {
        var response = $http.get(Appname + "/categoryget/");
        return response;
    }
    this.productorservices = function(P_S) {
        var response = $http.post(Appname + "/productorservice/", P_S);
        return response;
    }
    this.gethsndata = function(phsn) {
        var respons = $http.post(Appname + "/prodget/", phsn);
        return respons;
    }
    this.getprod = function(data) {
        var response = $http.post(Appname + "/getmstr/", data);
        return response;
    }
    this.setproductpop = function(details) {
            var response = $http.post(Appname + "/producttypeset/", details);
            return response;
        }



        //All_product_get
    this.productcatdivision = function(data) {
        var response = $http.post(Appname + "/prodget/", {
            "data": data,
            "Action": 'METADATA'
        });
        return response;
    }
});




















</script>
{% endblock %}