{% verbatim %}
<md-dialog>
    <md-dialog-content>
        <div class="row">
            <div class="col-md-12">
                <md-subheader class="md-primary">Classification</md-subheader>
            </div>
        </div>
        <form name="myForm">
            <md-autocomplete md-clear-button="true"
                             md-floating-label="Branch Name"
                             md-input-maxlength=126
                             md-input-name="myName"
                             md-item-text="item.branch_name"
                             md-items="item in getbranches(searchText)"
                             md-min-length=0
                             md-no-cache="true"
                             md-search-text="searchText"
                             md-selected-item="selectedone"
                             md-selected-item-change="branchchange(item)"
                             required
            >
                <md-item-template>
                    <span md-highlight-text="searchText"> {{item.branch_name}} </span>
                </md-item-template>
                <md-not-found>
                    No Branch Name matching "{{searchText}}" were found.
                </md-not-found>
            </md-autocomplete>
            <md-autocomplete md-clear-button="true"
                             md-floating-label="Godown Name"
                             md-input-maxlength=126
                             md-input-name="myName1"
                             md-item-text="item.Godown_Name"
                             md-items="item in branchlist"
                             md-min-length=0
                             md-no-cache="true"
                             md-search-text="searchTex"
                             md-selected-item="selectedItm"
                             md-selected-item-change="ACselectchange(item)"
                             required
            >
                <md-item-template>
                    <span md-highlight-text="searchTex"> {{item.Godown_Name}} </span>
                </md-item-template>
                <md-not-found>
                    No GoDown matching "{{searchTex}}" were found.
                </md-not-found>
            </md-autocomplete>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3  align-right">
                        <md-button class="md-fab md-mini md-primary custbutton"
                                   ng-click="senddata()" ng-disabled="myForm.myName.$invalid||myForm.myName1.$invalid">
                            <md-icon>send</md-icon>
                            <md-tooltip>Send</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
{% endverbatim %}