{%verbatim%}
<div class="modal fade" id="courier_explorer">
    <div class="container" class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header popup-header">
                <h5 class="modal-title">
                    Courier Exposure
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </h5>
            </div>
                <div class="row" class="col-lg-12">
                    <div class="col-md-3" style="margin-left:20px;">
                          <md-autocomplete
                            md-clear-button="true"
                            md-floating-label="Courier Name"
                            md-item-text="item.courier_name"
                            md-input-maxlength=126
                            md-min-length=0
                            md-items="item in getcourier(searchText3)"
                            md-no-cache="true"
                            md-search-text="searchText3"
                            md-selected-item="add.courier"
                            md-selected-item-change="ACselectchange(item)"
                           layout-fill>
                        <md-item-template>
                            <span md-highlight-text="searchText3"> {{item.courier_name}} </span>
                        </md-item-template>
                        <md-not-found>
                            No dispatch matching "{{searchText3}}" were found.
                        </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-1" style="margin-top:12px;margin-left:5px">
                    <md-button ng-click="serchclck1(add);" class="md-fab md-mini md-primary custbutton">
                        <md-icon>search</md-icon>
                        <md-tooltip>Search</md-tooltip>
                    </md-button>
                    </div>
               </div>
               <div class="row">
                   <div class="col-md-3" style="margin-left:20px;">
                   DATE : {{dispatch_date | date:dd-MM-YYYY}}
                   </div>
               </div>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="panel panel-primary" style="border-color:white">
                        <div class="panel-body scrollbar" style="height: 350px;">
                            <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                                   style="width:100%" md-progress="deferred">
                                <thead class="header">
                                <tr>
                                    <th>S.No</th>
                                    <th>Courier Name</th>
                                    <th>Indispatch Amount</th>
                                    <th>Pending POD Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="emp in courier_exp.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:search:strict ">
                                    <td>
                                        <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                                    </td>
                                    <td class="text-left">

                                            {{emp.courier_name }}</span>
                                    </td>
                                    <td class="text-center" ng-class="emp.Indispatch_amount==0 ? 'danger':''">
                                        <span
                                                ng-if="emp.Indispatch_amount==0"
                                        >-</span>
                                        <span
                                                ng-if="emp.Indispatch_amount>0 ||
                                        emp.Indispatch_amount<0"
                                        >
                                            {{emp.Indispatch_amount | number:2}}
                                        </span>
                                    </td>
                                    <td class="text-right"
                                        ng-class="emp.pending_pod_amount>0 ? 'text-success':'danger'">
                                        <span ng-if="emp.pending_pod_amount==0"
                                        >-</span>
                                        <span ng-if="emp.pending_pod_amount>0 ||
                                        emp.pending_pod_amount<0"
                                        >
                                        {{emp.pending_pod_amount |number:2}}
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <td colspan="18">
                                            <ul boundary-links="true" class="pagination-sm cust_pagination"
                                                items-per-page="itemsPerPage"
                                                max-size="maxSize"
                                                ng-model="currentPage" total-items="pageLength2"
                                                uib-pagination></ul>
                                        </td>
                                    </div>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center">
            <md-button class="md-raised" data-dismiss="modal" ng-click="close()">
                close
            </md-button>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}