{% verbatim %}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="mdl_present"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Dealer Details
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body popup-body">
                <div class="row">
                    <!--Leave details-->
                    <form name="myForm">
                        <div class="col-xs-12">
                            <div class="col-md-6">
                                <md-autocomplete
                                        md-item-text="item.state_name"
                                        md-items="item in statesearch(searchText)"
                                        md-min-length=0
                                        md-no-cache="true"
                                        md-search-text="searchText"
                                        md-selected-item="add.statnme"
                                        md-selected-item-change="clkstat(item)"
                                        ng-disabled="disblpop"
                                        md-floating-label="State Name"
                                        md-clear-button="!disblpop" required
                                >
                                    <md-item-template>
                                        <span md-highlight-text="searchText"> {{item.state_name}} </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No State Name matching "{{searchText}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                            <div class="col-md-6">
                                <md-autocomplete
                                        md-item-text="item.product_name"
                                        md-items="item in product_Search(searchTex)"
                                        md-min-length=0
                                        md-no-cache="true"
                                        md-search-text="searchTex"
                                        md-selected-item="add.prodnme"
                                        md-selected-item-change="clkprod(item)"
                                        ng-disabled="disblpop"
                                        md-floating-label="Product Name"
                                        md-clear-button="!disblpop"
                                        required>
                                    <md-item-template>
                                        <span md-highlight-text="searchTex"> {{item.product_displayname}} </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Product Name matching "{{searchTex}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class=" col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Rate</label>
                                    <input maxlength="8" ng-disabled="true"
                                           ng-model="add.rate|  number : 2"
                                           numbers-only required/>
                                </md-input-container>
                            </div>
                            <div class=" col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Atdl%</label>
                                    <input maxlength="8" name="pckt" name="number"
                                           ng-change="chngatl()" ng-disabled="disblpop"
                                           ng-model="add.additnl"
                                           valid-number
                                           required/>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Valid From Date</label>
                                    <md-datepicker md-hide-icons="calendar" md-min-date="maxDate" md-open-on-focus
                                                   ng-disabled="disblpop"
                                                   ng-model="add.valdfrmdte" required></md-datepicker>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Valid To Date</label>
                                    <md-datepicker md-hide-icons="calendar"
                                                   md-max-date="maxDatee"
                                                   md-min-date="add.valdfrmdte"
                                                   md-open-on-focus
                                                   ng-disabled="disblpop"
                                                   ng-model="add.valdtodate" required></md-datepicker>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Dealer Price Amount</label>
                                    <input maxlength="8"
                                           ng-model="add.prceamout"
                                           ng-change="dealerprice()"
                                           valid-number
                                           required/>
                                </md-input-container>
                            </div>
                            <div class=" col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Active</label>
                                    <md-select name="cname" ng-disabled="disblpop"
                                               ng-init="add.actve = review_status[0].value" ng-model="add.actve"
                                               required>
                                        <md-option><em>--Select--</em></md-option>
                                        <md-option ng-repeat="s in review_status"
                                                   ng-value="s.value"
                                        >
                                            {{ s.status }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-12" ng-hide="reject">
                            <div class="col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Reject Reason</label>
                                    <input maxlength="128" name="pckt" name="text" ng-hide="reject"
                                           ng-model="add.reject" required/>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div align="center" class="row">
                <div class="col-md-12">
                    <md-button class="md-raised custbutton md-warn" ng-click="sbmitdet(add)" ng-show="showfr1">Submit
                    </md-button>
                    <md-button class="md-raised custbutton md-warn" ng-click="aprvclk(add)" ng-show="showfr">Approve
                    </md-button>
                    <md-button class="md-raised custbutton md-warn" ng-click="hide_data()" ng-show="showfr">Reject
                    </md-button>
                    <md-button class="md-raised custbutton md-warn" ng-click="rejctpop(add)" ng-show="rejctclk">Reject
                    </md-button>
                    <md-button class="md-raised" data-dismiss="modal" ng-click="closepop()">Close
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}