{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Dispatch Label Generate {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<style>
 .md-virtual-repeat-container {
  width: 300px;
}

    @media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}




</style>
<div class="maincontent">
    <div class="container container1" ng-app="Appvendor" ng-controller="Ctrlvendor" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Dispatch Label Generate</h4>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="mdl1_present"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Print Label
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div align="center" class="col-md-12">
                                <button ng-show="shwbtn" class="md-raised" id="btnPrint">Print</button>
                                <md-button aria-label="Close" class="md-raised" data-dismiss="modal" value="close">Close
                                </md-button>
                            </div>
                            <div class="col-md-12" id="printSectionId">
                                <div style="text-align: -webkit-center;">
                                    <table style="height:auto;width:700px">
                                        <tbody>
                                        <tr ng-if="$even" ng-repeat="obj in mainta"
                                            style="display:flex;page-break-before:{{(($index!=0)&& (($index/2)%3) == 0) ?  'always' : 'auto' }}">
                                            <div class="modifyMe">
                                                <td style="width:50%;padding:5px">
                                                    <table border="1"
                                                           style="font-family: Bookman Old Style; width:100%;">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="font-size:15px;padding:5px">
                                                                <b>{{mainta[$index].consinee}}</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="line-height: 15px;font-size:10px;">
                                                                To:
                                                                <b>{{mainta[$index].customer_name}}</b>
                                                                <br>{{mainta[$index].address_1}}<br>
                                                                {{mainta[$index].address_2}}<br>
                                                                <b>{{mainta[$index].location_name}}</b><br>
                                                                <b>{{mainta[$index].state_name}}</b>
                                                                <br><b>Mobile-No:{{mainta[$index].Contact_mobileno}}</b><br><b>Landline-No:{{mainta[$index].Contact_landline}}</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-size:12px;">
                                                                <b>CONTENTS</b>
                                                            </td>
                                                            <td align="center"
                                                                style="font-size:12px; font-weight: bolder;">
                                                                <b>BOX DETAILS</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-size:10px;">
                                                                <b>MODEL :<span ng-repeat="empp in obj.Details.DETAILS"
                                                                                style="font-size:12px;">{{obj.Details.DETAILS[$index].Product_Display_Name}}<span
                                                                        ng-show="
($index+1 < obj.Details.DETAILS.length)">,</span></span>
                                                                </b>
                                                            </td>
                                                            <td align="center" style="font-size:20px;">
                                                                <b>{{mainta[$index].cartondetails_boxno}}</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" style="font-size:10px">
                                                                <b>QUANTITY :<span
                                                                        ng-repeat="empp in obj.Details.DETAILS"
                                                                        style="font-size:12px;">{{obj.Details.DETAILS[$index].Quantity}}<span
                                                                        ng-show="
($index+1 < obj.Details.DETAILS.length)">,</span></span></b>
                                                            </td>
                                                            <td align="center" style="font-size:20px">
                                                                <b>{{mainta[$index].max_box_count}}</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="font-size:12px; font-weight: bolder;">
                                                                <b>CONSIGNER</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="line-height: 15px;font-size:10px">
                                                                <b>{{mainta[$index].Company_Name}}</b>
                                                                <br>{{mainta[$index].Company_Add1}}
                                                                <br>{{mainta[$index].Company_Add2}}
                                                                <br>Phone:{{mainta[$index].Company_Phone_No}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="font-size:16px; font-weight: bolder; padding:5px">
                                                                <b>WHOLE SALE PACKAGE</b>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="width:50%;padding:5px"
                                                    ng-if="((mainta.length) > ($index+1))">
                                                    <table border="1"
                                                           style="font-family: Bookman Old Style;width:100%;">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="font-size:15px;padding:5px">
                                                                <b>{{mainta[$index+1].consinee}}</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="line-height: 15px;font-size:10px;">
                                                                To:
                                                                <b>{{mainta[$index+1].customer_name}}</b><br>{{mainta[$index+1].address_1}}<br>{{mainta[$index+1].address_2}}<br><b>{{mainta[$index+1].location_name}}</b><br><b>{{mainta[$index+1].state_name}}</b><br><b>Phone-No:{{mainta[$index+1].Contact_mobileno}}</b><br><b>Landline-No:{{mainta[$index+1].Contact_landline}}</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-size:12px;">
                                                                <b>CONTENTS</b>
                                                            </td>
                                                            <td align="center"
                                                                style="font-size:12px; font-weight: bolder;">
                                                                <b>BOX DETAILS</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-size:10px;">
                                                                <b>MODEL :<span
                                                                        ng-repeat=" obj1 in mainta[$index+1].Details.DETAILS"
                                                                        style="font-size:12px;">
                                                                    <span ng-show="($index!=0 && $index==$index)">,</span>{{obj1.Product_Display_Name}}</span>
                                                                </b>
                                                            </td>
                                                            <td align="center" style="font-size:20px;">
                                                                <b>{{mainta[$index+1].cartondetails_boxno}}</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" style="font-size:10px">
                                                                <b>QUANTITY :<span
                                                                        ng-repeat=" obj1 in mainta[$index+1].Details.DETAILS"
                                                                        style="font-size:15px"> <span
                                                                        ng-show="($index!=0 && $index==$index)">,</span>{{obj1.Quantity}}</span></span>
                                                                </b>
                                                            </td>
                                                            <td align="center" style="font-size:20px">
                                                                <b>{{mainta[$index+1].max_box_count}}</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="font-size:12px; font-weight: bolder;">
                                                                <b>CONSIGNER</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="line-height: 15px;font-size:10px">
                                                                <b>{{mainta[$index+1].Company_Name}}</b>
                                                                <br>{{mainta[$index+1].Company_Add1}}
                                                                <br>{{mainta[$index+1].Company_Add2}}
                                                                <br>Phone:{{mainta[$index+1].Company_Phone_No}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" colspan="2"
                                                                style="font-size:16px; font-weight: bolder;padding:5px">
                                                                <b>WHOLE SALE PACKAGE</b>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </div>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="col-md-2" style="margin-top:07px;">
                    <md-autocomplete
                            md-item-text="item1.display_name"
                            md-items="item1 in getcustmer(searchTex1)"
                            md-min-length=0
                            md-no-cache="true"
                            md-search-text="searchTex1"
                            md-selected-item="selectedItem1"
                            md-selected-item-change="ACselectchange1(item1)"
                            ng-disabled="Customer_disable"
                            placeholder="Customer Name"
                    >
                        <md-item-template>
                            <span md-highlight-text="searchTex1"> {{item1.display_name}} </span>
                        </md-item-template>
                        <md-not-found>
                            No customer matching "{{searchTex1}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                </div>
                <div class="col-md-1">
                    <md-button class="md-fab md-mini md-primary custbutton" ng-click="serch1()" ng-disabled="disabl">
                        <md-icon>search</md-icon>
                        <md-tooltip>Search</md-tooltip>
                    </md-button>
                </div>
                <div class="col-md-1" style="margin-top:18px;">
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" ng-change="checkdis(checked)">
                    Reprint

                </div>
                <form name="form_cheque">
                    <div class="col-md-2" style="margin-top:-5px;">
                        <md-input-container class="md-block inputcontainer">
                            <label>Dispatch Date</label>
                            <md-datepicker formatDate md-hide-icons="calendar"
                                           ng-disabled="dispatch_date"
                                           md-hide-icons="calendar"
                                           md-max-date="maxDate"
                                           md-min-date="minDate"
                                           ng-model="searchquery_StartDate" ng-change="changeAPI()"
                            ></md-datepicker>
                        </md-input-container>
                    </div>
                </form>

                <div class="col-md-3" style="margin-top:07px;">
                    <md-autocomplete
                            md-menu-class="md-virtual-repeat-container"
                            md-item-text="item.display_name"
                            md-items="item in getcustmer(searchTex)"
                            md-min-length=0
                            md-no-cache="true"
                            md-search-text="searchTex"
                            md-selected-item="selectedItem"
                            md-selected-item-change="ACselectchange(item)"
                            ng-disabled="Customer_disab"
                            placeholder="Customer Name"
                            ng-hide="rightsidetable"

                    >
                        <md-item-template>
                            <span md-highlight-text="searchTex"> {{item.display_name}} </span>
                        </md-item-template>
                        <md-not-found>
                            No customer matching "{{searchTex}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                </div>

                <div class="col-md-2" style="margin-top:-7px;">
                    <md-autocomplete
                            md-clear-button="true"
                            md-floating-label="Courier Name"
                            md-item-text="item.courier_name"
                            md-input-maxlength=126
                            md-min-length=0
                            md-items="item in getcourier(searchText3)"
                            md-no-cache="true"
                            md-search-text="searchText3"
                            md-selected-item="courier"
                            md-selected-item-change="ACselectchange(item)"
                            layout-fill>
                        <md-item-template>
                            <span md-highlight-text="searchText3"> {{item.courier_name}} </span>
                        </md-item-template>
                        <md-not-found>
                            No dispatch matching "{{searchText3}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                    <!--                    <md-input-container class="md-block inputcontainer" >-->
                    <!--                     <label>Courier Name</label>-->
                    <!--                    <md-select md-container-class="popup_select" ng-model="courier" ng-disabled="courier_name">-->
                    <!--                        <md-option ng-repeat="sp in Courierdata" ng-value="sp.courier_gid" ng-disabled="courier_name" >-->
                    <!--                            {{ sp.courier_name}}-->
                    <!--                        </md-option>-->
                    <!--                    </md-select>-->
                    <!--                </md-input-container>-->
                </div>
                <div class="col-md-1">
                    <md-button class="md-fab md-mini md-primary custbutton" ng-click="serch()"
                               ng-disabled="rightsidesearch"
                    >
                        <md-icon>search</md-icon>
                        <md-tooltip>Search</md-tooltip>
                    </md-button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Splits Carton
                    </div>
                    <div class="panel-body" style="height: 500px;overflow: auto;">
                        <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                               md-progress="deferred">
                            <thead class="header">
                            <tr style="text-align:center">
                                <th>S.No</th>
                                <th>Customer Name</th>
                                <th>Invoice No</th>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>Bal Qty</th>
                                <th>Select</th>
                                <th>Master</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-class="{selected: details.isChecked}" ng-repeat="details in prodsmry">
                                <td class="text-center">
                                    {{$index+1}}
                                </td>
                                <td>
                                    <a href="">{{details.customer_display_name.trim().split(' ')[0]+"
                                        "+details.customer_display_name.trim().split(' ')[1]}}</a>
                                    <md-tooltip md-direction="right" style="background-color:#337ab7">
                                        {{details.customer_display_name}}
                                    </md-tooltip>
                                </td>
                                <td>{{details.invoiceheader_no}}</td>
                                <td>{{details.product_name}}</td>
                                <td class="text-right">{{details.cartondetails_qty}}</td>
                                <td class="text-right">{{details.balance_quantity}}</td>
                                <td ng-hide="true">{{details.quantity}}</td>
                                <td>
                                    <form name="formcmnt"><input id="amount{{$index}}" maxlength="5"
                                                                 ng-disabled="!details.isChecked"
                                                                 ng-model="qty" numbers-only
                                                                 required style="width:100%;">
                                        <md-button aria-label="Reject"
                                                   class="md-icon-button"
                                                   ng-click="updateqty(qty)"
                                                   ng-if="formcmnt.$valid">
                                            <md-icon class="material-icons editlink">done
                                            </md-icon>
                                            <md-tooltip>Save</md-tooltip>
                                        </md-button>
                                    </form>
                                </td>
                                <td><select md-container-class="popup_select" ng-model="camname" required
                                            style="width: 80px;">
                                    <option ng-value=""><em>--Select--</em></option>
                                    <option ng-click="checkcampaign(cou)"
                                            ng-repeat="cou in getdrpdta" ng-value="cou">
                                        {{ cou.product_displayname }}
                                    </option>
                                </select>
                                </td>
                                <td class="text-center">
                                    <input ng-click="selectEntity(details)"
                                           ng-model="details.isChecked"
                                           type="checkbox">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <md-button class="btn btn-info custbutton" ng-click="split()"
                                   ng-hide="disable">Split Qty
                            <md-tooltip>Split Quantity</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <md-switch ng-click="clckmove()" ng-model="movedata">MOVE
                </md-switch>
            </div>
            <div class="col-lg-5 col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Full Carton
                    </div>
                    <div class="panel-body" style="height: 500px;overflow: auto;">
                        <br/>
                        <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                               md-progress="deferred">
                            <thead class="header">
                            <tr style="text-align:center">
                                <th>S.No</th>
                                <th>Customer Name</th>
                                <th>Courier Name</th>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>Box Size</th>
                                <th>Box Count</th>
                                <th>Invoice No/ Dispatched</th>
                                <!--<th>Action</th>-->
                            </tr>
                            </thead>
                            <tbody ng-repeat="details in maintabl">
                            <td class="text-center">
                                {{$index+1}}
                            </td>
                            <td><a href="">{{details.Customer_Name.trim().split(' ')[0]+"
                                "+details.Customer_Name.trim().split(' ')[1]}}</a>
                                <md-tooltip md-direction="right" style="background-color: #337ab7" }>
                                    {{details.Customer_Name}}
                                </md-tooltip>
                            </td>
                            <td>{{details.courier_name}}</td>
                            <td>{{details.product_name}}</td>
                            <td class="text-right">{{details.cartondetails_qty}}</td>
                            <td>{{details.Box_Size}}</td>
                            <td class="text-center">{{details.box_count}}</td>
                            <td>{{details.INV_No}}</td>
                            <!--                            <td align="center">-->
                            <!--                                <input ng-change="supplier_check($index,details.checked,details.supplier_name)"-->
                            <!--                                       ng-model="details.checked" ng-disabled="true"-->
                            <!--                                       type="checkbox"/>-->
                            <!--                            </td>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="pull-right">
                        <md-button class="md-fab md-mini md-primary custbutton" ng-click="showpop1()">
                            <md-icon>print</md-icon>
                            <md-tooltip>Print</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
<script>
    var app = angular.module('Appvendor', ['ngMaterial', 'ui.bootstrap', 'AppCommon']).config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });

    app.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
})

app.controller('Ctrlvendor', ['$timeout', '$scope', '$filter', 'Servicelabel', '$mdDateLocale', '$window', '$mdDialog', function($timeout, $scope, $filter,
    Servicelabel, $mdDateLocale, $window, $mdDialog) {
    var detail = JSON.parse(sessionStorage.getItem('today'));
    $scope.emp_gid = detail.employee_gid;
    $scope.entity_gid = detail.entity_gid;
    $scope.currentPage = 1;
    $scope.maxSize = 3;
    $scope.prodsmry = [];
    $scope.courier_name=false;
    $scope.lable = [];
    $scope.Courierdata=[];
    $scope.bsearchquery_StartDate = new Date();
    $scope.mainta = [];
    $scope.shwbtn = false;
    $scope.itemsPerPage = 10;
    $scope.rightsidetable = false;
    $scope.rightsidesearch = false;
    $scope.dispatch_date = true;
    $scope.Customer_disab=false;

    document.getElementById("btnPrint").onclick = function () {

   printElement(document.getElementById("printSectionId"));
    var modThis = document.querySelector("#printSection .modifyMe");
    window.print();

	 $scope.chqscn = [];
		var chqs = 0;
		for (var i = 0; i < $scope.mainta.length; i++) {
		    chqs = $scope.mainta[i].cartonheader_gid
		    $scope.chqscn.push(chqs);
		}

		var data = {
		    "Params": {
		        "HEADER": {},
		        "DETAILS": {
		            "Carton_Header_Gid": $scope.chqscn,
		            "Is_Print": "1"
		        },
		        "CLASSIFICATION": {
		            "Entity_Gid": [$scope.entity_gid]
		        }
		    }
		}
		var datam = {
		    "Group": "LABEL_PRINT_FLAG",
		    "Action": "Update",
		    "Type": "LABEL_PRINT_FLAG",
		    "Sub_Type": "CARTON",
		    "Create_by": $scope.emp_gid,
		    "data": data
		}

		var print = Servicelabel.setprint(datam)
		print.then(function(result) {
		        $scope.printdata = [];
		        $scope.printdata = result.data.MESSAGE;
		        if ($scope.printdata != 'SUCCESS') {
		        }
		        $window.location.href = "labelgenerate";
		    }),
		    function() {
		        alert('no data');
		    };
	}

	function printElement(elem) {
	    var domClone = elem.cloneNode(true);
	    var $printSection = document.getElementById("printSection");
	    if (!$printSection) {
		var $printSection = document.createElement("div");
		$printSection.id = "printSection";
		document.body.appendChild($printSection);
	    }
	    $printSection.innerHTML = "";
	    $printSection.appendChild(domClone);
	}


         $scope.getMinDate = function() {
            return new Date(
                $scope.bsearchquery_StartDate.getFullYear(),
                $scope.bsearchquery_StartDate.getMonth() - 2,
                $scope.bsearchquery_StartDate.getDate());
        }
        $scope.getMaxDate = function() {
            return new Date(
                $scope.bsearchquery_StartDate.getFullYear(),
                $scope.bsearchquery_StartDate.getMonth(),
                $scope.bsearchquery_StartDate.getDate());
        }
        $scope.minDate = $scope.getMinDate();
        $scope.maxDate = $scope.getMaxDate();

         $scope.getcourier=function(query)
       {
                var result=$filter('filter')($scope.Courierdata,
                {
                'courier_name':query
                });
                return result;
       }



    $scope.checkdis = function(checked) {

        if (checked) {
            $scope.searchTex = '';
            $scope.dispatch_date = false;
            $scope.Customer_disab=true;
            $scope.rightsidesearch = true;
            $scope.courier_name=true;
        } else {
            load_full_cutomer();
            $scope.searchTex = '';
            $scope.dispatch_date = true;
            $scope.searchquery_StartDate = '';
            $scope.Customer_disab=false;
            $scope.courier_name=false;
            $scope.form_cheque.$setPristine();
            $scope.form_cheque.$setUntouched();
            $scope.rightsidesearch = false;
        }
    }

    $scope.changeAPI = function() {
    if($scope.checked)
    {
    $scope.Customer_disab=false;
    $scope.rightsidesearch = false;
    $scope.courier_name=false;
    }
        var dta = {
            "Params": {
                "FILTER": {
                    "Dispatch_Date": formatStringDate($scope.searchquery_StartDate, 'yyyy-mm-dd')
                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var custdata = {
            "Group": "CONSIGNMENT_DETAILS",
            "Type": "CARTON",
            "Sub_Type": "DISPATCHED_CUSTOMER",
            "data": dta
        }

        var get_reprint_cust = Servicelabel.getreprintcust(custdata)
        get_reprint_cust.then(function(result) {

            $scope.customers = result.data.DATA;
            for (i = 0; i < $scope.customers.length; i++) {
                $scope.customers[i].display_name = $scope.customers[i].customer_display_name
            }

        }, function(err) {
            alert('No data!.');
        }).finally();

    }

    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };

    $scope.endloading = function() {
        $mdDialog.hide();
    };

    $scope.showpop1 = function() {
        modalshow('mdl1_present');
    }

    $scope.selectEntity = function() {
        for (var i = 0; i < $scope.prodsmry.length; i++) {
            if ($scope.prodsmry[i].isChecked == true) {
                $scope.isChecked = true;
            }
        }
    }

    $scope.getcustmer = gotocust;

    function gotocust(query) {
        var result = $filter('filter')($scope.customers, {
            'display_name': query
        });
        return result;
    }

    load_full_cutomer();

    function load_full_cutomer() {
        var dta = {
            "params": {
                "FILTER": {}
            }
        }
        var custdata = {
            "Entity_Gid": $scope.entity_gid,
            "Group": 'CUST_GET',
            "data": dta
        }

        var get_cust = Servicelabel.getcust(custdata)
        get_cust.then(function(result) {

            $scope.customers = result.data.DATA
        }, function(err) {
            alert('No data!.');
        }).finally();
    }
    var ddta = {
        "Params": {
            "FILTER": {},
            "CLASSIFICATION": {
                "Entity_Gid": $scope.entity_gid
            }
        }
    }

    var data = {
        Type: 'PRODUCT_CARTON',
        Sub_Type: 'SALES',
        Group: 'GET_ALL_PRODUCT',
        data: ddta
    }

    var getmstr = Servicelabel.getdrpdwn(data)
    getmstr.then(function(result) {
        $scope.getdrpdta = result.data.DATA;
    }, function(err) {
        alert('No data!.');
    }).finally();

    $scope.serch1 = function() {
        $scope.loading();
        if ($scope.selectedItem1 !== null) {
            $scope.cusgid = $scope.selectedItem1.customer_gid;

        } else {
            $scope.cusgid = 0;
        }

        var data = {
            "Params": {
                "FILTER": {
                    "Customer_Gid": $scope.cusgid
                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Sub_Type: 'SPLIT_QUANTITY',
            Type: 'SALES',
            Group: 'SALES_SPLIT_QUANTITY',
            data: data
        };
        prodsplitsmry(data_int);
        $scope.endloading();

    }

    $scope.serch = function() {

        if ($scope.selectedItem !== null) {
            $scope.cusgid = $scope.selectedItem.customer_gid;
        } else {
            $scope.cusgid = 0;
        }
         if($scope.courier){
            $scope.courier1 = $scope.courier.courier_gid;
            }else{
            $scope.courier1='';
            }


        if(($scope.checked)&&($scope.cusgid >0)){

        var data = {
            "Params": {
                "FILTER": {
                    "Customer_Gid": $scope.cusgid,
                    "Print_Flag":"Y",
                    "Dispatch_Date": formatStringDate($scope.searchquery_StartDate, 'yyyy-mm-dd'),
                    "Dispatch_Courier_Gid":$scope.courier1

                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Sub_Type: 'FULL_QUANTITY',
            Type: 'SALES',
            Group: 'SALES_FULL_QUANTITY',
            data: data
        };
        prodfullsmry(data_int);
    }
     else if($scope.checked)
    {
    if($scope.cusgid > 0)
    {
    $scope.cusgid=$scope.cusgid ;
    }
    else
    {
     $scope.cusgid=0;
    }
    var data = {
            "Params": {
                "FILTER": {
                    "Customer_Gid": $scope.cusgid,
                    "Dispatch_Courier_Gid":$scope.courier1,
                    "Dispatch_Date":formatStringDate($scope.searchquery_StartDate, 'yyyy-mm-dd'),
                    "Print_Flag": 'Y'

                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Sub_Type: 'FULL_QUANTITY',
            Type: 'SALES',
            Group: 'SALES_FULL_QUANTITY',
            data: data
        };
        prodfullsmry(data_int);

    }
    else
    {
    var data = {
            "Params": {
                "FILTER": {
                    "Customer_Gid": $scope.cusgid,
                    "Dispatch_Courier_Gid":$scope.courier1


                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Sub_Type: 'FULL_QUANTITY',
            Type: 'SALES',
            Group: 'SALES_FULL_QUANTITY',
            data: data
        };
        prodfullsmry(data_int);

    }

    }

    $scope.loading();
    loaddata();
    loaddata2();

    $scope.endloading()

    function labelsmry(data_int) {
        var get_employ = Servicelabel.getfrstsmry(data_int)
        get_employ.then(function(result) {
                $scope.mainta = result.data.DATA;
                if (result.data.MESSAGE == 'FOUND') {
                    $scope.shwbtn = true;
                } else {
                    $scope.shwbtn = false;
                }
            }, function(err) {
                alert('No data!.');
            })
            .finally();
    };




    function loaddata() {
        var data = {
            "Params": {
                "FILTER": {},
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Sub_Type: 'SPLIT_QUANTITY',
            Type: 'SALES',
            Group: 'SALES_SPLIT_QUANTITY',
            data: data
        };
        prodsplitsmry(data_int);
    }

    function prodsplitsmry(data_int) {
        var get_employ = Servicelabel.getfrstsmry(data_int)
        get_employ.then(function(result) {
                $scope.maintable = result.data.DATA;
                $scope.prodsmry = $scope.maintable
                $scope.pageLength = $scope.prodsmry.length;
                $scope.Totalpages = Math.ceil($scope.prodsmry.length / $scope.itemsPerPage);
                $scope.pageLength = $scope.prodsmry.length;
            }, function(err) {
                alert('No data!.');
            })
            .finally();
    };

    function loaddata2() {
        var data = {
            "Params": {
                "FILTER": {},
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Sub_Type: 'FULL_QUANTITY',
            Type: 'SALES',
            Group: 'SALES_FULL_QUANTITY',
            data: data
        };
        prodfullsmry(data_int);
    }

    function prodfullsmry(data_int) {
        var get_employ = Servicelabel.getfrstsmry(data_int)
        get_employ.then(function(result) {

                $scope.maintabl = result.data.DATA;
                $scope.disinput = true;
                loadforprint();
                $scope.pageLength = $scope.maintabl.length;
                $scope.Totalpages = Math.ceil($scope.maintabl.length / $scope.itemsPerPage);
                $scope.pageLength = $scope.maintabl.length;
                $scope.endloading();
            }, function(err) {
                alert('No data!.');
            })
            .finally();
    };


function loadforprint(){

 if(($scope.checked)&&($scope.cusgid >0)){
        var data = {
            "Params": {
                "FILTER": {
                    "Customer_Gid": $scope.cusgid ,
                    "Print_Flag": 'Y',
                    "Dispatch_gid": [],
                    "Dispatch_Date": formatStringDate($scope.searchquery_StartDate, 'yyyy-mm-dd'),
                    "Dispatch_Courier_Gid":$scope.courier1
                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Type: 'LABEL_PRINT_SALES',
            Sub_Type: 'SALES',
            Group: 'LABEL_PRINT_SALES',
            data: data
        };
        labelsmry(data_int);
        }
        else if($scope.cusgid > 0){
          var data = {
            "Params": {
                "FILTER": {
                    Customer_Gid: $scope.cusgid,
                    Print_Flag: 'N',
                    Dispatch_gid:[],
                   "Dispatch_Courier_Gid":$scope.courier1
                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Type: 'LABEL_PRINT_SALES',
            Sub_Type: 'SALES',
            Group: 'LABEL_PRINT_SALES',
            data: data
        };
        labelsmry(data_int);
        }
  else if($scope.checked){
          var data = {
            "Params": {
                "FILTER": {
                    Customer_Gid: 0,
                    Print_Flag: 'Y',
                    Dispatch_gid: [],
                   "Dispatch_Courier_Gid":$scope.courier1,
                   "Dispatch_Date":formatStringDate($scope.searchquery_StartDate, 'yyyy-mm-dd')
                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Type: 'LABEL_PRINT_SALES',
            Sub_Type: 'SALES',
            Group: 'LABEL_PRINT_SALES',
            data: data
        };
        labelsmry(data_int);

        }
else {
          var data = {
            "Params": {
                "FILTER": {
                    Customer_Gid: 0,
                    Print_Flag: 'N',
                    Dispatch_gid: [],
                   "Dispatch_Courier_Gid":$scope.courier1
                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var data_int = {
            Type: 'LABEL_PRINT_SALES',
            Sub_Type: 'SALES',
            Group: 'LABEL_PRINT_SALES',
            data: data
        };
        labelsmry(data_int);

        }

}
    $scope.split = function() {
        var quan = '';
        for (var i = 0; i < $scope.prodsmry.length; i++) {
            if ($scope.prodsmry[i].isChecked) {
                quan = JSON.stringify($scope.prodsmry[i].cartondetails_qty)
                if (quan > 1) {
                    $scope.disinput = false;
                    var ids = '#amount' + i;
                    $(ids)
                        .focus();
                } else {
                    alert('You Cant Split The Quantity 1')
                    $scope.prodsmry[i].isChecked = false;
                }
            }
        }
    }

    var unique = function(origArr) {
        var newArr = [],
            origLen = origArr.length,
            found, x, y;
        for (x = 0; x < origLen; x++) {
            found = undefined;
            for (y = 0; y < newArr.length; y++) {
                if (origArr[x] === newArr[y]) {
                    found = true;
                    break;
                }
            }
            if (!found) {
                newArr.push(origArr[x]);
            }
        }
        return newArr;
    }

    $scope.clckmove = function() {

        $scope.loading();
        $scope.sum = 0;
        $scope.sum1 = 0;
        $scope.last = [];
        var data = [];
        $scope.gidd = [];
        $scope.headergid = 0;
        $scope.lastone = [];

        for (var i = 0; i < $scope.prodsmry.length; i++) {
            Quantity = $scope.prodsmry[i].quantity
            if (Quantity > 0) {
                $scope.sum += parseInt($scope.prodsmry[i].quantity);
            }
        }

        for (var i = 0; i < $scope.prodsmry.length; i++) {
            if ($scope.prodsmry[i].isChecked) {
                cartnQuan = $scope.prodsmry[i].cartondetails_qty
                if (cartnQuan == 1) {
                    $scope.sum1 += parseInt($scope.prodsmry[i].cartondetails_qty);
                }
                $scope.headergid = $scope.prodsmry[i].cartondetails_dispatchgid,
                    $scope.gidd.push($scope.headergid);
                var dd = unique($scope.gidd);
                $scope.val = dd.length
                if ($scope.val == 1) {
                    cartonqty = $scope.prodsmry[i].cartondetails_qty,
                        Quantity = $scope.prodsmry[i].quantity,
                        maxquan = $scope.prodsmry[i].max_box_count
                    if (cartonqty < Quantity) {
                        alert("Your Entered Value Is Bigger");
                        return false;
                    } else {
                        if (cartonqty > Quantity) {
                            data = {
                                Carton_Detail_Gid: $scope.prodsmry[i].cartondetails_gid,
                                Details_Dispatch_Gid: $scope.prodsmry[i].cartondetails_dispatchgid,
                                REF_Gid: $scope.prodsmry[i].cartondetails_refgid,
                                Reftable_Gid: $scope.prodsmry[i].cartondetails_reftablegid,
                                Details_Qty: $scope.prodsmry[i].quantity,
                                Barcode: "222",
                                Weight: "2",
                                Boxsize: 8,
                                Box_No: maxquan + 1,
                                Qty_Split: $scope.prodsmry[i].quantity,
                                Qty_Split_Parent_Gid: $scope.prodsmry[i].cartondetails_gid,
                                Is_Detail_Closed: "N"
                            }
                            $scope.last.push(data);
                        } else {
                            dataa = {
                                Carton_Detail_Gid: $scope.prodsmry[i].cartondetails_gid,
                                Details_Dispatch_Gid: $scope.prodsmry[i].cartondetails_dispatchgid,
                                REF_Gid: $scope.prodsmry[i].cartondetails_refgid,
                                Reftable_Gid: $scope.prodsmry[i].cartondetails_reftablegid,
                                Details_Qty: $scope.prodsmry[i].cartondetails_qty,
                                Barcode: "222",
                                Weight: "2",
                                Boxsize: 8,
                                Box_No: maxquan + 1,
                                Qty_Split: 0,
                                Qty_Split_Parent_Gid: $scope.prodsmry[i].cartondetails_gid,
                                Is_Detail_Closed: "Y"
                            }
                            $scope.lastone.push(dataa);
                        }
                    }
                } else {
                    alert('Kindly Choose Same Customer For Dispatch')
                    return false;
                }
            }
        }

        $scope.array1 = [];
        $scope.array1 = $scope.lastone.concat($scope.last)

        if ($scope.sum1 > 0) {
            $scope.fullsum = parseInt($scope.sum + $scope.sum1);
        } else {
            $scope.fullsum = $scope.sum;
        }

        var datass = {
            "Params": {
                "HEADER": {
                    "HEADER": {
                        Header_Dispatch_Gid: $scope.headergid,
                        Header_Qty: $scope.fullsum,
                        CartonP_Gid: 88,
                        Type: 'INVOICE',
                        Remark: 'SPLIT',
                        Box_Count: maxquan + 1,
                    }
                },
                "DETAILS": {
                    "DETAILS": $scope.array1
                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }

        var datas = {
            Group: 'CARTON_SPLIT',
            Action: 'Update',
            Type: 'LABEL_PRINT_SPLIT',
            Sub_Type: 'SALES',
            Create_by: $scope.emp_gid,
            data: datass
        }

        var custgrpddl = Servicelabel.setdet(datas)
        custgrpddl.then(function(result) {
                $scope.mulltidata = [];
                $scope.mulltidata = result.data.MESSAGE;
                if ($scope.mulltidata == 'SUCCESS') {
                    alert($scope.mulltidata);
                    updatepackets($scope.headergid);
                    $window.location.href = "labelgenerate";
                }
            }),
            function() {
                alert('no data');
            };
    }

    function updatepackets(e)
        {
            var data1 = {
                        "Dispatch_Gid": e
                        }
             var data = {
                "Params": {

                    "HEADER": data1,
                    "CLASSIFICATION": {
                        "Entity_Gid": [$scope.entity_gid]
                                  },
                    "DETAILS":{}
                }
            }

            var data_int = {
                Group: "DISPATCH_WEIGHT_UPDATE",
                Action: 'Update',
                Type: 'DISPATCH_UPDATE',
                Sub_Type: 'PACKETS',
                Create_by: $scope.emp_gid,
                data: data
            };

           var update_weight = Servicelabel.submitget(data_int)
            update_weight.then(function(result) {

                    $scope.cour = [];
                    $scope.cour = result.data.MESSAGE;
                    //alert($scope.cour);

                },
                function(err) {
                    alert('No data!.');
                }).finally();


        }


    $scope.updateqty = function(qty) {
        for (var i = 0; i < $scope.prodsmry.length; i++) {
            if ($scope.prodsmry[i].isChecked) {
                if ($scope.prodsmry[i].cartondetails_qty < qty) {
                    $scope.prodsmry[i].quantity = qty;
                    alert('Enter The Value Less than Given Quantity')
                } else if ($scope.prodsmry[i].cartondetails_qty > qty) {
                    $scope.prodsmry[i].quantity = qty;
                }
                $scope.prodsmry[i].isChecked = false;
            }
        }
    }

    function loadprint(printSectionId) {
        var innerContents = document.getElementById(printSectionId).innerHTML;
        var popupWinindow = window.open('', '_blank',
            'width=1600,height=1700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
        popupWinindow.document.open();
        var getdata = '<html><head> <link  rel="stylesheet" src="/static /Content/bootstrap.min.css"  type="text/css"  media="print">';
        getdata += '</head>';
        getdata += '<body onload="window.print()" style="margin: 0mm 0mm 0mm 0mm">' + innerContents + '</body></html>';
        popupWinindow.document.write(getdata);
        popupWinindow.document.close();
    }

     var datan = {
                "Table_name":"dis_mst_tcourier",
                "Column_1":"courier_gid,courier_name",
                "Column_2":"",
                "Where_Common":"courier",
                "Where_Primary":"type",
                "Primary_Value":"courier",
                "Order_by":"name"
            }

            var trans = {
                Action: "COURIER",
                Entity_Gid: $scope.entity_gid,
                data: datan
            }

            var gettransport = Servicelabel.gettransportdata(trans)
            gettransport.then(function(result) {
                $scope.Courierdata = result.data.DATA;
            }, function(err) {
                alert('No data!.');
            }).finally();

    $scope.printToCart = function(printSectionId) {
        $scope.chqscn = [];
        var chqs = 0;
        for (var i = 0; i < $scope.mainta.length; i++) {
            chqs = $scope.mainta[i].cartonheader_gid
            $scope.chqscn.push(chqs);
        }

        var data = {
            "Params": {
                "HEADER": {},
                "DETAILS": {
                    "Carton_Header_Gid": $scope.chqscn,
                    "Is_Print": "1"
                },
                "CLASSIFICATION": {
                    "Entity_Gid": [$scope.entity_gid]
                }
            }
        }
        var datam = {
            "Group": "LABEL_PRINT_FLAG",
            "Action": "Update",
            "Type": "LABEL_PRINT_FLAG",
            "Sub_Type": "CARTON",
            "Create_by": $scope.emp_gid,
            "data": data
        }

        var print = Servicelabel.setprint(datam)
        print.then(function(result) {
                $scope.printdata = [];
                $scope.printdata = result.data.MESSAGE;
                if ($scope.printdata == 'SUCCESS') {
                    loadprint(printSectionId)

                }
            }),
            function() {
                alert('no data');
            };
    }
}]);

app.service("Servicelabel", function($http) {
    this.getfrstsmry = function(custid) {
        var respons = $http.post(Appname + "/getlablprod/",
            custid
        );
        return respons;
    }
    this.getcust = function(custid) {
        var respons = $http.post(Appname + "/custgroup/",
            custid
        );
        return respons;
    }
    this.setdet = function(custid) {
        var respons = $http.post(Appname + "/setlablprod/",
            custid
        );
        return respons;
    }
    this.setprint = function(datam) {
        var respons = $http.post(Appname + "/setlablprod/",
            datam
        );
        return respons;
    }
     this.submitget = function(datum) {
        var response = $http.post(Appname + "/setlablprod/", datum);
        return response;
    }
    this.getdrpdwn = function(custid) {
        var respons = $http.post(Appname + "/getmstr/",
            custid
        );
        return respons;
    }
    this.getreprintcust = function(custdata) {
        var respons = $http.post(Appname + "/getlablprod/",
            custdata
        );
        return respons;
    }
     this.gettransportdata = function(trans) {
        var respons = $http.post(Appname + "/prodget/", trans);
        return respons;
    }
});




</script>
{% endblock %}