{%verbatim%}
<div class="modal fade" id="dispatchpopup_present" tabindex="-1" role="dialog" data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Dispatch POD Details
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body popup-body">
                <div class="row">
                    <form name="myForm">
                        <div class="col-xs-12">
                            <div class="col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Dispatch Mode</label>
                                    <input type="text" maxlength="30" ng-model="dispatch_POD.dispatch_mode"
                                           ng-disabled="true" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Transport Name</label>
                                    <input type="text" maxlength="30" ng-model="dispatch_POD.courier_name"
                                           ng-disabled="true" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class=" col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Booking Number</label>
                                    <input type="text" maxlength="16" ng-model="dispatch_POD.dispatch_awbno"
                                           ng-disabled="true" required>
                                </md-input-container>
                            </div>
                            <div class=" col-md-6" ng-show="truck">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Trucks details and Remarks</label>
                                    <input type="text" no-special-char maxlength="60"
                                           ng-model="dispatch_POD.dispatch_remarks" ng-disabled="true" required/>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                    <form name="sample">
                        <div class="col-xs-12">
                            <div class="col-md-4">
                                <md-input-container class="md-block inputcontainer">
                                    <label>status</label>
                                    <md-select ng-model="dispatch_POD.status" md-container-class="popup_select"
                                               required>
                                        <md-option ng-repeat="sp in Status" ng-value="sp.metadata_value"
                                        >
                                            {{ sp.metadata_value }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class=" col-md-6">
                                <md-input-container class="md-block inputcontainer">
                                    <label>POD Date</label>
                                    <md-datepicker formatDate md-hide-icons="calendar"
                                                   md-hide-icons="calendar"
                                                   ng-disabled="service_disable"
                                                   name="datee"
                                                   ng-model="dispatch_POD.myDate"
                                                   ng-click="date"
                                                   md-min-date="minDate"
                                                   md-max-date="maxDate"
                                                   required></md-datepicker>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12" align="center">
                        <md-button class="md-raised custbutton md-warn" ng-click="updateDISPATCH_POD(dispatch_POD)"
                                   ng-show="(sample.$valid  )">Update
                        </md-button>
                        <md-button class="md-raised" data-dismiss="modal" ng-click="clear(dispatch_POD)">Close
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}