{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}Dispatch Summary  {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" class="modal-body popup-body" ng-app="Appemployee" ng-controller="Ctrlemployee"
         ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4>Dispatch Summary</h4>
            </div>
        </div>
        <div class="modal-body popup-body">
            <div class="row">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Invoice No</label>
                        <input type="text" ng-model="invnum" maxlength="13" autocomplete="off">
                    </md-input-container>
                </div>
                <div class="col-md-3" style="margin-top:-16px">
                    </br>
                    <md-autocomplete
                            md-clear-button="true"
                            md-floating-label="Customer Group"
                            md-input-maxlength=126
                            md-item-text="item.customergroup_name"
                            md-items="item in getcust(searchText)"
                            md-min-length=0
                            md-no-cache="true"
                            md-search-text="searchText"
                            md-selected-item="customer_name"
                            md-selected-item-change="ACselectchange(item)"
                           >
                        <md-item-template>
                            <span md-highlight-text="searchText"> {{item.customergroup_name}} </span>
                        </md-item-template>
                        <md-not-found>
                            No product matching "{{searchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>


                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Invoice Amount</label>
                        <input id="amount" maxlength="11" ng-model="Amount"
                               ng-pattern="/^[123456789][.0-9]{0,10}$/" autocomplete="off"
                               valid-number/>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Invoice Date</label>
                        <md-datepicker md-hide-icons="calendar" ng-model="searchquery_StartDate"
                        ></md-datepicker>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                     <md-autocomplete
                            md-clear-button="true"
                            md-floating-label="Dispatch Mode"
                            md-input-maxlength=126
                            md-item-text="item.metadata_value"
                            md-items="item in getdispatch(searchText1)"
                            md-min-length=0
                            md-no-cache="true"
                            md-search-text="searchText1"
                            md-selected-item="couri"
                            md-selected-item-change="ACselectchange(item)"
                           >
                        <md-item-template>
                            <span md-highlight-text="searchText1"> {{item.metadata_value}} </span>
                        </md-item-template>
                        <md-not-found>
                            No dispatch matching "{{searchText1}}" were found.
                        </md-not-found>
                    </md-autocomplete>

<!--                    <md-input-container class="md-block inputcontainer">-->
<!--                        <label>Dispatch Mode</label>-->
<!--                        <md-select md-container-class="popup_select" ng-model="couri">-->
<!--                            <md-option ng-repeat="obj in Dispatch" ng-value="obj.metadata_value">-->
<!--                                {{ obj.metadata_value }}-->
<!--                            </md-option>-->
<!--                        </md-select>-->
<!--                    </md-input-container>-->
                </div>
                <div class="col-md-3" class="modal-body popup-body">
                     <md-autocomplete
                            md-clear-button="true"
                            md-floating-label="status"
                            md-item-text="item.status"
                            md-input-maxlength=126
                            md-min-length=0
                            md-items="item in getstatus(searchText2)"
                            md-no-cache="true"
                            md-search-text="searchText2"
                            md-selected-item="ddlstatus"
                            md-selected-item-change="ACselectchange(item)"
                           layout-fill>
                        <md-item-template>
                            <span md-highlight-text="searchText2"> {{item.status}} </span>
                        </md-item-template>
                        <md-not-found>
                            No dispatch matching "{{searchText2}}" were found.
                        </md-not-found>
                    </md-autocomplete>


<!--                    <md-input-container class="md-block inputcontainer">-->
<!--                        <label>Status</label>-->
<!--                        <md-select ng-model="ddlstatus">-->
<!--                            <md-optgroup label="Status">-->
<!--                                <md-option ng-repeat="st in review_status" ng-value="st.value"> {{st.status}}-->
<!--                                </md-option>-->
<!--                            </md-optgroup>-->
<!--                        </md-select>-->
<!--                    </md-input-container>-->
                </div>
                <div class="col-md-2" class="modal-body popup-body">
                     <md-autocomplete
                            md-clear-button="true"
                            md-floating-label="Courier Name"
                            md-item-text="item.courier_name"
                            md-input-maxlength=126
                            md-min-length=0
                            md-items="item in getcourier(searchText3)"
                            md-no-cache="true"
                            md-search-text="searchText3"
                            md-selected-item="courier"
                            md-selected-item-change="ACselectchange(item)"
                           layout-fill>
                        <md-item-template>
                            <span md-highlight-text="searchText3"> {{item.courier_name}} </span>
                        </md-item-template>
                        <md-not-found>
                            No dispatch matching "{{searchText3}}" were found.
                        </md-not-found>
                    </md-autocomplete>


<!--                    <md-input-container class="md-block inputcontainer">-->
<!--                        <label>Courier Name</label>-->
<!--                        <md-select md-container-class="popup_select" ng-model="courier">-->
<!--                            <md-option ng-repeat="sp in Courierdata" ng-value="sp.courier_gid">-->
<!--                                {{ sp.courier_name}}-->
<!--                            </md-option>-->
<!--                        </md-select>-->
<!--                    </md-input-container>-->

                </div>
                <div class="col-md-1" style="margin-top:12px;margin-left:5px">
                    <md-button ng-click="serchclck();" class="md-fab md-mini md-primary custbutton">
                        <md-icon>search</md-icon>
                        <md-tooltip>Search</md-tooltip>
                    </md-button>
                </div>
                <div class="col-md-2" style="margin-top:12px">
                    <md-button class="btn btn-info custbutton" ng-click="weightupate()">
                        Manual Weight Update
                    </md-button>
                </div>
            </div>
            </br>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           style="width:100%">
                        <thead class="header">
                        <tr>
                            <th>S.No</th>
                            <th>Invoice No</th>
                            <th style="width:3%">Customer Name</th>
                            <th>Executive Name</th>
                            <th>Net Amount</th>
                            <th>Dispatch Mode</th>
                            <th>Default wt</th>
                            <th style="width:1%">Actual wt</th>
                            <th>Courier Name</th>
                            <th>Invoice Status</th>
                            <th>Select<br>
                                <input ng-click="selectAll()" ng-model="empsmry.allItemsSelected" type="checkbox"
                                       ng-change="updateTotal(empsmry)"></th>
                            <th>Dispatch</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-class="{selected: empsmry.isCheckd}"
                            ng-repeat="emp in empsmry.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:search:strict ">
                            <td>
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td class="text-center">{{emp.invoiceheader_no }}</td>
                            <td class="text-center">{{emp.customer_name}}-{{emp.location_name}}</td>
                            <td class="text-center">{{emp.employee_name}}</td>
                            <td align="right">{{emp.invoiceheader_total}}</td>
                            <td class="text-center">{{emp.dispatch_mode}}</td>
                            <td align="right">{{emp.weight}}</td>
                            <td><input ng-model="value" style="width:80px" type="text" ng-hide="true"></td>
                            <td class="text-center">{{emp.courier_name}}</td>
                            <td class="text-center">{{emp.invoice_status.replace('_',' ')}}</td>
                            <td class="text-center">
                                <input ng-click="selectentity(emp)" ng-model="emp.isCheckd" type="checkbox"
                                       ng-change="updatesingle(emp)">

                            </td>
                            <td><a href ng-click="showpop1(emp)"
                                   ng-if=" emp.invoice_status == 'PENDING_DISPATCH'">Update</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <td colspan="15">
                                    <ul boundary-links="true" class="pagination-sm cust_pagination"
                                        items-per-page="itemsPerPage"
                                        max-size="maxSize"
                                        ng-model="currentPage" total-items="pageLength"
                                        uib-pagination></ul>
                                </td>
                            </div>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div align="center" class="col-md-12">
                    <md-button class="btn btn-info custbutton" ng-click="genrtelabl()" ng-disabled="bulkbutton1">
                        Generate
                        Labels
                    </md-button>

                    <md-button class="btn btn-info custbutton" ng-click="bulkupdate()" ng-disabled="bulkbutton">
                        Update
                        Bulk Courier
                    </md-button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12" ng-include="'invoicepopup'"></div>
                <div class="col-lg-12 col-sm-12" ng-include="'viewpopup'"></div>
                <div class="col-lg-12 col-sm-12" ng-include="'Bulkpopup'"></div>
                <div class="col-lg-12 col-sm-12" ng-include="'weightpopup'"></div>
                <div ng-include="'genpopup'"> </div>
        </div>
    </div>
</div>
{% endverbatim %}
<script>
    var myApp = angular.module('Appemployee', ['ngMaterial', 'ui.bootstrap', 'AppCommon'])
        .config(function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        });

myApp.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
})

myApp.controller('Ctrlemployee', ['$scope', 'testService', '$mdDialog', '$rootScope', '$window', '$filter', '$element', '$timeout',
    function($scope, testService, $mdDialog, $rootScope, $window, $filter, $element, $timeout) {
        $element.find('input').on('keydown', function(ev) {
            ev.stopPropagation();
        });

        var detail = JSON.parse(sessionStorage.getItem('today'));
        $scope.employgid = detail.employee_gid;
        $scope.entity_gid = detail.entity_gid;
        $scope.checkedbox = [];

        $scope.dispatch_date = new Date();
        $scope.check_receipt = [];
        $scope.weightsumbit = true;
        $scope.fulldta = [];
        $scope.set = [];
        $scope.AWNNO=[]
        $scope.empsmry = [];
        $scope.empsmry1=[];
        $scope.weightbox = true;
        $scope.buttonfunction = true;
        $scope.showfr = false;
        $scope.trans_name=true;
        $scope.awb = false;
        $scope.delivery = true;
        $scope.truck = true;
        $scope.showfr1 = true;
        $scope.reject = true;
        $scope.currentPage = 1;
        $scope.maxSize = 3;
        $scope.itemsPerPage = 10;
        $scope.SO_PRODUCT_DETAILS = [];
        $scope.Dispatch = [];
        $scope.pop = [];
        $scope.bulkdata = [];
        $scope.Bulk = [];
        $scope.invoice_data = [];
        $scope.selectedRecords=0;
        $scope.Transport = [];
        $scope.Courierdata=[];
        $scope.bulkshw = true;
        $scope.submitted=false;
        $scope.multidata1=[];
        $scope.form_cheque={};
        //$scope.emp.value='';


        $scope.getcustmer = gotocust1;

function gotocust1(query) {
            var result = $filter('filter')($scope.customers, {
                'display_name': query
            });
            return result;
        }
        var dta = {
            "params": {
                "FILTER": {}
            }
        }
        var custdata = {
            "Entity_Gid": $scope.entity_gid,
            "Group": 'CUST_GET',
            "data": dta
        }

        var get_cust =testService.getcust(custdata)
        get_cust.then(function(result) {

            $scope.customers = result.data.DATA
        }, function(err) {}).finally();


        $scope.newtask={}

          $scope.totalSelected = 0;

        $scope.getcust = gotocust;

         function gotocust(query) {
                    var result = $filter('filter')($scope.mullti, {
                        'customergroup_name': query
                    });
                    return result;
                }
         $scope.getdispatch=function(query)
           {
                var result=$filter('filter')($scope.Dispatch,{
                'metadata_value':query
                });
                return result;
           }

       $scope.getstatus=function(query)

          {
                var result=$filter('filter')($scope.review_status,
                {
                'status':query
                });
                return result;
          }


       $scope.getcourier=function(query)
       {
                var result=$filter('filter')($scope.Courierdata,
                {
                'courier_name':query
                });
                return result;
       }

         $scope.updatesingle = function(emp) {

              if (emp.isCheckd && emp.invoice_status == 'PENDING_DISPATCH')
              {
                $scope.totalSelected++;
                 $scope.totalselected++;
              }
              else if(!(emp.invoice_status == 'PENDING_LABEL'))
              {
                $scope.totalSelected--;
                 $scope.totalselected--;
              }
         }
         $scope.weight = [];
         $scope.weight.dispatch_date = '';
         $scope.search1=function(weight)
         {



            if(weight.courier == null)
                {
                $scope.weight_courier='';

                }
            else
                {
                 $scope.weight_courier=weight.courier.courier_gid;
                }

                if(weight.dispatch_date>0)
                {
                $scope.weight_dispatch_date=formatStringDate(weight.dispatch_date, 'yyyy-mm-dd')
                }

            else if(weight.dispatch_date == null || weight.dispatch_date == undefined || weight.dispatch_date == '')
                {
                $scope.weight_dispatch_date=''
                }


            if(weight.customer_name1 == null)
                {
                  $scope.customer_gid='';
                }
            else
                {
                $scope.customer_gid=weight.customer_name1.customer_gid;
                }


        var data={"Params":
                        { "FILTER":
                            {"Dispatch_Date":$scope.weight_dispatch_date,
                            "Customer_Gid":$scope.customer_gid,
                            "Courier_Gid": $scope.weight_courier
                            },
                            "CLASSIFICATION":{"Entity_Gid":[$scope.entity_gid]}
                        }
                 }

        var data_int={
                        "Type":"DISPATCH",
                        "Sub_Type":"MANUAL_WEIGHT",
                        "Group":"CONSIGNMENT_DETAILS",
                        "data":data
        }

        var search_manual=testService.getsearch_manual(data_int)
         search_manual.then(function(result){
                $scope.maintable=result.data.DATA;
                $scope.empsmry1=$scope.maintable;
                $scope.pageLength=$scope.empsmry1.length;
                $scope.Totalpages=Math.ceil($scope.pageLength/$scope.itemsPerPage);
         });



         }

         $scope.updateTotal = function(emp) {

           $scope.dispatch = $filter('filter')($scope.empsmry, function(item) {
            return (item.invoice_status == 'PENDING_DISPATCH')
        })
        if($scope.dispatch.length == $scope.empsmry.length){
          $scope.totalselected = 0;
           if ((!emp.isCheckd) && (emp.invoice_status == 'PENDING_DISPATCH'))
              {
                $scope.totalselected--;
              }
              if (emp.allItemsSelected)
              {
                 for (var i = 0; i < $scope.empsmry.length; i++) {
                    if (!$scope.empsmry[i].isChecked && $scope.empsmry[i].invoice_status == 'PENDING_DISPATCH') {
                        $scope.totalselected++;
                    }
                }
              }
}
         }

      $scope.count=0;
      $scope.count1=0;

  $scope.selectAll = function() {
        $scope.label = $filter('filter')($scope.empsmry, function(item) {
                    return (item.invoice_status == 'PENDING_LABEL')
                })
        $scope.dispatch = $filter('filter')($scope.empsmry, function(item) {
            return (item.invoice_status == 'PENDING_DISPATCH')
        })
        if((($scope.label.length)||($scope.dispatch.length))!= $scope.empsmry.length){
        alert("Select  Atleast  One Status, Before Choosing Select All Checkbox");
       $scope.empsmry.allItemsSelected= false;

        }
        if($scope.label.length == $scope.empsmry.length){
        for (var i = 0; i < $scope.empsmry.length; i++) {
        if ($scope.empsmry[i].isChecked) {
            $scope.empsmry[i].isChecked = $scope.empsmry.allItemsSelected;
            $scope.empsmry[i].isCheckd = $scope.empsmry[i].isChecked;
            $scope.bulkbutton1=true;
        }
        else{
         $scope.empsmry[i].isChecked = $scope.empsmry.allItemsSelected;
           $scope.empsmry[i].isCheckd = $scope.empsmry[i].isChecked;
          $scope.bulkbutton1=false;
        }
        }

        }
        if($scope.dispatch.length == $scope.empsmry.length){
        for (var i = 0; i < $scope.empsmry.length; i++) {
        if ($scope.empsmry[i].isChecked) {
            $scope.empsmry[i].isChecked = $scope.empsmry.allItemsSelected;
             $scope.empsmry[i].isCheckd = $scope.empsmry[i].isChecked;
            $scope.bulkbutton=true;
        }
        else{
         $scope.empsmry[i].isChecked = $scope.empsmry.allItemsSelected;
         $scope.empsmry[i].isCheckd = $scope.empsmry[i].isChecked;
          $scope.bulkbutton=false;
        }
        }

        }
};

           $scope.selectentity = function(emp) {
            for (var i = 0; i < $scope.empsmry.length; i++) {
                label = $scope.empsmry[i].invoice_status;
                if ($scope.empsmry[i].isCheckd) {
                      $scope.empsmry.allItemsSelected = false;
                      if(label == 'PENDING_LABEL')
                      {
                      $scope.bulkbutton1=false;
                      return;
                      }
                      if(label == 'PENDING_DISPATCH')
                      {
                      $scope.bulkbutton=false;
                      $scope.count+=1;
                      return;

                      }
                   }
               else {
                     $scope.empsmry.allItemsSelected = false;
                    $scope.bulkbutton=true;
                    $scope.bulkbutton1=true;
                    }
            }

        };

        $scope.getMinDate = function() {
            return new Date(
                $scope.dispatch_date.getFullYear(),
                $scope.dispatch_date.getMonth() - 2,
                $scope.dispatch_date.getDate());
        }
        $scope.getMaxDate = function() {
            return new Date(
                $scope.dispatch_date.getFullYear(),
                $scope.dispatch_date.getMonth(),
                $scope.dispatch_date.getDate());
        }
        $scope.minDate = $scope.getMinDate();
        $scope.remarks = "jgjhgjhg";
        $scope.maxDate = $scope.getMaxDate();

        $scope.loading = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.body),
                clickOutsideToClose: false
            });
        };

        $scope.endloading = function() {
            $mdDialog.hide();
        };


        $scope.review_status = [{
            status: "Pending Dispatch",
            value: "PENDING_DISPATCH"
        }, {
            status: "Pending Label",
            value: "PENDING_LABEL"
        }]

        $scope.weightupate = function() {

            var data = {
                "Params": {
                    "FILTER": {
                        "Customer_Gid": "",
                        "Dispatch_Date": "",
                        "Dispatch_Mode": "",
                        "Courier_Name": ""


                    },
                    "CLASSIFICATION": {
                        "Entity_Gid": [$scope.entity_gid]
                    }
                }
            }

            var data_int = {
                Group: 'CONSIGNMENT_DETAILS',
                Type: 'DISPATCH',
                Sub_Type: 'MANUAL_WEIGHT',
                Employee_Gid: $scope.employgid,
                data: data
            };

            var get_employ = testService.getprce(data_int)
            get_employ.then(function(result) {

                    $scope.maintable = result.data.DATA;
                    $scope.empsmry1 = $scope.maintable;
                    $scope.pageLength = $scope.empsmry1.length;
                    $scope.Totalpages = Math.ceil($scope.empsmry1.length / $scope.itemsPerPage);
                    $scope.pageLength = $scope.empsmry1.length;
                    $scope.endloading();
                }, function(err) {
                    alert('No data!.');
                })
                .finally($scope.endloading());
            modalshow('mdll_present');
        }


        function updatepackets()
        {
            $scope.array = [];
            var data1 = {};
            for (i = 0; i < $scope.empsmry.length; i++) {
                if ($scope.empsmry[i].isCheckd) {
                    $scope.array.push($scope.empsmry[i].dispatch_gid);
                }
            }

            var data1 = {
                        "Dispatch_Gid": $scope.array
                        }
             var data = {
                "Params": {

                    "HEADER": data1,
                    "CLASSIFICATION": {
                        "Entity_Gid": [$scope.entity_gid]
                                  },
                    "DETAILS":{}
                }
            }

            var data_int = {
                Group: "DISPATCH_WEIGHT_UPDATE",
                Action: 'Update',
                Type: 'DISPATCH_UPDATE',
                Sub_Type: 'PACKETS',
                Create_by: $scope.employgid,
                data: data
            };

           var update_weight = testService.submitget(data_int)
            update_weight.then(function(result) {

                    $scope.cour = [];
                    $scope.cour = result.data.MESSAGE;
                    //alert($scope.cour);
                },
                function(err) {
                    alert('No data!.');
                }).finally();


        }


        $scope.selectEnt = function(index, emp) {

            for (var i = 0; i < $scope.empsmry1.length; i++) {
                if ($scope.empsmry1[i].checked) {
                    if (i == index) {
                        var ids = '#txtbox' + i;
                        $(ids).focus();
                    }
                    $scope.weightsumbit = false;
                    $scope.empsmry1[index].value='';
                    return;
                }
                else
                {
                $scope.weightsumbit = true;
                $scope.empsmry1[i].value='';
                }
            }
        }
$scope.m = [];
        $scope.submitlabel=function(e)
        {

            $scope.array1=[];
            var data2={};
            for(i=0;i<$scope.multidata1.length;i++)
            {
                if($scope.multidata1[i].checked)
                {
                    if($scope.multidata1[i].carton_name == undefined)
                    {
                        alert("fill the carton name");
                        return false;
                    }
                }
            }
            for(i=0;i<$scope.multidata1.length;i++)
            {
                if($scope.multidata1[i].checked)
                {
                    var data2={
                                "Inv_Header_gid":$scope.multidata1[i].invoiceheader_gid,
                                "Inv_Details_Gid":$scope.multidata1[i].invoicedetails_gid,
                                "Product_Carton_Gid":$scope.multidata1[i].carton_name
                              }
                    $scope.array1.push(data2);
                }
            }

             var data = {
                "Params": {
                    "HEADER":$scope.array1,
                    "DETAILS": {},
                    "CLASSIFICATION": {"Entity_Gid":[ $scope.entity_gid]}
                }
            }

            var datam={
                        "Group": "CARTON_SALES",
                        "Action": "Insert",
                        "Type": "LABEL_PRINT",
                        "Sub_Type": "PROCESS_DATA_SALES",
                        "Create_by": $scope.employgid,
                        "data": data
                      }
            var submitgenerate_label=testService.get_submitgenerate(datam)
                submitgenerate_label.then(function(result)
                {
                 $scope.Result=result.data.MESSAGE;
                 if($scope.Result=='SUCCESS')
                 {
                 alert($scope.Result);
                 updatepackets();
                 $window.location.href= "dispatchsale";

                 }
                 else
                 {
                 alert($scope.Result);
                 }
                });



        }

        $scope.submitAPI = function() {
            $scope.array = [];
            var data1 = {};
            for (i = 0; i < $scope.empsmry1.length; i++) {
                if ($scope.empsmry1[i].checked) {
                    var data1 = {
                        "Dispatch_Gid": $scope.empsmry1[i].dispatch_gid,
                        "Actual_Weight": $scope.empsmry1[i].dispatch_totweight
                    }
                    $scope.array.push(data1);
                }
            }



            var data = {
                "Params": {
                    "HEADER": {
                        "DISPATCH_MANUAL": $scope.array
                    },
                    "DETAILS": {},
                    "CLASSIFICATION": {}
                }
            }

            var datum = {
                "Group": "DISPATCH_WEIGHT_UPDATE",
                "Action": "Update",
                "Type": "DISPATCH_UPDATE",
                "Sub_Type": "MANUAL_OUT_UPDATE",
                "Create_by": $scope.employgid,
                "data": data
            }
            var submitvar = testService.submitget(datum)
            submitvar.then(function(result) {
                    $scope.courier1 = [];
                    $scope.courier1 = result.data.MESSAGE;
                    if ($scope.courier1 == "SUCCESS") {
                        alert($scope.courier1);
                        $window.location.href = "dispatchsale";
                    } else {
                        alert($scope.courier1);
                    }
                },
                function(err) {
                    alert('No data!.');
                }).finally();



        }
        $scope.labelbutton=false;


        $scope.label_click=function(multidata)
        {

        $scope.count=0;
        for(var i=0;i<$scope.multidata1.length;i++)
        {
            if($scope.multidata1[i].checked)
            {
            $scope.labelbutton=false;
            $scope.count=1;
            }
        }
            if($scope.count==0)
            {
            $scope.labelbutton=true;
            }

        }






        $scope.genrtelabl = function() {

            $scope.loading();
            $scope.chqscn = [];
            var chqs = 0;
            for (var i = 0; i < $scope.empsmry.length; i++) {
                if ($scope.empsmry[i].isCheckd) {
                    chqs = $scope.empsmry[i].invoiceheader_gid
                    $scope.chqscn.push(chqs);
                }
            }
            var dta = {
                "Params": {
                    "HEADER": {
                        "Inv_Header_gid": $scope.chqscn
                    },
                    "DETAILS": {},
                    "CLASSIFICATION": {
                        "Entity_Gid": [$scope.entity_gid]
                    }
                }
            }
            var data = {
                Group: 'CARTON_SALES',
                Action: 'Insert',
                Type: 'LABEL_PRINT',
                Sub_Type: 'SALES',
                Create_by: $scope.employgid,
                data: dta
            }

            var custgrpddl = testService.getfrstsmry(data)
            custgrpddl.then(function(result) {
                    $scope.mulltidata = [];
                    $scope.mulltidata = result.data.MESSAGE;
                    $scope.multidata1 = result.data.DATA;
                    if ($scope.mulltidata == 'SUCCESS') {
                        alert($scope.mulltidata);
                        updatepackets();
                        $window.location.href = "labelgenerate";

                    }
                    else if($scope.mulltidata == 'PROCESS_DATA')
                    {
                        modalshow('akshay');

                    }
                    else {
                        alert($scope.mulltidata);
                    }
                },
                function(err) {
                    alert('no data');
                });
            $scope.endloading();
        }


        $scope.bulkbutton = true;
        $scope.bulkbutton1 = true;
        $scope.count=0;
        $scope.count1=0;


        function loadcust() {
            var data = {
                Group: 'CUST_GROUP_GET',
                Entity_Gid: $scope.entity_gid,
                Cust_Group_Gid: 0,
                Cust_Group_Code: 0,
                Cust_Group_Name: '',
                Query_Limit: ' 1,1000'
            }

            var custgrpddl = testService.getcustgrp(data)
            custgrpddl.then(function(result) {

                    $scope.mullti = [];
                    $scope.mullti = result.data.DATA;
                }),
                function() {
                    alert('no data');
                };
        }

        $scope.Bulkupdatecourier = function(Bulk) {

            $scope.loading();
            $scope.recpt = [];
            var ary = [];
            for (var i = 0; i < $scope.empsmry.length; i++) {
                if ($scope.empsmry[i].isCheckd) {
                    ary = {
                        Sales_INV_Gid: $scope.empsmry[i].invoiceheader_gid,
                        Cust_Gid: $scope.empsmry[i].customer_gid,
                        Packets: "0",
                        Weight_Tot: "0"

                    }
                    $scope.recpt.push(ary);
                }
            }

            var dataa = {
                "dispatch_data": [{
                    "action": "Insert",
                    "type": "SALES_BULK_COURIER",
                    "isactive": "Y",
                    "isremoved": "N",
                    "status": "PENDING_LABEL",
                    "courier_gid": $scope.Bulk.transport,
                    "Sent_By": $scope.employgid,
                    "entity_gid": $scope.entity_gid
                }],

                "service_dtl": {
                    "Dispatch_INV": {
                        "Awbno_From": Bulk.awbfrom,
                        "Awbno_To": Bulk.awbto,
                        "Dispatch_Date": formatStringDate(Bulk.dispatch_date, 'yyyy-mm-dd'),
                        "Sent_By": $scope.employgid,
                        "Dispatch_Mode": Bulk.mode,
                        "Ref_Name": "DISPATCH_SALES",
                        "Dispatch_Type": "Ndoc",
                        "Dispatch_To": "",
                        "Remark": Bulk.remarks,
                    },
                    "CONSIGNEE": $scope.recpt
                }
            }

            var datan = {
                "Employee_Gid": $scope.employgid,
                "data": dataa
            }

            var getcourier = testService.getcourierdata(datan)
            getcourier.then(function(result) {
                    $scope.courier = result.data.MESSAGE;
                    if ($scope.courier == "SUCCESS") {
                        alert($scope.courier);
                        $window.location.href = "dispatchsale";
                    } else {
                        alert($scope.courier);
                    }
                },
                function(err) {
                    alert('No data!.');
                }).finally($scope.endloading());

        }

        $scope.showview = function(emp) {
            $scope.SO_PRODUCT_DETAILS = JSON.parse(emp.so_detail);
            modalshow('view_present');
        };
        loaddispatch();

function loaddispatch(){

        var data = {
            "Table_name": "gal_mst_tmetadata",
            "Column_1": "metadata_value",
            "Column_2": "",
            "Where_Common": "metadata",
            "Where_Primary": "columnname",
            "Primary_Value": "dispatch_mode",
            "Order_by": "columnname"
        }

        var patch = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: data
        }

        var getdispatch = testService.getdispatchdata(patch)
        getdispatch.then(function(result) {
            $scope.Dispatch = result.data.DATA;
        }, function(err) {
            alert('No data!.');
        }).finally();
        }

        $scope.Transp=[];
        $scope.clckdispatch = function(obj) {

         $scope.pop.transport ="";
        if(obj == 'Direct')
        {
          var employee = testService.getemployee()
            employee.then(function(result) {
            $scope.Transport = JSON.parse(result.data);
                }),
                function() {
                    alert('no data');
                };
        }
        else
        {
        $scope.trans_name=false;
            var datan = {
                "Table_name": "dis_mst_tcourier",
                "Column_1": "courier_gid,courier_name",
                "Column_2": "",
                "Where_Common": "courier",
                "Where_Primary": "type",
                "Primary_Value": obj,
                "Order_by": "name"
            }

            var trans = {
                Action: "COURIER",
                Entity_Gid: $scope.entity_gid,
                data: datan
            }

            var gettransport = testService.gettransportdata(trans)
            gettransport.then(function(result) {
                if(result.data.MESSAGE == 'FOUND')
                {
                 $scope.Transport = result.data.DATA;
                }
                else if(result.data.MESSAGE == 'NOT_FOUND')
                {
                $scope.pop.transport='';
                $scope.Transport=[];
                }

            }, function(err) {
                alert('No data!.');
            }).finally();
           }
        }

        $scope.updateAPI = function(pop) {
            $scope.submitted=true;
            $scope.loading();
            $scope.fulldta = [];
            //$scope.pincode = $scope.empsmry[0].address_pincode;
            //$scope.city = $scope.empsmry[0].City_Name;
            var data = {
                "action": "",
                "type": "SALES_INVOICE",
                "in_out": "",
                "courier_gid": $scope.pop.transport,
                "Dispatch_date": formatStringDate(pop.todydate, 'yyyy-mm-dd'),
                "send_by": $scope.employgid,
                "awbno": pop.booking,
                "dispatch_mode": pop.mode,
                "dispatch_type": "Ndoc",
                "packets": 0,
                "weight": $scope.invoice_data.weight,
                "dispatch_to": $scope.invoice_data.customer_name,
                "address": pop.Address_details,
                "city": $scope.invoice_data.City_Name,
                "state": $scope.invoice_data.state_name,
                "pincode": $scope.invoice_data.address_pincode,
                "remark": pop.remarks,
                "returned": "N",
                "returned_on": "",
                "returned_remark": "",
                "pod": "",
                "pod_image": "",
                "isactive": "Y",
                "isremoved": "N",
                "dispatch_gid": 0,
                "status": "DISPATCHED",
                "entity_gid": $scope.entity_gid
            }

            $scope.fulldta.push(data);
            var dta = {
                "dispatch_data": $scope.fulldta,
                "service_dtl": {
                    "SALES": [{
                        "REF_Name": "DISPATCH_SALES",
                        "Invoice_Gid": [$scope.invoice_data.invoiceheader_gid]
                    }]
                }
            }

            var dataas = {
                "Employee_Gid": $scope.employgid,
                "data": dta
            }

            var setdispatchvalue = testService.setdispatchdata(dataas)
            setdispatchvalue.then(function(result) {
                    $scope.set = result.data.MESSAGE;
                    if ($scope.set == "SUCCESS") {
                        alert($scope.set);
                        $window.location.href = "dispatchsale";
                    } else {
                        alert($scope.set);
                    }
                },
                function(err) {
                    alert('No data!.');
                }).finally($scope.endloading());
        }

        $scope.close = function(pop) {
            $scope.trans_name=true;
            $scope.pop.mode = '';
            $scope.pop.transport = '';
            $scope.pop.remarks = '';
            $scope.pop.todydate = '';
            $scope.pop.state = '';
            $scope.pop.Address_details = '';

        }

        $scope.closebut = function() {

        $scope.weightsumbit = true;
            for (i = 0; i < $scope.empsmry.length; i++) {
                if ($scope.empsmry[i].checked) {
                    $scope.empsmry[i].checked = false;
                     $scope.empsmry[i].value = "";
                }
            }

        }

        $scope.closebut12=function()
        {
            $scope.weight.customer_name1='';
            $scope.weight.dispatch_date=new Date();
            $scope.weight.courier='';


        }


        $scope.close1 = function(pop) {
            $scope.Bulk.mode = 'Courier';
            $scope.Bulk.transport = '';
            $scope.Bulk.awbfrom = '';
            $scope.Bulk.awbto = '';
            $scope.Bulk.remarks = '';
            $scope.Bulk.dispatch_date = '';
        }



        $rootScope.bulkupdate = function(bulkdata) {

            var datan = {
                "Table_name": "dis_mst_tcourier",
                "Column_1": "courier_gid,courier_name",
                "Column_2": "",
                "Where_Common": "courier",
                "Where_Primary": "type",
                "Primary_Value": "Courier",
                "Order_by": "name"
            }

            var trans = {
                Action: "COURIER",
                Entity_Gid: $scope.entity_gid,
                data: datan
            }

            var gettransport = testService.gettransportdata(trans)
            gettransport.then(function(result) {
                if(result.data.MESSAGE == 'FOUND')
                {
                 $scope.Transport = result.data.DATA;
                }
                else if(result.data.MESSAGE == 'NOT_FOUND')
                {
                $scope.pop.transport='';
                $scope.Transport=[];
                }

            }, function(err) {
                alert('No data!.');
            }).finally();



            //$scope.Bulk.mode = 'courier';
            //$scope.Bulk.transport = '';
            $scope.Bulk.awbfrom = $scope.AWNNO[0].AWB_Code;
            if($scope.totalSelected>0){
            $scope.total = $scope.totalSelected
            }
            if($scope.totalselected> 0){
            $scope.total = $scope.totalselected
            }
            var add1=($scope.total)
           // alert(add1)
            $scope.string="";
            $scope.addnumber="";
            for(var i=0; i<$scope.AWNNO[0].AWB_Code.length-9;i++)
            {
            $scope.string+=$scope.AWNNO[0].AWB_Code[i];
            }
            for(var j=3;j<$scope.AWNNO[0].AWB_Code.length;j++)
            {
            $scope.addnumber+=$scope.AWNNO[0].AWB_Code[j];
            }
            var addition= $scope.string+parseInt(parseInt($scope.addnumber)+ parseInt(add1-1))
            $scope.Bulk.awbto =(addition);
            //$scope.Bulk.remarks = '';
            $scope.Bulk.dispatch_date = new Date();
            modalshow('md2_present');
            $scope.awb = true;
            $scope.truck = false;
            $scope.delivery = false;
            $scope.buttonfunction = false;
<!--              $scope.clckdispatch = function(obj)-->
        }

        function awndata()
        {

        var data ={"Params":
               { "FILTER":{
                           },
                 "CLASSIFICATION":{"Entity_Gid":[$scope.entity_gid]}
               }
                  }

         var data_int = {
                Group: 'GENERATE_AWB_NO',
                Type: 'AWB_NO_GENERATE',
                Sub_Type: 'SINGLE',
                data: data
            };

         var getawn = testService.getawndata(data_int)
           getawn.then(function(result) {

                $scope.AWNNO = result.data.DATA;
            }, function(err) {
                alert('No data!.');
            }).finally();

};


        $rootScope.showpop1 = function(invoicedata) {


var datan = {
                "Table_name": "dis_mst_tcourier",
                "Column_1": "courier_gid,courier_name",
                "Column_2": "",
                "Where_Common": "courier",
                "Where_Primary": "type",
                "Primary_Value": "Courier",
                "Order_by": "name"
            }

            var trans = {
                Action: "COURIER",
                Entity_Gid: $scope.entity_gid,
                data: datan
            }

            var gettransport = testService.gettransportdata(trans)
            gettransport.then(function(result) {
                if(result.data.MESSAGE == 'FOUND')
                {
                 $scope.Transport = result.data.DATA;
                }
                else if(result.data.MESSAGE == 'NOT_FOUND')
                {
                $scope.pop.transport='';
                $scope.Transport=[];
                }

            }, function(err) {
                alert('No data!.');
            }).finally();


            $scope.pop.mode = invoicedata.courier_type;
            $scope.pop.transport = invoicedata.courier_mapped_gid;
            if($scope.pop.transport>0)
            {
            $scope.trans_name=false;
            }
            $scope.pop.booking = $scope.AWNNO[0].AWB_Code;
            $scope.pop.remarks = '';
            $scope.invoice_data = invoicedata;
            $scope.pop.Address_details = invoicedata.address_1 + " " + invoicedata.address_2 + " " + invoicedata.address_3 + " " + invoicedata
                .address_pincode + ".";
            $scope.pop.state = invoicedata.state_name;
            $scope.pop.pincode = invoicedata.address_pincode;
            $scope.city = invoicedata.City_Name;
            modalshow('mdl_present');
            $scope.pop.todydate = new Date();

        }


        $scope.loading();
        loadcust();
        loaddata();
        awndata();
        //trans();
        $scope.endloading();
        function loaddata() {

            var data = {
                "Params": {
                    "FILTER": {
                        "InvoiceHeader_No": "",
                        "Customer_Name": "",
                        "InvoiceHeader_Date": "",
                        "InvoiceHeader_Amount": "",
                        "Dispatch_Mode":"",
                        "Courier_Gid":"",
                        "Status": $scope.ddlstatus
                    },
                    "CLASSIFICATION": {
                        "Entity_Gid": [$scope.entity_gid]
                    }
                }
            }

            var data_int = {
                Group: 'INV_DISPATCH_PROCESS',
                Type: 'SUMMARY',
                Sub_Type: 'SUMMARY_DISPATCH',
                Employee_Gid: $scope.employgid,
                data: data
            };
            dealrprcesmry1(data_int);


            function dealrprcesmry1(data_int) {
            var get_employ = testService.getprcesmry(data_int)
            get_employ.then(function(result) {

                    $scope.maintable = result.data.DATA;
                    $scope.empsmry = $scope.maintable;
                    $scope.pageLength = $scope.empsmry.length;
                    $scope.Totalpages = Math.ceil($scope.empsmry.length / $scope.itemsPerPage);
                    $scope.pageLength = $scope.empsmry.length;
                    $scope.endloading();
                }, function(err) {
                    alert('No data!.');
                })
                .finally($scope.endloading());
        };

        }


        var datan = {
                "Table_name":"dis_mst_tcourier",
                "Column_1":"courier_gid,courier_name",
                "Column_2":"",
                "Where_Common":"courier",
                "Where_Primary":"type",
                "Primary_Value":"courier",
                "Order_by":"name"
            }

            var trans = {
                Action: "COURIER",
                Entity_Gid: $scope.entity_gid,
                data: datan
            }

            var gettransport = testService.gettransportdata(trans)
            gettransport.then(function(result) {
                $scope.Courierdata = result.data.DATA;
            }, function(err) {
                alert('No data!.');
            }).finally();


            function trans(invoicedata)
            {
             var datan = {
                "Table_name": "dis_mst_tcourier",
                "Column_1": "courier_gid,courier_name",
                "Column_2": "",
                "Where_Common": "courier",
                "Where_Primary": "type",
                "Primary_Value":invoicedata.courier_mapped_gid,
                "Order_by": "name"
            }

            var trans = {
                Action: "COURIER",
                Entity_Gid: $scope.entity_gid,
                data: datan
            }

            var gettransport = testService.gettransportdata(trans)
            gettransport.then(function(result) {

                $scope.Transport = result.data.DATA;
            }, function(err) {
                alert('No data!.');
            }).finally();

            }


        $scope.serchclck = function(){


            $scope.bulkbutton=true;
            $scope.bulkbutton1=true;

            if($scope.searchquery_StartDate == undefined){
            $scope.searchquery_StartDate = '';
            }
            else{
            $scope.searchquery_StartDate = $filter('date')($scope.searchquery_StartDate, "yyyy-MM-dd")
            }

            if($scope.invnum == undefined){
            $scope.invnum = '';
            }

            if ($scope.customer_name) {
                $scope.cus_name = $scope.customer_name.customergroup_name;
            } else {
                $scope.cus_name = '';
            }

            if($scope.Amount == undefined){
            $scope.Amount = '';
            }

            if($scope.ddlstatus){
            $scope.ddlstatus1 =$scope.ddlstatus.value ;
            } else{
            $scope.ddlstatus1='';
            }

            if($scope.couri){
            $scope.couri1 = $scope.couri.metadata_value;
            }else{
            $scope.couri1='';
            }


            if($scope.courier){
            $scope.courier1 = $scope.courier.courier_gid;
            }else{
            $scope.courier1='';
            }


        var data = {
                "Params": {
                    "FILTER": {
                        "InvoiceHeader_No": $scope.invnum,
                        "Customer_Name": $scope.cus_name,
                        "InvoiceHeader_Date": $scope.searchquery_StartDate,
                        "InvoiceHeader_Amount": $scope.Amount,
                        "Dispatch_Mode":$scope.couri1,
                        "Courier_Gid":$scope.courier1,
                        "Status": $scope.ddlstatus1
                    },
                    "CLASSIFICATION": {
                        "Entity_Gid": [$scope.entity_gid]
                    }
                }
            }

            var data_int = {
                Group: 'INV_DISPATCH_PROCESS',
                Type: 'SUMMARY',
                Sub_Type: 'SUMMARY_DISPATCH',
                Employee_Gid: $scope.employgid,
                data: data
            };
            dealrprcesmry(data_int);

        }

        function dealrprcesmry(data_int) {
            var get_employ = testService.getprcesmry(data_int)
            get_employ.then(function(result) {

                    $scope.maintable = result.data.DATA;
                    $scope.empsmry = $scope.maintable;
                    $scope.pageLength = $scope.empsmry.length;
                    $scope.Totalpages = Math.ceil($scope.empsmry.length / $scope.itemsPerPage);
                    $scope.pageLength = $scope.empsmry.length;
                    $scope.endloading();
                }, function(err) {
                    alert('No data!.');
                })
                .finally($scope.endloading());
        };
    }
]);
myApp.service("testService", function($http) {
    this.getprcesmry = function(custid) {
        var respons = $http.post(Appname + "/getinv/", custid);
        return respons;
    }
    this.gettransportdata = function(trans) {
        var respons = $http.post(Appname + "/prodget/", trans);
        return respons;
    }
    this.getemployee = function(d) {
            var response = $http.get(Appname + "/ddlempexecall/");
            return response;
        }
    this.getdispatchdata = function(patch) {
        var respons = $http.post(Appname + "/prodget/", patch);
        return respons;
    }
    this.setdispatchdata = function(dataas) {
        var response = $http.post(Appname + "/setdispatch/", dataas);
        return response;
    }
    this.getcustgrp = function(data) {
        var response = $http.post(Appname + "/custgroup/", data);
        return response;
    }
    this.getcourierdata = function(datan) {
        var response = $http.post(Appname + "/setdispatch/", datan);
        return response;
    }

    this.submitget = function(datum) {
        var response = $http.post(Appname + "/setlablprod/", datum);
        return response;
    }

     this.getawndata = function(data_int) {
        var response = $http.post(Appname + "/getlablprod/", data_int);
        return response;
    }

    this.get_submitgenerate = function(datam) {
        var response = $http.post(Appname + "/setlablprod/", datam);
        return response;
    }

     this.getprce = function(datam) {
        var response = $http.post(Appname + "/getlablprod/", datam);
        return response;
    }

    this.getsearch_manual = function(data_int) {
        var response = $http.post(Appname + "/getlablprod/", data_int);
        return response;
    }

     this.getcust = function(custid) {
        var respons = $http.post(Appname + "/custgroup/",
            custid
        );
        return respons;
    }

    this.getfrstsmry = function(custid) {
        var respons = $http.post(Appname + "/setlablprod/",
            custid
        );
        return respons;
    }
});






</script>
{% endblock %}