{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Memo Approval Summary{% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
<link rel="stylesheet" href="http://textangular.com/dist/textAngular.css" type="text/css">
<style>
    h1 small {
        font-size: 60%;
    }
    textarea.ta-bind {
        width: 100%;
    }

</style>
<!--<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js'></script>-->

<script src='http://textangular.com/dist/textAngular-rangy.min.js'></script>

<script src='http://textangular.com/dist/textAngular-sanitize.min.js'></script>

<script src='http://textangular.com/dist/textAngular.min.js'></script>

<style>.red-text{
  color:red;
}
</style>
<style>

    .ta-editor {
  min-height: 300px;
  height: 50%;
  overflow: scroll;
  font-family: inherit;
  font-size: 100%;
}

</style>
<div class="maincontent">
    <div class="container container1" ng-app="APP_Memo_Summary" ng-controller="Memo_Sumamry_ctrl" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4><strong> Memo Approval Summary</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Request Code</label>
                        <input type="text" ng-model="memoapproval.request_code" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Memo Subject</label>
                        <input type="text" ng-model="memoapproval.request_name" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Category Name</label>
                        <input type="text" ng-model="memoapproval.memocategory_name" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Sub Category Name</label>
                        <input type="text" ng-model="memoapproval.memosubcategory_name" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Approver Name</label>
                        <input type="text" ng-model="memoapproval.employee_name" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Status</label>
                        <input type="text" ng-model="memoapproval.request_status" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Request By</label>
                        <input type="text" ng-model="memoapproval.create_by_name" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Comments</label>
                        <input type="text" ng-model="memoapproval.requesttran_comments" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>File Name</label>
                        <input type="text" ng-model="memoapproval.file_name" autocomplete="off"
                               ng-change="search_par(parsearch)">
                    </md-input-container>
                </div>
                <div class="col-md-3" >
                    <br><br>
                    <span title="View Pdf" style="width:100px;height:200px"
                       class="editlink"><label style="margin-left:100px;">view file</label>

                        <a class="material-icons"  href="/Memo_downloadfile/?filename={{memoapproval_filekey}}" target="_blank" >picture_as_pdf</a>
                </span>
                </div>
                <div class="col-md-3">
                                    </br><br>
                                    <input type="file" file-model="files"  fileinput="file" id="file"
                                           multiple required/>
                </div>


            </div>
        </div>
         <div class="col-xs-12">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <!--<button ng-click="disabled = !disabled" unselectable>Disable text-angular Toggle</button>-->
                <div text-angular="text-angular" id="con"  name="htmlcontent" aria-readonly="true" ta-disabled='disabled'
                      class="sss" ng-model="memoapproval.request_content" style="height:400px;width:1000px;"></div>
                <!--<textarea ng-model="htmlcontent" id="myID" style="width:100%"></textarea>-->
            </div>
        </div>
        <style>
           .sss{
           overflow:auto;
           }


        </style>

        <div class="row text-left">
            <form role="form" name="prapprovel">
                <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                                <label>Reject Remarks</label>
                                <input id="premarks" maxlength="256" ng-model="approvelreject"
                                       ng-change="approvelremark=''" required/>
                            </md-input-container>

                        </div>

                    </form>

                    <div class="col-lg-3 col-sm-3 ">
                        <md-input-container class="md-block inputcontainer">
                            <label>Approval Remarks</label>
                            <input id="prremarksapp" maxlength="256" ng-model="approvelremark"
                                   ng-change="approvelreject=''" required/>
                        </md-input-container>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <md-button type="button" value="Close" class="btn btn-secondary" ng-click="CloseRMApproval()" ng-href="Memo_ApprovalSummary">
                            Close
                        </md-button>
                        <md-button type="button" value="Reject" ng-click="MemoApprovalset('REJECTED',approvelreject,memoapprovel)"
                                   class="md-raised md-warn"
                                   ng-disabled="prapprovel.$invalid" ng-hide="hide">Reject
                        </md-button>
                        <md-button type="button" value="Approve"
                                   ng-click="MemoApprovalset('APPROVED',approvelremark,memoapprovel)"
                                   ng-disabled="prapprovel.$valid" class="md-raised md-primary" ng-hide="hide">Approve
                        </md-button>
                    </div>

                </div>

    </div>
</div>
{% endverbatim %}
<script>
    var myApp = angular.module('APP_Memo_Summary', ['ngMaterial', 'ui.bootstrap','textAngular','ngSanitize', 'AppCommon'])
        .config(function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        });
        myApp.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };

})

    myApp.directive('fileModel', ['$parse', function($parse) {
    return {
        restrict: 'A',
        link: function(scope, element, attrs) {
            element.bind('change', function() {
                $parse(attrs.fileModel).assign(scope, element[0].files)
                scope.$apply();
            });
        }
    };
}]);


    myApp.directive("fileinput", [function() {
        return {
            scope: {
                fileinput: "=",
                filepreview: "="
            },
            link: function(scope, element, attributes) {
                element.bind("change", function(changeEvent) {
                    scope.fileinput = changeEvent.target.files[0];
                    var reader = new FileReader();
                    reader.onload = function(loadEvent) {
                        scope.$apply(function() {
                            scope.filepreview = loadEvent.target.result;
                        });
                    }
                    reader.readAsDataURL(scope.fileinput);
                });
            }
        }
    }]);

        myApp.controller('Memo_Sumamry_ctrl', ['$scope', '$mdDialog','MemoApprovelService', '$rootScope', '$window', '$filter','SerCommon',
            function($scope, $mdDialog,MemoApprovelService, $rootScope, $window, $filter,SerCommon) {
    $scope.alldetails=[];
    $scope.viewdetail=[];

    $scope.itemsPerPage=10;
    $scope.maxSize = 3;
    $scope.currentPage = 1;
    $scope.Load_raisor = fn_raisorname;
    var detail = JSON.parse(sessionStorage.getItem('today'));
    $scope.entity_gid = detail.entity_gid;
    $scope.create_by = detail.employee_gid;
    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };
    $scope.endloading = function() {
        $mdDialog.hide();
    };
    function fn_raisorname(query) {
            var result = $filter('filter')($scope.emp_name, {
                'employee_name': query
            });
            return result;
    }

    getraisor_fn();
       function getraisor_fn(){
            var datan = {
                "Table_name": "gal_mst_temployee",
                "Column_1": "employee_gid,employee_code,employee_name",
                "Column_2": "",
                "Where_Common": "employee",
                "Where_Primary": "",
                "Primary_Value": "",
                "Order_by": "gid"
                       }
            var trans = {
                Action: "",
                Entity_Gid: $scope.entity,
                data: datan
                        }
            var getuom_name = MemoApprovelService.get_raisorname(trans)
            getuom_name.then(function(result) {

            $scope.emp_name = result.data.DATA;
            //alert(JSON.stringify($scope.emp_name));

            }, function(err) {
                alert('No data!.');
            }).finally();
       }

    var pr_gid=JSON.parse(sessionStorage.getItem('memo_summary_session'));

<!--     $scope.loading();-->
       //alert(JSON.stringify(pr_gid));
       $scope.memoapproval=pr_gid.memo_data;
       //alert(JSON.stringify($scope.memoapproval));
       $scope.filecheck=$scope.memoapproval.file_name;
       if($scope.filecheck==null){

        $scope.filehide=true;
       }else{
       $scope.filehide=false;
       }
       $scope.memoapproval_filekey=pr_gid.memo_data.file_name;
       //alert(JSON.stringify($scope.memoapproval_filekey));


$scope.showattachment = function(){

    modalshow('viewpdfpopup');
   $scope.shwpdf = true;
   $scope.pdfurl = $scope.memoapproval.file_path;
   $scope.pdf_filename = $scope.memoapproval.file_name;

   }


    function reconname_attachment(item) {
        var fileExtension = '.' + item.split('.').pop();
        $scope.File_name = "MEMO" + new Date().getTime() + fileExtension;
    };
    $scope.Attachment=[];
    $scope.MemoApprovalset=function(a,b,c){

    if(b==undefined){
    alert("Please Enter Remarks");
    return false;
    }


        if ($scope.files !== undefined) {
        $scope.attachmentfilename = $scope.file.name;
            var excl = new FormData();
            reconname_attachment($scope.attachmentfilename);
            excl.append('file', $scope.file);
            excl.append('name', $scope.File_name);
            excl.append('Group', 'MemoApprovelset_Group');
            excl.append('Action','UPDATE');
            excl.append('Type', 'MEMO');
            excl.append('SubType', 'APPROVE');
            excl.append('Request_Gid', $scope.memoapproval.request_gid);

            excl.append('Comments', b);
            excl.append('status_request', a);
            excl.append('File_Name', $scope.File_name);
            excl.append('Entity_Gid', $scope.entity_gid);
            excl.append('Create_By', $scope.create_by);
            loadexclAttacment(excl);
        }else{
        var excl = new FormData();

            excl.append('Group', 'MemoApprovelsetnofile_Group');
            excl.append('Action','UPDATE');
            excl.append('Type', 'MEMO');
            excl.append('SubType', 'APPROVE');
            excl.append('Request_Gid', $scope.memoapproval.request_gid);
            excl.append('Comments', b);
            excl.append('status_request', a);
            excl.append('Entity_Gid', $scope.entity_gid);
            excl.append('Create_By', $scope.create_by);
            loadexclAttacment(excl);
        }
    }
    function loadexclAttacment(excl)
    {

        $scope.loading();
        var overalldtl = MemoApprovelService.setmemorequest(excl);
        overalldtl.then(function(res) {
            var hosmr = [];
            $scope.hosmr = res.data.MESSAGE;
            if($scope.hosmr=="SUCCESS"){
            alert("SUCCESSFULLY UPDATED");

            $window.location.href = 'Memo_ApprovalSummary';
            getmemo_fn();
            }
            else{
             alert(JSON.stringify($scope.hosmr));
            }
        }).finally($scope.endloading);
    }
}
]);

myApp.service("MemoApprovelService", function($http) {
    this.setmemorequest = function(details) {
        var response = $http.post(Appname + "/Memo_Approve_Set/", details, {
            transformRequest: angular.identity,
            headers: {
                'Content-Type': undefined
            }
        });
        return response;
    }
    this.getmemo_service = function(get_data) {
        var response = $http.post(Appname + "/Memo_request_Get/", get_data);
        return response;
    }
    this.get_raisorname = function(pact) {
        var respons = $http.post(Appname + "/prodget/", pact);
        return respons;
        }

});






</script>
{% endblock %}