{% verbatim%}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="atma_view_page"
     role="dialog" tabindex="-1">
    <div class="container" class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h4 class="modal-title" id="exampleModalLabel">
                   View Details
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>

            <div class="modal-body popup-body">
                <div class="row">
                    <form name="myForm">
                        <div class="col-xs-12">
                            <div class="col-md-3">

                                    <label>Partner Code</label>


                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Name</label>
                                    <input  maxlength="120" ng-model="pname" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Panno</label>
                                    <input  maxlength="120" ng-model="pnanno" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Compregno</label>
                                    <input  maxlength="120" ng-model="pcompregno" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Custcategory Name</label>
                                    <input  maxlength="120" ng-model="pcusname" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Classification</label>
                                    <input  maxlength="120" ng-model="pclassification" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Type</label>
                                    <input  maxlength="120" ng-model="ptype" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Web</label>
                                    <input  maxlength="120" ng-model="pweb" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Active Contract</label>
                                    <input  maxlength="120" ng-model="pactivecontract" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Reason No Contract</label>
                                    <input  maxlength="120" ng-model="preasonnocontract" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Contract Date From</label>
                                    <input  maxlength="120" ng-model="pcontractdatefrom | date:'dd-MMM-yyyy'" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Contract Date To</label>
                                    <input  maxlength="120" ng-model="pcontractdateto | date:'dd-MMM-yyyy'" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Aprox Spend</label>
                                    <input  maxlength="120" ng-model="paproxspend" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Actual Spend</label>
                                    <input  maxlength="120" ng-model="pactualspend" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer" >
                                    <label>Partner Noofdir</label>
                                    <input  maxlength="120" ng-model="pnoofdir" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Orgtype</label>
                                    <input  maxlength="120" ng-model="porgtype" readonly>
                                </md-input-container>
                            </div>

                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Remarks</label>
                                    <input  maxlength="120" ng-model="premarks" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>partner Status</label>
                                    <input  maxlength="120" ng-model="pstatus" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner Renewl Date</label>
                                    <input  maxlength="120" ng-model="prenewdate | date:'dd-MMM-yyyy'" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Partner RmName</label>
                                    <input  maxlength="120" ng-model="ename" readonly>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label>Created By</label>
                                    <input  maxlength="120" ng-model="ecreateby" readonly>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                    <div  style="margin-left:520px;">
                            <md-button class="md-raised custbutton" value="Close" data-dismiss="modal" ng-click="closedetail()">
                                Close
                            </md-button>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}