{% verbatim %}
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <div class="col-lg-10 col-sm-10">
                    <h4><strong>Basic Profile Details <label ng-show="pacode">({{Partner.partnercode}}-{{Partner.partnername}})</label></strong></h4>
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>No of years</label>
                                <input type="text" ng-model="basicprofile.partnerprofile_noofyears" maxlength="11" numbers-only required>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label> Associate Years</label>
                                <input type="text" ng-model="basicprofile.partnerprofile_associateyears" maxlength="11" numbers-only>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label> Award Details</label>
                                <input type="text" no-special-char ng-model="basicprofile.partnerprofile_awarddetails" maxlength="126">
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label> No of Employee Permanent</label>
                                <input type="text" ng-model="basicprofile.partnerprofile_noofempper" maxlength="11" ng-change="change_basicprofile(basicprofile)" ng-required="value" numbers-only>
                            </md-input-container>
                        </div>

                    </div>
                </div>
        <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>No of Employee Temporary</label>
                                <input type="text" ng-model="basicprofile.partnerprofile_noofemptmp" maxlength="11" numbers-only ng-change="change_basicprofile(basicprofile)">
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label> Total Employee</label>
                                <input type="text" ng-model="basicprofile.partnerprofile_totemp"  maxlength="11" readonly numbers-only>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Branch Count</label>
                                <input type="text" ng-model="basicprofile.partnerprofile_branchcount" maxlength="11"  numbers-only required>
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Factory Count</label>
                                <input type="text" ng-model="basicprofile.partnerprofile_factorycount" maxlength="11" numbers-only>
                            </md-input-container>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Remarks</label>
                                <input type="text" no-special-char ng-model="basicprofile.partnerprofile_remarks" maxlength="20">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="modal-footer text-right">
<!--                                    <md-button class="md-raised" value="Close" data-dismiss="modal"-->
<!--                                               ng-click="closedetail()">Close-->
<!--                                    </md-button>-->
                                    <md-button class="md-raised custbutton" ng-click="addbasicprofile(basicprofile)" value="Submit" ng-show="createpartner" ng-disabled="disbl_prof_bscsave">
                                        Save
                                    </md-button>
                                </div>
                    </div>
                </div>







{% endverbatim %}
<style>
.md-select-menu-container.md-active {
   z-index: 1060;
   }
   .md-autocomplete-suggestions-container{
  z-index:100000 !important;<body>
 }
   .md-dialog-container{
   z-index:100000 !important;
   }

</style>
