{% verbatim %}
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <div class="col-lg-10 col-sm-10">
                    <h4><strong>Supplier Branch Details</strong></h4>
                </div>
            </div>
        </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>PartnerBranch Code</label>
                                <input type="text" ng-model="branchsearch.code" maxlength="20" ng-required="value" ng-change="change_branch(branchsearch)">
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>SupplierBranch Name</label>
                                <input type="text" ng-model="branchsearch.name" maxlength="20" ng-required="value" ng-change="change_branch(branchsearch)">
                            </md-input-container>
                        </div>

                    </div>
                </div>

                <div class="row table-responsive">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                            <thead class="header">
                            <tr>
                                <th>S.No</th>
                                <th>Supplier Branch Code</th>
                                <th>Supplier Branch Name</th>
                                <th>Contact Person Name</th>
                                <th>Contact Mobile No</th>
                                <th>Address One</th>
                                <th>Contact_email</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="emp in branchgetgroup.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:search:strict ">
                                <td>
                                    <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                                </td>
                                <td>{{emp.partnerbranch_code}}</td>
                                <td>{{emp.partnerbranch_name}}</td>
                                <td>{{emp.Contact_personname}}</td>
                                <td>{{emp.Contact_mobileno}}</td>
                                <td>{{emp.address_1}}</td>
                                <td>{{emp.Contact_email}}</td>
                                <td align="center">
                                    <a title="View" ng-click="branchapproval_viewpage(emp)" align="center" class="editlink">
                                        <i class="material-icons">visibility</i>
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul uib-pagination total-items="branchgetgroup.length" ng-model="currentPage"
                                        max-size="maxSize"
                                        class="pagination-sm cust_pagination" boundary-links="true"
                                        items-per-page="itemsPerPage"></ul>
                                </td>
                                <td colspan="3">
                                    Total Count:{{branchgetgroup.length}}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
        <div class="modal fade" id="BranchAddPopup" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                           Supplier Branch Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3" >
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.branchcode != mst_branchgetgroup.partnerbranch_code && {'color':'red'}" style="color: black">SupplierBranch Code - {{mst_branchgetgroup.partnerbranch_code}}</label>
                                        <input type="text" ng-model="add.branchcode" maxlength="20" readonly>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.branchname != mst_branchgetgroup.partnerbranch_name && {'color':'red'}" style="color: black">SupplierBranch Name - {{mst_branchgetgroup.partnerbranch_name}}</label>
                                        <input type="text" ng-model="add.branchname" ng-required="value" readonly>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.branchremarks != mst_branchgetgroup.partnerbranch_remarks && {'color':'red'}" style="color: black">SupplierBranch Remarks - {{mst_branchgetgroup.partnerbranch_remarks}}</label>
                                        <input type="text" ng-model="add.branchremarks" maxlength="256" readonly>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>CreditLimit Days</label>
                                        <input type="text" ng-model="add.creditlimitdays" required numbers-only
                                                maxlength="126" autocomplete="off">
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>CreditLimit CreditTerms</label>
                                        <input type="text" ng-model="add.creditterms" required
                                                maxlength="256" autocomplete="off">
                                    </md-input-container>
                                </div>

                                <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>GST Number</label>
                                        <input type="text" ng-model="add.branc_gstno" required
                                               ng-change="add.branc_gstno = (add.branc_gstno | uppercase)" maxlength="126" autocomplete="off">
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label>Pan Number</label>
                                        <input type="text" ng-model="add.branchpanno" ng-required="value"
                                               ng-change="add.branchpanno = (add.branchpanno | uppercase)" maxlength="256" autocomplete="off">
                                    </md-input-container>
                                </div>

                        </div>
                        </div>
                        <md-subheader class="md-accent">Address</md-subheader>
                        <div class="row">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label ng-style="add.addline != mst_branchgetgroup.address_1 && {'color':'red'}" style="color: black">Address Line 1  - {{mst_branchgetgroup.address_1}}</label>
                                    <input type="text" ng-model="add.addline" maxlength="128"
                                        ng-change="add.addline=add.addline.toUpperCase()" required/>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.addline2 != mst_branchgetgroup.address_2 && {'color':'red'}" style="color: black">Address Line 2  - {{mst_branchgetgroup.address_2}}</label>
                                        <input type="text" ng-model="add.addline2" maxlength="128"
                                            ng-change="add.addline2=add.addline2.toUpperCase()"/>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                       <label ng-style="add.addline3 != mst_branchgetgroup.address_3 && {'color':'red'}" style="color: black">Address Line 3  - {{mst_branchgetgroup.address_3}}</label>
                                        <input type="text" ng-model="add.addline3" maxlength="128"
                                            ng-change="add.addline3=add.addline3.toUpperCase()"/>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.pincode1 != mst_branchgetgroup.address_pincode && {'color':'red'}" style="color: black">Pincode  - {{mst_branchgetgroup.address_pincode}}</label>
                                        <input ng-model="add.pincode1" maxlength="6" ng-blur="pinchange(add.pincode1,'address')"
                                            ng-pattern="/^[1-9][0-9]{5}$/" required/>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.addselectedcity != mst_branchgetgroup.City_Name && {'color':'red'}" style="color: black">City - {{mst_branchgetgroup.City_Name}}</label>
                                        <input type="text" ng-model="add.addselectedcity" maxlength="256" readonly>
                                    </md-input-container>
                                </div><div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.addselecteddistrict != mst_branchgetgroup.district_name && {'color':'red'}" style="color: black">District - {{mst_branchgetgroup.district_name}}</label>
                                        <input type="text" ng-model="add.addselecteddistrict" maxlength="256" readonly>
                                    </md-input-container>
                                </div><div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.addselectedstate != mst_branchgetgroup.state_name && {'color':'red'}" style="color: black">State - {{mst_branchgetgroup.state_name}}</label>
                                        <input type="text" ng-model="add.addselectedstate" maxlength="256" readonly>
                                    </md-input-container>
                                </div>

                        </div>
                        <md-subheader class="md-accent">Contact</md-subheader>
                        <div class="row">
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.cntcttype != mst_branchgetgroup.contacttype_Name && {'color':'red'}" style="color: black">Contact Type - {{mst_branchgetgroup.contacttype_Name}}</label>
                                        <input type="text" ng-model="add.cntcttype" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.prsnname != mst_branchgetgroup.Contact_personname && {'color':'red'}" style="color: black">Person Name - {{mst_branchgetgroup.Contact_personname}}</label>
                                        <input type="text" ng-model="add.prsnname" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.dsgntn != mst_branchgetgroup.designation_name && {'color':'red'}" style="color: black">Designation - {{mst_branchgetgroup.designation_name}}</label>
                                        <input type="text" ng-model="add.dsgntn" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.lndlne != mst_branchgetgroup.Contact_landline && {'color':'red'}" style="color: black">Landline - {{mst_branchgetgroup.Contact_landline}}</label>
                                        <input type="text" ng-model="add.lndlne" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.lndlne2 != mst_branchgetgroup.Contact_landline2 && {'color':'red'}" style="color: black">Landline 2 - {{mst_branchgetgroup.Contact_landline2}}</label>
                                        <input type="text" ng-model="add.lndlne2" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.mobno != mst_branchgetgroup.Contact_mobileno && {'color':'red'}" style="color: black">Mobile Number - {{mst_branchgetgroup.Contact_mobileno}}</label>
                                        <input type="text" ng-model="add.mobno" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.mobno2 != mst_branchgetgroup.Contact_mobileno2 && {'color':'red'}" style="color: black">Mobile Number2 - {{mst_branchgetgroup.Contact_mobileno2}}</label>
                                        <input type="text" ng-model="add.mobno2" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.mailid != mst_branchgetgroup.Contact_email && {'color':'red'}" style="color: black">Email ID - {{mst_branchgetgroup.Contact_email}}</label>
                                        <input type="text" ng-model="add.mailid" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.dobb != mst_branchgetgroup.Contact_DOB && {'color':'red'}" style="color: black">Date of Birth - {{mst_branchgetgroup.Contact_DOB  | date:'dd-MMM-yyyy'}}</label>
                                        <input type="text" ng-model="add.dobb  | date:'dd-MMM-yyyy'" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.weddy != mst_branchgetgroup.Contact_WD && {'color':'red'}" style="color: black">Wedding Day - {{mst_branchgetgroup.Contact_WD  | date:'dd-MMM-yyyy'}}</label>
                                        <input type="text" ng-model="add.weddy  | date:'dd-MMM-yyyy'" maxlength="256" readonly>
                                    </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal-footer text-right">
                                    <md-button class="md-raised" value="Close" data-dismiss="modal"
                                               ng-click="closedetail()">Close
                                    </md-button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endverbatim %}
<style>
.md-select-menu-container.md-active {
   z-index: 1060;
   }
   .md-autocomplete-suggestions-container{
  z-index:100000 !important;<body>
 }
   .md-dialog-container{
   z-index:100000 !important;
   }

</style>
