{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}Catalog Approval {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="Partner_Product_Checker_App" ng-controller="Partner_Product_Checker_ctrl" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                    <h4><strong>Catalog Approval Page</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <md-input-container class="md-block inputcontainer">
                    <label>Supplier Name</label>
                    <input type="text" ng-model="checkerapproval.Partnername" maxlength="64>=1" readonly>
                </md-input-container>
            </div>
            <div class="col-md-2">
                <md-input-container class="md-block inputcontainer">
                    <label>Branch Name</label>
                    <input type="text" ng-model="checkerapproval.branchname" maxlength="64>=1" readonly>
                </md-input-container>
            </div>
            <div class="col-md-2">
                <md-input-container class="md-block inputcontainer">
                    <label>Product Name</label>
                    <input type="text" ng-model="checkerapproval.Productname" maxlength="64>=1" readonly>
                </md-input-container>
            </div>
            <div class="col-md-2">
                <md-input-container class="md-block inputcontainer">
                    <label>Valid Date From</label>
                    <input type="text" ng-model="checkerapproval.validfromdate | date:'dd-MMM-y'" maxlength="64>=1" readonly>
                </md-input-container>
            </div>
            <div class="col-md-2">
                <md-input-container class="md-block inputcontainer">
                    <label>Valid Date To</label>
                    <input type="text" ng-model="checkerapproval.validtodate | date:'dd-MMM-y'" maxlength="64>=1" readonly>
                </md-input-container>
            </div>
            <div class="col-md-2">
                <md-input-container class="md-block inputcontainer">
                    <label>Raised By</label>
                    <input type="text" ng-model="checkerapproval.Raisedby" maxlength="64>=1" readonly>
                </md-input-container>
            </div>

        </div>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                    <thead class="header">
                    <tr>
                        <th>S.No</th>
                        <th>Supplier Name</th>
                        <th>Product Name</th>
                        <th>Valid Date From</th>
                        <th>Valid Date To</th>
                        <th>Raised By</th>
                        <th>Supplier Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="emp in summarychecker.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:search:strict ">
                        <td>
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                       <td>{{emp.partner_name}}</td>
                        <td>{{emp.product_name}}</td>
                        <td>{{emp.mpartnerproduct_validfrom | date:'dd-MMM-yyyy'}}</td>
                        <td>{{emp.mpartnerproduct_validto | date:'dd-MMM-yyyy'}}</td>
                        <td>{{emp.employee_name}}</td>
                        <td>{{emp.mpartnerproduct_status}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul uib-pagination total-items="summarychecker.length" ng-model="currentPage"
                                max-size="maxSize"
                                class="pagination-sm cust_pagination" boundary-links="true" items-per-page="itemsPerPage"></ul>
                        </td>
                         <td colspan="3">
                            Total Count:{{summarychecker.length}}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row  text-left">
            <form role="form" name="prapprovel">
                <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                        <label>Reject Remarks</label>
                        <input id="premarks" maxlength="256" ng-model="approvelreject" ng-change="approvelremark=''" required/>
                    </md-input-container>

                </div>

            </form>
             <div class="col-lg-3 col-sm-3 ">
                    <md-input-container class="md-block inputcontainer">
                        <label>Approval Remarks</label>
                        <input id="prremarksapp" maxlength="256" ng-model="approvelremark"  ng-change="approvelreject=''"  required/>
                    </md-input-container>
                </div>
            <div class="col-lg-6 col-sm-6 text-right">
                <md-button type="button" value="Close" class="btn btn-secondary" ng-click="ClosePartnerApproval()">Close
                </md-button>
                <md-button type="button" value="Reject" ng-click="partnerapproved('REJECTED',approvelreject)" class="md-raised md-warn"
                           ng-disabled="prapprovel.$invalid" ng-hide="hide">Reject
                </md-button>
                <md-button type="button" value="Approve" ng-click="partnerapproved('APPROVED',approvelremark)"
                           ng-disabled="prapprovel.$valid" class="md-raised md-primary" ng-hide="hide">Approve
                </md-button>
            </div>
        </div>

<!--        <div ng-include="'atma_editdetails'"></div>-->
    </div>
</div>
{% endverbatim %}
<script>
    var myApp = angular.module('Partner_Product_Checker_App', ['ngMaterial', 'ui.bootstrap', 'AppCommon'])
        .config(function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        });
        myApp.controller('Partner_Product_Checker_ctrl', ['$scope', '$mdDialog','PartnerProductCheckerService', '$rootScope', '$window', '$filter','SerCommon',
            function($scope, $mdDialog,PartnerProductCheckerService, $rootScope, $window, $filter,SerCommon) {

    $scope.itemsPerPage=10;
    $scope.maxSize = 3;
    $scope.currentPage = 1;
    $scope.entity_gid = detail.entity_gid;
     $scope.create_by = detail.employee_gid;
    $scope.checkerapproval=[];
    var pr_gid=JSON.parse(sessionStorage.getItem('prapp_gid'));
    $scope.summarychecker=[pr_gid];
    //alert($scope.summarychecker);
    $scope.checkerapproval.Partnername=pr_gid.partner_name;
    $scope.checkerapproval.Productname=pr_gid.product_name;
    $scope.checkerapproval.validfromdate=pr_gid.mpartnerproduct_validfrom;
    $scope.checkerapproval.validtodate=pr_gid.mpartnerproduct_validto;
    $scope.checkerapproval.Raisedby=pr_gid.employee_name;
    $scope.checkerapproval.branchname=pr_gid.partnerbranch_name;
    $scope.product_gid=pr_gid.mpartnerproduct_gid;
    //alert($scope.product_gid);



$scope.partnerapproved = function (status,remark) {

var data = {
                "Params": {
                "Mpartnerproduct_Gid": $scope.product_gid,
                "Mpartnerproduct_Status":status,
                "Tran_Remarks":remark

                },
                "Classification": {
                   "Update_By":$scope.create_by,
                   "Entity_Gid":$scope.entity_gid,
                },
        }
            var details = {
               Group: 'Checker_Status',
               Action: 'APPROVED CATALOG',
               Type:"",
               data: data,
            }
          var update_checkerdetails = PartnerProductCheckerService.checkapprovalService(details)
                update_checkerdetails.then(function(result) {
                    $scope.approvalupdategroup = result.data;
                    if($scope.approvalupdategroup=="SUCCESS"){
                    alert("SUCCESSFULLY UPDATED")
                    $window.location.href = "atma_PartnerCheckerPage";
                    }else{
                    alert(JSON.stringify($scope.approvalupdategroup));
                    $window.location.href = "atma_PartnerCheckerPage";
                    }


                }),
            function(err) {
                alert('no data');
            };
}
$scope.ClosePartnerApproval=function(){
$window.location.href = "atma_PartnerCheckerPage";
}
}
]);

myApp.service("PartnerProductCheckerService", function($http) {
    this.checkapprovalService = function(get_data) {
        var response = $http.post(Appname + "/atma_CheckerDetails/", get_data);
        return response;
    }



});





</script>
{% endblock %}