{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} ATMA SUMMARY{% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="Atma_app" ng-controller="Atma_ctrl" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                    <h4><strong> SUPPLIER MANAGEMENT </strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                    <label>Supplier Code</label>
                    <input type="text" ng-model="partcode" maxlength="64>=1" ng-required="value">
                </md-input-container>
                </div>
                <div class="col-md-3" style="">
                <md-autocomplete
                        md-clear-button="true"
                        md-floating-label="Supplier Type"
                        md-input-maxlength=126
                        md-item-text="item.metadata_value"
                        md-items="item in gotopartnertype(searchText2)"
                        md-min-length=0
                        md-no-cache="true"
                        md-search-text="searchText2"
                        md-selected-item="parttype"
                        >
                    <md-item-template>
                        <span md-highlight-text="searchText"> {{item.metadata_value}} </span>
                    </md-item-template>
                    <md-not-found>
                        No matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                    <label>Supplier Name</label>
                    <input type="text" ng-model="partname" maxlength="64>=1">
                </md-input-container>
                </div>
                <div class="col-md-3">
                <md-autocomplete
                        md-clear-button="true"
                        md-floating-label="Supplier Status"
                        md-input-maxlength=126
                        md-item-text="item.metadata_value"
                        md-items="item in gotopartnerstatus(searchText1)"
                        md-min-length=0
                        md-no-cache="true"
                        md-search-text="searchText1"
                        md-selected-item="partstatus">
                    <md-item-template>
                        <span md-highlight-text="searchText"> {{item.metadata_value}} </span>
                    </md-item-template>
                    <md-not-found>
                        No matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
                </div>
            </div>
        </div>
             <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                    <label>Pan Number</label>
                    <input type="text" ng-model="panno" maxlength="64>=1">
                </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Renewal Date</label>
                        <md-datepicker md-hide-icons="calendar" ng-required="value" md-open-on-focus md-min-date="minDate"
                               md-max-date="maxDate"
                               ng-model="renewaldate" formatDate ></md-datepicker>
                    </md-input-container>
                </div>
                <div class="col-md-3" >
                <md-autocomplete
                        md-clear-button="true"
                        md-floating-label="RM Name"
                        md-input-maxlength=126
                        md-item-text="item.employee_name"
                        md-items="item in rmname(searchText11)"
                        md-min-length=0
                        md-no-cache="true"
                        md-search-text="searchText11"
                        md-selected-item="ngrmname">
                    <md-item-template>
                        <span md-highlight-text="searchText"> {{item.employee_name}} </span>
                    </md-item-template>
                    <md-not-found>
                        No matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
                </div>
                <div class="col-md-1">
                    <md-button class="md-fab md-mini md-primary custbutton" ng-click="search_getheader()">
                        <md-icon>search</md-icon>
                        <md-tooltip>Search</md-tooltip>
                    </md-button>
                </div>
                <div class="col-md-1">
            <md-button class="md-fab md-mini md-primary custbutton" type="submit" ng-click="addfun()">
                <md-icon>add</md-icon>
                <md-tooltip>Add</md-tooltip>
            </md-button>
                </div>

            </div>
        </div>

    <div class="modal fade" id="History_popup" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="width:500px;
    margin-left:200px;margin-top:250px;">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                           Transaction_History
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">

                <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                    <thead class="header">
                    <tr>
                        <th>S.No</th>
                        <th>Reject Date</th>
                        <th>Status</th>
                        <th>Responsible Person </th>
                        <th>Reason</th>
                        <th>Request Type </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="emp1 in Transactionget.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))  | filter:search:strict ">
                        <td>
                            <center>{{((currentPage1-1)*itemsPerPage1)+$index+1}}</center>
                        </td>
                        <th>{{emp1.tran_fromdate}}</th>
                        <td>{{emp1.tran_status}}</td>
                        <td>{{emp1.employee_name}}</td>
                        <td>{{emp1.SUPPLIER_REMARK}}</td>
                        <td>{{emp1.REQUESTFOR_STATUS}}</td>
                    </tr>
                    <tr ng-show="Transactionget.length == undefined">
                            <td class="warning" colspan="7">
                                No Records Found.
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul uib-pagination total-items="Transactionget.length" ng-model="currentPage1"
                                max-size="maxSize1"
                                class="pagination-sm cust_pagination" boundary-links="true" items-per-page="itemsPerPage1"></ul>
                        </td>
                         <td colspan="1">
                            Total Count:{{Transactionget.length}}
                        </td>

                    </tr>


                    </tfoot>
                </table>
            </div>
        </div>
                                <div class="modal-footer text-right">
                                    <md-button class="md-raised" value="Close" data-dismiss="modal"
                                               ng-click="close_fun('paymode')">Close
                                    </md-button>

                                </div>
               </div>
            </div>
        </div>
    </div>

        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">

                <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                    <thead class="header">
                    <tr>
                        <th>S.No</th>
                        <th>Supplier Code</th>
                        <th>Supplier Name</th>
                        <th>Supplier Classification</th>
                        <th>Supplier Panno</th>
                        <th>Supplier Type</th>
                        <th>Supplier RMName</th>
                        <th>Supplier Renewal Date</th>
                        <th>Supplier Request For</th>
                        <th>Supplier Status</th>
                        <th>Transaction History</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="emp in alldetails">
                        <td>
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td>{{emp.partner_code}}</td>
                        <td>{{emp.partner_name}}</td>
                        <td>{{emp.partner_Classification}}</td>
                        <td>{{emp.partner_panno}}</td>
                        <td>{{emp.partner_type}}</td>
                        <td>{{emp.employee_name}}</td>
                        <td>{{emp.partner_renewdate | date:'dd-MMM-yyyy'}}</td>
                        <td>{{emp.partner_requestfor}}</td>
                        <td>{{emp.partner_status}}</td>
<td align="center">
                            <span title="Transation History" ng-click="Transaction_History(emp)" align="center"
                                  class="editlink">
                                   <i class="material-icons">description</i>
                                </span>
                        </td>
                        <td align="center">
                            <span title="Edit" ng-click="edit_data(emp,'editpartner')" align="center"
                                  class="editlink">
                                    <i class="material-icons">edit</i>
                                </span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9">
                                <ul uib-pagination total-items="Total_Length" ng-model="currentPage"
                                    max-size="maxSize" ng-change="pageChanged()" class="pagination-sm"
                                    boundary-links="true" items-per-page="itemsPerPage"></ul>
                                </td>
                            <td colspan="2">
                                Total Count:{{Total_Length}}
                            </td>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div ng-include="'atma_viewdata'"></div>
<!--        <div ng-include="'atma_editdetails'"></div>-->
    </div>
</div>
{% endverbatim %}
<script>
    var myApp = angular.module('Atma_app', ['ngMaterial', 'ui.bootstrap', 'AppCommon'])
        .config(function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        });
        myApp.controller('Atma_ctrl', ['$scope', '$mdDialog','AtmaService', '$rootScope', '$window', '$filter','SerCommon',
            function($scope, $mdDialog,AtmaService, $rootScope, $window, $filter,SerCommon) {
    $scope.alldetails=[];
    $scope.viewdetail=[];

    $scope.itemsPerPage=10;
    $scope.maxSize = 3;
    $scope.currentPage = 1;
    $scope.itemsPerPage1=4;
    $scope.maxSize1 = 2;
    $scope.currentPage1 = 1;

    $scope.entity_gid = detail.entity_gid;
    $scope.create_by = detail.employee_gid;

      $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };
    $scope.endloading = function() {
        $mdDialog.hide();
    };

    $scope.partnertype = partnertype;
    $scope.gotopartnertype = gotopartnertype;
    $scope.gotopartnerstatus = gotopartnerstatus;
    $scope.rmname = rmname;



 $scope.addfun= function(){
    var atmapartner = {
        partnerdata: {"partner_gid":0},
        view:"INSERT"
        };
    sessionStorage.setItem('partner_summary_session', JSON.stringify(atmapartner));
    $window.location.href="atma_partneradd";
 }

 $scope.edit_data=function(emp,e){

        var atmapartner =
        {
            partnerdata: emp,
            view: "UPDATE"
        };
        sessionStorage.setItem('partner_summary_session', JSON.stringify(atmapartner));
        $window.location.href = "atma_partneradd";
 }

 $scope.Transaction_History=function(e){
$scope.currentPage1 = 1;
var data = {
            "Params": {
                "Filter":{
                    "Tran_reftable_gid":e.partner_gid,
                    "Tran_reft_gid":"PARTNER_NAME_TRAN"
                },
                "Classification": {
                    "Create_By":$scope.create_by,
                    "Entity_Gid": $scope.entity_gid
                },
                "Group": "Transaction_Group",
                "Action": "Rejected_Get",
                "Type": "",
            }
        }
        var get_data = AtmaService.get_atma(data)
        get_data.then(function(result) {
            $scope.Transactionget=result.data.DATA;
        })
modalshow('History_popup');
}

 $scope.add=function(em){

        modalshow('atma_view_page');
        $scope.gid = em.partner_gid;
        $scope.pcode = em.partner_code;
        $scope.pname = em.partner_name;
        $scope.pnanno = em.partner_panno;
        $scope.pcompregno = em.partner_compregno;
        $scope.pclassification = em.partner_Classification;
        $scope.ptype = em.partner_type;
        $scope.pweb = em.partner_web;
        $scope.pactivecontract = em.partner_activecontract;
        $scope.preasonnocontract = em.partner_reason_no_contract;
        $scope.pcontractdatefrom = em.partner_contractdatefrom;
        $scope.pcontractdateto = em.partner_contractdateto;
        $scope.paproxspend = em.partner_aproxspend;
        $scope.pactualspend = em.partner_actualspend;
        $scope.pnoofdir = em.partner_noofdir;
        $scope.porgtype = em.partner_orgtype;
        $scope.premarks = em.partner_remarks;
        $scope.pstatus = em.partner_status;
        $scope.prenewdate = em.partner_renewdate;
        $scope.ename = em.employee_name;
        $scope.ecreateby = em.create_by_emp_name;
        $scope.pcusname = em.custcategory_name;
    }


    function partnertype(module) {
        var result = $filter('filter')($scope.getpatype, {
            'metadata_value': module
        });
        return result;
    }

    function partnerstatus(module) {
        var result = $filter('filter')($scope.getactocomplte, {
            'partner_status': module
        });
            return result;
    }
    function rmname(module) {
        var result = $filter('filter')($scope.partnerrm, {
            'employee_name': module
        });
            return result;
    }

    $scope.searchDetails = function(){

        getatma_data();
    }

    $scope.getheaderdata = function(a){
if($scope.ngrmname==undefined){
$scope.ngrmname = ""
}
if($scope.partstatus==undefined){
$scope.partstatus = ""
}
if($scope.panno==null){
$scope.panno = ""
}
if($scope.partname==null){
$scope.partname = ""
}
if($scope.partcode==null){
$scope.partcode = ""
}
if($scope.parttype==undefined){
$scope.parttype = ""
}
if($scope.parttype==undefined){
$scope.parttype = ""
}

    if(a=='search'){$scope.currentPage=1}
        var data = {
            "Params": {
                "Filter":{
                    "Partner_Status":"",
                    "Page_Index": $scope.currentPage - 1,
                    "Page_Size": $scope.itemsPerPage,
                    "Partner_Code":$scope.partcode,
                    "Partner_Type":$scope.parttype.metadata_value,
                    "Partner_Name":$scope.partname,
                    "Partner_Panno":$scope.panno,
                    "Partner_Rmname": $scope.ngrmname.employee_name,
                    "Partner_Status": $scope.partstatus.metadata_value,
                    "Partner_Renewdate":$filter('date')($scope.renewaldate, "yyyy-MM-dd"),
                },
                "Classification": {
                    "Create_By":$scope.create_by,
                    "Entity_Gid": $scope.entity_gid
                },
                "Group": "ATMASUMMARY",
                "Action": "Partner_Get",
                "Type": "RMNAME",
            }
        }
        $scope.loading();
        var get_data = AtmaService.get_atma(data)
        get_data.then(function(result) {
            $scope.alldetails=result.data.DATA;
            $scope.search_alldetails=result.data.DATA;
             if ($scope.currentPage == 1 && $scope.search_alldetails.length != 0) {
                    $scope.Total_Length = $scope.search_alldetails[0].Total_Row;
                    }
                    if ($scope.search_alldetails.length == 0) {
                        $scope.currentPage == 1;
                        $scope.Total_Length = 0;
                    }
        }).finally($scope.endloading);
    }
        $scope.getheaderdata();

        $scope.search_getheader = function () {
            $scope.currentPage = 1;
            $scope.getheaderdata();
        }

        $scope.pageChanged = function () {
            $scope.getheaderdata();
        }


    function gotopartnerstatus(query) {
        var result = $filter('filter')($scope.partnerstatus, {
            'metadata_value': query
        });
        return result;
    }
    function gotopartnertype(query) {
        var result = $filter('filter')($scope.partnertype, {
            'metadata_value': query
        });
        return result;
    }

    var dat = {
        "Table_name": "gal_mst_tmetadata",
        "Column_1": "metadata_gid,metadata_value",
        "Column_2": "",
        "Where_Common": "metadata",
        "Where_Primary": "columnname",
        "Primary_Value": "partner_status",
        "Order_by": "value"
    }
    var ppartnerstatus = {
        Action: "",
        Entity_Gid: $scope.entity_gid,
        data: dat
    }
    $scope.partnerstatus = [];
    var getpartnerstatus = AtmaService.getpartnerstatusdata(ppartnerstatus)
    getpartnerstatus.then(function (result) {
        $scope.partnerstatus = result.data.DATA;
    },
    function (err) {
        alert('No data!.');
    }).finally();

    var getrmname = {
        "Table_name":"gal_mst_temployee",
        "Column_1":"employee_gid,employee_name",
        "Column_2":"",
        "Where_Common":"employee",
        "Where_Primary":"employee_gid",
        "Primary_Value":"",
        "Order_by":"name"
    }
    var getpartrmname = {
        Action: "",
        Entity_Gid: $scope.entity_gid,
        data: getrmname
    }
    $scope.partnerrm = [];
    var getpartrmnam = AtmaService.getpartnerrmdata(getpartrmname)
    getpartrmnam.then(function (result) {
        $scope.partnerrm = result.data.DATA;
    },
    function (err) {
        alert('No data!.');
    }).finally();

    var getpatype = {
        "Table_name":"gal_mst_tmetadata",
        "Column_1":"metadata_gid,metadata_value",
        "Column_2":"",
        "Where_Common":"metadata",
        "Where_Primary":"columnname",
        "Primary_Value":"partner_type",
        "Order_by":"value"
    }
    var getparttype = {
        Action: "",
        Entity_Gid: $scope.entity_gid,
        data: getpatype
    }
    $scope.partnertype = [];
    var getpartetype = AtmaService.getpartnertypedata(getparttype)
    getpartetype.then(function (result) {
        $scope.partnertype = result.data.DATA;
    },
    function (err) {
        alert('No data!.');
    }).finally();

}
]);

myApp.service("AtmaService", function($http) {
    this.get_atma = function(get_data) {
        var response = $http.post(Appname + "/atma_getdata/", get_data);
        return response;
    }
    this.getpartnerrmdata = function(get_data) {
        var response = $http.post(Appname + "/prodget/", get_data);
        return response;
    }
    this.getpartnerstatusdata = function(get_data) {
        var response = $http.post(Appname + "/prodget/", get_data);
        return response;
    }
    this.getpartnertypedata = function(get_data) {
        var response = $http.post(Appname + "/prodget/", get_data);
        return response;
    }
});
</script>
{% endblock %}
