{% verbatim%}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="activitydetails_edit_page"
     role="dialog" tabindex="-1">
    <div class="container" class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h4 class="modal-title" >
                  Activity Edit
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body popup-body">
                <div class="row">
                    <form name="myForm">
                        <div class="col-xs-12">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                            <label>Activity Name</label>
                                 <md-select md-container-class="popup_select" ng-model="add.activityname">
                                  <md-option ng-repeat="item in actname" ng-value="item.activity_gid">
                                                    {{item.activity_name}}
                                  </md-option>
                                  </md-select>
                                 </md-input-container>
                            </div>
                            <div class="col-md-3">
                               <md-input-container class="md-block inputcontainer">
                                            <label>Activity Detail Code</label>
                               <input type="number" ng-value="item.activity_gid"
                                                   ng-model="add.activitydetailcode">
                               </md-input-container>
                            </div>
                            <div class="col-md-3">
                               <md-input-container class="md-block inputcontainer">
                                            <label>Activity Detail Name</label>
                                            <input type="text" ng-model="add.activitydetailname">
                               </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                            <label>Raisor Name</label>
                                            <md-select md-container-class="popup_select" ng-model="add.raiser">
                                                <md-option ng-repeat="item in raiser" ng-value="item.employee_gid">
                                                    {{item.employee_name}}
                                                </md-option>
                                            </md-select>
                                 </md-input-container>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                            <label>Approver Name</label>
                                            <md-select md-container-class="popup_select" ng-model="add.approvername">
                                                <md-option ng-repeat="item in approver" ng-value="item.employee_gid">
                                                    {{item.employee_name}}
                                                </md-option>
                                            </md-select>
                                </md-input-container>
                             </div>
                             <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                            <label>Activity Remark</label>
                                            <input type="text" ng-model="add.activityremark">
                                 </md-input-container>
                            </div>
                            </div>
                            </div>
                        </div>
                      </form>
                    <div  style="margin-left:520px;">
                        <md-button class="btn btn-info custbutton" ng-click="save1(add);" ng-disabled="!(formfill.$valid)"
                               value="Close">
                        Update
                        </md-button>
                            <md-button class="md-raised custbutton" value="Close" data-dismiss="modal" ng-click="closedetail()">
                                Close
                            </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
