{% verbatim%}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" style="margin-top:300px;" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="atma_paymentview_page"
     role="dialog" tabindex="-1">
    <div class="container" class="modal-dialog modal-lg" role="document" style="width:600px;">
        <div class="modal-content">
            <md-toolbar>
        <div class="md-toolbar-tools">
            <h3 style="margin-left:160px;"> View Payment Details </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelDialog()" data-dismiss="modal">
                <md-icon aria-label="Close dialog">
                    <i class="material-icons">close</i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
                <div class="modal-body popup-body">
                    <div class="row">
                        <md-dialog-content>
        <div class="md-dialog-content" >
            <div class="col-md-12">
                <label style="font-size:18px;margin-left:30px;">Paymode Name  </label><label style="margin-left:100px;font-size:18px">:</label>
                <label style="font-size:15px;margin-left:30px;">{{paymodepop}}</label>
            </div>
            <div class="col-md-12">
                <label style="font-size:18px;margin-left:30px;">Bank Name</label><label style="margin-left:134px;font-size:18px">:</label>
                <label style="font-size:15px;margin-left:30px;">{{bankpop}}</label>
            </div>
            <div class="col-md-12">
                <label style="font-size:18px;margin-left:30px;">Bank Branch Name </label><label style="margin-left:70px;font-size:18px">:</label>
                <label style="font-size:15px;margin-left:30px;">{{branchpop}}</label>
            </div>
            <div class="col-md-12">
                <label style="font-size:18px;margin-left:30px;">Bank Branch IFSC code</label><label style="margin-left:36px;font-size:18px">:</label>
                <label style="font-size:15px;margin-left:30px;">{{ifscpop}}</label>
            </div>
            <div class="col-md-12">
                <label style="font-size:18px;margin-left:30px;">Payment Account Type</label><label style="margin-left:38px;font-size:18px">:</label>
                <label style="font-size:15px;margin-left:30px;">{{acctpop}}</label>

            </div>
            <div class="col-md-12">
                <label style="font-size:18px;margin-left:30px;">Payment Account Number<label style="margin-left:10px;">:</label></label>
                <label style="font-size:15px;margin-left:30px;">{{accnpop}}</label>
            </div>
            <div class="col-md-12">
                <label style="font-size:18px;margin-left:30px;">Payment Benificiary Name<label style="margin-left:10px;">:</label></label>
                <label style="font-size:15px;margin-left:30px;">{{benipop}}</label>
            </div>

        </div>
        <div class="col-md-12" ng-if="empsmry.length == 0">
            <div class="alert alert-info" role="alert"> No Records found...!</div>
        </div>
    </md-dialog-content>

                </div>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}