{% verbatim %}
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <div class="col-lg-10 col-sm-10">
                    <h4><strong>Client Details</strong></h4>
                </div>
            </div>
        </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <md-input-container class="md-block inputcontainer">
                                <label>Client Name</label>
                                <input type="text" ng-model="Client.name" maxlength="20" ng-required="value" ng-change="change_clientname(Client)">
                            </md-input-container>
                        </div>


                    </div>
                </div>

                <div class="row table-responsive">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                            <thead class="header">
                            <tr>
                                <th>S.No</th>
                                <th>Supplierclient Name</th>
                                <th>Address One</th>
                                <th>Address Two</th>
                                <th>Address Three</th>
                                <th>Address Pincode</th>
                                <th>City Name</th>
                                <th>District Name</th>
                                <th>State Name </th>
                                <th>Action </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="emp in tmp_clientgetgroup.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:search:strict ">
                                <td>
                                    <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                                </td>
                                <td>{{emp.partnerclient_name}}</td>
                                <td>{{emp.address_1}}</td>
                                <td>{{emp.address_2}}</td>
                                <td>{{emp.address_3}}</td>
                                <td>{{emp.address_pincode}}</td>
                                <td>{{emp.City_Name}}</td>
                                <td>{{emp.district_name}}</td>
                                <td>{{emp.state_name}}</td>
                                <td align="center">
                                    <a title="View" ng-click="clientapproval_viewpage(emp)" align="center" class="editlink">
                                        <i class="material-icons">visibility</i>
                                    </a>

                                </td>

                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="9">
                                    <ul uib-pagination total-items="tmp_clientgetgroup.length" ng-model="currentPage"
                                        max-size="maxSize"
                                        class="pagination-sm cust_pagination" boundary-links="true"
                                        items-per-page="itemsPerPage"></ul>
                                </td>
                                <td colspan="3">
                                    Total Count:{{tmp_clientgetgroup.length}}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
<div class="modal fade" id="ClientAddPopup" role="dialog" data-backdrop="static"
             data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                           Supplier Client Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body" ng-form="createrole">
                        <div class="row">

                                <div class="col-md-3" >
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.name != clientgetgroup.partnerclient_name && {'color':'red'}" style="color: black">Client Name  - {{clientgetgroup.partnerclient_name}}</label>
                                        <input type="text" ng-model="add.name" maxlength="20"
                                              ng-change="add.name = (add.name | uppercase)" required>
                                    </md-input-container>
                                </div>

                        </div>
                         <md-subheader class="md-accent">Address</md-subheader>
                            <div class="row">
                            <div class="col-md-3">
                                <md-input-container class="md-block inputcontainer">
                                    <label ng-style="add.addline != clientgetgroup.address_1 && {'color':'red'}" style="color: black">Address Line 1  - {{clientgetgroup.address_1}}</label>
                                    <input type="text" ng-model="add.addline" maxlength="128"
                                        ng-change="add.addline=add.addline.toUpperCase()" readonly/>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.addline2 != clientgetgroup.address_2 && {'color':'red'}" style="color: black">Address Line 2  - {{clientgetgroup.address_2}}</label>
                                        <input type="text" ng-model="add.addline2" maxlength="128"
                                            ng-change="add.addline2=add.addline2.toUpperCase()" readonly/>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                       <label ng-style="add.addline3 != clientgetgroup.address_3 && {'color':'red'}" style="color: black">Address Line 3  - {{clientgetgroup.address_3}}</label>
                                        <input type="text" ng-model="add.addline3" maxlength="128"
                                            ng-change="add.addline3=add.addline3.toUpperCase()" readonly/>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.pincode1 != clientgetgroup.address_pincode && {'color':'red'}" style="color: black">Pincode  - {{clientgetgroup.address_pincode}}</label>
                                        <input ng-model="add.pincode1" maxlength="6" ng-blur="pinchange(add.pincode1,'address')"
                                            ng-pattern="/^[1-9][0-9]{5}$/" readonly/>
                                    </md-input-container>
                            </div>
                            <div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.addselectedcity != clientgetgroup.City_Name && {'color':'red'}" style="color: black">City - {{clientgetgroup.City_Name}}</label>
                                        <input type="text" ng-model="add.addselectedcity" maxlength="256" readonly>
                                    </md-input-container>
                                </div><div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.addselecteddistrict != clientgetgroup.district_name && {'color':'red'}" style="color: black">District - {{clientgetgroup.district_name}}</label>
                                        <input type="text" ng-model="add.addselecteddistrict" maxlength="256" readonly>
                                    </md-input-container>
                                </div><div class="col-md-3">
                                    <md-input-container class="md-block inputcontainer">
                                        <label ng-style="add.addselectedstate != clientgetgroup.state_name && {'color':'red'}" style="color: black">State - {{clientgetgroup.state_name}}</label>
                                        <input type="text" ng-model="add.addselectedstate" maxlength="256" readonly>
                                    </md-input-container>
                                </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal-footer text-right">
                                    <md-button class="md-raised" value="Close" data-dismiss="modal"
                                               ng-click="closedetail()">Close
                                    </md-button>
                                    <md-button class="md-raised custbutton" ng-click="addclientdetails(add)" value="Submit" ng-show="clientsubmit">
                                        Submit
                                    </md-button><md-button class="md-raised custbutton" ng-click="updateclientdetails(add)" value="Submit" ng-show="clientupdate">
                                        Update
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endverbatim %}
<style>
.md-select-menu-container.md-active {
   z-index: 1060;
   }
   .md-autocomplete-suggestions-container{
  z-index:100000 !important;<body>
 }
   .md-dialog-container{
   z-index:100000 !important;
   }

</style>
