{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Bank Branch{% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="APP_Bank_Summary" ng-controller="Bank_Sumamry_ctrl" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <h4><strong> Bank Branch </strong></h4>
            </div>
        </div>
        <form name="branchform">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Branch Code</label>
                        <input type="text" ng-model="branchcode" autocomplete="off"
                               required readonly>
                    </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Branch Name</label>
                        <input type="text" ng-model="branchname" autocomplete="off" readonly
                               required>
                    </md-input-container>
                </div>

                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Branch tanno</label>
                        <input type="text" ng-model="branchtanno" autocomplete="off" readonly
                               required>
                    </md-input-container>
                </div>

                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                        <label>Branch GL</label>
                        <input type="text" ng-model="branchglno" autocomplete="off"
                               required>
                    </md-input-container>
                </div>
            </div>
        </div>



        <br>
        <br>

        <form name="formfill">
    <md-subheader class="md-accent">Address</md-subheader>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Address Line 1</label>
                    <input type="text" ng-model="addline" maxlength="128" autocomplete="off" readonly
                           ng-change="add.addline=add.addline.toUpperCase()" required/>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Address Line 2</label>
                    <input type="text" ng-model="addline2" maxlength="128" autocomplete="off"
                           readonly >
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Address Line 3</label>
                    <input type="text" ng-model="addline3" maxlength="128" autocomplete="off"
                          readonly >
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Pincode</label>
                    <input ng-model="pincode1" maxlength="6"
                           numbers-only maxlength="6" autocomplete="off" readonly
                           ng-pattern="/^[1-9][0-9]{5}$/" required/>
                    <span ng-hide="true" ng-model="addpcodegid"></span>
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>City</label>
                     <input type="text" ng-model="cityname" autocomplete="off" readonly
                               required>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>District</label>
                     <input type="text" ng-model="districtname" autocomplete="off" readonly
                               required>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>State</label>
                     <input type="text" ng-model="statename" autocomplete="off" readonly
                               required>
                </md-input-container>
            </div>
        </div>
    </div>
</form><br>
            <form name="formfill" novalidate>
    <md-subheader class="md-accent">Contact</md-subheader>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Contact Type</label>
                        <input type="text" ng-model="contacttype" autocomplete="off"
                               required readonly>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Person Name</label>
                    <input ng-model="prsnname" maxlength="30" readonly autocomplete="off" only-letters-input required/>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <form name="my">
                    <md-input-container class="md-block inputcontainer">
                        <label>Designation</label>
                       <input type="text" ng-model="designation" readonly autocomplete="off"
                               required>
                    </md-input-container>
                </form>
            </div>
            <div class="col-md-3">
                <form name="myfm">
                    <md-input-container class="md-block inputcontainer">
                        <label>Landline</label>
                        <input name="ll1" ng-model="lndlne11"readonly  numbers-only maxlength="11" ng-pattern="/^[0-9]{11}$/"/>
                        <div ng-messages="myfm.ll1.$error">
                            <div ng-message="required">You did not enter a field</div>
                            <div ng-message="minlength">Your field is too short</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <form name="myForm">
                    <md-input-container class="md-block inputcontainer">
                        <label>Landline 2</label>
                        <input name="myName" ng-model="lndlne211" numbers-only maxlength="11" readonly
                               ng-pattern="/^[0-9]{11}$/"/>
                        <div ng-messages="myForm.myName.$error">
                            <div ng-message="minlength">Your field is too short</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
            <div class="col-md-3">
                <form name="myFor">
                    <md-input-container class="md-block inputcontainer">
                        <label>Mobile Number</label>
                        <input name="mob" ng-model="mobno11" numbers-only maxlength="10" ng-pattern="/^[0-9]{10}$/"
                               readonly required/>
                        <div ng-messages="myFor.mob.$error">
                            <div ng-message="required">You did not enter a field</div>
                            <div ng-message="minlength">Your field is too short</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
            <div class="col-md-3">
                <form name="myFr">
                    <md-input-container class="md-block inputcontainer">
                        <label>Mobile Number2</label>
                        <input name="mobn" ng-model="mobno211" numbers-only maxlength="10" readonly
                               ng-pattern="/^[0-9]{10}$/"/>
                        <div ng-messages="myFr.mobn.$error">

                        </div>
                    </md-input-container>
                </form>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Email ID</label>
                    <input ng-model="mailid11" maxlength="40" readonly ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Date of Birth</label>
                    <md-datepicker md-hide-icons="calendar" md-max-date="maxDate" ng-change="minDate" formatDate
                                  readonly ng-model="dobb"></md-datepicker>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Wedding Day</label>
                    <md-datepicker md-hide-icons="calendar" md-max-date="maximumDate" ng-change="minimumDate" formatDate
                                   ng-model="weddy"></md-datepicker>
                </md-input-container>
            </div>
            <div class="col-md-3" style="margin-left:50px;"><br>

            </div>

        </div>
    </div>
</form>
        <div class="row" style="margin-top:30px;margin-left:400px;">
            <div class="col-md-12">

                <md-button class="md-raised" value="Close" ng-href="BankGL_Summary"
                           ng-click="close_fun('client')">Close
                </md-button>

                <md-button class="md-raised custbutton" ng-click="updateclientdetails(branchglno)" value="Submit"
                           ng-show="clientupdate" ng-disabled="branchform.$invalid">
                    Update
                </md-button>

            </div>
        </div>
        </form>
    </div>
</div>

{% endverbatim %}



<script>
    var myApp = angular.module('APP_Bank_Summary', ['ngMaterial', 'ui.bootstrap', 'AppCommon'])
        .config(function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        });
        myApp.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };

})

        myApp.controller('Bank_Sumamry_ctrl', ['$scope', '$mdDialog','BankSummaryService', '$rootScope', '$window', '$filter','SerCommon',
            function($scope , $mdDialog,BankSummaryService, $rootScope, $window, $filter,SerCommon,$mdSelect) {


    var detail = JSON.parse(sessionStorage.getItem('today'));
    $scope.entity_gid = detail.entity_gid;
    $scope.create_by = detail.employee_gid;

   $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };
    $scope.endloading = function() {
        $mdDialog.hide();
    };

    function fn_subcategory(query) {
        var result = $filter('filter')($scope.memosubcategory, {
            'memosubcategory_name': query
        });
        return result;
    }


    $scope.checkifsc_fn=function(e){
    debugger;
        var data={
            "Params":{
                "Filter":{
                    "IFSC_Code":e,
                },
                "Group":"IFSC_GROUP",
            }
        }
        $scope.loading();
        var check_ifscv = BankSummaryService.getifsc(data)
        check_ifscv.then(function(result) {
            $scope.add.ifsccode_bankname= result.data.Bank_Name;
            $scope.add.ifsccode_branchname = result.data.Branch_Name;
            if($scope.add.ifsccode_branchname==''){
            alert("Invalid IFSC Code");
            }

            //alert(JSON.stringify($scope.ifsccode_bankname))
        }).finally($scope.endloading)
    }



$scope.add=[];
var partner_detail = JSON.parse(sessionStorage.getItem('memo_summary_session'));
    debugger;
    $scope.clientsubmit=true;
    $scope.clientupdate=false;
    $scope.a=[partner_detail];
    //alert(JSON.stringify($scope.a));
    if(partner_detail.memodata.branch_gid>0){
    $scope.clientsubmit=false;
    $scope.clientupdate=true;

    $scope.branchcode=partner_detail.memodata.branch_code;
    $scope.branchname=partner_detail.memodata.branch_name;
    $scope.branchtanno=partner_detail.memodata.branch_tanno;
    $scope.branchglno=partner_detail.memodata.branch_glno;
    $scope.addline=partner_detail.memodata.address_1;
    $scope.addline2=partner_detail.memodata.address_2;
    $scope.addline3=partner_detail.memodata.address_3;
    $scope.pincode1=partner_detail.memodata.address_pincode;
    $scope.cityname=partner_detail.memodata.City_Name;
    $scope.districtname=partner_detail.memodata.district_name;
    $scope.statename=partner_detail.memodata.state_name;
    $scope.contacttype=partner_detail.memodata.contacttype_Name;
    $scope.prsnname=partner_detail.memodata.Contact_personname;
    $scope.designation=partner_detail.memodata.designation_name;
    $scope.lndlne11=partner_detail.memodata.Contact_landline;
    $scope.lndlne211=partner_detail.memodata.Contact_landline2;
    $scope.mobno11=partner_detail.memodata.Contact_mobileno;
    $scope.mobno211=partner_detail.memodata.Contact_mobileno2;
    $scope.mailid11=partner_detail.memodata.Contact_email;
    $scope.dobb=new Date(partner_detail.memodata.Contact_DOB);
    $scope.weddy1=partner_detail.memodata.Contact_WD;
    $scope.weddy=new Date(partner_detail.memodata.Contact_WD);

    }

    $scope.updateclientdetails=function(e){
    debugger;
    var data={
        "Params":{
            "Filter":{
                "Branch_Gid":partner_detail.memodata.branch_gid,
                "Branch_glno":e,

            },
            "Classification": {"Entity_Gid": $scope.entity_gid},
            "Group":"updatebranchmaster",
            "Action":"UPDATE",
            "Type":"BRANCH",
            "SubType":"EDIT",
            "Create_by":$scope.create_by,
        }
    }
    var updatebranch=BankSummaryService.updatebankbranch(data)
    updatebranch.then(function(result){
    $scope.uppdate_data=result.data;
    if($scope.uppdate_data=="SUCCESS"){
    alert("SUCCESSFULLY UPDATED");
    $window.location.href = 'BankGL_Summary';
    }else{
    alert($scope.uppdate_data);
   }

    })

    }

}
]);

myApp.service("BankSummaryService", function($http) {

     this.getsubcategory = function(partnergroup) {
        var respons = $http.post(Appname + "/prodget/", partnergroup);
        return respons;
    }
    this.getifsc = function(partnergroup) {
        var respons = $http.post(Appname + "/atma_ApprovedPartner_Get/", partnergroup);
        return respons;
    }
    this.setbranchdata = function(partnergroup) {
        var respons = $http.post(Appname + "/Bankbranch_setdetails/", partnergroup);
        return respons;
    }
    this.updatebankbranch = function(partnergroup) {
        var respons = $http.post(Appname + "/Bankbranch_setdetails/", partnergroup);
        return respons;
    }


});








</script>
{% endblock %}