<body>
{% verbatim %}
<form name="formfill" novalidate>
    <md-subheader class="md-accent">Contact</md-subheader>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Contact Type</label>
                    <md-select ng-model="add.cntcttype11" required="true" data-md-container-class="selectdemoSelectHeader">
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" placeholder="Search for ContactType.."
                                   class="demo-header-searchbox md-text" onkeydown="mdSelectOnKeyDownOverride(event)">
                        </md-select-header>
                        <md-optgroup label="Contact Type">
                            <md-option ng-repeat="x in conttype | filter:searchTerm" ng-value="x.contacttype_gid"> {{x.contacttype_name}}
                            </md-option>
                        </md-optgroup>
                    </md-select>

                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Person Name</label>
                    <input ng-model="add.prsnname11" maxlength="30" autocomplete="off" no-Special-Char required/>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <form name="my">
                    <md-input-container class="md-block inputcontainer">
                        <label>Designation</label>
                        <md-select ng-model="add.dsgntn11" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" required>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerms" type="search" placeholder="Search for a Designation.."
                                       class="demo-header-searchbox md-text" onkeydown="mdSelectOnKeyDownOverride(event)">
                            </md-select-header>
                            <md-optgroup label="Designation">
                                <md-option ng-value="y.designation_gid" ng-repeat="y in designationdetails |
              filter:searchTerms">{{ y.designation_name }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </form>
            </div>
            <div class="col-md-3">
                <form name="myfm">
                    <md-input-container class="md-block inputcontainer">
                        <label>Landline</label>
                        <input name="ll1" ng-model="add.lndlne11" numbers-only maxlength="11" ng-pattern="/^[0-9]{11}$/"/>
                        <div ng-messages="myfm.ll1.$error">
                            <div ng-message="required">You did not enter a field</div>
                            <div ng-message="minlength">Your field is too short</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <form name="myForm">
                    <md-input-container class="md-block inputcontainer">
                        <label>Landline 2</label>
                        <input name="myName" ng-model="add.lndlne211" numbers-only maxlength="11"
                               ng-pattern="/^[0-9]{11}$/"/>
                        <div ng-messages="myForm.myName.$error">
                            <div ng-message="minlength">Your field is too short</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
            <div class="col-md-3">
                <form name="myFor">
                    <md-input-container class="md-block inputcontainer">
                        <label>Mobile Number</label>
                        <input name="mob" ng-model="add.mobno11" numbers-only maxlength="10" ng-pattern="/^[0-9]{10}$/"
                               required/>
                        <div ng-messages="myFor.mob.$error">
                            <div ng-message="required">You did not enter a field</div>
                            <div ng-message="minlength">Your field is too short</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
            <div class="col-md-3">
                <form name="myFr">
                    <md-input-container class="md-block inputcontainer">
                        <label>Mobile Number2</label>
                        <input name="mobn" ng-model="add.mobno211" numbers-only maxlength="10"
                               ng-pattern="/^[0-9]{10}$/"/>
                        <div ng-messages="myFr.mobn.$error">
                            <div ng-message="minlength">Your field is too short</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Email ID</label>
                    <input ng-model="add.mailid11" maxlength="40" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Date of Birth</label>
                    <md-datepicker md-hide-icons="calendar" md-max-date="maxDate" ng-change="minDate" formatDate
                                   ng-model="add.dobb11"></md-datepicker>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block inputcontainer">
                    <label>Wedding Day</label>
                    <md-datepicker md-hide-icons="calendar" md-max-date="maximumDate" ng-change="minimumDate" formatDate
                                   ng-model="add.weddy11"></md-datepicker>
                </md-input-container>
            </div>  <div class="col-md-3" style="margin-left:50px;"><br>
               <md-button class="btn btn-info custbutton" value="Close" ng-click="save_Partner(Partner,add);" ng-show="createpartner" ng-disabled="disble_savebtn">
                            Save
                            </md-button>
            </div>

        </div>
    </div>
</form>
{% endverbatim %}
</body>

