{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %}Renewal Process{% endblock %}
{% block content %}
{% verbatim %}
<div class="maincontent">
    <div class="container container1" ng-app="Appproduct" ng-controller="Ctrlproduct" ng-cloak>
        <div class="row">
            <div class="row-header col-lg-12 col-sm-12">
                <div class="col-lg-10 col-sm-10">
                    <h4><strong>RENEWAL PROCESS</strong></h4>
                </div>
            </div>
        </div>
        <form name="formfill">
            <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                    <label>Partner Code</label>
                    <input type="text" ng-model="addapproval.partnercode"  ng-change="prapproval(addapproval)" maxlength="64>=1" ng-required="value">
                </md-input-container>
                </div>
                <div class="col-md-3" style="">
                <md-autocomplete
                        md-clear-button="true"
                        md-floating-label="Partner Type"
                        md-input-maxlength=126
                        md-item-text="item.metadata_value"
                        md-items="item in gotopartnertype(searchText2)"
                        md-min-length=0
                        md-no-cache="true"
                        md-search-text="searchText2"
                        md-selected-item="parttype"
                        md-selected-item-change="prpartnertype(item)">
                    <md-item-template>
                        <span md-highlight-text="searchText"> {{item.metadata_value}} </span>
                    </md-item-template>
                    <md-not-found>
                        No matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                    <label>Partner Name</label>
                    <input type="text" ng-model="addapproval.partnername" ng-change="prapproval(addapproval)" maxlength="64>=1"   ng-required="value">
                </md-input-container>
                </div>
                <div class="col-md-3">
                    <md-input-container class="md-block inputcontainer">
                    <label>Pan Number</label>
                    <input type="text" ng-model="addapproval.panno" ng-change="prapproval(addapproval)" maxlength="64>=1"  ng-required="value">
                </md-input-container>
                </div>

            </div>
        </div>
             <div class="row">
            <div class="col-md-12">


                <div class="col-md-3" >
                <md-autocomplete
                        md-clear-button="true"
                        md-floating-label="RM Name"
                        md-input-maxlength=126
                        md-item-text="item.employee_name"
                        md-items="item in rmname(searchText11)"
                        md-min-length=0
                        md-no-cache="true"
                        md-search-text="searchText11"
                        md-selected-item="ngrmname"
                        md-selected-item-change="ngpartnerrmname(item)">
                    <md-item-template>
                        <span md-highlight-text="searchText"> {{item.employee_name}} </span>
                    </md-item-template>
                    <md-not-found>
                        No matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
                </div>
                <div class="col-md-1">
                </br>
                    <md-button class="md-fab md-mini md-primary custbutton" ng-click="searchDetails()">
                        <md-icon>search</md-icon>
                        <md-tooltip>Search</md-tooltip>
                    </md-button>
                </div><div class="col-md-1">
                </br>

              </div>
            </div>
        </div>

        </form>
        <div class="row table-responsive">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                    <thead class="header">
                    <tr>
                        <th>S.No</th>
                         <th>Partner Code</th>
                        <th>Partner Name</th>
                        <th>Partner Classification</th>
                        <th>Partner Panno</th>
                        <th>Partner Type</th>
                        <th>Partner RMName</th>
                        <th>Partner Renewal Date</th>
                        <th>Partner Request For</th>
                        <th>Partner Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="approv in alldetails.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:searchquery ">
                        <td>
                            <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                        </td>
                        <td>{{approv.partner_code}}</td>
                        <td>{{approv.partner_name}}</td>
                        <td>{{approv.partner_Classification}}</td>
                        <td>{{approv.partner_panno}}</td>
                        <td>{{approv.partner_type}}</td>
                        <td>{{approv.employee_name}}</td>
                        <td>{{approv.partner_renewdate | date:'dd-MMM-yyyy'}}</td>
                         <td>{{approv.partner_requestfor}}</td>
                        <td>{{approv.partner_status}}</td>
                        <td align="center">
                             <span title="Edit" ng-click="deactivate(approv)" align="center"
                                  class="editlink">
                                    <i class="material-icons">edit</i>
                                </span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9">
                            <ul boundary-links="true" class="pagination-sm" items-per-page="itemsPerPage"
                                max-size="maxSize" ng-model="currentPage" total-items="pageLength"
                                uib-pagination></ul>
                        </td>
                        <td colspan="4">
                            Total Count:{{getpartnerapproval.length}}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>


        </div>
    </div>
</div>
    {% endverbatim %}
    <script>
    var myApp = angular.module('Appproduct', ['ngMaterial', 'ui.bootstrap']).config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
myApp.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
})
myApp.controller('Ctrlproduct', ['$scope', 'AtmaService', '$mdDialog', '$rootScope', '$filter', '$window',
    function($scope, AtmaService, $mdDialog, $rootScope, $filter, $window) {
        var detail = JSON.parse(sessionStorage.getItem('today'));
        $scope.employgid = detail.employee_gid1;
        $scope.entity_gid = detail.entity_gid;
        $scope.create_by = detail.employee_gid;
        $scope.partner_gid = detail.partner_gid;
        $scope.currentPage = 1;
        $scope.maxSize = 3;
        $scope.profileproduct = [];
        $scope.itemsPerPage = 10;
        $scope.approv = [];
         $scope.onee=true;


        $scope.addapproval =[];
        $scope.rmname = rmname;
        $scope.gotopartnertype = gotopartnertype;
        $scope.gotopartnerstatus = gotopartnerstatus;
        $scope.datss = 'deactivation';

        $scope.deactivate=function(approv){

        $scope.onee=true;

        var atmapartner =
        {
            partnerdata: approv,
            view: "RENEWAL PROCESS",
            button:"RENEWAL PROCESS"

        };
        sessionStorage.setItem('partner_summary_session', JSON.stringify(atmapartner));
        $window.location.href = "atma_Approval_ViewDetails_Page";
        }

        function rmname(module) {
            var result = $filter('filter')($scope.partnerrm, {
                'employee_name': module
            });
                return result;
        }

       rmnamee()
       function rmnamee()
       {
        var getrmname = {
        "Table_name":"gal_mst_temployee",
        "Column_1":"employee_gid,employee_name",
        "Column_2":"",
        "Where_Common":"employee",
        "Where_Primary":"employee_gid",
        "Primary_Value":"",
        "Order_by":"name"
        }
        var getpartaprmname = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: getrmname
        }
        $scope.partnerrm = [];
        var getpartrmnam = AtmaService.getpartnerrmdata(getpartaprmname)
        getpartrmnam.then(function (result) {
            $scope.partnerrm = result.data.DATA;
            //alert(JSON.stringify( $scope.partnerrm))
        },
        function (err) {
            alert('No data!.');
        }).finally();
        }

        function gotopartnerstatus(query) {
            var result = $filter('filter')($scope.partnerstatus, {
                'metadata_value': query
            });
            return result;
        }
        function gotopartnertype(query) {
            var result = $filter('filter')($scope.partnertype, {
                'metadata_value': query
            });
            return result;
        }
        getstatuss()
        function getstatuss(){
        var dat = {
            "Table_name": "gal_mst_tmetadata",
            "Column_1": "metadata_gid,metadata_value",
            "Column_2": "",
            "Where_Common": "metadata",
            "Where_Primary": "columnname",
            "Primary_Value": "partner_status",
            "Order_by": "value"
        }
        var ppartnerstatus = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: dat
        }
        $scope.partnerstatus = [];
        var getpartnerstatus = AtmaService.getpartnerstatusdata(ppartnerstatus)
        getpartnerstatus.then(function (result) {
            $scope.partnerstatus = result.data.DATA;
            //alert(JSON.stringify( $scope.partnerstatus))
        },
        function (err) {
            alert('No data!.');
        }).finally();
        }
       partnertypee()
       function partnertypee(){
        var getpatype = {
            "Table_name":"gal_mst_tmetadata",
            "Column_1":"metadata_gid,metadata_value",
            "Column_2":"",
            "Where_Common":"metadata",
            "Where_Primary":"columnname",
            "Primary_Value":"partner_type",
            "Order_by":"value"
        }
        var getparttype = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: getpatype
        }
        $scope.partnertype = [];
        var getpartetype = AtmaService.getpartnertypedata(getparttype)
        getpartetype.then(function (result) {
            $scope.partnertype = result.data.DATA;
            //alert(JSON.stringify( $scope.partnertype))
        },
        function (err) {
            alert('No data!.');
        }).finally();
        }


         function rmname(module) {
            var result = $filter('filter')($scope.partnerrm, {
                'employee_name': module
            });
                return result;
        }
        getrmnamee()
        function getrmnamee(){
         var getrmname = {
        "Table_name":"gal_mst_temployee",
        "Column_1":"employee_gid,employee_name",
        "Column_2":"",
        "Where_Common":"employee",
        "Where_Primary":"employee_gid",
        "Primary_Value":"",
        "Order_by":"name"
        }
        var getpartaprmname = {
            Action: "",
            Entity_Gid: $scope.entity_gid,
            data: getrmname
        }
        $scope.partnerrm = [];
        var getpartrmnam = AtmaService.getpartnerrmdata(getpartaprmname)
        getpartrmnam.then(function (result) {
            $scope.partnerrm = result.data.DATA;
            //alert(JSON.stringify( $scope.partnerrm))
        },
        function (err) {
            alert('No data!.');
        }).finally();
        }



      $scope.prapproval = function(e){

      $scope.getpartnerapproval = $filter('filter')($scope.searchproductprofile ,{
            "partner_code": e.partnercode,
            "partner_name": e.partnername,
            "partner_panno": e.panno,


            });
      }
     $scope.prpartnertype = function(gotopartnertype){
     $scope.getpartnerapproval = $filter('filter')($scope.searchproductprofile ,{
                "partner_type":gotopartnertype.metadata_value
            });
      $scope.gotopartnertype = $filter('filter')($scope.gotopartnertype ,{
            "partner_type" : gotopartnertype.parttype,

            });

      }

      $scope.ngpartnerrmname = function(rmname){

      $scope.getpartnerapproval = $filter('filter')($scope.searchproductprofile,{
             "partner_rmname" : rmname.employee_gid
             });
      $scope.rmname = $filter('filter')($scope.rmname,{
             "partner_rmname" : rmname.ngrmname,
             });

             }

<!--        $scope.SavePartnerApproval = function(approv) {-->
<!--        -->
<!--            var data = {-->
<!--                "Classification": {-->
<!--                 "Partner_Gid": approv.partner_gid,-->
<!--                    "Partner_Status":"Pending For RM",-->
<!--                  "Partner_RequestFor":"Deactivate"-->
<!--                },-->
<!--                 "Params": '{}',-->
<!--            }-->
<!--            var total = {-->
<!--                Group: 'Partner Inactive',-->
<!--                Action: 'Partner_Deactivate',-->
<!--                Type: 'Partner Inactive',-->
<!--                data: data-->
<!--            }-->
<!--            $scope.partnerprofile = [];-->
<!--            var set_partnerprofile = AtmaService.pprofile(total)-->
<!--            set_partnerprofile.then(function(result) {-->
<!--                    alert(JSON.stringify(result.data));-->
<!--                    $scope.partnerprofile = result.data.Data;-->
<!--                }),-->
<!--                function(err) {-->
<!--                    alert('no data');-->
<!--                };-->
<!--        }-->
        getapprovalrequest()

         function getapprovalrequest(){

        if ($scope.partname) {
            $scope.pename = $scope.partname;
        }
        else {
            $scope.pename = '';
        }
        if ($scope.branchname) {
             $scope.pebranch = $scope.branchname;
        }
        else {
             $scope.pebranch = '';
        }
        if ($scope.fromdate) {
             $scope.pfromdate = formatStringDate($scope.fromdate, 'yyyy-mm-dd');
        }
        else {
             $scope.pfromdate ='' ;
        }
        if ($scope.todate) {
             $scope.ptodate = formatStringDate($scope.todate, 'yyyy-mm-dd');
        }
        else {
             $scope.ptodate ='' ;
        }
        if ($scope.classification) {
            $scope.peclassification = $scope.classification;
        }
        else {
             $scope.peclassification = '';
        }
        if ($scope.parttype) {
             $scope.patype = $scope.parttype.metadata_value;
        }
        else {
             $scope.patype = '';
        }
        if ($scope.ngrmname) {
             $scope.prmgid = $scope.ngrmname.employee_gid;
        }
        else {
             $scope.prmgid = '';
        }
        if ($scope.panno) {
             $scope.papanno = $scope.panno;
        }
        else {
             $scope.papanno ='' ;
        }
        if ($scope.gstno) {
             $scope.pagstno = $scope.gstno;
        }
        else {
             $scope.pagstno ='' ;
        }
        if ($scope.activityname) {
             $scope.paactivityname = $scope.activityname;
        }
        else {
             $scope.paactivityname ='' ;
        }
        if ($scope.partstaus) {
             $scope.papartstaus = $scope.partstaus;
        }
        else {
             $scope.papartstaus ='' ;
        }
        var data = {
            "Params": {
                "Filter":{
                    "Partner_name":$scope.pename,
                    "Partnerbranch_name":$scope.pebranch,
                    "Partner_contractdatefrom":$scope.pfromdate,
                    "Partner_contractdateto":$scope.ptodate,
                    "Partner_Classification":$scope.peclassification,
                    "Partner_type":$scope.patype,
                    "partnerbranch_panno":$scope.papanno,
                    "Partnerbranch_gstno":$scope.gstno,
                    "Activity_name":$scope.paactivityname,
                    "Partner_mainstatus":$scope.papartstaus,
                    "Partner_rmname":$scope.prmgid,

                },
                "Classification": {
                    "Create_By":$scope.create_by,
                    "Entity_Gid": $scope.entity_gid
                },
                "Group": "ATMASUMMARY",
                "Action": "Partner_Renewal",
                "Type": "RMNAME",
            }
        }
        var get_data = AtmaService.get_atma(data)
        get_data.then(function(result) {
            $scope.alldetails=result.data.DATA;
            $scope.search_alldetails=result.data.DATA;
            //console.log($scope.alldetails)
            //alert(JSON.stringify( $scope.alldetails))
        })
    }
        }
]);
myApp.service("AtmaService", function($http) {


   this.getpartnerrmdata = function(get_data) {
        var response = $http.post(Appname + "/prodget/", get_data);
        return response;
    }
    this.getpartnerstatusdata = function(get_data) {
        var response = $http.post(Appname + "/prodget/", get_data);
        return response;
    }
    this.getpartnertypedata = function(get_data) {
        var response = $http.post(Appname + "/prodget/", get_data);
        return response;
    }

    this.pprofile = function(total) {
        var response = $http.post(Appname + "/partnerdeactivate_set/", total);
        return response;
    }
    this.getapproval= function(approval) {
        var respons = $http.post(Appname + "/partapproval_get/", approval);
        return respons;
        }
         this.get_atma = function(get_data) {
        var response = $http.post(Appname + "/atma_getdata/", get_data);
        return response;
    }
});
    </script>
    {% endblock %}
