{%verbatim%}
<div class="modal fade" id="advancesearch">
    <div class="container" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h5 class="modal-title">
                    Advance Search
                    <button class="close" data-dismiss="modal" type="button">
                        <span>&times;</span>
                    </button>
                </h5>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <md-autocomplete md-clear-button="true" md-floating-label="Cluster"
                                         md-item-text="y.display_cluster_name"
                                         md-items="y in clsterSearch(searchclstr)"
                                         md-min-length=0
                                         md-no-cache="true"
                                         md-search-text="searchclstr"
                                         md-selected-item="clusterset"
                                         md-selected-item-change="ddlcluster(y.cluster_gid)">
                            <md-item-template>
                                <span md-highlight-text="searchclstr"> {{y.display_cluster_name}} </span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-6">
                         <md-autocomplete md-clear-button="true" md-floating-label="Employee Name"
                                         md-item-text="y.employee_name"
                                         md-items="y in employeserch(searchemp)"
                                         md-min-length=0
                                         md-no-cache="true"
                                         md-search-text="searchemp"
                                         md-selected-item="add.ddlemp_gid"
                                         md-selected-item-change="ddlclluster(y.employee_gid)">
                            <md-item-template>
                                <span md-highlight-text="searchemp"> {{y.employee_name}} </span>
                            </md-item-template>
                        </md-autocomplete>

                    </div>
                </div>
            </div>
                 <div class="row">
                    <div class="col-md-6">
                        <md-input-container class="md-block inputcontainer">
                            <label>Follow Up From Date</label>
                            <md-datepicker md-hide-icons="calendar" md-open-on-focus
                                           ng-model="add.fufrom_date"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container class="md-block inputcontainer">
                            <label>Follow Up To Date</label>
                            <md-datepicker md-hide-icons="calendar" md-open-on-focus
                                           ng-model="add.futo_date"></md-datepicker>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <md-input-container class="md-block inputcontainer">
                            <label>Reschedule From Date</label>
                            <md-datepicker md-hide-icons="calendar" md-open-on-focus
                                           ng-model="add.rsfrom_date"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container class="md-block inputcontainer">
                            <label>Reschedule To Date</label>
                            <md-datepicker md-hide-icons="calendar" md-open-on-focus
                                           ng-model="add.rsto_date"></md-datepicker>
                        </md-input-container>
                    </div>
                </div>
            <div class="row">
            <div class="col-md-12">

            <div class="col-md-2">
                    <md-input-container class="md-block inputcontainer">
                        <label>Assigned Status</label>
                        <md-select  ng-change="chngestatus(asigndstatus)" ng-model="asigndstatus">
                            <md-optgroup label="Status">
                                <md-option ng-repeat="st in assignedstatus"  ng-value="st.status"> {{st.status}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                  <div class="col-md-2">
                    <md-button class="md-fab md-mini md-primary custbutton" data-dismiss="modal" ng-click="loaddetails(add)">
                        <md-icon>search</md-icon>
                        <md-tooltip>Search</md-tooltip>
                    </md-button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}