<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
{% load customer_tags %}
<head>
    {%now "jnYHi" as tvalue %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'Images/tabkvb.png' %}">
    <link href="{% static 'Content/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Content/tree-control.css' %}" rel="stylesheet">
    <link href="{% static 'Content/angular-material.css' %}" rel="stylesheet">

    <link href="{% static 'Content/material.css' %}" rel="stylesheet">

    <link href="{% static 'Content/mainContent.css' %}?t={{tvalue}}" rel="stylesheet">
    <link href="{% static 'Content/menu.css' %}?t={{tvalue}}" rel="stylesheet">

    <script src="{% static 'Scripts/Common/common.js' %}?t={{tvalue}}"></script>
    <script src="{% static 'Scripts/Common/message.js' %}"></script>
    <script src="{% static 'Scripts/Core/jquery-1.12.4.min.js' %}"></script>
    <link href="{% static 'Content/jquery.toast.css' %}" rel="stylesheet">
    <script src="{% static 'Scripts/Common/jquery.toast.js' %}"></script>
    <!--<script src="{% static 'Scripts/Core/angular.min.js' %}" ></script>-->
    <script src="{% static 'Scripts/Core/bootstrap.min.js' %}"></script>
    <script src="{% static 'Scripts/Core/angular.min.js' %}"></script>
    <script src="{% static 'Scripts/Core/angular-route.min.js' %}"></script>
    <script src="{% static 'Scripts/Core/angular-animate.min.js' %}"></script>
    <script src="{% static 'Scripts/Core/angular-aria.min.js' %}"></script>
    <script src="{% static 'Scripts/Core/angular-messages.min.js' %}"></script>
    <script src="{% static 'Scripts/Core/angular-material.min.js' %}"></script>
    <script src="{% static 'Scripts/Core/ui-bootstrap-tpls-2.5.0.min.js' %}"></script>
    <script src="{% static 'Scripts/Core/FileSaver.js' %}"></script>
    <script src="{% static 'Scripts/Core/jszip.js' %}"></script>
    <script src="{% static 'Scripts/Core/xlsx.js' %}"></script>
    <script src="{% static 'Scripts/Core/colresizer.js' %}"></script>
    <script src="{% static 'Scripts/Core/angular-tree-control.js' %}"></script>
    <script src="{% static 'Scripts/Core/context-menu.js' %}"></script>
    <script src="{% static 'Scripts/Common/angularCommon.js' %}?t={{tvalue}}"></script>
    <script src="{% static 'Scripts/Core/pdfviewer.js' %}"></script>
    <base href="/">
</head>
<body oncontextmenu="return false">
{% any_function as menus %}
{% if request.session.Emp_gid %}
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top nav-head-ui">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarm"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/welcome" style="padding: 0px 0px;">
<!--                        <img src="/static/Images/kvbLogo.png" alt="kvb" style="width: 205px;height: 50px;"-->
                        <img src="{% static 'Images/kvb_logo_long_border.jpg' %}" alt="kvb" style="width:100%;height: 86px;"
                             title="kvb"></a>
                </div>
                <!--ANGULAR-->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Hi ! {{ request.session.Emp_name }}
                            <span class="caret"></span>
                            <ul class="dropdown-menu" style="z-index:100;">
<!--                                <li><a href="changePassword">Change Password</a></li>-->
<!--                                <li role="separator" class="divider"></li>-->
                                <li><a class="foo">Logout</a></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row pagger-fixed-top">
        <div class="col-xs-12 ">
            <ul class="pager">
                <li class="previous"><a class="material-icons" onclick="history_previous()">arrow_back</a></li>
                <li class="next"><a class="material-icons" onclick="history_next()">arrow_forward</a></li>
            </ul>
        </div>
    </div>
    <div id="mySidenav" class="sidenav ">
        <a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
        <div class="wrapper">
            <ol>
                {% for menu in menus|filter_parent %}
                <li class="parent" style="position: static;overflow:auto;padding:0px 0px 0px 8px;z-index:10;">
                    <a href="{{ menu.menu_link }}" role="button" onclick="return false;"
                       aria-haspopup="true" aria-expanded="false">
                        {{ menu.menu_name }}<span class="caret" style="transform:rotate(-90deg)"></span></a>
                    {% if menu.menu_gid|checkLength:menus %}
                    <div class="wrapper">
                        <ol style="width: 250px;margin: 1em; color: white; font-family: serif;font-size: 16px;overflow:auto;">
                            {% for subMenu in menu.menu_gid|filter_children:menus %}
                            <li class="parent"
                                style="position: static;overflow:auto;padding:0px 0px 0px 8px;z-index:10;">
                                {% if subMenu.menu_gid|checkLength:menus %}
                                <a href="{{ subMenu.menu_link }}" onclick="return false;">{{ subMenu.menu_name }}
                                    <span class="caret" style="transform:rotate(-90deg)"></span>
                                </a>
                                <div class="wrapper">
                                    <ol style="width: 250px;margin: 1em; color: white; font-family: serif;font-size: 16px;overflow:auto;">
                                        {% for subSMenu in subMenu.menu_gid|filter_children:menus %}
                                        <li style="position: static;overflow:auto;padding:0px 0px 0px 8px;z-index:10;">
                                            <a href="{{ subSMenu.menu_link }}">
                                                {{ subSMenu.menu_name }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                {% else %}
                                <a href="{{ subMenu.menu_link }}">{{ subMenu.menu_name }}
                                </a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <span class="burger" style="font-size:30px;top:120px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="affix" id="div_toast" style="z-index:81;width: 100%;"></div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <button id="scrollTop" class="scrollTop buttonscroll"
            title="Click to top"
            data-toggle="tooltip" data-placement="left"><i class="material-icons">keyboard_arrow_up</i>
    </button>
</div>
<footer class="navbar-default  text-center nav-footer-ui ">
    {%now "Y" as year%}
    <span>&copy; {{year}} -Vsolv Engineering India Pvt Ltd. </span>
</footer>
<script language="javascript">
<!--coding for menu-->
var clck = 0;
function openNav() {
clck +=1;
if(clck % 2 === 0 ){
  document.getElementById("mySidenav").style.width = "0";
}
else{
document.getElementById("mySidenav").style.width = "270px";
}}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

$(function() {
  // whenever we hover over a menu item that has a submenu
  $('li.parent').on('mouseleave', function() {
    var $menuItem = $(this),
        $submenuWrapper = $('> .wrapper', $menuItem);
        document.getElementById("mySidenav").style.width = "270px";

    // grab the menu item's position relative to its positioned parent
    var menuItemPos = $menuItem.position();
    // place the submenu in the correct position relevant to the menu item
    $submenuWrapper.css({
      top: menuItemPos.top,
      left: menuItemPos.left + Math.round($menuItem.outerWidth() * 0.75)
    });
  });
});
$(function() {
  $('li.parent').on('mouseover', function() {
    var $menuItem = $(this),
        $submenuWrapper = $('> .wrapper', $menuItem);
        document.getElementById("mySidenav").style.width = "700px";
    var menuItemPos = $menuItem.position();
    $submenuWrapper.css({
      top: menuItemPos.top,
      left: menuItemPos.left + Math.round($menuItem.outerWidth() * 0.75)
    });
  });
});
<!--coding for f12 and right click-->
<!--window.onbeforeunload = function() {-->
    <!--window.localStorage.setItem("previousUrl", document.URL);-->
<!--};-->
    <!--document.onkeypress = function (event) {-->
        <!--event = (event || window.event);-->
        <!--if (event.keyCode == 123) {-->
           <!--//alert('No F-12');-->
            <!--return false;-->
        <!--}-->
    <!--}-->
    <!--document.onmousedown = function (event) {-->
        <!--event = (event || window.event);-->
        <!--if (event.keyCode == 123) {-->
            <!--//alert('No F-keys');-->
            <!--return false;-->
        <!--}-->
    <!--}-->
<!--document.onkeydown = function (event) {-->
        <!--event = (event || window.event);-->
        <!--if (event.keyCode == 123) {-->
            <!--//alert('No F-keys');-->
            <!--return false;-->
        <!--}-->
    <!--}-->

    var detail = JSON.parse(sessionStorage.getItem('today'));
     document.querySelector('.foo').addEventListener('click', function(ev){
            var gid = detail.employee_gid;
            $.ajax({
                type: "GET",
                url: "setip_out",
                dataType: 'json',
                data: {
                    jsonData: JSON.stringify({
                        employee_gid: gid
                    }),
                    action: 'update'
                },
                success: setip_out
            });
    });

    function setip_out(data) {
        window.location.href = "";
    }

    $(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50) {
                $('#scrollTop').fadeIn();
            } else {
                $('#scrollTop').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#scrollTop').click(function() {
            $('#scrollTop').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 'fast');
            return false;
        });
        $('#scrollTop').tooltip('show');
    });

    window.setInterval(setgeolocation, 300000);

    function setgeolocation() {
        var optn = {
            enableHighAccuracy: true,
            timeout: Infinity,
            maximumAge: 0
        };
        if (navigator.geolocation) {
            if (sessionStorage.geolastdate) {
                var lastdate = new Date(sessionStorage.geolastdate).getTime()
                var currentdate = new Date();

                var ttt = currentdate.getTime() - lastdate;
                if ((currentdate.getTime() - lastdate) > 300000) {
                    sessionStorage.geolastdate = currentdate;
                    navigator.geolocation.getCurrentPosition(position_success, fail, optn);
                }
            } else {
                sessionStorage.geolastdate = new Date();
                navigator.geolocation.getCurrentPosition(position_success, fail, optn);
            }
        }
    }
    setgeolocation();

    function position_success(position) {
        var datalist1 = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
        };
        displayLocation('','',latitude,longitude)
        var datalist = JSON.stringify(datalist1);
        $.ajax({
            type: "GET",
            url: "setposition",
            dataType: 'json',
            data: {
                details: datalist
            },
            success: setposition
        });
    }

    function setposition(data) {

    }

    function fail(error) {
        var errorType = {
            0: "Unknown Error",
            1: "Permission denied by the user",
            2: "Position of the user not available",
            3: "Request timed out"
        };

        var errMsg = errorType[error.code];
        if (error.code == 0 || error.code == 2) {
            errMsg = errMsg + " - " + error.message;
        }
        <!--alert(errMsg);-->
    }

</script>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 style="font-size:100px;">
                404
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h5 style="font-size:20px;">
                OOPS, We can't find the page.! (or) Session expired.!
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn" style="color: #fff;background-color: #2196F3;border-color: #2196F3;" href="">Login</a>
        </div>
    </div>
</div>
{% endif %}
</body>
</html>
