{% verbatim %}
<md-dialog  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>{{logindetemp[0].emp_name}}</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelDialog()">
                <md-icon aria-label="Close dialog">
                    <i class="material-icons">close</i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <table class="table table-striped table-bordered table-condensed table-hover md-primary">
                <thead class="header">
                <tr>
                    <th>Date</th>
                    <th>Process</th>
                    <th>Mobile ID</th>
                    <th>Mobile Brand</th>
                    <th>Mobile Model</th>
                    <th>Location Mode</th>
                    <th>Battery Status</th>
                    <!--<th>Version</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="det in logindetemp">
                    <td>{{det.date}}</td>
                    <td>{{det.Process}}</td>
                    <td>{{det.MobileID}}</td>
                    <td>{{det.MobileBrand}}</td>
                    <td>{{det.MobileModel}}</td>
                    <td>{{det.LocationMode}}</td>
                    <td>{{det.Battery_Status}}</td>
                    <!--<td>{{det.Current_Version_Code}}</td>-->
                </tr>
                </tbody>
            </table>
            <div class="col-md-12" ng-if="logindetemp.length == 0">
                <div class="alert alert-info" role="alert"> No Records found...!</div>
            </div>
        </div>

    </md-dialog-content>

</md-dialog>
{% endverbatim %}