{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} Expense Checker Approval {% endblock %}
{% block content %}
{% csrf_token %}
{% verbatim %}
<div class="maincontent">
    <div ng-app="App_maker_summary" ng-controller="Ctrl_amc_maker" class="container container1">
        <form name="approve_form" novalidate>
            <div class="row">
                <div class="row-header col-lg-12 col-sm-12">
                    <h4>Expense Checker Approval </h4>
                </div>
            </div>
            </br>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           md-progress="deferred">
                        <thead class="header">
                        <tr>
                            <th>SL No</th>
                            <th>Expense Data</th>
                            <th>Expense Amount</th>
                            <th>Expense Staus</th>
                            <th>Expense Remarks</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="si in expense_details.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:search:strict"
                            align="center">
                            <td>
                                <center>{{((currentPage-1)*itemsPerPage)+$index+1}}</center>
                            </td>
                            <td>{{si.branchexpensedetails_ondate |date:'dd-MMM-yyyy'}}</td>
                            <td>{{si.branchexpensedetails_amount }}</td>
                            <td>{{si.branchexpensedetails_status}}</td>
                            <td>{{si.branchexpensedetails_remark }}</td>
                        </tr>
                        <tr ng-show="expense_details.length ==  0">
                            <td class="warning" colspan="12">
                                No Records Found.
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">
                                <ul uib-pagination total-items="expense_details.length" ng-model="currentPage"
                                    max-size="maxSize"
                                    class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                            </td>
                            <td colspan="2">
                                Total Count:{{expense_details.length}}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <h4>CCBS Details</h4>
            <div class="row table-responsive">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                           md-progress="deferred">
                        <thead class="header">
                        <tr>
                            <th>S NO</th>
                            <th>Category Name</th>
                            <th>Sub Category</th>
                            <th>BS</th>
                            <th>CC</th>
                            <th>Percentage</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="si_ccbs in expense_ccbs_details.slice(((currentPages-1)*itemsPerPages),((currentPages)*itemsPerPages)) | filter:search:strict"
                            align="center">
                            <td>
                                <center>{{((currentPages-1)*itemsPerPages)+$index+1}}</center>
                            </td>
                            <td>{{si_ccbs.category_name}}</td>
                            <td>{{si_ccbs.subcategory_name}}</td>
                            <td>{{si_ccbs.tbs_name}}</td>
                            <td>{{si_ccbs.tcc_name}}</td>
                            <td>{{si_ccbs.branchexpenseccbs_percent}}</td>
                            <td>{{si_ccbs.branchexpenseccbs_amount}}</td>
                        </tr>
                        <tr ng-show="si_ccbs_data.length ==  0">
                            <td class="warning" colspan="12">
                                No Records Found.
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul uib-pagination total-items="expense_ccbs_details.length" ng-model="currentPages"
                                    max-size="maxSize"
                                    class="pagination-sm" boundary-links="true" items-per-page="itemsPerPages"></ul>
                            </td>
                            <td colspan="2">
                                Total Count:{{expense_ccbs_details.length}}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <div class="col-md-4">
                    <md-input-container class="md-block inputcontainer">
                        <label>Remarks</label>
                        <input ng-model="remarks" maxlength="80" no-special-char required/>
                    </md-input-container>
                </div>
                <div class="col-md-2" style="bottom:0px;color:green">
                    <h3><span class="editlink material-icons" style="color:#D64CB4;"
                              ng-click="view_attached_file()">
                                arrow_upward
                        </span>
                    </h3>View Attached File
                </div>
                <div class="col-md-2">
                    <md-button class="btn btn-info custbutton" ng-click="Approval_set('APPROVED')"
                               ng-disabled="!remarks||expense_execute==0">APPROVE

                    </md-button>
                </div>
                <div class="col-md-2">
                    <md-button class="md-raised md-warn" value="submit" ng-click="Approval_set('REJECTED')"
                               ng-disabled="!remarks||expense_execute==0">REJECT

                    </md-button>
                </div>
                <div class="col-md-2">
                    <md-button class="md-raised" value="close" ng-click="close_button()"
                               aria-label="Close">Cancel
                    </md-button>
                    </a>
                </div>
            </div>
        </form>
        <div class="modal fade" id="view_attached_file" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="width:70%">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabelss">
                            Attached File
                            <button type="button" class="close" data-dismiss="modal"
                                    ng-click="close_pr_popup()"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="body">
                        <div class="row table-responsive">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="row table-responsive">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <table class="table table-striped table-bordered table-condensed table-hover md-primary"
                                               md-progress="deferred">
                                            <thead class="header">
                                            <tr>
                                                <th>S.No</th>
                                                <th>Fine Name</th>
                                                <th>View File</th>
                                                <th>Download File</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr align="center"
                                                ng-repeat="file in ecf_all_files.slice(((currentPages-1)*itemsPerPages),((currentPages)*itemsPerPages)) | filter:search:strict">
                                                <td>{{((currentPages-1)*itemsPerPages)+$index+1}}
                                                </td>
                                                <td align="left">{{file.file_name}}</td>
                                                <td><span class="editlink material-icons"
                                                          ng-click="view_file(file)">insert_photo
                                                        </span>
                                                </td>
                                                <td>
                                                    <md-button class="md-icon-button md-primary" aria-label="Settings"
                                                               href="common_s3_file_download?filename={{file.file_name}}">
                                                        <md-icon>get_app</md-icon>
                                                        <md-tooltip>Download File</md-tooltip>
                                                    </md-button>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr align="center">
                                                <td colspan="3">
                                                    <ul uib-pagination
                                                        total-items="ecf_all_files.length"
                                                        ng-model="currentPages"
                                                        max-size="maxSizes"
                                                        class="pagination-sm"
                                                        boundary-links="true"
                                                        items-per-page="itemsPerPages"></ul>
                                                </td>
                                                <td colspan="2">
                                                    Total Count:{{ecf_all_files.length}}
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-offset-6">
                                <md-button class="md-raised md-warn" value="close" data-dismiss="modal"
                                           aria-label="Close">Cancel
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="show_file" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="width:90%">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="view_files">
                            {{url_data[0].file_name}}
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <br/>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12" align="center">
                                    <img src="{{url_datas[0].file_path}}"
                                         alt="{{url_datas[0].file_name}}"
                                         class="img-thumbnail"
                                         align="center"
                                         ng-show="extension!='pdf'">
                                    <hr/>
                                </div>
                                <iframe src="{{pdf_file_url_path}}" frameborder="0"
                                        height="600px" width="97%" ng-show="extension=='pdf'"></iframe>

                            </div>
                            <div class="row">
                                <div class="col-md-offset-6">
                                    <md-button class="md-raised md-warn" value="close" data-dismiss="modal"
                                               aria-label="Close">Cancel
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endverbatim %}
<style>
    textarea { resize: none; }





</style>
<script>
var myApp = angular.module('App_maker_summary', ['ngMaterial','ui.bootstrap','ngMessages','AppCommon']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});
myApp.run(function($mdDateLocale, $filter) {
    $mdDateLocale.formatDate = function(date) {
        return $filter('date')(date, "dd-MMM-yyyy");
    };
   });

myApp.controller('Ctrl_amc_maker', ['$scope','Service_approval','$mdDialog','$window','$filter','$http','$q','$sce',
function($scope,Service_approval,$mdDialog,$window,$filter,$http,$q,$sce) {
    $scope.currentPage=1;
    $scope.maxSize=3;
    $scope.itemsPerPage=10;
    $scope.expense_gid="";
    $scope.expense_execute=0;
    $scope.expense_staus="";

    $scope.currentPages=1;
    $scope.maxSize=3;
    $scope.itemsPerPages=10;

    $scope.loading = function() {
        $mdDialog.show({
            templateUrl: 'loaderSpinner',
            parent: angular.element(document.body),
            clickOutsideToClose: false
        });
    };

    $scope.loading_view_attached_file = function() {
            $mdDialog.show({
                templateUrl: 'loaderSpinner',
                parent: angular.element(document.getElementById('view_attached_file')),
                clickOutsideToClose: false
            });
    };

    $scope.endloading = function() {
        $mdDialog.hide();
    };

    $scope.get_Expense_Data = function(){
        var datas = {"action":"GET","type":"BRANCH_EXPENSE_GID",
        "filter": {"Branch_Expense_Gid":"","Expense_Status":""}}
        $scope.loading();
        var setcolumndata = Service_approval.get_session_expense(datas);
            setcolumndata.then(function(result) {
            $scope.expense_gid=result.data.Branch_Expense_Gid;
            $scope.expense_staus=result.data.Expense_Status;
            if($scope.expense_gid=="" || $scope.expense_gid==undefined || $scope.expense_gid==0){
                alert("Expense Gid Not Found!");
            }
            else if($scope.expense_staus==""){
                alert("Expense Status Missing!");
            }
            else{
                $scope.expense_execute=1;
                expensesummary();
                ccbs_expensesummary();
            }
        },
       function(err) {
            alert(JSON.stringify(result.data));
       }).finally($scope.endloading);
    }
     $scope.get_Expense_Data();

    $scope.Approval_set = function(status_value){
        var final_status_value=""
        if(status_value==$scope.expense_staus){
            final_status_value=status_value
        }
        else if(status_value=="APPROVED" && $scope.expense_staus=="CHECKER"){
            final_status_value="CHECKER";
        }
        else if(status_value=="REJECTED"){
            final_status_value="REJECTED"
        }

        var datas = {"Params": {"FILTER": {"status":final_status_value,"ID":$scope.expense_gid,
                                            "Individual_approval":"Y","remarks":$scope.remarks}},
                                "Group": "EXPENSE_DATA","Type": "STATUS_INSERT","Action": "COLUMN"
                     }
        $scope.loading();
        var setcolumndata = Service_approval.set_approval(datas);
            setcolumndata.then(function(result) {
            if(result.data.MESSAGE == 'SUCCESS'){
                alert("Successfully Updated");
                if($scope.expense_staus=="APPROVED"){
                    $window.location.href = "BranchExp/Br_Expense_Checker_Approval_Summary ";
                }
                else if($scope.expense_staus=="CHECKER"){
                $window.location.href = "BranchExp/Br_ExpenseApproval ";
                }
            }else{
               alert(JSON.stringify(result.data));
            }
        },
       function(err) {
            alert(JSON.stringify(result.data));
       }).finally($scope.endloading);
    }

    $scope.close_button=function(){
        if($scope.expense_staus=="APPROVED"){
            $window.location.href = "BranchExp/Br_Expense_Checker_Approval_Summary ";
        }
        else if($scope.expense_staus=="CHECKER"){
            $window.location.href = "BranchExp/Br_ExpenseApproval ";
        }
    }

    function expensesummary(){
            var datas = {
                "Params": {"FILTER":{"expense_gid":$scope.expense_gid}},
                "Group": "EXPENSE_DATA",
                "Type": "EXPENSE",
                "Sub_Type": "EXPENSE_DETAILS"
            }
<!--            $scope.loading();-->
            var columndata = Service_approval.get_expensesummary(datas);
            columndata.then(function(result) {
                $scope.endloading();
                $scope.expense_details= result.data.DATA;
                console.log($scope.expense_details);

            },
           function(err) {
                alert(JSON.stringify(result.data));
           }).finally($scope.endloading);
    }


    function ccbs_expensesummary(){
            var datas = {
                "Params": {"FILTER":{"expense_gid":$scope.expense_gid}},
                "Group": "EXPENSE_DATA",
                "Type": "EXPENSE",
                "Sub_Type": "EXPENSE_CCBS"
            }
<!--            $scope.loading();-->
            var columndata = Service_approval.get_expensesummary(datas);
            columndata.then(function(result) {
                $scope.endloading();
                $scope.expense_ccbs_details= result.data.DATA;
                console.log($scope.expense_ccbs_details);
            },
           function(err) {
                alert(JSON.stringify(result.data));
           }).finally($scope.endloading);
    }

    $scope.view_attached_file=function(){
     debugger;

        var datas={params:{"action":"GET","type":"FILE_DETAIL",
            "filter":{"file_reftablegid":$scope.expense_gid,"ref_name":"BRANCH_EXP"}}};
         $scope.loading();
         var ecf_file_data = Service_approval.get_approval_summary(datas);
         ecf_file_data.then(function(result) {

                $scope.ecf_all_files = result.data;
                 modalshow('view_attached_file');

         },
         function(err) {
            alert('No data!.');
         }).finally($scope.endloading);

     }

     $scope.view_file=function(file_list){
        var datas={"file_data":[file_list]};
         $scope.loading_view_attached_file();
         var generated_urls = Service_approval.get_generated_url_data(datas);
         generated_urls.then(function(result) {
                $scope.url_datas = result.data;
                $scope.file_url_path=$scope.url_datas[0].file_path;
                var final_file_name=$scope.url_datas[0].file_name;
                $scope.extension=final_file_name.substr(final_file_name.lastIndexOf('.')+1);
                if($scope.extension=="pdf"){
                    complete_url ='http://docs.google.com/gview?url=' + encodeURIComponent($scope.file_url_path) + '&embedded=true';
                    $scope.pdf_file_url_path = $sce.trustAsResourceUrl(complete_url);
                }
                 modalshow('show_file');
         },
         function(err) {
            alert('No data!.');
         }).finally($scope.endloading);
     }

     $scope.trustAsHtml = function(html) {
      return $sce.trustAsHtml(html);
    }


}]);

myApp.service("Service_approval", function ($http) {
    this.set_approval = function (data) {
        var response=$http.post(Appname+"/Set_expense/",data);
        return response;
    }

    this.get_expensesummary = function (data) {
        var response=$http.post(Appname+"/Get_expense/",data);
        return response;
    }

    this.get_session_expense = function (data) {
        var response=$http.post(Appname+"/Session_Get_Expnese_Data/",data);
        return response;
    }

    this.get_generated_url_data=function(data){
        var response=$http.post(Appname+"/common_s3_file_url_generate/",data);
        return response;
    }

    this.get_approval_summary=function(data){
        var response=$http.post(Appname+"/get_onward_data/",data);
        return response;
    }

});









</script>
{% endblock %}